{% extends "includes/templates/flow.html" %}



{% set displayTitle        = 'Edit attachment' %}

{% set formCancel         = '/pages/'+ data['currentPage'] %}

{% set formAction         = '/pages/flows/attachment/update' %}

{% set currentAttachment  = data.attachments | withId(data['attachmentid']) %}


{% block flow %}
  <form action="{{formAction}}" method="post" class="form">
    

      {% include "includes/components/shared/attachment/details.html" %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% from "button/macro.njk" import govukButton %}
          
            {{ govukButton({
              text: "Update attachment" ,
              classes: "mspsds-button"
            }) }}

            <a class="govuk-link mspsds-block-link" href="{{formCancel}}">Cancel</a>

        </div>
      </div>

  </form>


{% endblock %}
