{% extends "includes/templates/flow.html" %}


{% set displayTitle        = 'Risk information' %}

{% set formAction         = '/root/'+ data['currentPage'] %}


{% block flow %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="{{formAction}}" method="post" class="form">


        {% call govukFieldset({
          legend: {
            text:           "Risk level",
            isPageHeading:  false,
            classes:        "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukRadios({
            idPrefix:   "risk-level",
            name:       "risk-level",
            items: [
              {
                value:  "Low",
                text:   "Low"
              },
              {
                value:  "Medium",
                text:   "Medium"
              },
              {
                value:  "Serious",
                text:   "Serious"
              },
              {
                value:  "Severe",
                text:   "Severe"
              }
            ]
          }) }}

        {% endcall %}

        <hr class="govuk-section-break govuk-section-break--m">


        {% call govukFieldset({
          legend: {
            text:       "Add risk assessment",
            classes:    "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukFileUpload({
            id: "risk-assessment-upload",
            name: "risk-assessment-upload"
          }) }}

        {% endcall %}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>


{% endblock %}
