{% extends "mspsds-layout.html" %}

{% block pageTitle %}
Record correspondence
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/case__empty"
}) }}
{% endblock %}

{% block content %}

{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Record correspondence"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="./02-add-correspondence-content" method="post" class="form">

      {% call govukFieldset({
        legend: {
          text:           "Who contacted the Office?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}
        {% from "./includes/name-input.html" import nameInput %}
        {{ nameInput("Name") }}
      {% endcall %}

      {% include "./includes/correspondence-method.html" %}

      {% from "./includes/date-input.html" import correspondenceDate %}
      {{ correspondenceDate("When?") }}

      {{ govukButton({
        text: "Continue",
        attributes: {
          "onclick": "if(getElementById('correspondence-method-1').checked){window.location.href='./02p-add-phonecall-content'}else if(getElementById('correspondence-method-2').checked){window.location.href='./02e-add-email-content'}else{window.location.href='./02-add-correspondence-content'};return false;"
        }
      }) }}

    </form>

  </div>
</div>

{% endblock %}
