{% extends "mspsds-layout.html" %}

{% block pageTitle %}
Record correspondence
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/case__empty"
}) }}
{% endblock %}

{% block content %}

{% block pageHeading %}
{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Record correspondence"
}) }}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="./02-add-correspondence-content" method="post" class="form">

      {% set whoLabel = "Who contacted the Office?" %}
      {% call govukFieldset({
        legend: {
          text:           whoLabel,
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukInput({
          label: {
            text:     "Name",
            classes:  "govuk-!-width-two-thirds"
          },
          classes:    "govuk-!-width-two-thirds",
          id:         "correspondent-name",
          name:       "correspondent-name"
        }) }}

      {% endcall %}

      {% block correspondenceMethod %}
      {% include "./includes/correspondence-method.html" %}
      {% endblock %}

      {{ govukDateInput({
        id:         "correspondence-date",
        namePrefix: "correspondence-date",
        fieldset: {
          legend: {
            text: "When?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 31 3 2018"
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
