{% extends "mspsds-layout.html" %}

{% block pageTitle %}
Record meeting
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/case"
}) }}
{% endblock %}

{% block content %}
{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Record meeting"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="./02m-add-meeting-content" method="post" class="form">

      {% call govukFieldset({
        legend: {
          text:           "Who was the meeting with?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}
        {% include "./includes/name-input.html" %}
      {% endcall %}

      {% from "./includes/date-input.html" import correspondenceDate %}
      {{ correspondenceDate("Date of meeting") }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
