{% extends "mspsds-layout.html" %}

{% block pageTitle %}
Record correspondence
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/case"
}) }}
{% endblock %}

{% block content %}
{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Record correspondence"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="./03-add-correspondence-confirm" method="post" class="form">

      {% call govukFieldset({
        legend: {
          text: "Summary",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukInput({
          hint: {
            text: "Give an overview of the correspondence"
          },
          classes: "govuk-!-width-two-thirds",
          id:   "correspondence-subject",
          name: "correspondence-subject"
        }) }}

      {% endcall %}

      {% call govukFieldset({
        legend: {
          text:       "Email body, transcript or notes",
          classes:    "govuk-fieldset__legend--l"
        }
      }) %}
        {{ govukTextarea({
          name: "correspondence-content",
          id:   "correspondence-content"
        }) }}
      {% endcall %}

      {% call govukFieldset({
        legend: {
          text:       "And/or upload a file if you have one",
          classes:    "govuk-fieldset__legend--l"
        }
      }) %}
        {{ govukFileUpload({
          id: "correspondence-file-upload-1",
          name: "correspondence-file-upload-1"
        }) }}
      {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
