{% extends "mspsds-layout.html" %}

{% block pageTitle %}
Confirm correspondence information
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/case"
}) }}
{% endblock %}

{% block content %}
{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Confirm correspondence details"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/case__empty" method="post" class="form">

      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            { text: "Correspondent" },
            { text: data['correspondent'] }
          ],
          [
            { text: "Method" },
            { text: data['correspondence-method'] }
          ],
          [
            { text: "Date" },
            { text: data['correspondence-date-day'] +"/"+ data['correspondence-date-month'] +"/"+ data['correspondence-date-year'] }
          ],
          [
            { text: "Summary" },
            { text: data['correspondence-summary'] }
          ],
          [
            { text: "Content" },
            { text: data['correspondence-content'] }
          ],
          [
            { text: "File" },
            { text: data['correspondence-file-upload-1'] }
          ]

        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      <a class="govuk-link mspsds-block-link" href="/flows/add-correspondence/01-add-correspondence-context">Edit details</a>

    </form>

  </div>
</div>




{% endblock %}
