{% extends "mspsds-layout.html" %}

{% block pageTitle %}
Confirm meeting details
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/case"
}) }}
{% endblock %}

{% block content %}
{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Confirm meeting details"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/root/case" method="post" class="form">

      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            { text: "Meeting with" },
            { text: "Jeff Lebowski, Wilma Flintstone, Terry Crews" }
          ],
          [
            { text: "Summary" },
            { text: "Discussion with Charge Worx brand ambassadors" }
          ],
          [
            { text: "Date" },
            { text: "12/9/2018" }
          ],
          [
            { text: "Content" },
            { text: "The Charge Worx brand ambassadors wanted to discuss the enforcement procedure with us, and assured us that the electrical discharges from the product were an expected and desirable feature." }
          ],
          [
            { text: "Attachments" },
            { text: "transcript.doc" }
          ],
          [
            { text: "Attachment description" },
            { text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt." }
          ]
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      <a class="govuk-link mspsds-block-link" href="/flows/add-correspondence/01m-add-meeting-context">Edit details</a>

    </form>

  </div>
</div>

{% endblock %}
