{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'What do you want to do?' %}
{% set formAction         = './overview' %}
{% set hideReturnLink = true %}

{% block flow %}
<form action="{{formAction}}" method="post" class="form">

    {{ govukRadios({
      idPrefix: "issue-type",
      name: "new[report][type]",
      fieldset: {
        legend: {
          text: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Report",
          text: "Report an unsafe or non-compliant product",
          text: "Report a product",
          checked: true if data.new.report.type == "Report",
          hint: {
            text: "For cases you would have reported through RAPEX and ICSMS."
          }
        },
        {
          value: "Allegation",
          text: "Make an allegation",
          checked: true if data.new.report.type == "Allegation",
          hint: {
            text: "For investigations of products and ongoing cases."
          }
        },
        {
          value: "Enquiry",
          text: "Make an enquiry",
          checked: true if data.new.report.type == "Enquiry",
          hint: {
            text: "Ask OPSS a question that does not relate to an existing case."
          }
        },
        {
          value: "Project",
          text: "Create a project",
          checked: true if data.new.report.type == "Project",
          hint: {
            text: "Record information from an investigation into products or businesses. 
"
          }
        }
      ]
    }) }}

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>

      

</form>
{% endblock %}
