{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'What hazards and risks do you want to report?' %}
{% set formAction         = 'overview#hazards-and-risk-details' %}

{% block flow %}
<form action="{{formAction}}" method="post" class="form">

    {{ govukCheckboxes({
      idPrefix: "waste",
      name: "waste",
      fieldset: {
        legend: {
          text: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "It’s unsafe",
          text: "It’s unsafe"
        },
        {
          value: "non-compliant",
          text: "It’s non-compliant"
        },
        {
          value: "safe",
          text: "The product is safe"
        }
      ]
    }) }}

    {{ govukInput({
      id:   "section-complete",
      name: "new[taskListSections][hazards][status][isComplete]",
      value: true,
      type: "hidden"
    }) }}

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>

      

</form>
{% endblock %}
