{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'Metadata and settings' %}
{% set formAction         = 'overview' %}

{% block flow %}
<form action="{{formAction}}" method="post" class="form">

    <h1 class="govuk-heading-l">{{pageHeading}}</h1>

    <h2 class="govuk-heading-m">Case metadata</h2>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
        {
          key: {
            text: "Labels"
          },
          value: {
            text: "No labels added"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "labels"
              }
            ]
          }
        },
        {
          key: {
            text: "Existing reference numbers"
          },
          value: {
            text: "No reference numbers added"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "existing case numbers"
              }
            ]
          }
        }
      ]
    }) }}


    <h2 class="govuk-heading-m">Case settings</h2>

    {% set permissionsHTML %}

    <p class="govuk-body">2 teams added</p>
    {% if currentCase.restricted -%}
      <span class="hmcts-badge hmcts-badge--red">Restricted case</span>
      {% else %}
      <p class="govuk-body">All other users: default</p>
    {%- endif %}

    {% endset %}

    {% set summaryMetadataRows = [
      {
        key: {
          text: "Status"
        },
        value: {
          text: currentCase.status
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "case status",
              classes: "govuk-link--no-visited-state" 
            }
          ]

        }
      },
      {
        key: {
          text: "Created by"
        },
        value: {
          text: "Ed Horsford"
        },
        actions: {
          items: []
        }
      },
      {
        key: {
          text: "Will be assigned to" if (currentCase.status=="Open") else "Owner"
        },
        value: {
          text: data.new.assignee
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "assignee",
              classes: "govuk-link--no-visited-state" 
            }
          ]
        }
      },
      {
        key: {
          text: "Permissions"
        },
        value: {
          html: permissionsHTML
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "permissions"
            }
          ]
        }
      },
      {
        key: {
          text: "Restriction"
        },
        value: {
          text: "Not restricted"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "restriction"
            }
          ]
        }
      }
    ] %}

    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9',
      rows: summaryMetadataRows
    }) }}

    {{ govukInput({
      id:   "section-complete",
      name: "new[taskListSections][settings][status][isComplete]",
      value: true,
      type: "hidden"
    }) }}

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Complete section"
      }) }}
    </div>

      

</form>
{% endblock %}
