{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = data.reportNames[data.new.report.type | lower] %}
{% set formAction         = './save' %}
{% set hideReturnLink = true %}
{% set report = data.new.report %}

{% block flow %}

<h1 class="govuk-heading-l">{{pageHeading}}</h1>
{% if data.new.title %}
<p class="govuk-body-l">{{data.new.title}}</p>
{% endif %}
{# <p class="govuk-body-l">Fill in the below sections to create your {{caseType | lower}}.</p> #}



<ol class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">1. </span> About the case
    </h2>
    <ul class="app-task-list__items">
        {{ taskListItem("Case type", "./case-type", extra="", status={isComplete: true, text: "Completed"})}}
        {# {{ taskListItem("Choose sections to include", "./information-available", extra="", status={isComplete: true, text: "Completed"} )}} #}
    </ul>
    {# {{ govukSummaryList({
      classes: "app-task-list__items",
      rows: [
        {
          key: {
            text: "Case type"
          },
          value: {
            text: data.new.report.type
          },
          actions: {
            items: [
              {
                href: "./case-type",
                text: "Change",
                visuallyHiddenText: "case type"
              }
            ]
          }
        },
        {
          key: {
            text: "Sections to include"
          },
          value: {
            text: "6 of 12 selected"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "sections to include"
              }
            ]
          }
        },
        {
          key: {
            text: "Status"
          },
          value: {
            text: data.new.status + data.new.id
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "sections to include"
              }
            ]
          }
        }
      ]
    }) }} #}
  </li>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">2. </span> Add mandatory information
    </h2>
    <ul class="app-task-list__items">
      {% set requiredItems = data.new.taskListSections | where("isRequired", true) %}

      {% for item, key in requiredItems %}
        {{ taskListItem(key.title, key.url, key.extra, status=key.status)}}
      {% endfor %}
    </ul>
  </li>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">3. </span>Add {{caseType | lower}} details
    </h2>
    {{ govukInsetText({
      text: "You may not have all the information asked for below but it’s helpful to share what you can."
    }) }}
    <ul class="app-task-list__items">
      {% set optionalItems = data.new.taskListSections | where("isRequired", false) | where("hideInTaskList", false)%}

      {% for item, key in optionalItems %}
        {{ taskListItem(key.title, key.url, key.extra, status=key.status)}}
      {% endfor %}
    </ul>
  </li>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">4. </span>Final {{caseType | lower}} details
    </h2>
    <ul class="app-task-list__items">
      {% set task = data.new.taskListSections['caseName'] %}
      {{ taskListItem(task.title, task.url, task.extra, status=task.status)}}
     
    </ul>
  </li>
</ol>



<form action="{{formAction}}" method="post" class="form">


    <div class="govuk-form-group">
      {{ govukButton({
        text: "Review case"
      }) }}
      <p class="govuk-body"><a href="#" class="govuk-link">Save case as draft and finish later</a></p>
      
    </div>

      

</form>
{% endblock %}
