{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = data.reportNames[data.new.report.type | lower] %}
{% set formAction         = './save' %}
{% set hideReturnLink = true %}
{% set report = data.new.report %}
{% set sectionCount = 0 %}

{% block flow %}

<h1 class="govuk-heading-l">{{pageHeading}}</h1>
{% if data.new.title %}
<p class="govuk-body-l">{{data.new.title}}</p>
{% endif %}
{# <p class="govuk-body-l">Fill in the below sections to create your {{caseType | lower}}.</p> #}

<ol class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      {% set sectionCount = sectionCount + 1 %}
      <span class="app-task-list__section-number">{{sectionCount}}. </span> About the case
    </h2>
    <ul class="app-task-list__items">
        {{ taskListItem("Case type", "./case-type", extra="", status={isComplete: true, text: "Completed"})}}
        {# {{ taskListItem("Choose sections to include", "./information-available", extra="", status={isComplete: true, text: "Completed"} )}} #}
        {% set items = data.defaultSections[report.caseType]['part0'] %}
        {% for item in items %}
          {% set key = data.new.taskListSections[item] %}
          {{ taskListItem(key.title, key.url, key.extra, status=key.status)}}
        {% endfor %}
    </ul>
  
  </li>
  {# Main report section #}
  {% set items = data.defaultSections[report.caseType]['part1'] %}
  {% if items | length %}
  <li>
    <h2 class="app-task-list__section">
      {% set sectionCount = sectionCount + 1 %}
      {# <span class="app-task-list__section-number">2. </span> Add mandatory information #}
      <span class="app-task-list__section-number">{{sectionCount}}. </span>Required {{caseType | lower}} details
    </h2>
    {# {{ govukInsetText({
      text: "You must add this information now, but can amend later."
    }) }} #}
    {# {% set insetTextHTML %}
    
    {% endset %} #}
    {{ govukInsetText({
      text: "This information is required to report a safety or compliance issue."
    }) }}
    <ul class="app-task-list__items">
      {% set requiredItems = data.new.taskListSections | where("isRequired", true) %}

      {# {% for item, key in requiredItems %}
        {{ taskListItem(key.title, key.url, key.extra, status=key.status)}}
      {% endfor %} #}
      
      {% for item in items %}
        {% set key = data.new.taskListSections[item] %}
        {{ taskListItem(key.title, key.url, key.extra, status=key.status)}}
      {% endfor %}
    </ul>
  </li>
  {% endif %}


  {# Optional / extra sections #}
  {% set items = data.defaultSections[report.caseType]['part2'] %}
  {% if items | length %}
  <li>
    <h2 class="app-task-list__section">
      {% set sectionCount = sectionCount + 1 %}
      {# <span class="app-task-list__section-number">3. </span>Add {{caseType | lower}} details #}
      <span class="app-task-list__section-number">{{sectionCount}}. </span>Extra details if available
    </h2>
    {{ govukInsetText({
      text: "You may not have all the information asked for below but it’s helpful to share what you can."
    }) }}
    <ul class="app-task-list__items">
      {# {% set optionalItems = data.new.taskListSections | where("isRequired", false) | where("hideInTaskList", false)%}

      {% for item, key in optionalItems %}
        {{ taskListItem(key.title, key.url, key.extra, status=key.status)}}
      {% endfor %} #}

      {% for item in items %}
        {% set key = data.new.taskListSections[item] %}
        {% set status = {isComplete: key.status.isComplete, text: key.status.text or ("Completed" if key.status.isComplete) or 'Optional', prerequisiteText: key.status.prerequisiteText} %}
        {# {{ taskListItem(key.title, key.url, key.extra, status=key.status)}} #}
        {{ taskListItem(key.title, key.url, key.extra, status=status)}}
      {% endfor %}
    </ul>
  </li>
  {% endif %}


  {# Final items #}
  {% set items = data.defaultSections[report.caseType]['part3'] %}
  {% if items | length %}
  <li>
    <h2 class="app-task-list__section">
      {% set sectionCount = sectionCount + 1 %}
      <span class="app-task-list__section-number">{{sectionCount}}. </span>Final {{caseType | lower}} details
    </h2>
    <ul class="app-task-list__items">
      {# {% set task = data.new.taskListSections['caseName'] %}
      {{ taskListItem(task.title, task.url, task.extra, status=task.status)}} #}

      {% for item in items %}
        {% set key = data.new.taskListSections[item] %}
        {{ taskListItem(key.title, key.url, key.extra, status=key.status)}}
      {% endfor %}
     
    </ul>
  </li>
  {% endif %}

</ol>



<form action="{{formAction}}" method="post" class="form">


    <div class="govuk-form-group">
      {{ govukButton({
        text: "Create " + (caseType | lower)
      }) }}
      <p class="govuk-body"><a href="#" class="govuk-link">Save {{caseType | lower}} as draft and finish later</a></p>
      
    </div>

      

</form>
{% endblock %}
