{% from "fieldset/macro.njk"      import govukFieldset %}
{% from "file-upload/macro.njk"   import govukFileUpload %}
{% from "textarea/macro.njk"      import govukTextarea %}

{% macro attachmentInput(label, idPrefix) %}
{% call govukFieldset({
  legend: {
    text:       label,
    classes:    "govuk-fieldset__legend--l"
  }
}) %}
  {{ govukFileUpload({
    id: idPrefix+"-file-upload-1",
    name: idPrefix+"-file-upload-1"
  }) }}
  {{ govukTextarea({
    label: {
      text: "Attachment description"
    },
    name: idPrefix+"-file-upload-1-description",
    id:   idPrefix+"-file-upload-1-description"
  }) }}
{% endcall %}
{% endmacro %}
