{% from "table/macro.njk" import govukTable %}

{{ govukTable({

  head: [
    {
      text: "Business"
    },
    {
      text: "Type"
    },
    {
      text: "Primary Loc."
    },
    {
      text: "Cases"
    },
    {
      text: "Questions"
    }
  ],
  rows: [
    [
      {
        html: "<a href='/business'>Tesco PLC</a>"
      },
      {
        text: "PLC"
      },
      {
        text: "Welwyn Garden City, UK, AL7 1GA"
      },
      {
        text: "2"
      },
      {
        text: "4"
      }
    ],[
      {
        html: "<a href='/business'>Tesco PLC</a>"
      },
      {
        text: "PLC"
      },
      {
        text: "Welwyn Garden City, UK, AL7 1GA"
      },
      {
        text: "2"
      },
      {
        text: "4"
      }
    ],[
      {
        html: "<a href='/business'>Tesco PLC</a>"
      },
      {
        text: "PLC"
      },
      {
        text: "Welwyn Garden City, UK, AL7 1GA"
      },
      {
        text: "2"
      },
      {
        text: "4"
      }
    ],[
      {
        html: "<a href='/business'>Tesco PLC</a>"
      },
      {
        text: "PLC"
      },
      {
        text: "Welwyn Garden City, UK, AL7 1GA"
      },
      {
        text: "2"
      },
      {
        text: "4"
      }
    ],[
      {
        html: "<a href='/business'>Tesco PLC</a>"
      },
      {
        text: "PLC"
      },
      {
        text: "Welwyn Garden City, UK, AL7 1GA"
      },
      {
        text: "2"
      },
      {
        text: "4"
      }
    ],[
      {
        html: "<a href='/business'>Tesco PLC</a>"
      },
      {
        text: "PLC"
      },
      {
        text: "Welwyn Garden City, UK, AL7 1GA"
      },
      {
        text: "2"
      },
      {
        text: "4"
      }
    ],[
      {
        html: "<a href='/business'>Tesco PLC</a>"
      },
      {
        text: "PLC"
      },
      {
        text: "Welwyn Garden City, UK, AL7 1GA"
      },
      {
        text: "2"
      },
      {
        text: "4"
      }
    ]

  ]
}) }}