  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageTitle({
        title:      "Cases / Questions"
      }) }}
    </div>
  </div>



  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full govuk-!-margin-bottom-2 mspsds-case-control">

            <div class="govuk-grid-column-one-third">
                <form id="search" class="mspsds-search govuk-form-group" action="/search-results__cases" method="get" role="search">
                    <div class="mspsds-search__content">
                      <label for="mspsds-search__input" class="mspsds-search__label govuk-label" >Keywords</label>
                      <input type="search" name="q" id="mspsds-search__input" title="Search" class="js-search-focus mspsds-search__input govuk-input">
                      <input class="submit mspsds-search__submit" type="submit" value="Search">
                    </div>
                </form>
            </div>
            
    </div>


    <div class="govuk-grid-column-full mspsds-case-filters--open">

        <div class="govuk-grid-column-one-third">

          {% call govukFieldset({
              legend: {
                text:           "Quick Filters",
                isPageHeading:  false,
                classes:        "govuk-fieldset__legend--m"
              }
            }) %}

              {{ govukRadios({
                idPrefix:   "quick-filter",
                name:       "quick-filter",
                items: [
                  {
                    value: "Assigned to me",
                    text: "Assigned to me",
                    checked: checked("quick-filter", "Assigned to me")
                  },
                  {
                    value: "Assigned to my team",
                    text: "Assigned to my team",
                    checked: checked("quick-filter", "Assigned to my team")
                  },
                  {
                    value: "High Priority",
                    text: "High Priority",
                    checked: checked("quick-filter", "High Priority")
                  },
                  {
                    value:  "Pre-triage",
                    text:   "Pre-triage",
                    checked: checked("quick-filter", "Pre-triage")
                  },
                  {
                    value: "5+ days since update",
                    text: "5+ days since update",
                    checked: checked("quick-filter", "5+ days since update")
                  }

                ]
              }) }}

          {% endcall %}

        </div>

        <div class="govuk-grid-column-two-thirds">

          {% call govukFieldset({
              legend: {
                text:           "or, set specific filters",
                isPageHeading:  false,
                classes:        "govuk-fieldset__legend--m"
              }
          }) %}

          {{ govukTable({
              classes: "mspsds-case-filter-controls",
              rows: [
                [{
                    html: govukSelect({
                            id: "filter-select",
                            name: "filter-select",
                            classes: " govuk-!-margin-bottom-0 ",
                            items: [
                              {
                                value:  "Status",
                                text:   "Status",
                                selected: true
                              }
                            ]
                          })
                  },
                  {
                    html: govukCheckboxes({
                              classes: "govuk-checkboxes--inline",
                              idPrefix: "waste",
                              name: "waste",
                              items: [
                                {
                                  value: "open",
                                  text: "Open",
                                  checked: true
                                },
                                {
                                  value: "closed",
                                  text: "Closed"
                                }
                              ]
                            })
                  },
                  {
                    format: "numeric",
                    html:   '<a class="govuk-link govuk-body-s govuk-!-margin-bottom-0" href="#">Remove</a>'
                  }],

                  [{
                    html: govukSelect({
                            id: "filter-select",
                            name: "filter-select",
                            classes: " govuk-!-margin-bottom-0 ",
                            items: [
                              {
                                value:  "Assigned to",
                                text:   "Assigned to",
                                selected: true
                              }
                            ]
                          })
                  },
                  {
                    html:   '<label for="case-assignne-autocomplete" class="label ">
                                <div id="case-assignee-autocomplete-container"></div>
                             </label>'
                  },
                  {
                    format: "numeric",
                    html:   '<a class="govuk-link govuk-body-s govuk-!-margin-bottom-0" href="#">Remove</a>'
                  }],



                  [{
                    html: govukSelect({
                            id: "filter-select",
                            name: "filter-select",
                            classes: " govuk-!-margin-bottom-0 ",
                            items: [
                              {
                                value:  "Add filter",
                                text:   "Add filter",
                                selected: true
                              },
                              {
                                value:  "Assigned to",
                                text:   "Assigned to"
                              },
                              {
                                value:  "Status",
                                text:   "Status"
                              },
                              {
                                value: "Priority",
                                text: "Priority"
                              },
                              {
                                value: "Risk level",
                                text: "Risk level"
                              },
                              {
                                value: "Hazard type",
                                text: "Hazard type"
                              },
                              {
                                value: "Creation date",
                                text: "Creation date"
                              },
                              {
                                value: "Last update date",
                                text: "Last update date"
                              },
                              {
                                value: "Product type",
                                text: "Product type"
                              },
                              {
                                value: "Product category",
                                text: "Product category"
                              },
                              {
                                value: "Country of origin",
                                text: "Country of origin"
                              }
                            ]
                          })
                  },
                  {
                    text: " "
                  },
                  {
                    text: " "
                  }]
              ]
            }) }}


          {% endcall %}


          <script type="text/javascript">


            var assignees = [
              'Tim Harwood – tim.harwood@softwire.com',
              'Nick Golding – nick.golding@softwire.com',
              'Ed Smith-Muller – ed.smith-muller@softwire.com',
            ];
          

            element = document.querySelector('#case-assignee-autocomplete-container');
            id = 'case-assignne-autocomplete';
            accessibleAutocomplete({
              element: element,
              id: id,
              defaultValue: 'Tim Harwood – tim.harwood@softwire.com',
              showNoOptionsFound: false,
              source: assignees
            });
          </script>


          </div>

    </div>
    <div class="govuk-grid-column-full mspsds-case-filters--open">
          {{ govukButton({
            text: "Apply filters",
            classes: "govuk-!-margin-bottom-0"
          }) }}

          <a class="govuk-link mspsds-block-link govuk-body-s govuk-!-margin-bottom-0" href="case-list-v4">Cancel</a>
    </div>

  </div>