{% from "table/macro.njk" import govukTable %}

{{ govukTable({

  head: [
    {
      text: "Case/Question"
    },
    {
      text: "Status"
    },
    {
      text: "Priority/Risk"
    },
    {
      text: "Assigned"
    },
    {
      text: "Last update"
    }
  ],
  rows: [
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> Charge Works, Travel plug adaptor – Electric shock, fire hazard"
      },
      {
        text: "New"
      },
      {
        text: "Medium"
      },
      {
        text: "Tim Harwood"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> Charge Works, Travel plug adaptor – Electric shock, fire hazard"
      },
      {
        text: "New"
      },
      {
        text: "Medium"
      },
      {
        text: "Tim Harwood"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> Charge Works, Travel plug adaptor – Electric shock, fire hazard"
      },
      {
        text: "New"
      },
      {
        text: "Medium"
      },
      {
        text: "Tim Harwood"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> Charge Works, Travel plug adaptor – Electric shock, fire hazard"
      },
      {
        text: "New"
      },
      {
        text: "Medium"
      },
      {
        text: "Tim Harwood"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> Charge Works, Travel plug adaptor – Electric shock, fire hazard"
      },
      {
        text: "New"
      },
      {
        text: "Medium"
      },
      {
        text: "Tim Harwood"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> Charge Works, Travel plug adaptor – Electric shock, fire hazard"
      },
      {
        text: "New"
      },
      {
        text: "Medium"
      },
      {
        text: "Tim Harwood"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> Charge Works, Travel plug adaptor – Electric shock, fire hazard"
      },
      {
        text: "New"
      },
      {
        text: "Medium"
      },
      {
        text: "Tim Harwood"
      },
      {
        text: "21/08/2018"
      }
    ]

  ]
}) }}