{% from "includes/case-card.html"         import caseCard %}

{% macro caseCardList(caseInfo) %}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Tim Harwood',
      team:         'Processing',
      priority:     'High',
      overdue:      'Overdue',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'Brand, Travel plug adaptor, 7196',
      hazard:   'Electric shock hazard',

      assignee:     'Ed Smith-Muller',
      priority:     'Medium',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}


  {{ caseCard({
      type:   'Case',
      status: 'Draft',
      id:     '2018-0781',

      product:  'Spongebob Squarepants Toy scooter',
      hazard:   'Injuries hazard',

      assignee:     'Tim Harwood',
      team:         'Processing',
      priority:     'Low',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'FLEXA, Children high chair 82-10020-1',
      hazard:   'Entrapment, Injuries hazard',

      assignee:     'Tim Harwood',
      team:         'Processing',
      priority:     'High',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'Bieco, Schnullerhalter, Soother holder',
      hazard:   'Choking hazard',

      assignee:     'Nick Golding',
      team:         'Processing',
      priority:     'High',
      overdue:      'Overdue',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'BabyDan, Cuddle Nest Ergo',
      hazard:   'Suffocation hazard',

      assignee:     'Nick Golding',
      team:         'Processing',
      priority:     'Medium',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'Zhuzhu Rabbit, Childrens outfit',
      hazard:   'Strangulation hazard',

      assignee:     'Tim Harwood',
      team:         'Processing',
      priority:     'High',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'BOLI Razor, Technology Quality Life, Electric razor',
      hazard:   'Electric shock hazard',

      assignee:     'Ed Smith-Muller',
      priority:     'Low',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'NO ONE, Your Best Choice, Electric razor',
      hazard:   'Electric shock hazard',

      assignee:     'Nick Golding',
      team:         'Processing',
      priority:     'Low',
      overdue:      'Overdue',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}


  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'Aqua Sphere, Beachwalker XP, Water shoes',
      hazard:   'Chemical hazard',

      assignee:     'Tim Harwood',
      team:         'Processing',
      priority:     'High',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}


  {{ caseCard({
      type:   'Case',
      status: 'Draft',
      id:     '2018-0781',

      product:  'CP, 3in 1 LASER & LED LIGHT, Laser pointer',
      hazard:   'Damage to sight hazard',

      assignee:     'Tim Harwood',
      team:         'Processing',
      priority:     'Medium',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'ZK, T2 Function Laser & LED Light with Carabiner Clip, Laser pointer',
      hazard:   'Damage to sight hazard',

      assignee:     'Ed Smith-Muller',
      priority:     'Low',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Draft',
      id:     '2018-0781',

      product:  'Lovely Cartoon Unisex Quartz Sports Kids Wrist Watch, Children watch',
      hazard:   'Chemical, Choking hazard',

      assignee:     'Nick Golding',
      team:         'Processing',
      priority:     'Medium',
      overdue:      'Overdue',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Nick Goldingd',
      priority:     'Low',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Tim Harwood',
      team:         'Processing',
      priority:     'High',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Ed Smith-Muller',
      priority:     'Medium',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Closed',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Nick Golding',
      team:         'Processing',
      priority:     'Low',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}


  {{ caseCard({
      type:   'Case',
      status: 'Closed',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Ed Smith-Muller',
      priority:     'Low',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}


  {{ caseCard({
      type:   'Case',
      status: 'Draft',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Nick Golding',
      team:         'Processing',
      priority:     'Medium',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Ed Smith-Muller',
      priority:     'High',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Closed',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Nick Golding',
      team:         'Processing',
      priority:     'Low',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Nick Golding',
      team:         'Processing',
      priority:     'High',
      overdue:      'Overdue',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Closed',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Ed Smith-Muller',
      priority:     'Low',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}

  {{ caseCard({
      type:   'Case',
      status: 'Open',
      id:     '2018-0781',

      product:  'Charge Worx, Travel plug adaptor',
      hazard:   'Electric shock, fire hazard',

      assignee:     'Tim Harwood',
      team:         'Processing',
      priority:     'Medium',
      dateUpdated:  '21/10/2018',
      dateCreated:  '18/10/2018'
  }) }}


{% endmacro %}
