{% from "table/macro.njk" import govukTable %}

{{ govukTable({
  classes: "mspsds-case-list",
  head: [
    {
      text: "Case/Question"
    },
    {
      text: "Priority"
    },
    {
      text: "Last update"
    }
  ],
  rows: [
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> <a href='/case'>Charge Works, Travel plug adaptor – Electric shock, fire hazard</a>"
      },
      {
        text: "Medium"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> <a href='/case'>Charge Works, Travel plug adaptor – Electric shock, fire hazard</a>"
      },
      {
        text: "Medium"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> <a href='/case'>Charge Works, Travel plug adaptor – Electric shock, fire hazard</a>"
      },
      {
        text: "Medium"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> <a href='/case'>Charge Works, Travel plug adaptor – Electric shock, fire hazard</a>"
      },
      {
        text: "Medium"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> <a href='/case'>Charge Works, Travel plug adaptor – Electric shock, fire hazard</a>"
      },
      {
        text: "Medium"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> <a href='/case'>Charge Works, Travel plug adaptor – Electric shock, fire hazard</a>"
      },
      {
        text: "Medium"
      },
      {
        text: "21/08/2018"
      }
    ],
    [
      {
        html: "<span class='govuk-caption-m'>xxxx-xxxx</span> <a href='/case'>Charge Works, Travel plug adaptor – Electric shock, fire hazard</a>"
      },
      {
        text: "Medium"
      },
      {
        text: "21/08/2018"
      }
    ]

  ]
}) }}