
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2 mspsds-case-control">
        <form id="search" class="mspsds-search govuk-form-group" action="/search-results__cases-opt1" method="get" role="search">
            <div class="mspsds-search__content">
              <label for="mspsds-search__input" class="mspsds-search__label govuk-label" >Keywords</label>
              <input type="search" name="q" id="mspsds-search__input" title="Search" class="js-search-focus mspsds-search__input govuk-input" value="{{data['q']}}">
              <input class="submit mspsds-search__submit" type="submit" value="Search">
            </div>
        </form>
    </div>

</div>