{% from "table/macro.njk"         import govukTable %}

{% macro caseStatus(status, assignee, priority, sensitivity) %}

{{ govukTable({
  classes: "mspsds-case-status",
  firstCellIsHeader: true,
  rows: [
    [
      { html: '<span class="govuk-caption-m govuk-!-font-size-16">Status</span>' + status },
      { html: '<a href="/flows/add-status/01-add-status" class="govuk-!-font-size-16">Change</a>'  }
    ],
    [
      { html: '<span class="govuk-caption-m govuk-!-font-size-16">Assigned to</span>' + assignee },
      { html: '<a href="/root/flows/assign/01-assign" class="govuk-!-font-size-16">Change</a>'  }
    ]
  ]
}) }}

{% endmacro %}
