{% from "table/macro.njk"         import govukTable %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "Cases"
          },
          {
            text: "8"
          },
          {
            html: "<a href='#'>View</a>"
          }
        ],
        [
          {
            text: "Issues"
          },
          {
            text: "50"
          },
          {
            html: "<a href='#'>View</a>"
          }
        ]
      ]
    }) }}
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-two-thirds">
    <a href="#">Manage linked cases</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Manage linked issues</a>
  </div>
</div>
