{% from "table/macro.njk" import govukTable %}

{{ govukTable({

  head: [
    {
      text: "Product"
    },
    {
      text: "Type"
    },
    {
      text: "Origin"
    },
    {
      text: "Cases"
    },
    {
      text: "Questions"
    }
  ],
  rows: [
    [
      {
        html: "<a href='/root/product'>Charge Worx, International Travel Adaptor 931L</a>"
      },
      {
        text: "Travel adaptor"
      },
      {
        text: "China"
      },
      {
        text: "6"
      },
      {
        text: "2"
      }
    ],[
      {
        html: "<a href='/root/product'>Charge Worx, International Travel Adaptor 931L</a>"
      },
      {
        text: "Travel adaptor"
      },
      {
        text: "China"
      },
      {
        text: "6"
      },
      {
        text: "2"
      }
    ],[
      {
        html: "<a href='/root/product'>Charge Worx, International Travel Adaptor 931L</a>"
      },
      {
        text: "Travel adaptor"
      },
      {
        text: "China"
      },
      {
        text: "6"
      },
      {
        text: "2"
      }
    ],[
      {
        html: "<a href='/root/product'>Charge Worx, International Travel Adaptor 931L</a>"
      },
      {
        text: "Travel adaptor"
      },
      {
        text: "China"
      },
      {
        text: "6"
      },
      {
        text: "2"
      }
    ],[
      {
        html: "<a href='/root/product'>Charge Worx, International Travel Adaptor 931L</a>"
      },
      {
        text: "Travel adaptor"
      },
      {
        text: "China"
      },
      {
        text: "6"
      },
      {
        text: "2"
      }
    ],[
      {
        html: "<a href='/root/product'>Charge Worx, International Travel Adaptor 931L</a>"
      },
      {
        text: "Travel adaptor"
      },
      {
        text: "China"
      },
      {
        text: "6"
      },
      {
        text: "2"
      }
    ],[
      {
        html: "<a href='/root/product'>Charge Worx, International Travel Adaptor 931L</a>"
      },
      {
        text: "Travel adaptor"
      },
      {
        text: "China"
      },
      {
        text: "6"
      },
      {
        text: "2"
      }
    ],[
      {
        html: "<a href='/root/product'>Charge Worx, International Travel Adaptor 931L</a>"
      },
      {
        text: "Travel adaptor"
      },
      {
        text: "China"
      },
      {
        text: "6"
      },
      {
        text: "2"
      }
    ],[
      {
        html: "<a href='/root/product'>Charge Worx, International Travel Adaptor 931L</a>"
      },
      {
        text: "Travel adaptor"
      },
      {
        text: "China"
      },
      {
        text: "6"
      },
      {
        text: "2"
      }
    ],[
      {
        html: "<a href='/root/product'>Charge Worx, International Travel Adaptor 931L</a>"
      },
      {
        text: "Travel adaptor"
      },
      {
        text: "China"
      },
      {
        text: "6"
      },
      {
        text: "2"
      }
    ]

  ]
}) }}