{% from "table/macro.njk" import govukTable %}

{{ govukTable({

  head: [
    { text: "Product" },
    { text: "Type" },
    { text: "Origin" },
    { text: "Cases" },
    { text: "Questions" }
  ],
  rows: [
    [
      { html: "<a href='./product'>Charge Worx, International Travel Adaptor 931L</a>" },
      { text: "Travel adaptor" },
      { text: "China" },
      { text: "4" },
      { text: "0"  }
    ],[
      { html: "<a href='./product-1-case-2'>KL Original, Finger Monkeys</a>" },
      { text: "Finger puppet" },
      { text: "China" },
      { text: "1" },
      { text: "3"  }
    ],[
          { html: "<a href='./product-2-case-2'>Bears Friend, Finger Monkeys</a>" },
      { text: "Finger puppet" },
      { text: "China" },
      { text: "1" },
      { text: "0"  }
    ],[
          { html: "<a href='./product-3-case-2'>  Fun Toys, Finger Monkeys</a>" },
      { text: "Finger puppet" },
      { text: "China" },
      { text: "1" },
      { text: "0"  }
    ],[
      { html: "<a href='./product'>Lovely Cartoon Unisex Quartz Sports Kids Wrist Watch</a>" },
      { text: "Children watch" },
      { text: "Taiwan" },
      { text: "2" },
      { text: "2"  }
    ],[
      { html: "<a href='./product'>ZK, T2 Function Laser & LED Light with Carabiner Clip</a>" },
      { text: "Laser pointer" },
      { text: "China" },
      { text: "1" },
      { text: "0"  }
    ],[
      { html: "<a href='./product'>Red Zulu, Slap Wrap</a>" },
      { text: "PPE" },
      { text: "China" },
      { text: "5" },
      { text: "2"  }
    ],[
      { html: "<a href='./product'>Aqua Sphere, Beachwalker XP, Water shoes</a>" },
      { text: "Clothing" },
      { text: "South Korea" },
      { text: "1" },
      { text: "4"  }
    ],[
      { html: "<a href='./product'>BOLI Razor, Technology Quality Life</a>" },
      { text: "Electric razor" },
      { text: "China" },
      { text: "3" },
      { text: "0"  }
    ],[
      { html: "<a href='./product'>Zhuzhu Rabbit</a>" },
      { text: "Childrens outfit" },
      { text: "China" },
      { text: "1" },
      { text: "0"  }
    ],[
      { html: "<a href='./product'>FLEXA, Children high chair 82-10020-1</a>" },
      { text: "Furniture" },
      { text: "China" },
      { text: "2" },
      { text: "0"  }
    ],[
      { html: "<a href='./product'>Spongebob Squarepants Toy scooter</a>" },
      { text: "Toy" },
      { text: "China" },
      { text: "1" },
      { text: "1"  }
    ]

  ]
}) }}