{% from "button/macro.njk"        import govukButton %}


{% macro siteNavV3(navList, createLink) %}

  <nav id="nav">

    <div class="navbar">

      <ul class="navbar__list-items">

        {% for entry in navList %}

          <li class="{{entry.classes}}">
              <a href="{{entry.link}}">{{entry.label}}</a>
          </li>

        {% endfor %}
        
      </ul>

      {% if createLink %}
        {% set create = createLink %}
      {% else %}
        {% set create = '#' %}
      {% endif %}

      <div class="creation" data-create="{{create}}">
        {{ govukButton({
          text: "Create new",
          href: create,
          classes: "govuk-button--start"
        }) }}
      </div>
        
    </div>

    

  </nav>

{% endmacro %}