



{% macro siteNav(currentNav) %}

  <nav id="nav">

    <div class="navbar">

      <ul class="navbar__list-items">
        
        {% if currentNav == '/case-list' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
          <a href="/root/case-list/case-list">Cases &amp; Questions</a>
        </li>


        {% if currentNav == '/product-list' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
          <a href="/root/product-list">Products</a>
        </li>


        {% if currentNav == '/business-list' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
          <a href="/root/business-list">Businesses</a>
        </li>

        
      </ul>
      
    </div>

  </nav>

{% endmacro %}