{% from "button/macro.njk"        import govukButton %}


{% macro siteNavV2(currentNav) %}

  <nav id="nav">

    <div class="navbar">

      <ul class="navbar__list-items">
        
        {% if currentNav == '/home' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
          <a href="/home">Home</a>
        </li>      
  
        {% if currentNav == '/case-list' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
          <a href="/case-list">Cases / Questions</a>
        </li>


        {% if currentNav == '/product-list' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
          <a href="/old/product-list">Products</a>
        </li>


        {% if currentNav == '/business-list' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
          <a href="/business-list">Businesses</a>
        </li>
        
      </ul>

      <div class="creation">
        {{ govukButton({
          text: "Create new",
          href: "#",
          classes: "govuk-button--start"
        }) }}
      </div>
        
    </div>

    

  </nav>

{% endmacro %}