

{% macro stepNavigation(steps) %}
    <script>
    function toggleStepState(button) {
      var showing = button.getAttribute("aria-expanded") == "false" ? true : false;
      button.setAttribute("aria-expanded", showing.toString());

      var toggleLink = button.querySelector("span.js-toggle-link");
      toggleLink.innerHTML = (showing ? "hide" : "show");

      var stepDetailsPanel = button.closest("li").querySelector(".app-step-nav__panel");
      if (showing) { stepDetailsPanel.className = stepDetailsPanel.className.replace(" js-hidden","") } else { stepDetailsPanel.className += " js-hidden" }
    }
    </script>

    <div id="step-by-step-navigation" class="app-step-nav  app-step-nav--active" >
        <ol class="app-step-nav__steps">

            {% for step in steps %}

                {% set stepClass = 'app-step-nav__step' %}
                {% if step.active %}
                    {% set stepClass = stepClass + ' app-step-nav__step--active' %}
                {% endif %}

                <li class="{{stepClass}}">
                    <div class="app-step-nav__header" data-position="{{loop.index}}">
                        <h3 class="app-step-nav__title">

                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> {{loop.index}}
                                        <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                              <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="{{step.active}}" onclick="toggleStepState(this);return false;">
                                <span class="js-step-title-text">{{step.title}}</span>
                                <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">{{"hide" if step.active else "show"}}</span>
                              </button>
                            </span>

                        </h3>
                    </div>

                    <div class="app-step-nav__panel{{'' if step.active else ' js-hidden'}}">
                      <p class="app-step-nav__paragraph">{{step.description}}</p>
                    </div>

                </li>   

            {% endfor %}

        </ol>
    </div>

{% endmacro %}

