<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <ol class="timeline-2">
      <li class="timeline-2-entry">
        <h4 class="timeline-2-title govuk-heading-s">Claim disallowed</h4>
        <p class="timeline-2-info">
          <span class="visually-hidden govuk-body-s">Claim disallowed</span>
          <span class="timeline-2-author govuk-body-s">by John Smith</span>
          <span class="timeline-2-date govuk-body-s">1 January 2018 at 13:02</span>
        </p>
        <p class="timeline-2-body govuk-body-s">
          Claimant over state pension age.
        </p>
      </li>

      <li class="timeline-2-entry">
        <h4 class="timeline-2-title govuk-heading-s">Marriage verified</h4>
        <p class="timeline-2-info">
          <span class="visually-hidden govuk-body-s">Marriage verified</span>
          <span class="timeline-2-author govuk-body-s">by John Smith</span>
          <span class="timeline-2-date govuk-body-s">1 January 2018 at 13:21</span>
        </p>
        <p class="timeline-2-body govuk-body-s">
          Marriage certificate uploaded to DRS.
        </p>
      </li>
    </ol>

  </div>
</div>
