<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="timeline">
      <ul>
        <li class="action_needed">
          <h3 class="govuk-heading-s">Ask someone to confirm your identity</h3>
          <p class="time">2 September 2017 at 1.01pm</p>
          <p>Your old passport is damaged. We can’t print your new passport until your identity is confirmed.</p>
          <p><a class="button" href="#0">Continue</a></p>
        </li>
        <li>
          <h3 class="govuk-heading-s">Joined processing queue</h3>
          <p class="time">2 September 2017 at 11.32am</p>
          <p>Your passport application is waiting in a queue to be processed.</p>
        </li>
        <li>
          <h3 class="govuk-heading-s">Application received</h3>
          <p class="time">28 August 2017 at 8.12pm</p>
          <p>Your application has been received - reference 6HWNA1358_CC3.</p>
        </li>
        <li>
          <h3 class="govuk-heading-s">Application submitted</h3>
          <p class="time">28 August 2017</p>
        </li>
        <li>
          <h3 class="govuk-heading-s">Application created</h3>
          <p class="time">20 August 2017</p>
          <div class="timeline-details">
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Application details
                </span>
              </summary>
              <div class="govuk-details__text">
                <span>Time stamp: 20 August 2017 at 8.23am</span>
                <span>Region: London</span>
                <span>Type: Standard application</span>
              </div>
            </details>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
