{% extends "mspsds-layout.html" %}
{% set currentPage      = 'case' %}
{% set currentCase = data.cases | withId(data['caseid']) %}
{% set currentCase = currentCase | attachCaseChildren(data) %}
{% set currentTeam = data.currentTeam %}
{# {% set currentCase.restricted = true %} #}

{% if bodyClasses %}
    {% set bodyClasses = bodyClasses + " mspsds-width-container case" %}
{% else %}
    {% set bodyClasses = " mspsds-width-container case" %}
{% endif %}

{% set navActive = 'cases' %}

{% set caseNavActive = 'settings' %}
{% set hasEditRights = true if (currentCase.assignee == data['currentUser']) else false %}

{% set significantDateLabel = "Last updated" if currentCase.activities.length > 1 else "Created" %}


{% block pageTitle %}
{% endblock %}

{% block header %}
  {{ super() }}
  {% set includeCaseActions = false %}

  {% include "includes/components/case/case-bar.html" %}

{% endblock %}

{% block beforeContent %}

{#   {{ govukBackLink({
      text: 'Back',
      href: '/pages/case/settings'
  }) }}
 #}
{% endblock %}


{% set permissionsByLevel %}

<h2 class="govuk-heading-m">Teams added to case</h2>

{# Admin #}
{# <h3 class="govuk-heading-m">Teams with full view, edit and managing rights</h3> #}
<h3 class="govuk-heading-s">Full view, edit and manage</h3>

<p class="govuk-hint">Can set case permissions, add teams to the case and change assignment.</p>

{% set managePermissionsTeams = data.teamPermissions | filterAttr('permissionsLevel', 'admin') %}
<ul class="govuk-list govuk-list--bullet">
  <li>OPSS - Incident management (your team)</li>
  {% for team in managePermissionsTeams %}
  <li>{{team.teamName}} - <a href="permissions/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team={{team.teamName}}&teamPermissionsLevel={{team.permissionsLevel}}">change permissions</a></li>
  {% endfor %}
</ul>



{# Editor #}
{# <h3 class="govuk-heading-m">Teams with full view and editing rights</h3> #}
<h3 class="govuk-heading-s">Full view and edit</h3>
{% set viewAndEditPermissionsTeams = data.teamPermissions | filterAttr('permissionsLevel', 'edit') %}
<ul class="govuk-list govuk-list--bullet">
  {% for team in viewAndEditPermissionsTeams %}
    <li>{{team.teamName}} - <a href="permissions/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team={{team.teamName}}&teamPermissionsLevel={{team.permissionsLevel}}">change permissions</a></li>
  {% endfor %}
  {% if viewAndEditPermissionsTeams | length < 1 %}
  <li>No teams</li>
  {% endif %}
</ul>

{# Full view #}
{# <h3 class="govuk-heading-m">Teams full with viewing rights</h3> #}
<h3 class="govuk-heading-s">Full view</h3>
{% set viewFullPermissionsTeams = data.teamPermissions | filterAttr('permissionsLevel', 'view-full') %}
<ul class="govuk-list govuk-list--bullet">
  {% for team in viewFullPermissionsTeams %}
    <li>{{team.teamName}} - <a href="permissions/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team={{team.teamName}}&teamPermissionsLevel={{team.permissionsLevel}}">change permissions</a></li>
  {% endfor %}
  {% if viewFullPermissionsTeams | length < 1 %}
  <li>No teams</li>
  {% endif %}
</ul>

{# Full view #}
<h3 class="govuk-heading-m">Teams with default viewing rights</h3>
<p class="govuk-hint">Can view the case apart from sensitive information such as correspondence</p>

<ul class="govuk-list govuk-list--bullet">
  <li>All other teams</li>
</ul>

{% endset %}

{% set permissionsByTeam %}

  {% set restrictedBadge %}
    <span class="hmcts-badge hmcts-badge--red">Restricted</span>
  {% endset %}

  {% set changeLink %}
  <a href="" class="govuk-link govuk-body">Change</a>
  {% endset %}

  {% set restrictionLink %}
  <a href="restriction.html" class="govuk-link govuk-body">{{"Restrict access" if not currentCase.restricted else "Change case restriction"}}</a>
  {% endset %}

  {% from "table/macro.njk"         import govukTable %}
  {{ govukTable({
      firstCellIsHeader: false,
      head: [
        {
          text: "Team name",
          classes: 'app-custom-class'
        },
        {
          text: "Permission",
          classes: 'app-custom-class'
        },
        {
          text: "",
          classes: 'app-custom-class'
        }
      ],
      rows: [
        [
          {
            text: "OPSS - enforcement"
          },
          {
            text: "Manage"
          },
          {
            html: ""
          }
        ],
        [
          {
            text: "OPSS - processing"
          },
          {
            text: "Edit"
          },
          {
            html: changeLink if hasEditRights
          }
        ],
        [
          {
            text: "Birmingham Council"
          },
          {
            text: "Full view"
          },
          {
            html: changeLink if hasEditRights
          }
        ],
        [
          {
            text: "OPSS"
          },
          {
            text: "Full view"
          },
          {
            html: changeLink if hasEditRights
          }
        ],
        [
          {
            text: "All other teams"
          },
          {
            text: "Default view" if not currentCase.restricted else '✗',
            html: "Default view" if not currentCase.restricted else restrictedBadge
          },
          {
            html: restrictionLink if hasEditRights
          }
        ]
      ]
    }) }}

    {% from "button/macro.njk"        import govukButton %}

    {% if hasEditRights %}
    {{ govukButton({
      text: "Add a team",
      href: "permissions/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team=new"
    }) }}
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

    {% endif %}



{% endset %}


{% block content %}

{% include "includes/components/case/case-navigation.html" %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Case permission levels</h1>

    {% set restrictionText %}
      <p class="govuk-body">This case is <strong>restricted</strong>. Only teams listed on this page can view details of the case. <br><a href="restriction">See restriction details.</a></p>
    {% endset %}

    {% if currentCase.restricted %}
        {{ hmctsBanner({
      type: 'warning',
      html: restrictionText,
      iconFallbackText: 'Warning'
      }) }} 
    {% endif %}

    {{permissionsByTeam | safe}}

    <h2 class="govuk-heading-m">The 4 permissions levels</h2>

    <p class="govuk-body">The aim of the Product safety database is to encourage the product safety community to share as much information as possible. However, sharing data must be done responsibly and there are different permission levels which correspond to a team’s level of involvement.</p>

    <p class="govuk-body">There are 4 permission levels.</p>

    <p class="govuk-body">Teams who are currently involved in the case have one of the following:</p>
     <ol class="govuk-list govuk-list--number">
      <li>Full view, edit and manage.</li>
      <li>Full view and edit.</li>
      <li>Full view.</li>
 

    </ol>

    <p class="govuk-body">Teams who are not involved in a case have:</p>
    <ol class="govuk-list govuk-list--number" start='4'>
      <li>Default view.</li>
    </ol>

    {% set detailsHTML %}
      {% include "includes/components/shared/permissions-table.html" %}
    {% endset %}

    {{ govukDetails({
      summaryText: "What can be seen at each permission level",
      html: detailsHTML,
      open: false
    }) }}



    {% if not currentCase.restricted %}
    <h3 class="govuk-heading-s">Restricting a case</h3>
    <p class="govuk-body">In exceptional circumstances, people with full view, edit and managing rights can <a href="restriction">restrict a case</a>.</p>
    {% endif %}

   
  </div>

 {#  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">Related</h3>
    <p class="govuk-body"><a href="#" class="govuk-link">Restriction</a>
  </div></p> #}
</div>


{% endblock %}
