{% extends "mspsds-layout.html" %}
{% set currentPage      = 'case' %}
{% set currentCase = data.cases | withId(data['caseid']) %}
{% set currentCase = currentCase | attachCaseChildren(data) %}
{% set currentTeam = data.currentTeam %}
{# {% set currentCase.restricted = true %} #}

{% if bodyClasses %}
    {% set bodyClasses = bodyClasses + " mspsds-width-container case" %}
{% else %}
    {% set bodyClasses = " mspsds-width-container case" %}
{% endif %}

{% set navActive = 'cases' %}

{% set caseNavActive = 'settings' %}
{# {% set hasEditRights = true if (currentCase.assignee == data['currentUser']) else false %} #}

{% set hasEditRights = false if (data.hasEditRights == "false") else true %}


{% set significantDateLabel = "Last updated" if currentCase.activities.length > 1 else "Created" %}


{% block pageTitle %}
{% endblock %}

{% block header %}
  {{ super() }}
  {% set includeCaseActions = false %}

  {% include "includes/components/case/case-bar.html" %}

{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
      text: 'Back',
      href: '../overview'
  }) }}

{% endblock %}

{% set permissionsByTeam %}

  {% set restrictedBadge %}
    <span class="hmcts-badge hmcts-badge--red">Restricted</span>
  {% endset %}

  {% set restrictionLink %}
    <a href="restriction.html" class="govuk-link govuk-body">{{"Restrict access" if not currentCase.restricted else "Change case restriction"}}</a>
  {% endset %}

  {% if hasEditRights %}
    {% from "button/macro.njk"        import govukButton %}

    {{ govukButton({
      text: "Add a team to the case",
      href: "permissions/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team=new"
    }) }}
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

  {% endif %}

  {% from "table/macro.njk"         import govukTable %}

  {# Create teams array for table #}

  {# Remove admin teams so they can be sorted separately #}
  {% set adminTeams = data.teamPermissions | filterAttr('permissionsLevel', 'admin') | sort(attribute='teamName') %}
  {# Sort non admins #}
  {% set teamsWithoutAdmins = data.teamPermissions | removeAttr('permissionsLevel', 'admin') | sort(attribute='teamName')%}

  {# Combine admins and non admins #}
  {% set combinedTeams = [] %}
  {% for team in adminTeams %}
    {% set combinedTeams = (combinedTeams.push(
        team), combinedTeams) %}
  {% endfor %}
  {% for team in teamsWithoutAdmins %}
    {% set combinedTeams = (combinedTeams.push(
        team), combinedTeams) %}
  {% endfor %}

  {% set teams = [] %}
  {% for team in combinedTeams  %}

    {# Remap permission levels to human names #}
    {% set thePermissionLevel = '' %}
    {% if team.permissionsLevel == 'view-full' %}
      {% set thePermissionLevel = 'View full case' %}
    {% elif team.permissionsLevel == 'edit' %}
      {% set thePermissionLevel = 'Edit full case' %}
    {% elif team.permissionsLevel == 'admin' %}
      {% set thePermissionLevel = '<span class="hmcts-badge hmcts-badge--grey">Case owner</span>
' %}
    {% endif %}

    {# Generate change link for all except admin #}
    {% set changeLink %}
      {% if team.permissionsLevel != 'admin' %}
        <a href="permissions/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team={{team.teamName}}&teamPermissionsLevel={{team.permissionsLevel}}">Change</a>
      {% endif %}
    {% endset %}

    {% set theTeam = [
      {
        text: team.teamName
      },
      {
        html: thePermissionLevel
      },
      {
        html: changeLink if hasEditRights
      }
    ]
    %}
    {% set teams = (teams.push(
      theTeam), teams   ) %}

  {% endfor %}

  {{ govukTable({
    firstCellIsHeader: false,
    head: [
      {
        text: "Team name",
        classes: 'app-custom-class'
      },
      {
        text: "Permission level",
        classes: 'app-custom-class'
      },
      {
        text: "",
        classes: 'app-custom-class'
      }
    ],
    rows: teams
  }) }}

{% endset %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {# {% set restrictionText %}
      <p class="govuk-body">This case is <strong>restricted</strong>. Only teams added to the case can view case details. <br><a href="restriction">See restriction details.</a></p>
    {% endset %}

    {% if currentCase.restricted %}
        {{ hmctsBanner({
      type: 'warning',
      html: restrictionText,
      iconFallbackText: 'Warning'
      }) }}
    {% endif %} #}

    <h1 class="govuk-heading-l">Teams added to the case</h1>

    {{permissionsByTeam | safe}}

    {% set aboutPermissionLevelsHTML %}
      {% include "includes/components/shared/permissions-content.html" %}
    {% endset %}

    {{ govukDetails({
      summaryText: "About permission levels",
      html: aboutPermissionLevelsHTML,
      open: false
    }) }}

    {% set caseOwnerHTML %}
      {% if hasEditRights %}
        <p class="govuk-body">Only the case owner can add teams to the case.</p>
        {% else %}
        <p class="govuk-body">Only the case owner (OPSS Processing) can add teams to a case.</p>
      {% endif %}
    {% endset %}

    {{ permissionNotice({
      html: caseOwnerHTML
    }) }}

  </div>

</div>

{% endblock %}
