{% extends "mspsds-layout.html" %}
{% set currentPage      = 'case' %}
{% set currentCase = data.cases | withId(data['caseid']) %}
{% set currentCase = currentCase | attachCaseChildren(data) %}
{% set currentTeam = data.currentTeam %}
{# {% set currentCase.restricted = true %} #}

{% if bodyClasses %}
    {% set bodyClasses = bodyClasses + " mspsds-width-container case" %}
{% else %}
    {% set bodyClasses = " mspsds-width-container case" %}
{% endif %}

{% set navActive = 'cases' %}

{% set caseNavActive = 'settings' %}
{% set hasEditRights = true if (currentCase.assignee == data['currentUser']) else false %}

{% set significantDateLabel = "Last updated" if currentCase.activities.length > 1 else "Created" %}


{% block pageTitle %}
{% endblock %}

{% block header %}
  {{ super() }}
  {% set includeCaseActions = false %}

  {% include "includes/components/case/case-bar.html" %}

{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
      text: 'Back',
      href: '../overview'
  }) }}

{% endblock %}


{% set permissionsByLevel %}

<h2 class="govuk-heading-m">Teams added to case</h2>

{# Admin #}
{# <h3 class="govuk-heading-m">Teams with full view, edit and managing rights</h3> #}
<h3 class="govuk-heading-s">Full view, edit and manage</h3>

<p class="govuk-hint">Can set case permissions, add teams to the case and change assignment.</p>

{% set managePermissionsTeams = data.teamPermissions | filterAttr('permissionsLevel', 'admin') %}
<ul class="govuk-list govuk-list--bullet">
  <li>OPSS - Incident management (your team)</li>
  {% for team in managePermissionsTeams %}
  <li>{{team.teamName}} - <a href="permissions/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team={{team.teamName}}&teamPermissionsLevel={{team.permissionsLevel}}">change permissions</a></li>
  {% endfor %}
</ul>



{# Editor #}
{# <h3 class="govuk-heading-m">Teams with full view and editing rights</h3> #}
<h3 class="govuk-heading-s">Full view and edit</h3>
{% set viewAndEditPermissionsTeams = data.teamPermissions | filterAttr('permissionsLevel', 'edit') %}
<ul class="govuk-list govuk-list--bullet">
  {% for team in viewAndEditPermissionsTeams %}
    <li>{{team.teamName}} - <a href="permissions/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team={{team.teamName}}&teamPermissionsLevel={{team.permissionsLevel}}">change permissions</a></li>
  {% endfor %}
  {% if viewAndEditPermissionsTeams | length < 1 %}
  <li>No teams</li>
  {% endif %}
</ul>

{# Full view #}
{# <h3 class="govuk-heading-m">Teams full with viewing rights</h3> #}
<h3 class="govuk-heading-s">Full view</h3>
{% set viewFullPermissionsTeams = data.teamPermissions | filterAttr('permissionsLevel', 'view-full') %}
<ul class="govuk-list govuk-list--bullet">
  {% for team in viewFullPermissionsTeams %}
    <li>{{team.teamName}} - <a href="permissions/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team={{team.teamName}}&teamPermissionsLevel={{team.permissionsLevel}}">change permissions</a></li>
  {% endfor %}
  {% if viewFullPermissionsTeams | length < 1 %}
  <li>No teams</li>
  {% endif %}
</ul>

{# Full view #}
<h3 class="govuk-heading-m">Teams with default viewing rights</h3>
<p class="govuk-hint">Can view the case apart from sensitive information such as correspondence</p>

<ul class="govuk-list govuk-list--bullet">
  <li>All other teams</li>
</ul>

{% endset %}

{% set permissionsByTeam %}

  {% set restrictedBadge %}
    <span class="hmcts-badge hmcts-badge--red">Restricted</span>
  {% endset %}

  {% set changeLink %}
  <a href="" class="govuk-link govuk-body">Change</a>
  {% endset %}

  {% set restrictionLink %}
  <a href="restriction.html" class="govuk-link govuk-body">{{"Restrict access" if not currentCase.restricted else "Change case restriction"}}</a>
  {% endset %}

  {% if hasEditRights %}
    {% from "button/macro.njk"        import govukButton %}

    {{ govukButton({
      text: "Add a team to the case",
      href: "permissions/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team=new"
    }) }}
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

  {% endif %}

  {% from "table/macro.njk"         import govukTable %}

  {# Create teams array for table #}

  {# Remove admin teams so they can be sorted separately #}
  {% set adminTeams = data.teamPermissions | filterAttr('permissionsLevel', 'admin') | sort(attribute='teamName') %}
  {# Sort non admins #}
  {% set teamsWithoutAdmins = data.teamPermissions | removeAttr('permissionsLevel', 'admin') | sort(attribute='teamName')%}

  {# Combine admins and non admins #}
  {% set combinedTeams = [] %}
  {% for team in adminTeams %}
    {% set combinedTeams = (combinedTeams.push(
        team), combinedTeams) %}
  {% endfor %}
  {% for team in teamsWithoutAdmins %}
    {% set combinedTeams = (combinedTeams.push(
        team), combinedTeams) %}
  {% endfor %}

  {% set teams = [] %}
    {% for team in combinedTeams  %}

      {# Remap permission levels to human names #}
      {% set thePermissionLevel = '' %}
      {% if team.permissionsLevel == 'view-full' %}
        {% set thePermissionLevel = 'View full' %}
      {% elif team.permissionsLevel == 'edit' %}
        {% set thePermissionLevel = 'Edit' %}
      {% elif team.permissionsLevel == 'admin' %}
        {% set thePermissionLevel = 'Case owner' %}
      {% endif %}

      {# Generate change link for all except admin #}
      {% set changeLink %}
        {% if team.permissionsLevel != 'admin' %}
          <a href="permissions/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team={{team.teamName}}&teamPermissionsLevel={{team.permissionsLevel}}">Change</a>
        {% endif %}
      {% endset %}

      {% set theTeam = [
        {
          text: team.teamName
        },
        {
          text: thePermissionLevel
        },
        {
          html: changeLink if hasEditRights
        }
      ]
      %}
      {% set teams = (teams.push(
        theTeam), teams   ) %}

    {% endfor %}

    {{ govukTable({
      firstCellIsHeader: false,
      head: [
        {
          text: "Team name",
          classes: 'app-custom-class'
        },
        {
          text: "Permission level",
          classes: 'app-custom-class'
        },
        {
          text: "",
          classes: 'app-custom-class'
        }
      ],
      rows: teams
    }) }}

{% endset %}


{% block content %}

{# {% include "includes/components/case/case-navigation.html" %} #}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    {% set restrictionText %}
      <p class="govuk-body">This case is <strong>restricted</strong>. Only teams added to the case can view case details. <br><a href="restriction">See restriction details.</a></p>
    {% endset %}

    {% if currentCase.restricted %}
        {{ hmctsBanner({
      type: 'warning',
      html: restrictionText,
      iconFallbackText: 'Warning'
      }) }}
    {% endif %}


    <h1 class="govuk-heading-l">Teams added to case</h1>


    {{permissionsByTeam | safe}}



    {% set aboutPermissionLevelsHTML %}

    <h2 class="govuk-heading-m">The 4 permissions levels</h2>

    <p class="govuk-body">The aim of the Product safety database is to encourage the product safety community to share as much information as possible. However, sharing data must be done responsibly and there are different permission levels which correspond to a team’s level of involvement.</p>

    <p class="govuk-body">There are 4 permission levels.</p>

    <p class="govuk-body">Teams who are currently involved in the case have one of the following:</p>
     <ol class="govuk-list govuk-list--number">
      {# <li>Full view, edit and manage.</li> #}
      <li>Full view and edit.</li>
      <li>Full view.</li>
    </ol>

    <p class="govuk-body">Teams who are not involved in a case have:</p>
    <ol class="govuk-list govuk-list--number" start='4'>
      <li>Default view.</li>
    </ol>

    {% set detailsHTML %}
      {% include "includes/components/shared/permissions-table.html" %}
    {% endset %}

    {{ govukDetails({
      summaryText: "What can be seen at each permission level",
      html: detailsHTML,
      open: false
    }) }}

    {% if not currentCase.restricted %}
    <h3 class="govuk-heading-s">Restricting a case</h3>
    <p class="govuk-body">In exceptional circumstances, the case owner can <a href="restriction">restrict a case</a>.</p>
    {% endif %}

    {% endset %}

    {{ govukDetails({
      summaryText: "About permission levels",
      html: aboutPermissionLevelsHTML
    }) }}

    {% set caseOwnerHTML %}
      {% if hasEditRights %}
        <p class="govuk-body">Only the case owner (you and your team) can add teams to the case.</p>
        {% else %}
        <p class="govuk-body">Only the case owner (Ed Horsford or their team OPSS Processing) can add teams to a case.</p>
      {% endif %}
    {% endset %}

    {{ permissionNotice({
      html: caseOwnerHTML
    }) }}


  </div>

</div>


{% endblock %}
