{% extends "mspsds-layout.html" %}
{% set currentPage      = 'case' %}
{% set currentCase = data.cases | withId(data['caseid']) %}
{% set currentCase = currentCase | attachCaseChildren(data) %}
{% set currentTeam = data.currentTeam %}
{# {% set currentCase.restricted = true %} #}

{% if bodyClasses %}
    {% set bodyClasses = bodyClasses + " mspsds-width-container case" %}
{% else %}
    {% set bodyClasses = " mspsds-width-container case" %}
{% endif %}

{% set navActive = 'cases' %}

{% set caseNavActive = 'settings' %}
{% set hasEditRights = true if (currentCase.assignee == data['currentUser']) else false %}

{% set significantDateLabel = "Last updated" if currentCase.activities.length > 1 else "Created" %}




{% block pageTitle %}
{% endblock %}

{% block header %}
  {{ super() }}
  {% set includeCaseActions = false %}

  {% include "includes/components/case/case-bar.html" %}

{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
      text: 'Back',
      href: '/pages/case/settings/permissions'
  }) }}

{% endblock %}





{% block content %}

{# {% include "includes/components/case/case-navigation.html" %} #}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Case restriction</h1>

    {% if currentCase.restricted %}
    {% set restrictionTextHTML %}
      <p class="govuk-body">This case was restricted on <strong>3 June 2014</strong> by <strong>Ed Horsford (Trading Standards Southampton)</strong> for the following reason:</p>
      <p class="govuk-body">“We’re taking this manufacturer to court. Contact name@example.com if you need details.”</p>
    {% endset %}

    {{ govukInsetText({
      html: restrictionTextHTML
    }) }}

    {% endif %}

    <p class="govuk-body">This case is currently <strong>{{'restricted' if currentCase.restricted else 'unrestricted'}}</strong>. Unless a team or individual has been added to it, they cannot see the case details. They will be able to see who it is assigned to but it will appear as ‘restricted’ in the database.</p>

    {# <p class="govuk-body">This case is currently <strong>{{'restricted' if currentCase.restricted else 'unrestricted'}}</strong>.</p> #}

    {{ govukDetails({
      summaryText: "More detals about restricting a case",
      html: detailsHTML
    }) }}





    {% set detailsHTML %}

     some text about when to restrict, and what it means

    {% endset %}

    

    
    
    
    {% set restrictionButtonText %}
    {% if currentCase.restricted %}Unrestrict this case{% else %}Restrict this case{% endif %}
    {% endset %}

    

    <form action="./restriction/save" method="post" class="form">

      {{ govukInput({
        id:   "restricted",
        name: "restriction",
        value: "false" if currentCase.restricted else "true",
        type: "hidden"
      }) }}

      {{ govukButton({
        text: restrictionButtonText,
        classes: "mspsds-button--delete" if not currentCase.restricted
      }) }}


    </form>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>


{% endblock %}
