{% extends "mspsds-layout.html" %}
{% set currentPage      = 'case' %}
{% set currentCase = data.cases | withId(data['caseid']) %}
{% set currentCase = currentCase | attachCaseChildren(data) %}
{% set currentTeam = data.currentTeam %}
{# {% set currentCase.restricted = true %} #}

{% if bodyClasses %}
    {% set bodyClasses = bodyClasses + " mspsds-width-container case" %}
{% else %}
    {% set bodyClasses = " mspsds-width-container case" %}
{% endif %}

{% set navActive = 'cases' %}

{% set caseNavActive = 'settings' %}
{% set hasEditRights = true if (currentCase.assignee == data['currentUser']) else false %}

{% set significantDateLabel = "Last updated" if currentCase.activities.length > 1 else "Created" %}




{% block pageTitle %}
{% endblock %}

{% block header %}
  {{ super() }}
  {% set includeCaseActions = false %}

  {% include "includes/components/case/case-bar.html" %}

{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
      text: 'Back',
      href: '../overview'
  }) }}

{% endblock %}





{% block content %}

{# {% include "includes/components/case/case-navigation.html" %} #}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Case restriction</h1>

    {% if currentCase.restricted %}

    <p class="govuk-body">This case is currently <strong>restricted</strong>.</p>


    <p class="govuk-body">This case was restricted on <strong>3 June 2019</strong> by <strong>Jane Hawgreaves (OPSS Enforcement)</strong> for the following reason:</p>

    {{ govukInsetText({
      text: "“We’re taking this manufacturer to court. Contact name@example.com if you need details.”"
    }) }}


    <p class="govuk-body">Unless a team is added to the case, they cannot see  case details.</p>

    {% else %}

      <p class="govuk-body">This case is currently <strong>unrestricted</strong>.</p>
      <p class="govuk-body">Restrict the case to prevent teams not added to the case from being able to view any case details.</p>
    {% endif %}



    {# <p class="govuk-body">This case is currently <strong>{{'restricted' if currentCase.restricted else 'unrestricted'}}</strong>.</p> #}

    {% set detailsHTML %}
      Details about what restriction means
    {% endset %}

    {{ govukDetails({
      summaryText: "More detals about restricting a case",
      html: detailsHTML
    }) }}


    {% set restrictionButtonText %}
      {% if currentCase.restricted %}Unrestrict this case{% else %}Restrict this case{% endif %}
    {% endset %}


    <form action="./restriction/save" method="post" class="form">

      {{ govukInput({
        id:   "restricted",
        name: "restriction",
        value: "false" if currentCase.restricted else "true",
        type: "hidden"
      }) }}

      {{ govukButton({
        text: restrictionButtonText,
        classes: "mspsds-button--delete" if not currentCase.restricted
      }) }}


      {% set caseOwnerHTML %}
        {% if hasEditRights %}
          <p class="govuk-body">Only the case owner (you and your team) can change case restriction.</p>
          {% else %}
          <p class="govuk-body">Only the case owner (Ed Horsford or their team OPSS Processing) can change case restriction.</p>
        {% endif %}
      {% endset %}

      {{ permissionNotice({
        html: caseOwnerHTML
      }) }}

     {#  {{ permissionNotice({
        text: "Only teams that are added to the case will be able to see this page."
      }) }} #}

    </form>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>


{% endblock %}
