{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Business Page
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back to Businesses",
    href: "./business-list"
  }) }}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ pageTitle({
      type:       "Business",
      title:      "Red Zulu Ltd",
      subTitle:   "Trading as: Red Zulu"
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">
    {% include "includes/stat-highlight.html" %}
  </div>
  
</div>

{% include "panels/business-panel__Q1.html" %}

<hr class="govuk-section-break govuk-section-break--m" />

{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Full details",
      id: "full-details",
      panel: {
        html: fullDetailHtml
      }
    },
    {
      label: "Contact details",
      id: "contacts",
      panel: {
        html: contactsHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Related",
      id: "related",
      panel: {
        html: relatedItemsHtml
      }
    }
  ]
}) }}

{% endblock %}




{% set activityHtml %}
  {% from "includes/activity-timeline.html"       import activityTimeline %}
  {% from "includes/tab-title.html"               import tabTitle %}


  {{ tabTitle({
        title:      'Activity'
  }) }}

{{ activityTimeline([
  {
    title: "Has anyone recently advised on snap bracelets / slap wraps?",
    action: "Question added",
    html: '
      <a href="./question-1" class="mspsds-block-link">View Question details</a>'
  },
  {
    title: "Red Zulu – Slap Wrap",
    action: "Product added",
    html: '
      <a href="./product-1" class="mspsds-block-link">View product details</a>'
  },
  {
    action: "Business created"
  }
]) }}

{% endset -%}




{% set contactsHtml %}

  {% from "tab-sections/contact-section.html" import contactSection %}

  {{ contactSection({
    hasContacts: true,
    contacts: [
      {
        role:     'Main contact',
        name:     'Paul Jones',
        phone:    '0207 1234 5678',
        email:    'paul.jones@abc.np'
      },
      {
        role:     'Head of Procurement',
        name:     'Gemma Wilkinson',
        phone:    '',
        email:    'gemma.wilkinson@abc.np'
      }
    ]
  }) }}

{% endset -%}






{% set attachmentsHtml %}
  {% from "includes/attachment-list.html"         import attachmentList %}
  {% from "includes/tab-title.html"               import tabTitle %}

  {{ tabTitle({
        title:      'Attachments',
        controls:   '<a href="#" class="mspsds-block-link">Add new image</a> <a href="#" class="mspsds-block-link">Add new document</a>'
  }) }}

  {{ attachmentList(5) }}

{% endset -%}







{% set productsHtml %}
  {% from "includes/tab-title.html"               import tabTitle %}

  {{ tabTitle({
          title:      'Products',
          controls:   '<a href="#" class="mspsds-block-link">Add a product</a>'
  }) }}

  <div class="mspsds-product-list">
    {% include "panels/product-panel__Q1.html" %}
  </div>

{% endset -%}






{% set relatedItemsHtml %}
  {% from "includes/tab-title.html"               import tabTitle %}
  {% from "includes/case-card-list.html"          import caseCardList %}

  {% set filters = [{
    filterType: 'status',
    filterValues: ['Open']
  },{
    filterType: 'product',
    filterValues: ['Charge Worx, Travel plug adaptor']
  },{
    filterType: 'assignee',
    filterValues: [ data['c1-assigned'], data['c2-assigned'] ]
  }] %}


  {{ tabTitle({
        title:      'Related to this business'
  }) }}


  {{ caseCardList(filters, data['q1-assigned'], data['q2-assigned'], data['c1-assigned'], data['c2-assigned']) }}

{% endset -%}






{% set fullDetailHtml %}
  {% include "tab-sections/full-detail-business.html" %}
{% endset -%}




