{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Case Page
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back to Cases",
    href: "./case-list"
  }) }}

{% endblock %}


{% block content %}

{% from "includes/case-status.html" import caseStatus %}






{% from "includes/mspsds-confirmation.html" import confirmation %}

{% if updated == 'image-deleted' %}
  {{ confirmation("confirmation--image-deleted", "Image \"Image title\" deleted.", "Undo") }}
  {% set updated = '' %}
{% endif %}

{% if updated == 'product-removed' %}
  {{ confirmation("confirmation--product-removed", "Product \"Product title\" removed from this case.", "Undo") }}
  {% set updated = '' %}
{% endif %}

{% if updated == 'assigned' %}
  {{ confirmation("confirmation--question--assigned", "Case reassigned.") }}
  {% set updated = '' %}
{% endif %}







<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {{ pageTitle({
      type:       "Case: 1810-0001",
      title:      "Charge Worx, Travel plug adaptor –Electric shock, fire hazard"
    }) }}
  </div>

  <div class="govuk-grid-column-one-third">
    {{ govukTable({
      classes: "mspsds-case-status",
      firstCellIsHeader: true,
      rows: [
        [
          { html: '<span class="govuk-caption-m govuk-!-font-size-16">Status</span> Open'  },
          { html: '<a href="#" class="govuk-!-font-size-16">Change</a>'}
        ],
        [
          { html: '<span class="govuk-caption-m govuk-!-font-size-16">Assigned to</span>' + data['c1-assigned'] },
          { html: '<a href="./assign-c1" class="govuk-!-font-size-16">Change</a>' }
        ]
      ]
    }) }}
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--m" />

<div class="mspsds-overview">

  {% from "panels/case-why.html" import caseWhy %}
  {{ caseWhy({
    hazardType: "Electric shock, fire",
    hazardTo:   "Young children",
    hazardDescription: "Travel adaptor available from high-street store Game has been reported to have caused a fire and severe electric shocks. Has been reported more than 10 times in the last 2 months.",
    riskLevel: "Serious"
  }) }}


  {% include "panels/product-panel.html" %}

</div>


<hr class="govuk-section-break govuk-section-break--l" />

<h2 class="govuk-heading-l">Add new activity</h2>
{% include "panels/record-action.html" %}

<hr class="govuk-section-break govuk-section-break--m" />




{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Full details",
      id: "full-details",
      panel: {
        html: fullDetailHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Businesses",
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },
    {
      label: "Contacts",
      id: "contacts",
      panel: {
        html: contactsHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Related",
      id: "related",
      panel: {
        html: relatedItemsHtml
      }
    }
  ]
}) }}

{% endblock %}






{% set activityHtml %}
  {% include "tab-sections/activity.html" %}
{% endset -%}






{% set contactsHtml %}
  {% from "tab-sections/contact-section.html" import contactSection %}

  {{ contactSection({
    hasContacts: true,
    contacts: [
      {
        role:     'Main contact',
        name:     'Paul Jones',
        phone:    '0207 1234 5678',
        email:    'paul.jones@abc.np'
      },
      {
        role:     'Head of Procurement',
        name:     'Gemma Wilkinson',
        phone:    '',
        email:    'gemma.wilkinson@abc.np'
      }
    ]
  }) }}

{% endset -%}






{% set attachmentsHtml %}
  {% include "tab-sections/attachments.html" %}
{% endset -%}






{% set productsHtml %}
  {% from "includes/tab-title.html"               import tabTitle %}

  {{ tabTitle({
          title:      'Products',
          controls:   '<a href="#" class="mspsds-block-link">Add a product</a>'
  }) }}

  <div class="mspsds-product-list">
    {% include "panels/product-panel.html" %}
  </div>
{% endset -%}






{% set oldBusinessesHtml %}
  <h2 class="govuk-heading-l">Businesses</h2>
  <a href="#" class="mspsds-block-link">Add business</a>

  {% from "panels/linked-business-panel.html" import linkedBusinessPanel %}

  <div class="mspsds-business-list">
    {{ linkedBusinessPanel("Manufacturer") }}
    {{ linkedBusinessPanel("Importer") }}
    {{ linkedBusinessPanel("Distributor") }}
  </div>

{% endset -%}



{% set businessesHtml %}
  {% from "tab-sections/businesses-section.html"  import businessSection %}

  {{ businessSection({
    businesses: [
      {
        role:                   'Manufacturer',
        name:                   'Wonderlite Ltd.',
        address:                '48 Bush Road, London N1 1XQ',
        contact:                'Paul Jones, 0207 1234 5678, paul.jones@abc.np',
        primaryAuthority:      'Suffolk Trading Standards'
      }
    ]
  }) }}

{% endset -%}







{% set relatedItemsHtml %}
  {% from "includes/tab-title.html"               import tabTitle %}
  {% from "includes/case-card-list.html"          import caseCardList %}

  {% set filters = [{
    filterType: 'status',
    filterValues: ['Open']
  },{
    filterType: 'product',
    filterValues: ['Charge Worx, Travel plug adaptor']
  },{
    filterType: 'assignee',
    filterValues: [ data['c1-assigned'], data['c2-assigned'] ]
  }] %}


  {{ tabTitle({
        title:      'Related to this case'
  }) }}


  {{ caseCardList(filters, data['q1-assigned'], data['q2-assigned'], data['c1-assigned'], data['c2-assigned']) }}

{% endset -%}







{% set fullDetailHtml %}
  {% include "tab-sections/full-detail-case.html" %}
{% endset -%}



