
{% extends "mspsds-layout.html" %}

{% from "select/macro.njk"                import govukSelect %}

{% set bodyClasses = "mspsds-width-container case-list-3" %}


{% block pageTitle %}
  Case-list Page
{% endblock %}

{% block beforeContent %}

    {{ govukPhaseBanner({
        tag: {
          text: "beta"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  
    {{ siteNavV3([
      { 
        label: 'Home',
        link: './'
      }, { 
        label: 'Cases',
        link: './case-list',
        classes: 'active'
      }, { 
        label: 'Products',
        link: './product-list'
      }, { 
        label: 'Businesses',
        link: './business-list'
      }
    ]) }}

{% endblock %}






{% block content %}

{% set filters = [] %}


{% if data['quick-filter'] == 'me' %}
  {% set filters =     [{
        filterType:'assignee',
        filterValues:[ data['testing-name'] ]
      },
      {
        filterType:'status',
        filterValues:['Open', 'Draft']
      }] 
  %}
{% endif %}


{% if data['quick-filter'] == 'team' %}
  {% set filters =     [{
        filterType:'team',
        filterValues:[ data['testing-team'] ]
      },
      {
        filterType:'status',
        filterValues:['Open', 'Draft']
      }] 
  %}
{% endif %}



{% if data['quick-filter'] == 'priority' %}
  {% set filters =     [{
        filterType:'priority',
        filterValues:[ 'High' ]
      },
      {
        filterType:'status',
        filterValues:['Open', 'Draft']
      }] 
  %}
{% endif %}


{% if data['quick-filter'] == 'overdue' %}
  {% set filters =     [{
        filterType:'overdue',
        filterValues:[ 'Overdue' ]
      },
      {
        filterType:'status',
        filterValues:['Open', 'Draft']
      }] 
  %}
{% endif %}



{% if data['quick-filter'] == 'specific' %}

  {% if data['Status'] %}
    {% set filters = (filters.push({filterType: 'status', filterValues: data['Status']}), filters) %}
  {% endif %}

  {% if data['Type'] %}
    {% set filters = (filters.push({filterType: 'type', filterValues: data['Type']}), filters) %}
  {% endif %}

  {% if data['Priority'] %}
    {% set filters = (filters.push({filterType: 'priority', filterValues: data['Priority']}), filters) %}
  {% endif %}

  {% if data['case-assignee-autocomplete'] %}
    {% set filters = (filters.push({filterType: 'assignee', filterValues: [ data['case-assignee-autocomplete'] ] }), filters) %}
  {% endif %}



{% endif %}





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageTitle({
        title: "Cases"
      }) }}
    </div>
  </div>




  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-2 mspsds-case-control">
          {{ headerSearch({
            action:"search-results__cases-opt3.html",
            label: "Keywords"
          }) }}
      </div>
  </div>


  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-2 mspsds-case-control">
      
      <form id="case-filters">

          {% set otherHtml %}
                  
                  <div class="govuk-option-select ">
          
                    <input type="checkbox" class="option-select-display" id="option-select-display-Type" {{ 'checked' if data['Type'] }} >
                    <label for="option-select-display-Type" class="option-select-label">Type</label>

                    <div class="options-container">
                      <div>
                        {{ govukCheckboxes({
                          idPrefix: "Type",
                          name: "Type",
                          items: [
                            {
                              value: "Case",
                              text: "Case",
                              checked: checked("Type", "Case")
                            },
                            {
                              value: "Question",
                              text: "Question",
                              checked: checked("Type", "Question")
                            }
                          ]
                        }) }}
                      </div>
                    </div>

                </div>

                  <div class="govuk-option-select ">
          
                    <input type="checkbox" class="option-select-display" id="option-select-display-Status" {{ 'checked' if data['Status'] }}>
                    <label for="option-select-display-Status" class="option-select-label">Status</label>

                    <div class="options-container">
                      <div>
                        {{ govukCheckboxes({
                          idPrefix: "Status",
                          name: "Status",
                          items: [
                            {
                              value: "Open",
                              text: "Open",
                              checked: checked("Status", "Open")
                            },
                            {
                              value: "Closed",
                              text: "Closed",
                              checked: checked("Status", "Closed")
                            }
                            ,
                            {
                              value: "Draft",
                              text: "Draft",
                              checked: checked("Status", "Draft")
                            }
                          ]
                        }) }}
                      </div>
                    </div>

                </div>

                
                <div class="govuk-option-select ">
                    
                    <input type="checkbox" class="option-select-display" id="option-select-display-Priority" {{ 'checked' if data['Priority'] }}>
                    <label for="option-select-display-Priority" class="option-select-label">Priority</label>

                    <div class="options-container">
                      <div>
                        {{ govukCheckboxes({
                          idPrefix: "Priority",
                          name: "Priority",
                          items: [
                            {
                              value: "High",
                              text: "High",
                              checked: checked("Priority", "High")
                            },
                            {
                              value: "Medium",
                              text: "Medium",
                              checked: checked("Priority", "Medium")
                            },
                            {
                              value: "Low",
                              text: "Low",
                              checked: checked("Priority", "Low")
                            }
                          ]
                        }) }}
                      </div>
                    </div>

                </div>




                <div class="govuk-option-select ">

                    <input type="checkbox" class="option-select-display" id="option-select-display-Assignee" {{ 'checked' if data['Assignee'] }}>
                    <label for="option-select-display-Assignee" class="option-select-label">Assignee</label>
                    

                    <div class="options-container">
                      <div>
                        
                          <!-- {{ govukCheckboxes({
                            idPrefix: "Assignee",
                            name: "Assignee",
                            items: [
                              {
                                value: "Tim",
                                html: "Tim Harwood"
                              },
                              {
                                value: "Nick",
                                html: "Nick Golding"
                              }
                            ]
                          }) }} -->

                          <label for="case-assignee-autocomplete" class="label ">Name
                            <div id="case-assignee-autocomplete-container"></div>
                          </label>
                          
                        
                      </div>

                      
                    </div>


                </div>



                <div class="govuk-option-select ">
                    
                    <input type="checkbox" class="option-select-display" id="option-select-display-Created-Date" {{ 'checked' if data['from'] }}>
                    <label for="option-select-display-Created-Date" class="option-select-label">Created Date</label>

                    <div class="options-container">
                      <div>

                          <div class="label">
                            {{ govukDateInput({
                              id: "from",
                              namePrefix: "from",
                              fieldset: {
                                legend: {
                                  text: "From",
                                  isPageHeading: false
                                }
                              }
                            }) }}

                          </div>

                          
                          <div class="label">
                            {{ govukDateInput({
                              id: "to",
                              namePrefix: "to",
                              fieldset: {
                                legend: {
                                  text: "To",
                                  isPageHeading: false
                                }
                              }
                            }) }}  
                          </div>

                      </div>
                    </div>

                </div>



                <div class="govuk-option-select ">
                    
                    <input type="checkbox" class="option-select-display" id="option-select-display-Update-Date" {{ 'checked' if data['Status'] }}>
                    <label for="option-select-display-Update-Date" class="option-select-label">Update Date</label>

                    <div class="options-container">
                      <div>

                          <div class="label">
                            {{ govukDateInput({
                              id: "from",
                              namePrefix: "from",
                              fieldset: {
                                legend: {
                                  text: "From",
                                  isPageHeading: false
                                }
                              }
                            }) }}

                          </div>

                          
                          <div class="label">
                            {{ govukDateInput({
                              id: "to",
                              namePrefix: "to",
                              fieldset: {
                                legend: {
                                  text: "To",
                                  isPageHeading: false
                                }
                              }
                            }) }}  
                          </div>

                      </div>
                    </div>

                </div>



          {% endset -%}


          {% call govukFieldset({
              legend: {
                text:           "Filters",
                isPageHeading:  false
              }
            }) %}

              {{ govukRadios({
                idPrefix:   "quick-filter",
                name:       "quick-filter",
                items: [
                  {
                    value: "me",
                    text: "Assigned to me",
                    checked: checked("quick-filter", "me")
                  },
                  {
                    value: "team",
                    text: "Assigned to my team",
                    checked: checked("quick-filter", "team")
                  },
                  {
                    value: "priority",
                    text: "High Priority",
                    checked: checked("quick-filter", "priority")
                  },
                  {
                    value: "overdue",
                    text: "Overdue",
                    checked: checked("quick-filter", "overdue")
                  },
                  {
                    divider: "or"
                  },
                  {
                    value: "specific",
                    text: "Specific filters",
                    checked: checked("quick-filter", "specific"),
                    conditional: {
                      html: otherHtml
                    }
                  }

                ]
              }) }}

          {% endcall %}



      {{ govukButton({
        text: "Apply filters",
        name:   "filter-submit"
      }) }}


    </form>

    <script type="text/javascript">


      var assignees = [
        'Tim Harwood',
        'Nick Golding',
        'Ed Smith-Muller',
        'Amanda Farrell',
        'Adebola Showemimo'
      ];

      element = document.querySelector('#case-assignee-autocomplete-container');
      id = 'case-assignee-autocomplete';
      accessibleAutocomplete({
        element: element,
        id: id,
        name: id,
        showNoOptionsFound: false,
        source: assignees
      });
    </script>
      


    </div>
    

    <div class="govuk-grid-column-three-quarters mspsds-case-list-tab ">
      {{ caseCardList(filters, data['q1-assigned'], data['q2-assigned']) }}
    </div>


  </div>





{% endblock %}
