{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Case Page
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back to Cases",
    href: "./case-list"
  }) }}

{% endblock %}


{% block content %}

{% from "includes/case-status.html" import caseStatus %}





{% from "includes/mspsds-confirmation.html" import confirmation %}

{% if updated == 'image-deleted' %}
  {{ confirmation("confirmation--image-deleted", "Image \"Image title\" deleted.", "Undo") }}
  {% set updated = '' %}
{% endif %}

{% if updated == 'product-removed' %}
  {{ confirmation("confirmation--product-removed", "Product \"Product title\" removed from this case.", "Undo") }}
  {% set updated = '' %}
{% endif %}





<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {{ pageTitle({
      type:       "Case: 1811-0788",
      title:      "Multiple: Finger puppets, poison hazard"
    }) }}
  </div>

  <div class="govuk-grid-column-one-third">
    {{ govukTable({
      classes: "mspsds-case-status",
      firstCellIsHeader: true,
      rows: [
        [
          { html: '<span class="govuk-caption-m govuk-!-font-size-16">Status</span> Open'  },
          { html: '<a href="#" class="govuk-!-font-size-16">Change</a>'}
        ],
        [
          { html: '<span class="govuk-caption-m govuk-!-font-size-16">Assigned to</span>' + data['c2-assigned'] },
          { html: '<a href="./assign-c2" class="govuk-!-font-size-16">Change</a>' }
        ]
      ]
    }) }}
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--m" />

<div class="mspsds-overview">

  {% from "panels/case-why.html" import caseWhy %}
  {{ caseWhy({
    hazardType: "Poison hazard",
    hazardTo:   "Young children",
    hazardDescription: "High levels of phthalates suspected.",
    riskLevel: "Serious"
  }) }}


  {% include "panels/product-panel__C2-P1.html" %}

</div>


<hr class="govuk-section-break govuk-section-break--l" />


<h2 class="govuk-heading-l">Add new activity</h2>
{% include "panels/record-action.html" %}

<hr class="govuk-section-break govuk-section-break--m" />


{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Full detail",
      id: "full-detail",
      panel: {
        html: fullDetailHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Businesses",
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },
    {
      label: "Contacts",
      id: "contacts",
      panel: {
        html: contactsHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Related",
      id: "related",
      panel: {
        html: relatedItemsHtml
      }
    }
  ]
}) }}

{% endblock %}



{% set activityHtml %}
  <h2 class="govuk-heading-l">Activity</h2>

  {% from "includes/activity-timeline.html" import activityTimeline %}

  {{ activityTimeline([

    {
      title: "Wonderlite Ltd.",
      action: "Business added",
      html: '
        <p class="govuk-body">Role: <span class="govuk-!-font-weight-bold">Importer</span></p>
        <a href="./business" class="mspsds-block-link">View business details</a>'
    },
    {
      title: "Wonderlite Ltd.",
      action: "Business added",
      html: '
        <p class="govuk-body">Role: <span class="govuk-!-font-weight-bold">Distributor</span></p>
        <a href="./business" class="mspsds-block-link">View business details</a>'
    },
    {
      title: "Fun Toys",
      action: "Business added",
      html: '<p class="govuk-body">Role: <span class="govuk-!-font-weight-bold">Manufacturer</span></p>'
    },
    {
      title: "KL Original",
      action: "Business added",
      html: '<p class="govuk-body">Role: <span class="govuk-!-font-weight-bold">Manufacturer</span></p>'
    },
    {
      title: "Bears Friend",
      action: "Business added",
      html: '<p class="govuk-body">Role: <span class="govuk-!-font-weight-bold">Manufacturer</span></p>'
    },
    {
      title: "Finger Monkeys – Fun Toys",
      action: "Product added",
      html: '
        <a href="./product-3-case-2" class="mspsds-block-link">View product details</a>'
    },
    {
      title: "Finger Monkeys – Bears Friend",
      action: "Product added",
      html: '
        <a href="./product-2-case-2" class="mspsds-block-link">View product details</a>'
    },
    {
      title: "Finger Monkeys – KL Original",
      action: "Product added",
      html: '
        <a href="./product-1-case-2" class="mspsds-block-link">View product details</a>'
    },
    {
      action: "Case created"
    }
  ]) }}

{% endset -%}


{% set contactsHtml %}
  {% from "panels/contact-panel.html" import contactPanel %}

  <h2 class="govuk-heading-l">Contacts</h2>
  <a href="#" class="mspsds-block-link">Add a contact</a>

  <div class="govuk-grid-row">
    {{ contactPanel("Main contact", "Paul Jones", "020 7123 12345", "paul.jones@abc.np") }}
    {{ contactPanel("Head of Procurement", "Gemma Wilkinson", "", "gemma.wilkinson@abc.np") }}
  </div>

{% endset -%}



{% set attachmentsHtml %}
  {% include "tab-sections/attachments.html" %}
{% endset -%}


{% set productsHtml %}
  {% include "tab-sections/products-list__C2.html" %}
{% endset -%}



{% set businessesHtml %}
  {% from "table/macro.njk" import govukTable %}
  {% from "panels/linked-business-panel.html" import linkedBusinessPanel %}


  <h2 class="govuk-heading-l">Businesses</h2>
  <a href="#" class="mspsds-block-link">Add business</a>

  <div class="mspsds-business-list">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">Manufacturer</h3>

          {{ govukTable({
            firstCellIsHeader: true,
            classes: "govuk-!-margin-bottom-4",
            rows: [
              [
                { text: "Name" },
                { text: " KL Original" }
              ],
              [
                { text: "Main address" },
                { text: "Unknown" }
              ],
              [
                { text: "Main contact" },
                { text: "Unknown" }
              ]
            ]
          }) }}

          {{ govukTable({
            firstCellIsHeader: true,
            classes: "govuk-!-margin-bottom-4",
            rows: [
              [
                { text: "Name" },
                { text: " Bears Friend" }
              ],
              [
                { text: "Main address" },
                { text: "Unknown" }
              ],
              [
                { text: "Main contact" },
                { text: "Unknown" }
              ]
            ]
          }) }}

          {{ govukTable({
            firstCellIsHeader: true,
            classes: "govuk-!-margin-bottom-4",
            rows: [
              [
                { text: "Name" },
                { text: "Fun Toys" }
              ],
              [
                { text: "Main address" },
                { text: "Unknown" }
              ],
              [
                { text: "Main contact" },
                { text: "Unknown" }
              ]
            ]
          }) }}
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m" />

      {{ linkedBusinessPanel("Importer") }}
      
      <hr class="govuk-section-break govuk-section-break--m" />
      
      {{ linkedBusinessPanel("Distributor") }}

  </div>



{% endset -%}




{% set relatedItemsHtml %}
  <h2 class="govuk-heading-l">Linked to this case</h2>

  {% include "includes/linked-items.html" %}

  <h2 class="govuk-heading-l">Potentially related to this case</h2>

  {% include "includes/potential-relationships.html" %}

{% endset -%}



{% set fullDetailHtml %}
  {% include "tab-sections/full-detail-case.html" %}
{% endset -%}
