{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Product Page
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back to Products",
    href: "./product-list"
  }) }}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    {{ pageTitle({
      type:       "Product",
      title:      "Slap Wrap — Red Zulu",
      subTitle:   "Added 10/10/2018"
    }) }}


  </div>

  <div class="govuk-grid-column-one-third">
    {% include "includes/stat-highlight.html" %}
  </div>

</div>


<div class="mspsds-overview">
  {% include "panels/product-panel__Q1.html" %}
</div>


<hr class="govuk-section-break govuk-section-break--m" />

{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Full Detail",
      id: "full-detail",
      panel: {
        html: fullDetailHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Businesses",
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },

    {
      label: "Related",
      id: "related",
      panel: {
        html: relatedItemsHtml
      }
    }
  ]
}) }}

{% endblock %}




{% set activityHtml %}
  <h2 class="govuk-heading-l">Activity</h2>

  {% from "includes/activity-timeline.html" import activityTimeline %}

  {{ activityTimeline([
      {
        action: "Comment added",
        text: "Definitely something dubious about this product"
      },
      {
        title: "Has anyone recently advised on snap bracelets / slap wraps?",
        action: "Question added",
        html: '
          <a href="./question-1" class="mspsds-block-link">View Question details</a>'
      },
      {
      title: "Red Zulu",
      action: "Business added",
      html: '
        <p class="govuk-body">Role: <span class="govuk-!-font-weight-bold">Manufacturer</span></p>
        <a href="./business" class="mspsds-block-link">View business details</a>'
    },
    {
      action: "Product created"
    }
  ]) }}

{% endset -%}



{% set attachmentsHtml %}
  <h2 class="govuk-heading-l">Attachments</h2>
  <a href="#">Add new image</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Add new document</a>

  {% from "includes/attachment-list.html" import attachmentList %}

  {{ attachmentList(5) }}

{% endset -%}



{% set businessesHtml %}
  {% include "tab-sections/businesses-list.html" %}
{% endset -%}



{% set legislationHtml %}
  <h2 class="govuk-heading-l">Legislation</h2>
{% endset -%}



{% set relatedItemsHtml %}

  <h2 class="govuk-heading-l">Linked to this product</h2>
  {% include "includes/linked-items.html" %}

  <h2 class="govuk-heading-l">Potentially related to this product</h2>
  {% include "includes/potential-relationships.html" %}

{% endset -%}




{% set fullDetailHtml %}
  {% include "tab-sections/full-detail-product-1.html" %}
{% endset -%}



