{% extends "mspsds-layout.html" %}

{% set bodyClasses = "mspsds-width-container case-list-3" %}

{% block pageTitle %}
  Ask a question – Questioner type
{% endblock %}


{% block beforeContent %}

    {{ govukPhaseBanner({
        tag: {
          text: "beta"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

{% endblock %}


{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageTitle({
        title: "Setup"
      }) }}
    </div>
  </div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="./index" method="post" class="form">

      <input type="hidden" name="Assignee"  value="Me">
      <input type="hidden" name="Status"    value="Open">
      <input type="hidden" name="Sort"      value="latest">



      {% call govukFieldset({
        legend: {
          text:           "Who's testing?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukRadios({
          idPrefix:   "testing-name",
          name:       "testing-name",
          items: [
            {
              value: "Tim Harwood",
              text: "Tim Harwood",
              checked: checked("testing-name", "Tim Harwood")
            },
            {
              value: "Nick Golding",
              text: "Nick Golding",
              checked: checked("testing-name", "Nick Golding")
            },
            {
              value: "Amanda Farrell",
              text: "Amanda Farrell",
              checked: checked("testing-name", "Amanda Farrell")
            },
            {
              value: "Adebola Showemimo",
              text: "Adebola Showemimo",
              checked: checked("testing-name", "Adebola Showemimo")
            },
            {
              value: "Christopher Hunter",
              text: "Christopher Hunter",
              checked: checked("testing-name", "Christopher Hunter")
            },
            {
              value: "Adrian Hanratty",
              text: "Adrian Hanratty",
              checked: checked("testing-name", "Adrian Hanratty")
            }
          ]
        }) }}

      {% endcall %}
    


      {% call govukFieldset({
        legend: {
          text:           "What team?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukRadios({
          idPrefix:   "testing-team",
          name:       "testing-team",
          items: [
            {
              value: "Processing",
              text: "Processing",
              checked: checked("testing-team", "Processing")
            },
            {
              value: "IMU",
              text: "IMU",
              checked: checked("testing-team", "IMU")
            },
            {
              value: "TSC",
              text: "TSC",
              checked: checked("testing-team", "TSC")
            }
          ]
        }) }}

      {% endcall %}





      {% call govukFieldset({
        legend: {
          text:           "Who is Question 1 (slap wraps) assigned to?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukRadios({
          idPrefix:   "q1-assigned",
          name:       "q1-assigned",
          items: [
            {
              value: "Tim Harwood",
              text: "Tim Harwood",
              checked: checked("q1-assigned", "Tim Harwood")
            },
            {
              value: "Nick Golding",
              text: "Nick Golding",
              checked: checked("q1-assigned", "Nick Golding")
            },
            {
              value: "Amanda Farrell",
              text: "Amanda Farrell",
              checked: checked("q1-assigned", "Amanda Farrell")
            },
            {
              value: "Adebola Showemimo",
              text: "Adebola Showemimo",
              checked: checked("q1-assigned", "Adebola Showemimo")
            },
            {
              value: "Christopher Hunter",
              text: "Christopher Hunter",
              checked: checked("q1-assigned", "Christopher Hunter")
            },
            {
              value: "Adrian Hanratty",
              text: "Adrian Hanratty",
              checked: checked("q1-assigned", "Adrian Hanratty")
            }
          ]
        }) }}

      {% endcall %}



      {% call govukFieldset({
        legend: {
          text:           "Who is Question 2 (toy regulations) assigned to?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukRadios({
          idPrefix:   "q2-assigned",
          name:       "q2-assigned",
          items: [
            {
              value: "Tim Harwood",
              text: "Tim Harwood",
              checked: checked("q2-assigned", "Tim Harwood")
            },
            {
              value: "Nick Golding",
              text: "Nick Golding",
              checked: checked("q2-assigned", "Nick Golding")
            },
            {
              value: "Amanda Farrell",
              text: "Amanda Farrell",
              checked: checked("q2-assigned", "Amanda Farrell")
            },
            {
              value: "Adebola Showemimo",
              text: "Adebola Showemimo",
              checked: checked("q2-assigned", "Adebola Showemimo")
            },
            {
              value: "Christopher Hunter",
              text: "Christopher Hunter",
              checked: checked("q2-assigned", "Christopher Hunter")
            },
            {
              value: "Adrian Hanratty",
              text: "Adrian Hanratty",
              checked: checked("q2-assigned", "Adrian Hanratty")
            }
          ]
        }) }}

      {% endcall %}





      {% call govukFieldset({
        legend: {
          text:           "Who is Case 1 (Charge worx) assigned to?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukRadios({
          idPrefix:   "c1-assigned",
          name:       "c1-assigned",
          items: [
            {
              value: "Tim Harwood",
              text: "Tim Harwood",
              checked: checked("c1-assigned", "Tim Harwood")
            },
            {
              value: "Nick Golding",
              text: "Nick Golding",
              checked: checked("c1-assigned", "Nick Golding")
            },
            {
              value: "Amanda Farrell",
              text: "Amanda Farrell",
              checked: checked("c1-assigned", "Amanda Farrell")
            },
            {
              value: "Adebola Showemimo",
              text: "Adebola Showemimo",
              checked: checked("c1-assigned", "Adebola Showemimo")
            },
            {
              value: "Christopher Hunter",
              text: "Christopher Hunter",
              checked: checked("c1-assigned", "Christopher Hunter")
            },
            {
              value: "Adrian Hanratty",
              text: "Adrian Hanratty",
              checked: checked("c1-assigned", "Adrian Hanratty")
            }
          ]
        }) }}

      {% endcall %}


      {% call govukFieldset({
        legend: {
          text:           "Who is Case 2 (finger puppets) assigned to?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukRadios({
          idPrefix:   "c2-assigned",
          name:       "c2-assigned",
          items: [
            {
              value: "Tim Harwood",
              text: "Tim Harwood",
              checked: checked("c2-assigned", "Tim Harwood")
            },
            {
              value: "Nick Golding",
              text: "Nick Golding",
              checked: checked("c2-assigned", "Nick Golding")
            },
            {
              value: "Amanda Farrell",
              text: "Amanda Farrell",
              checked: checked("c2-assigned", "Amanda Farrell")
            },
            {
              value: "Adebola Showemimo",
              text: "Adebola Showemimo",
              checked: checked("c2-assigned", "Adebola Showemimo")
            },
            {
              value: "Christopher Hunter",
              text: "Christopher Hunter",
              checked: checked("c2-assigned", "Christopher Hunter")
            },
            {
              value: "Adrian Hanratty",
              text: "Adrian Hanratty",
              checked: checked("c2-assigned", "Adrian Hanratty")
            }
          ]
        }) }}

      {% endcall %}



      {% call govukFieldset({
        legend: {
          text:           "Create new – flow start",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukInput({
          label: {
            text: "URL (from /)"
          },
          id: "create-url",
          name: "create-url"
        }) }}

      {% endcall %}



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


  </div>
</div>




{% endblock %}
