{% extends "mspsds-layout.html" %}

{% set bodyClasses = "mspsds-width-container case-list-3" %}

{% block pageTitle %}
  Ask a question – Questioner type
{% endblock %}


{% block beforeContent %}

    {{ govukPhaseBanner({
        tag: {
          text: "beta"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  
    {{ siteNavV3([
      { 
        label: 'Home',
        link: './',
        classes: 'active'
      }, { 
        label: 'Cases',
        link: './case-list'
      }, { 
        label: 'Products',
        link: './product-list'
      }, { 
        label: 'Businesses',
        link: './business-list'
      }
    ]) }}

{% endblock %}


{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageTitle({
        title: "Setup"
      }) }}
    </div>
  </div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="./index" method="post" class="form">



      {% call govukFieldset({
        legend: {
          text:           "Who's testing?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukRadios({
          idPrefix:   "testing-name",
          name:       "testing-name",
          items: [
            {
              value: "Tim Harwood",
              text: "Tim Harwood",
              checked: checked("testing-name", "Tim Harwood")
            },
            {
              value: "Nick Golding",
              text: "Nick Golding",
              checked: checked("testing-name", "Nick Golding")
            },
            {
              value: "Amanda Farrell",
              text: "Amanda Farrell",
              checked: checked("testing-name", "Amanda Farrell")
            },
            {
              value: "Adebola Showemimo",
              text: "Adebola Showemimo",
              checked: checked("testing-name", "Adebola Showemimo")
            }
          ]
        }) }}

      {% endcall %}
    


      {% call govukFieldset({
        legend: {
          text:           "What team?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukRadios({
          idPrefix:   "testing-team",
          name:       "testing-team",
          items: [
            {
              value: "Processing",
              text: "Processing",
              checked: checked("testing-team", "Processing")
            },
            {
              value: "IMU",
              text: "IMU",
              checked: checked("testing-team", "IMU")
            },
            {
              value: "TSC",
              text: "TSC",
              checked: checked("testing-team", "TSC")
            }
          ]
        }) }}

      {% endcall %}



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


  </div>
</div>




{% endblock %}
