{% extends "includes/templates/flow.html" %}

{% block pageTitle %}
Record phonecall
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/root/case"
}) }}
{% endblock %}

{% block content %}
{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Record phonecall"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="./03p-add-phonecall-confirm" method="post" class="form">

      {% from "includes/components/correspondence/correspondence-summary.html" import correspondenceSummary %}
      {{ correspondenceSummary("Give an overview of the phonecall") }}

      {% call govukFieldset({
        legend: {
          text: "Details",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukFileUpload({
          hint: {
            text:     "Upload the transcript if you have one, or enter notes below",
            classes:  "govuk-!-width-full"
          },
          id: "correspondence-file-upload-1",
          name: "correspondence-file-upload-1"
        }) }}

        {{ govukTextarea({
          label: {
            text:     "Notes",
            classes:  "govuk-!-width-two-thirds"
          },
          name: "correspondence-content",
          id:   "correspondence-content"
        }) }}
      {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
