{% extends "mspsds-layout.html" %}

{% block pageTitle %}
Record testing request
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/case"
}) }}
{% endblock %}

{% block content %}
{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Record testing request"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="./02-record-testing-request-confirm" method="post" class="form">

      {% from "includes/components/shared/autocomplete-input.html" import autocompleteInput %}
      {% set products = [
        'Travel plug adaptor — Charge Worx 931L',
        'iPhone charger – unbranded, white',
        'Travel plug adaptor – Multipower 94998'
      ] %}

      {{ autocompleteInput({
        idPrefix: "case-products", 
        name:     "TODO-product-input-name", 
        legend:   "Which product will be tested?", 
        hint:     "Only products already added to the case are listed. <a href='#'>Add a product</a>", 
        values:   products}) 
      }}

      {{ govukInput({
        label: {
          text: "Test result title or test type",
          classes: "govuk-label--l"
        },
        hint: {
          text: "A descriptive name for this test. For example, ‘Tested for electrical safety’ or ‘Emissions test’"
        },
        id: "event-name",
        name: "event-name"
      }) }}


      {% from "includes/legislation-input.html" import legislationInput %}
      {{ legislationInput("Against which legislation?") }}

      {% from "date-input/macro.njk"    import govukDateInput %}
      {{ govukDateInput({
        id:         "testing-request-date",
        namePrefix: "testing-request-date",
        fieldset: {
          legend: {
            text: "Date of test (optional)",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 31 3 2018"
        }
      }) }}

      {% call govukFieldset({
        legend: {
          text: "Further details",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      }) %}
        {{ govukTextarea({
          name: "testing-request-details",
          id:   "testing-request-details"
        }) }}
      {% endcall %}

      {% from "includes/attachment-input.html" import attachmentInput %}
      {{ attachmentInput("Related attachments", "testing-request") }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
