{% extends "mspsds-layout.html" %}

{% block pageTitle %}
Confirm testing request details
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/case"
}) }}
{% endblock %}

{% block content %}
{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Confirm testing request details"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="../../case" method="post" class="form">

      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            { text: "Product" },
            { text: "Travel plug adaptor — Charge Worx 931L" }
          ],
          [
            { text: "Legislation" },
            { text: "General Product Safety Regulations 2005" }
          ],
          [
            { text: "Date of request" },
            { text: "25/9/2018" }
          ],
          [
            { text: "Details" },
            { text: "User's description details in here" }
          ],
          [
            { text: "Attachment" },
            { text: "test-request-form.pdf" }
          ],
          [
            { text: "Attachment description" },
            { text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt." }
          ]
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
      <a class="govuk-link mspsds-block-link" href="./01-record-testing-request">Edit details</a>

    </form>

  </div>
</div>

{% endblock %}
