
{% set currentLocation          = data.locations | withId(data['locationid']) %}
{% set currentBusiness          = data.businesses | withId(data['businessid']) | attachBusinessChildren(data) %}
{% set currentBizLocation       = currentBusiness.locations | withId(data['locationid']) %}


    <div class="govuk-grid-column-two-thirds">

      {# Doesn't get displayed, but sets an id on the model #}
        {{ govukInput({
          id:   "locationid",
          name: "locationid",
          value: data['locationid'],
          type: "hidden"
        }) }}

        {{ govukInput({
          id:   "businessid",
          name: "businessid",
          value: data['businessid'],
          type: "hidden"
        }) }}

      
      {% set locationRows = [] %}

        {% set locationRows = ( locationRows.push([
          {text: 'Name'},
          {text: currentBizLocation.role}
        ]), locationRows ) %}

        {% set locationRows = ( locationRows.push([
          {text: 'Address'},
          {text: currentBizLocation.address}
        ]), locationRows ) %}

        {% set locationRows = ( locationRows.push([
          {text: 'Postcode'},
          {text: currentBizLocation.postcode}
        ]), locationRows ) %}

        {% set locationRows = ( locationRows.push([
          {text: 'Phone'},
          {text: currentBizLocation.phone}
        ]), locationRows ) %}


        {{ govukTable({
            firstCellIsHeader: true,
            rows: locationRows
        }) }}

    </div>