

    <div class="govuk-grid-column-two-thirds">

      {# Doesn't get displayed, but sets an id on the model #}
        {{ govukInput({
          id:   "locationid",
          name: "locationid",
          value: data['locationid'],
          type: "hidden"
        }) }}

        {{ govukInput({
          id:   "businessid",
          name: "businessid",
          value: data['businessid'],
          type: "hidden"
        }) }}


            {% call govukFieldset({
              legend: {
                text: "Locations details",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: false
              }
            }) %}
              

              {{ govukInput({
                label: {
                  text:   "Name"
                },
                hint: {
                  text:   "E.g. Main office, Warehouse"
                },
                classes:  "govuk-!-width-two-thirds",
                id:       "location-name",
                name:     "location[name]",
                value:    currentBizLocation.role
              }) }}



              {{ govukTextarea({
                name: "location[address]",
                id:   "location-address",
                classes: "govuk-!-width-two-thirds",
                label: {
                  text: "Address"
                },
                value:    currentBizLocation.address
              }) }}
              


              {{ govukInput({
                label: {
                  text: "City/Town"
                },
                classes: "govuk-!-width-two-thirds",
                id:   "location-city",
                name: "location[city]",
                value:    currentBizLocation.city
              }) }}



              {{ govukInput({
                label: {
                  text: "Country"
                },
                classes: "govuk-!-width-two-thirds",
                id:   "location-country",
                name: "location[country]",
                value:    currentBizLocation.country
              }) }}



              {{ govukInput({
                label: {
                  text: "Post-code"
                },
                classes: "govuk-!-width-two-thirds",
                id:   "location-postcode",
                name: "location[postcode]",
                value:    currentBizLocation.postcode
              }) }}


              {{ govukInput({
                label: {
                  text: "Phone number"
                },
                classes: "govuk-!-width-two-thirds",
                id:   "location-phone",
                name: "location[phone]",
                value:    currentBizLocation.phone
              }) }}


            

            {% endcall %}

    </div>