{% extends "mspsds-layout.html" %}


{% block pageTitle %}
  Status information
{% endblock %}

{% set currentCase = data.cases | withId(data['caseid']) %}

{% block header %}
  {{ super() }}
  {% set includeCaseActions = false %}

  {% include "includes/components/case/case-navigation.html" %}

{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "/root/case"
  }) }}

{% endblock %}


{% block content %}

  {{ pageTitle({
    type:   "Case: " + data.caseid,
    title:  "Status information"
  }) }}

  {% set currentCase = data.cases | withId(data.caseid) %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="save" method="post" class="form">

        {% call govukFieldset({
          legend: {
            text:           "Status",
            isPageHeading:  false,
            classes:        "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukRadios({
            idPrefix:   "status",
            name:       "status",
            items: [
              {
                value:  "Open",
                text:   "Open",
                checked: currentCase.status == "Open"
              },
              {
                value:  "Closed",
                text:   "Closed",
                checked: currentCase.status == "Closed"
              }
            ]
          }) }}
          
        {% endcall %}
        

        {% call govukFieldset({
          legend: {
            text: "Comment / rationale",
            classes: "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukTextarea({
            hint: {
              text: "Why are you setting it to this status?"
            },
            classes: "govuk-!-width-two-thirds",
            id:   "status-description",
            name: "status-description"
          }) }}

        {% endcall %}
        
        {{ govukButton({text: "Continue"}) }}

      </form>

    </div>
  </div>

{% endblock %}
