{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'Add a risk assessment' %}
{% set formAction         = '../overview' %}
{% set returnLink = {href:'/pages/flows/create-new/test/index', text: ''} %}

{% if currentItemIndex == 'new' %}
  {% set theTestResult = data.testResult %}
{% else %}
  {% set theTestResult = data.new.report.testResult.testResults[currentItemIndex] %}
{% endif %}

{% set viewContext = 'add' %}


{% block flow %}
<form action="{{formAction}}" method="post" class="form">

    <h1 class="govuk-heading-l">{{pageHeading}}</h1> 

    {% include "includes/components/shared/risk-assessment/record-risk-assessment.html" %}


    <div class="govuk-form-group">
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>

      

</form>
{% endblock %}
