.mspsds-attachment-list {
  @include govuk-responsive-margin(6, "top");
}

.mspsds-attachment-list__image-title {
  margin-bottom: govuk-spacing(0);
}

.mspsds-attachment-list__image-date {
  color: $govuk-secondary-text-colour;
}

.mspsds-attachment-list__document-file-details {
  position: relative;
}

.mspsds-attachment-list__delete-button {
  @include govuk-responsive-margin(2, "bottom");
}
