.mspsds-attachment-list,
.mspsds-attachment-panel {
  @include govuk-responsive-margin(6, "top");

    &__title, 
    &__image-title {
      margin-bottom: govuk-spacing(0);
    }

    &__date,
    &__image-date {
      color: $govuk-secondary-text-colour;
    }

    &__file-details,
    &__document-file-details {
      position: relative;
    }

    &__delete-button {
      @include govuk-responsive-margin(2, "bottom");
    }

}


