@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

.mspsds-button {

    & + & {
        margin-left: govuk-spacing(9)
    }

    &--delete {
            background-color:  $govuk-error-colour;
            box-shadow: 0 2px 0 shade($govuk-error-colour, 50%);

        &:hover, 
        &:focus {
            background-color: shade($govuk-error-colour, 10%);
        }
    }
}


/* ==========================================================================
   #BUTTON
   Unfortunately GDS don’t have a secondary button available.
   ========================================================================== */

.hmcts-button--secondary {
  background-color: govuk-colour("grey-3");
  box-shadow: 0 2px 0 rgba(govuk-colour("grey-1"), .7);
  color: govuk-colour("black");

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $govuk-text-colour;
  }

  &:hover,
  &:focus,
  &:link:focus {
    background-color: rgba(govuk-colour("grey-2"), .7);
    color: $govuk-text-colour;

    // IE8 does not support RGBA, provide fallback
    @include govuk-if-ie8 {
      background-color: #d3d4d5; // 70% of grey-2
    }

  }

}
