@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

.mspsds-button {

    & + & {
        margin-left: govuk-spacing(9)
    }

    &--delete {
            background-color:  $govuk-error-colour;
            box-shadow: 0 2px 0 shade($govuk-error-colour, 50%);

        &:hover, 
        &:focus {
            background-color: shade($govuk-error-colour, 10%);
        }
    }
}



.mspsds-button--delete {
  
}