
$marginIndent: 10px;

.mspsds-case-sort {
    float: right;
    padding: 0 15px;
}

.mspsds-case-control {
    //background-color:   govuk-colour("grey-3");
    //@include govuk-responsive-padding(4);

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}




.mspsds-case-card {
    
    position:           relative;
    display: flex;

    box-sizing: border-box;
    @include govuk-responsive-margin(1, "bottom");
    

    color: govuk-colour("black");

    & * {
        box-sizing: border-box;
    }

    
    @include govuk-responsive-padding(2);


    &__indentifier {
        display: inline-block;
        width: grid-width( one-half);
        position: absolute;

        @include govuk-typography-responsive($size: 14);
        
        text-transform: uppercase;
        color: govuk-colour("grey-1");   
    }


    &__product,
    &__hazard {
        display: block;
    }
    
    &__title {
        display: inline-block;
        width: grid-width(one-half);

        @include govuk-responsive-margin(4, "top");

        @include govuk-typography-responsive($size: 19);
        @include govuk-typography-weight-bold();


        &:before {
            content: " ";
            position: absolute;
            top:    0;
            bottom: 0;
            left:   0;
            right:  0;

            border:  1px solid govuk-colour("grey-3");
        }

        &:hover:before,
        &:focus:before {
            border:  1px solid currentColor;
            background:         inherit;
            mix-blend-mode:     darken;
        }
    }

    &__state {
        display: inline-flex;
        justify-content: flex-end;

        width: grid-width(one-half);

        .mspsds-case-filter {
            //float: left;
        }
    }

    &__match {
        width: grid-width(one-half);
    }



    &__assignee {
        width: grid-width(one-half);
    }


    &__dateUpdated {
        width: auto;
    }


    &__status {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    &__dateCreated {
        display: none;
    }

    &--Draft {
        font-style: italic;

        & * {
             @include govuk-typography-weight-regular();
        }

    }

    &--Closed {
        
        background-color:   govuk-colour("white");
        color:              govuk-colour("grey-1"); 

        & * {
             @include govuk-typography-weight-regular();
             color:     govuk-colour("grey-1");   
        }

    }



    &--Draft  &__indentifier, 
    &--Draft  &__title,
    &--Closed  &__indentifier, 
    &--Closed  &__title {
        @include govuk-responsive-padding(3, "left");
    }
    
    
    &--Closed  &__status,
    &--Draft  &__status {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        background-color:   govuk-colour("blue");
        color:              govuk-colour("white");

        .mspsds-case-filter__key {
            display: none;
        }

        .mspsds-case-filter__value {
            
            @include govuk-typography-responsive($size: 14);
            line-height: 1;
            text-transform: uppercase;
            color:              govuk-colour("white");

            transform-origin: top left;
            transform: rotate(-90deg);
            position: absolute;
            top: 55%;
            left: 0;
        }
    }

    &--Closed  &__status {
        background-color:   govuk-colour("grey-1");
        color:              govuk-colour("white");

        .mspsds-case-filter__value {
            top: 60%;
        }
    }





}