.mspsds-case-filter {

  margin: govuk-spacing(0);
  margin-right: govuk-spacing(3);
  display: inline-block;
  width: auto;

  &__value {
    margin: govuk-spacing(0);
  }

}

.mspsds-case-filters {
	.mspsds-case-filter {
		margin-right: govuk-spacing(0);
	}

	.mspsds-case-filter__arrow-down {
	    width: 24px;
	    height: 24px;
	    margin-right: govuk-spacing(3);
	}
}

