.mspsds-case-filter {

  margin: govuk-spacing(0);
  padding-right: govuk-spacing(3);
  display: inline-block;
  width: auto;

  &__value {
    margin: govuk-spacing(0);
  }

}

.mspsds-case-filters {

    position: relative;

    &--open {
        background-color:   govuk-colour("grey-3");
        @include govuk-responsive-padding(4);
    }

    &--inline {
        margin-top: 30px;
    }

	.mspsds-case-filter {
		padding-right: govuk-spacing(0);
	}

    .mspsds-case-filter + .mspsds-case-filter,
    .mspsds-case-filter + .mspsds-block-link {
        margin-left: govuk-spacing(2);
    }

	.mspsds-case-filter__arrow-down {
        width: 16px;
        height: 16px;
        vertical-align: text-top;
        margin-right: govuk-spacing(2);
	}
}

.mspsds-case-filter-controls {
  
  .govuk-form-group {
    margin-bottom: govuk-spacing(0);
  }

  tr {
    td:nth-child(1) {
      width:20%;
    }

    td:nth-child(2) {
      width:60%;
    }

    td:nth-child(3) {
     width:20%; 
    } 
  }
}
