.mspsds-case-why-panel .govuk-grid-column-two-thirds .govuk-grid-column-one-half:first-child {
  padding-left: govuk-spacing(0);
}

.mspsds-case-why-panel .govuk-grid-column-two-thirds .govuk-grid-column-one-half:nth-child(2) {
  padding-right: govuk-spacing(0);
}

.mspsds-case-why-panel .govuk-grid-column-two-thirds .govuk-grid-column-full {
  padding-left: govuk-spacing(0);
  padding-right: govuk-spacing(0);
}
