.mspsds-case-status {
  h2 {
    margin-bottom: govuk-spacing(0);
  }

  td {
    // TODO:Dev - Don't use !important if you can avoid it... put classes on the tds
    vertical-align: bottom !important;
    text-align: right;
  }
}
