.mspsds-confirmation {
  border-left: solid 8px govuk-colour("turquoise");
  background-color: mix(white, govuk-colour("turquoise"), 90%);
  @include govuk-responsive-padding(3);
  @include govuk-responsive-margin(6, "bottom");

  font-family: "nta", Arial, sans-serif;
  font-size: 19px;

  span {
    display: inline-block;
    margin-top: 8px;
  }

  button {
    @include govuk-responsive-margin(3, "left");
    margin-bottom: 0;
  }
}
