.mspsds-creation-controls {
    background-color: govuk-colour("grey-3");
    text-align: right;
    @include govuk-responsive-margin(4, "bottom");

    p {
        @include govuk-responsive-margin(0);
    }

    a {
        @include govuk-responsive-margin(2);
    }

    .govuk-main-wrapper > &:first-child {
        margin-top: -30px;
    }
}