[class*="govuk-grid-column"] > [class*="govuk-grid-column"]  {
    //margin-left: -15px;
}



.mspsds-controls {
    
    .mspsds-block-link {
        line-height: 2.2em;
    }
    
    .mspsds-overview & {
        display: none;
    }

}



.govuk-tabs__tab { 
    @include govuk-font($size: 16);
}



.govuk-header nav {
    display: inline-block;
    float: right;
}

.govuk-option-select {
    background-color: #dee0e2;
    padding: 0 0 1px 0;
    margin-bottom: 30px;

    .options-container {
        display: none;
        position: relative;
        background-color: #fff;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 5px solid #dee0e2;

        .label {
            
            display: inline-block;
            font-family: "nta",Arial,sans-serif;
            font-weight: 400;
            text-transform: none;
            font-size: 16px;
            line-height: 1.25;
            box-sizing: border-box;
            padding: 7px;
            border-bottom: 1px solid #bfc1c3;
            width: 100%;
            cursor: pointer;

        }

        .govuk-checkboxes {
            padding: 7px;
        }

        .govuk-form-group {
            margin-bottom: 0;
        }
    }


    .option-select-display {
        display: none;
    }

    .option-select-display:checked ~ .options-container {
        display: block;
    }


    .option-select-label {
        display: inline-block;

        font-family: "nta",Arial,sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 16px;
        line-height: 1.25;
        
        font-weight: bold;
        padding: 10px;
        margin: 0;

        width: 100%;
        box-sizing: border-box;
        cursor: pointer;

    }



}