.mspsds-controls {

    .mspsds-block-link {
        line-height: 2.2em;
    }

    .mspsds-overview & {
        display: none;
    }

}

.mspsds-input {
    @include govuk-clearfix;
    clear: left;
}


.mspsds-autocomplete {
    @include govuk-font($size: 16);
}


// .mspsds-pagetitle h1 {
//     text-transform: capitalize;
// }


.govuk-tabs__tab {
    @include govuk-font($size: 16);
}



.govuk-header nav {
    display: inline-block;
    float: right;
}
