%stat-highlight {
  display: inline-block;
  padding: govuk-spacing(1) govuk-spacing(3) govuk-spacing(0);

  font-family: "nta", Arial, sans-serif;
  // TODO: Should these be specified using GDS includes rather than explicitly? If so, how?
  font-size: 36px;
  font-weight: bold;
}

.stat-highlight-1 {
  @extend %stat-highlight;

  background-color: govuk-colour("green");
  color: white;
}

.stat-highlight-2 {
  @extend %stat-highlight;

  border-radius: 10px;

  background-color: govuk-colour("light-blue");
  color: white;
}
