// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";


// Copied from: https://govuk-prototype-kit.herokuapp.com/public/stylesheets/patterns/_step-by-step-navigation.scss
@import "patterns/step-by-step-navigation";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "stat-highlights";
@import "activity-timeline";
@import "attachment-list";
@import "business-list";
@import "product-list";
@import "block-link";
@import "site-nav";
@import "case-status";
@import "confirmation";
@import "product-panel";
@import "record-action-panel";
@import "case-why-panel";
@import "add-correspondence";
@import "case-filter";
@import "search";
@import "creation-controls";
@import "accessible-autocomplete.min";
@import "autocomplete";
@import "case-card";
@import "tablist";
@import "button";

@import "mspsds-layout";

// Make images fit to column
div[class^="govuk-grid-column-"] img {
  width: 100%;
}

// Ensure table header columns are wide enough that the headers are easily readable
.govuk-grid-column-two-thirds, .govuk-tabs__panel {
  .govuk-table .govuk-table__header:first-of-type {
    /* TODO:Dev This really ought to be min-width but that doesn't work on table cells. Try to find a workaround? */
    width: 33%;
  }
}

// Top-align table content
.govuk-table th, .govuk-table td {
  vertical-align: top;
}

// Stop text on left half from crowding content on the right
.govuk-grid-column-one-half:first-of-type .govuk-body {
  max-width: 96%;
}

// Remove default bottom-margin from content at the end of a tab
.govuk-tabs__panel > :last-child .govuk-table:last-child {
  margin-bottom: govuk-spacing(0);
}
