{% extends "includes/templates/flow.html" %}

{% set displayTitle = 'Edit contact' %}

{% set formAction         = '/root/'+ data['currentPage'] %}



{% block flow %}

<form action="{{formAction}}" method="post" class="form">
    <div class="govuk-grid-row">

          {% include "includes/components/shared/contact/details.html" %}
          
    </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% from "button/macro.njk" import govukButton %}
          
            {{ govukButton({
              text: "Update contact" ,
              classes: "mspsds-button"
            }) }}

            {{ govukButton({
              text: "Delete contact" ,
              classes: "mspsds-button mspsds-button--delete"
            }) }}

        </div>
      </div>
    
</form>

{% endblock %}
