{% extends "includes/templates/flow--creation-ts.html" %}

{% set backLink      = './01' %}
{% set backText      = 'Back'  %}


{% if data['new']['report']['type'] == 'Report' %}
  {% set titleType           = 'Report an unsafe or non-compliant product' %}
  {% set displayTitle        = 'What product are you reporting?' %}
  {% set formAction         = './03' %}

{% elif data['new']['report']['type'] == 'Question' %}
  {% set titleType           = '' %}
  {% set displayTitle        = 'Asking a question' %}
  {% set formAction          = 'save' %}

{% endif %}


{% block flow %}

  <form action="{{formAction}}" method="post" class="form">

    <div class="govuk-grid-row  govuk-!-margin-bottom-3">
       

      {% if data['new']['report']['type'] == 'Report' %}
        {% include "includes/components/shared/create/ts-product-info.html" %}

      {% elif data['new']['report']['type'] == 'Question' %}
        {% include "includes/components/shared/create/question-info.html" %}
      {% endif %}
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% from "button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>

  </form>

{% endblock %}
