{% extends "includes/templates/flow--creation-ts.html" %}

{% set backLink      = './supply-chain-information' %}
{% set backText      = 'Back'  %}

{% set businessType  = data['new']['report']['business']['type'][businessesCount] %}
{% if businessType == "Other" %}
    {% set businessType  = data['new']['report']['business']['typeOther']  %}
{% endif %}


{% if data['new']['report']['type'] == 'Report' %}
  {% set titleType           = 'Report an unsafe or non-compliant product' %}
  {% set displayTitle        = businessType + ' details' %}
  {% set formAction         = './business-details' %}
{% endif %}

{% set businessTypes    = data['new']['report']['business']['type'] %}
{% set businesses       = data['new']['report']['businesses'] %}

{% set businessesCount = 0 %}
{% if businesses %}
    {% for business, obj in businesses %}
        {% set businessesCount = businessesCount + 1%}
    {% endfor %}
{% endif %}


{% if (businessTypes.length > 0) and (businessesCount == (businessTypes.length -1)) %}
{% set formAction = './previous-corrective-action' %}
{% else %}
  
{% endif %}


{% set currentNewBizVar  = 'new[report][businesses][' +  businessType + ']' %}



{% block flow %}


    <form action="{{formAction}}" method="post" class="form">

      <div class="govuk-grid-row govuk-!-margin-bottom-3">
        {% include "includes/components/shared/create/ts-business.html" %}
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% from "button/macro.njk" import govukButton %}
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </div>
    </form>

{% endblock %}
