{% extends "includes/templates/minimal.html" %}

{% set backLink      = './08' %}
{% set backText      = 'Back'  %}

{% if data['new']['report']['type'] == 'Report' %}
  {% set titleType           = 'Report an unsafe product' %}
  {% set displayTitle        = 'Case created' %}
  {% set formAction          = 'save' %}

{% elif data['new']['report']['type'] == 'Question' %}

  {% set titleType           = 'Ask a question' %}
  {% set displayTitle        = 'Questoin created' %}
  {% set formAction          = 'save' %}

{% endif %}



{% block content %}

{# {% from "includes/components/shared/confirmation.html" import confirmation %}
    {{ confirmation({
        id:     'confirmation--case-created', 
        title:  currentCase.report.type + ' published',
        type:   'success',
        messages: [{
            text: 'The reference is ' + currentCase.id
        },{
            text: 'Details were emailed to you (someone@somewhere.com)'
        }]
    }) }}
 #}



<form action="{{formAction}}" method="post" class="form">
  
 {#  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    {% include "includes/components/shared/create/ts-reference-info.html" %}
  </div>
 #}
 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "includes/components/shared/hmcts-banner.html" import hmctsBanner %}

      {% set bannerHtml %}
        <h1 class="govuk-heading-m">Case created</h1>
        <h2 class="govuk-heading-s">Here is a title that is as long as they might be (ID: {{data['caseid']}})</h2>
        <p class="govuk-body">A confirmation email has been sent to ed.horsford@softwire.com
      </p>
      {% endset %}

      {{ hmctsBanner({
        html: bannerHtml
      }) }}


      <p class="govuk-body">The case has now been assigned to <strong>The Office for Product Safety and Standards</strong>. If you need to, you can add more information later.</p>
          
      {# <p class="govuk-body">Your case has been assigned to <strong>The Office for Product Safety and Standards</strong>.</p> #}

      {# <p class="govuk-body">They will review it and get back to you if they have any questions.</p> #}

     

      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "View case"
      }) }}

      <p class="govuk-body"><a href="#" class="govuk-link">Home</a></p>

      <p class="govuk-body"><a href="#" class="govuk-link">View all cases you have created</a></p>
    </div>
  </div>
</form>


{% endblock %}
