{% extends "includes/templates/flow.html" %}

{% set backLink      = './report-serious-issues' %}
{% set backText      = 'Back'  %}

{% if data['new']['report']['type'] == 'Report' %}
  {% set titleType           = 'Report an unsafe product' %}
  {% set displayTitle        = 'Case created' %}
  {% set formAction          = 'save' %}

{% elif data['new']['report']['type'] == 'Question' %}

  {% set titleType           = 'Ask a question' %}
  {% set displayTitle        = 'Question created' %}
  {% set formAction          = 'save' %}

{% endif %}



{% block content %}

{# {% from "includes/components/shared/confirmation.html" import confirmation %}
    {{ confirmation({
        id:     'confirmation--case-created', 
        title:  currentCase.report.type + ' published',
        type:   'success',
        messages: [{
            text: 'The reference is ' + currentCase.id
        },{
            text: 'Details were emailed to you (someone@somewhere.com)'
        }]
    }) }}
 #}



<form action="{{formAction}}" method="post" class="form">
  
 {#  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    {% include "includes/components/shared/create/ts-reference-info.html" %}
  </div>
 #}
 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "includes/components/shared/hmcts-banner.html" import hmctsBanner %}

      {% set bannerHtml %}
        <h1 class="govuk-heading-l">Case created</h1>
        <p class="govuk-body">Case ID: {{data['caseid']}}</p>
        {# <h2 class="govuk-body-l">Case ID:  {{data['caseid']}}</h2> #}
        <p class="govuk-body">A confirmation email has been sent to <strong>ed.horsford@softwire.com</strong>
      </p>
      {% endset %}

      {{ hmctsBanner({
        html: bannerHtml
      }) }}
      {# Clothing (inc. baby) – Other hazard type (no product specified) #}
      <p class="govuk-body"><strong>Clothing (inc. baby) – Other hazard type (no product specified)</strong>, has now been assigned to <strong>the Office for Product Safety and Standards</strong>.</p>

      <p class="govuk-body">If you need to, you can add more information later.</p>

      {# <p class="govuk-body">The issue has now been assigned to <strong>The Office for Product Safety and Standards</strong>. If you need to, you can add more information later.</p> #}
          
      {# <p class="govuk-body">Your case has been assigned to <strong>The Office for Product Safety and Standards</strong>.</p> #}

      {# <p class="govuk-body">They will review it and get back to you if they have any questions.</p> #}

     

      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "View case"
      }) }}

      <p class="govuk-body"><a href="/pages/home" class="govuk-link">Home</a></p>

      <p class="govuk-body"><a href="/pages/case-list" class="govuk-link">View all cases you have opened</a></p>
    </div>
  </div>
</form>


{% endblock %}
