{% extends "includes/templates/flow--creation-ts.html" %}

{% set plural? = 's' if data['images-count'] > 1 %}

{% set displayTitle        = 'You’ve uploaded ' + data['images-count'] + ' image'+ plural? %}

{% set formAction         = './product-images-more' %}

{% set backLink      = './product-details' %}
{% set backText      = 'Back'  %}

{% set titleType     = 'false' %}


{% block flow %}
  <form action="{{formAction}}" method="post" class="form">
    {# <div class="image-card">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Image 1</h2>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="mspsds-attachment-panel__image">
            <a href="/public/images/placeholder.png">
              <img src="/public/images/placeholder.png" alt="attachments 1 title">
            </a>
          </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Image summary"
                },
                value: {
                  text: "A photo of the packaging"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "image summary"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Image description"
                },
                value: {
                  text: "8"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "image description"
                    }
                  ]
                }
              }
            ]
          }) }}
        </div>

        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        </div>
      </div>
    </div> #}

    <p class="govuk-body">You can add evidence images and other files later in this service.</p>

    {% set imageCount = data['images-count'] %}
    
    {% for item in range(0, imageCount) %}
      <div class="image-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Image {{loop.index}}</h2>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <div class="mspsds-attachment-panel__image">
              <a href="/public/images/placeholder.png">
                <img src="/public/images/placeholder.png" alt="attachments 1 title">
              </a>
            </div>
          </div>
          <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Image summary"
                  },
                  value: {
                    text: "A photo of the packaging"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "image summary"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Image description"
                  },
                  value: {
                    text: "8"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "image description"
                      }
                    ]
                  }
                }
              ]
            }) }}
          </div>

          <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          </div>
        </div>
      </div>
    {% endfor %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "more-images-question",
          name: "more-images-question",
          fieldset: {
            legend: {
              text: "Do you have more images to upload?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% from "button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>

  </form>
{% endblock %}
