{% from "table/macro.njk" import govukTable %}
{% from "button/macro.njk" import govukButton %}


{% macro businessLocation(location) %}

<div class="govuk-grid-column-one-third">
  <h4 class="govuk-heading-s">
    {% if title == "" %}&nbsp;{% else %}{{title}}{% endif %}
  </h4>
  <p class="govuk-body">
    {{ line1 }}
    {% if line2 %}<br />{{line2}}{% endif %}
    {% if line3 %}<br />{{line3}}{% endif %}
    {% if line4 %}<br />{{line4}}{% endif %}
    {% if line5 %}<br />{{line5}}{% endif %}
  </p>
</div>

{% endmacro %}
