{% from "table/macro.njk" import govukTable %}


{% macro caseWhy(whyData) %}

  {% if whyData %}

    <div class="govuk-grid-row mspsds-why-panel">

      <div class="govuk-grid-column-two-thirds">


        {% if whyData.hazardTo %}

          <h2 class="govuk-heading-l govuk-grid-column-one-half">
            <span class="govuk-caption-m">Hazard</span>
            {{ whyData.hazardType }}
          </h2>

          <h2 class="govuk-heading-l govuk-grid-column-one-half">
            <span class="govuk-caption-m">Vunerable group</span>
            {{ whyData.hazardTo }}
          </h2>

        {% else %}

          <h2 class="govuk-heading-l govuk-grid-column-one-half">
            <span class="govuk-caption-m">Hazard</span>
            {{ whyData.hazardType }}
          </h2>


        {% endif %}


        <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body govuk-!-margin-bottom-1">
            {{ whyData.hazardDescription}}
          </p>
          <p><a class="govuk-link mspsds-block-link" href="/flows/add-hazard/01-add-hazard">Edit hazard details</a></p>
        </div>

      </div>

      
      

      

      <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-l govuk-!-margin-bottom-0">
          <span class="govuk-caption-m">Risk level</span>
        </h2>
        
        {% if whyData.riskLevel %}

          <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ whyData.riskLevel }}</p>
          <a class="govuk-link mspsds-block-link" href="/flows/add-risk/01-add-risk">Edit risk details</a>
          <a class="govuk-link mspsds-block-link" href="#">View assessment</a>

        {% else %}

          <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-margin-bottom-1">None set</p>
          <p><a href="/flows/add-risk/01-add-risk">Add risk data</a></p>

        {% endif %}

      </div>


    </div>

  {% else %}

    <div class="govuk-grid-row mspsds-product-panel mspsds-product-panel__empty">


      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">What's the nature of the hazard?</h2>
        <p class="govuk-body">Why does this case exist? Add information, be it assessed risk, initial triage info, reported incident etc</p>
        <p class="govuk-body">
          <a class="govuk-link mspsds-block-link" href="/flows/add-hazard/01-add-hazard">Add hazard data</a>
          <a class="govuk-link mspsds-block-link" href="/flows/add-incident/01-add-incident">Record an incident</a>
        </p>

      </div>

    </div>


  {% endif %}



{% endmacro %}
