{% from "table/macro.njk" import govukTable %}

{% macro linkedBusinessPanel(role) %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">{{role}}</h3>

    {{ govukTable({
      firstCellIsHeader: true,
      classes: "govuk-!-margin-bottom-4",
      rows: [
        [
          {
            text: "Name"
          },
          {
            text: "Wonderlite Ltd."
          }
        ],
        [
          {
            text: "Main address"
          },
          {
            text: "48 Bush Road, London N1 1XQ"
          }
        ],
        [
          {
            text: "Main contact"
          },
          {
            html: "Paul Jones<br />020 7123 12345<br />paul.jones@abc.ml"
          }
        ],
        [
          {
            text: "Primary authority"
          },
          {
            text: "Suffolk Trading Standards"
          }
        ]
      ]
    }) }}

    <a href="#" class="mspsds-block-link">Business details</a>
  </div>
</div>

{% endmacro %}
