{% from "table/macro.njk" import govukTable %}

<div class="govuk-grid-row mspsds-product-panel">
  <div class="govuk-grid-column-one-third">
    <img src="public/images/placeholder.png" title="Product identifying image" />
  </div>
  <div class="govuk-grid-column-two-thirds">
    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "Brand"
          },
          {
            text: "Charge Worx"
          }
        ],
        [
          {
            text: "Model name"
          },
          {
            text: "International Travel Adaptor"
          }
        ],
        [
          {
            text: "Model number"
          },
          {
            text: "931L"
          }
        ],
        [
          {
            text: "Description"
          },
          {
            text: "Universal travel USB plug adaptor with surge protector"
          }
        ]
      ]
    }) }}
  </div>
</div>
