{% from "table/macro.njk" import govukTable %}
{% from "button/macro.njk" import govukButton %}

<div class="govuk-grid-row mspsds-product-panel">
  <div class="govuk-grid-column-one-third">
    <img src="/public/images/charge-worx.jpg" title="Product identifying image" />
  </div>
  <div class="govuk-grid-column-two-thirds">
    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "Brand"
          },
          {
            text: "Charge Worx"
          }
        ],
        [
          {
            text: "Model name"
          },
          {
            text: "International Travel Adaptor"
          }
        ],
        [
          {
            text: "Model number"
          },
          {
            text: "931L"
          }
        ],
        [
          {
            text: "Description"
          },
          {
            text: "Universal travel USB plug adaptor with surge protector"
          }
        ]
      ]
    }) }}

    <div class="mspsds-controls">
      <a href="./product" class="mspsds-block-link">View product</a>
      {{ govukButton({
        text: "Remove from this case",
        href: "#",
        attributes: { "onclick": "document.getElementById('confirmation--product-removed').style.display='block'" }
      }) }}
    </div>

  </div>
</div>
