{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}

<div class="govuk-grid-row mspsds-record-action-panel">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-hint">Record an activity</span>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <a href="/flows/add-correspondence/01e-add-email-context" class="mspsds-block-link">Record email</a><br />
        <a href="/flows/add-correspondence/01p-add-phonecall-context" class="mspsds-block-link">Record phone call</a><br />
        <a href="/flows/add-correspondence/01m-add-meeting-context" class="mspsds-block-link">Record meeting</a>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <a href="/flows/record-testing-request/01-record-testing-request" class="mspsds-block-link">Record testing request</a><br />
        <a href="#" class="mspsds-block-link">Record test result</a><br />
        <a href="#" class="mspsds-block-link">Record corrective action</a>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    {{ govukTextarea({
      hint: {
        text:     "Or enter a comment",
        classes:  "govuk-!-width-full"
      },
      classes:    "govuk-!-width-full",
      id:         "action__comment",
      name:       "action__comment"
    }) }}
    {{ govukButton({
      text: "Add comment"
    })}}
  </div>
</div>
