{% extends "mspsds-layout.html" %}

{% block pageTitle %}
Confirm phonecall details
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/case"
}) }}
{% endblock %}

{% block content %}
{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Confirm phonecall details"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/case" method="post" class="form">

      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            { text: "Call with" },
            { text: "Mina Harker (07123 123123)" }
          ],
          [
            { text: "Summary" },
            { text: "Reporter asking for progress report" }
          ],
          [
            { text: "Date" },
            { text: "12/9/2018" }
          ],
          [
            { text: "Content" },
            { text: "Mina was wondering whether there was any update on the Charge Worx case. I assured her that we were looking into it and would have an update for her within the next week." }
          ],
          [
            { text: "Attachments" },
            { text: "transcript.doc" }
          ]
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      <a class="govuk-link mspsds-block-link" href="/flows/add-correspondence/01p-add-phonecall-context">Edit details</a>

    </form>

  </div>
</div>

{% endblock %}
