
{# --- DATA SETUP --------------------------------------- #}
{% if currentItemIndex == 'new' %}
  {% set theRiskAssessment = data.riskAssessment %}
{% else %}
  {% set theRiskAssessment = currentCase.report.history.items[currentItemIndex] %}
{% endif %}

{# --- DATE OF ASSESMENT -------------------------------- #}
{{ govukDateInput({
  id: "assessment-date",
  namePrefix: "riskAssessment[date].",
  fieldset: {
    legend: {
      text: "Date of assessment",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      name: "day",
      classes: "govuk-input--width-2",
      value: theRiskAssessment['date'][0]
    },
    {
      name: "month",
      classes: "govuk-input--width-2",
      value: theRiskAssessment['date'][1]
    },
    {
      name: "year",
      classes: "govuk-input--width-4",
      value: theRiskAssessment['date'][2]
    }
  ],
  hint: {
    text: "For example, 12 7 2019"
  }
}) }}

<p class="govuk-body">
  <a href="#" class="govuk-link js-today-link" data-target="assessment-date">Today</a>&nbsp;&nbsp;&nbsp;
  <a href="#" class="govuk-link js-yesterday-link" data-target="assessment-date">Yesterday</a>
</p>
{# --- END DATE OF ASSESMENT ---------------------------- #}


{# --- RISK LEVEL --------------------------------------- #}
{% set riskLevels = data.riskLevels %}

{# Input for other risk level #}
{% set riskLevelsOtherHTML %}
  {{ govukInput({
    id: "risk-levels-other",
    name: "riskAssessment[riskLevelOther]",
    value: theRiskAssessment.riskLevelOther,
    classes: "govuk-!-width-two-thirds",
    label: {
      text: "Other: what was the risk level?"
    }
  }) }}
{% endset -%}

{% set riskItems = [] %}

{# Create items array for risk levels radios #}
{% for risk in riskLevels %}

  {% if loop.last %}
    {% set riskItems = riskItems | push({divider:"or"}) %}
  {% endif %}

  {% set riskItem = {
    value: risk,
    text: risk,
    checked: true if (theRiskAssessment.riskLevel == risk),
    conditional: {
        html: riskLevelsOtherHTML
      } if (risk == 'Other') else false
    }
  %}

  {% set riskItems = riskItems | push(riskItem) %}

{% endfor %}

{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "riskAssessment[riskLevel]",
  fieldset: {
    legend: {
      text: "What was the risk level?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: riskItems
}) }}

{# OLD: Risk levels as autocomplete #}
{# {{ autocompleteInput({
  idPrefix: "legislation",
  name:     "riskAssessment[riskLevel]",
  legend:   "What was the risk level?",
  hint:     "If there was more than one, choose the highest.",
  values:   riskLevels,
  value: theRiskAssessment.riskLevel,
  class: 'govuk-heading-m',
  width: 'govuk-!-width-two-thirds',
  conditional: riskLevelsOtherHTML})
}} #}

{# --- END RISK LEVEL ----------------------------------- #}


{# --- WHO COMPLETED / AUTHOR---------------------------- #}
{% set riskAssessorOtherHTML %}
  {{ govukInput({
    id: "risk-assessor-other",
    name: "riskAssessment[authorOtherName]",
    value: theRiskAssessment.authorOtherName,
    type: "tel",
    classes: "govuk-!-width-two-thirds",
    label: {
      text: "Organisation name"
    }
  }) }}
{% endset -%}

{% set psdTeamsHTML %}
  {{ localAuthorityAutocomplete({
      idPrefix:   'localAuthorityName',
      name:       'riskAssessment[authorOtherPSDTeam]',
      value:      theRiskAssessment.authorOtherPSDTeam,
      class:      "govuk-label govuk-!-margin-bottom-1",
      legend:     "Choose team"
    }) }}
{% endset -%}

{% set caseBusinessListHTML %}

  <p class="govuk-body govuk-hint">If the business isn’t listed, you should <a class="govuk-link" href="#">add it to the case first</a>.</p>

  {% set businesses = [
    "Chargeworx Ltd (manufacturer)",
    "RealTime supplies (importer)",
    "John’s Electrics (retailer)"
    ] %}

  {{ autocompleteInput({
    idPrefix:   'businessName',
    name:       'riskAssessment[authorBusiness]',
    value:      theRiskAssessment.authorBusiness,
    class:      "govuk-label govuk-!-margin-bottom-1",
    legend:     "Choose business",
    values:     businesses
  }) }}



  {# {{ autocompleteInput({
    idPrefix: "case-products",
    name:     "TODO-product-input-name",
    legend:   "Product that was assessed",
    hint:     "Only products already added to the case are listed. <a href='#'>Add a product</a>",
    class: 'govuk-heading-m',
    values:   products})
  }} #}
{% endset -%}

{{ govukRadios({
  idPrefix: "risk-assessor",
  name: "riskAssessment[authorType]",
  fieldset: {
    legend: {
      text: "Who completed the assessment?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "self",
      text: "Me or my team",
      checked: checked([theRiskAssessment['authorType']], "self")
    },
    {
      value: "otherPSDTeam",
      text: "Another local authority or government team",
      checked: checked([theRiskAssessment['authorType']], "otherPSDTeam"),
      conditional: {
        html: psdTeamsHTML
      }
    },
    {
      value: "business",
      text: "A business related to the case",
      checked: checked([theRiskAssessment['authorType']], "business"),
      conditional: {
        html: caseBusinessListHTML
      }
    },
    {
      value: "authorOther",
      text: "Someone else",
      checked: checked([theRiskAssessment['authorType']], "authorOther"),
      conditional: {
        html: riskAssessorOtherHTML
      }
    }
  ]
}) }}

{# --- END WHO COMPLETED / AUTHOR ----------------------- #}

{# Whether this was a RAPEX risk assessment or not #}
{# {% set riskAssessmentTypeOtherHTML %}
{{ govukInput({
  id: "risk-type-other",
  name: "risk-type-other",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Type of risk assessment"
  }
}) }}
{% endset -%} #}


{# {{ govukRadios({
  idPrefix: "assessment-type",
  name: "assessment-type",
  fieldset: {
    legend: {
      text: "Type of risk assessment",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "email",
      text: "RAPEX"
    },
    {
      value: "phone",
      text: "Other",
      conditional: {
        html: riskAssessmentTypeOtherHTML
      }
    }
  ]
}) }} #}

{% set products = [
  'Travel plug adaptor — Charge Worx 931L',
  'iPhone charger – unbranded, white',
  'Travel plug adaptor – Multipower 94998'
] %}

  {# {{ autocompleteInput({
    idPrefix: "case-products",
    name:     "TODO-product-input-name",
    legend:   "Product that was assessed",
    hint:     "Only products already added to the case are listed. <a href='#'>Add a product</a>",
    class: 'govuk-heading-m',
    values:   products})
  }} #}

{# Shown where a case has a single product #}
{#     {{ govukRadios({
  idPrefix: "product-assessed-single",
  name: "product-assessed-single",
  fieldset: {
    legend: {
      text: "Product that was assessed",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "The risk assessment will be linked to this product"
  },
  items: [
    {
      value: "email",
      text: "Travel plug adaptor — Charge Worx 931L"
    },
    {
      value: "email",
      text: "Not applicable"
    }
  ]
}) }}
#}
{# {% set productAutocompleteHTML %}
  {{ autocompleteInput({
    idPrefix: "product-autocomplete-multi",
    name:     "product-autocomplete-multi",
    legend:   "Select product",
    class: 'govuk-fieldset__legend--s govuk-!-font-weight-regular',
    values:   products})
  }}
  <p class="govuk-body"><a href="#" class="govuk-link">Add another product</a></p>
{% endset %} #}

{# Shown where a case has multiple products #}
{# {{ govukRadios({
  idPrefix: "how-contacted-conditional",
  name: "product-assessed-multi",
  fieldset: {
    legend: {
      text: "Products that were assessed",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "The risk assessment will be linked to these products."
  },
  items: [
    {
      value: "email",
      text: "All products in case"
    },
    {
      value: "phone",
      text: "One or more products in case",
      conditional: {
        html: productAutocompleteHTML
      }
    },
    {
      value: "email",
      text: "Not applicable"
    }
  ]
}) }} #}

{# Shown where a case has multiple products #}
{{ govukCheckboxes({
  idPrefix: "waste",
  name: "riskAssessment[productsAssessed]",
  fieldset: {
    legend: {
      text: "Which products were assessed?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "You must choose at least one. Only products already added to the case are listed."
  },
  items: [
    {
      value: "Travel plug adaptor — Charge Worx 931L",
      text: "Travel plug adaptor — Charge Worx 931L",
      checked: checked([theRiskAssessment['productsAssessed']], "Travel plug adaptor — Charge Worx 931L")
    },
    {
      value: "iPhone charger – unbranded, white",
      text: "iPhone charger – unbranded, white",
      checked: checked([theRiskAssessment['productsAssessed']], "iPhone charger – unbranded, white")
    },
    {
      value: "Travel plug adaptor – Multipower 94998",
      text: "Travel plug adaptor – Multipower 94998",
      checked: checked([theRiskAssessment['productsAssessed']], "Travel plug adaptor – Multipower 94998")
    }
  ]
}) }}

<p class="govuk-body"><a href="#" class="govuk-link">Select all products</a></p>



{# --- FILE UPLOAD -------------------------------------- #}

{% set fileName = theRiskAssessment.fileName or 'RAG Risk assessment - Foobar-Zipbuz.pdf' %}

{% set fileUploadHint -%}
  This should usually be a pdf export from the <a href="#">RAPEX risk assessment tool</a>.
{%- endset %}

{% set filePickerHTML %}
  {{ govukFileUpload({
    id: "file-upload-1",
    name: "file-upload-1",
    label: {
      text: "Upload the risk assessment",
      classes: "govuk-label--m"
    },
    hint: {
      html: fileUploadHint
    }
  }) }}
{% endset %}

{# New risk assessment #}
{% if currentItemIndex == 'new' %}

  {{filePickerHTML | safe}}

{# Edited risk assesment #}
{% else %}

  {% set noOptionText %}
  No, use ‘<strong>{{fileName | safe | debug}}</strong>’
  {% endset %}

  {{ govukRadios({
    idPrefix: "upload",
    name: "upload",
    fieldset: {
      legend: {
        text: "Do you want to change the uploaded attchment?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "no",
        html: noOptionText,
        checked: true
      },
      {
        value: "yes",
        text: "Yes, replace it",
        conditional: {
          html: filePickerHTML
        }
      }
    ]
  }) }}

{% endif %}

{# ---------------------------------------------------------------- #}


{# --- FURTHER DETAILS ---- --------------------------------------- #}

{{ govukTextarea({
  name: "riskAssessment[moreDetail]",
  id: "more-detail",
  value: theRiskAssessment.moreDetail,
  label: {
    text: "Further details (optional)",
    classes: "govuk-label--m"
  },
  hint: {
    text: "If there are other details relevant to the risk assessment, add them here."
  }
}) }}
{# ---------------------------------------------------------------- #}

{# ---------------------------------------------------------------- #}
{# All risk assesments have files #}
{{ govukInput({
  id:   "risk-level",
  name: "riskAssessment[hasFile]",
  value: "yes",
  type: "hidden"
}) }}
{# ---------------------------------------------------------------- #}

{# Used in route to know how to handle data #}
{{ govukInput({
  id:   "issue-assignee",
  name: "document[type]",
  value: "Risk assessment",
  type: "hidden"
}) }}
