{% extends "includes/templates/flow--creation-ts.html" %}



{% block flow %}
  <form action="{{formAction}}" method="post" class="form">
    
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m  govuk-!-margin-bottom-1">
          Product information
        </h2>
        
        

        {% if new[report][product][type] %}
            {% set productDetails       = 'detials here' %}
            {% set productDetailsLink   = 'Edit' %}
        {% else %}
            {% set productDetails       = 'Required' %}
            {% set productDetailsLink   = 'Add' %}
        {% endif %}


        {% if new[report][product][files][tech] %}
            {% set techDetails       = 'detials here' %}
            {% set techDetailsLink   = 'Edit' %}
        {% else %}
            {% set techDetails       = '<span class="govuk-caption-m"> Optional</span>' %}
            {% set techDetailsLink   = 'Add' %}
        {% endif %}


        {% if new[report][product][files][testing] %}
            {% set testDetails       = 'detials here' %}
            {% set testDetailsLink   = 'Edit' %}
        {% else %}
            {% set testDetails       = '<span class="govuk-caption-m"> Optional</span>' %}
            {% set testDetailsLink   = 'Add' %}
        {% endif %}


        {{ govukTable({
          firstCellIsHeader: true,
          rows: [
            [
              {
                text: 'Product Details'
              },
              {
                html: productDetails
              },
              {
                format: 'numeric',
                html: '<a href="#">'+ productDetailsLink +'</a><span class="govuk-visually-hidden"> product details</span>'
              }
            ],
            [
              {
                text: 'Technical file'
              },
              {
                html: techDetails
              },
              {
                format: 'numeric',
                html: '<a href="#">'+ techDetailsLink +'</a><span class="govuk-visually-hidden"> technical file</span>'
              }
            ],
            [
              {
                text: 'Testing file'
              },
              {
                html: testDetails
              },
              {
                format: 'numeric',
                html: '<a href="#">'+ testDetailsLink +'</a><span class="govuk-visually-hidden"> testing file</span>'
              }
            ],
            [
              {
                text: 'Product images'
              },
              {
                html: testDetails
              },
              {
                format: 'numeric',
                html: '<a href="#">'+ testDetailsLink +'</a><span class="govuk-visually-hidden"> testing file</span>'
              }
            ]
          ]
        }) }}


      </div>
    </div>


    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m  govuk-!-margin-bottom-1">
          Hazard information
        </h2>

        {{ govukTable({
          firstCellIsHeader: true,
          rows: [
            [
              {
                text: 'Hazard details'
              },
              {
                text: 'Required'
              },
              {
                format: 'numeric',
                html: '<a href="#">Edit</a><span class="govuk-visually-hidden"> hazard details</span>'
              }
            ],
            [
              {
                text: 'Risk assessment'
              },
              {
                text: 'Required'
              },
              {
                format: 'numeric',
                html: '<a href="#">Edit</a><span class="govuk-visually-hidden"> product details</span>'
              }
            ]
          ]
        }) }}

      </div>
    </div>


    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m  govuk-!-margin-bottom-1">
          Business information
        </h2>

        {{ govukTable({
          firstCellIsHeader: true,
          rows: [
            [
              {
                text: 'Business details'
              },
              {
                html: '<span class="govuk-caption-m"> Optional</span>'
              },
              {
                format: 'numeric',
                html: '<a href="#">Edit</a><span class="govuk-visually-hidden"> hazard details</span>'
              }
            ]
          ]
        }) }}

      </div>
    </div>



    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m  govuk-!-margin-bottom-1">
          Action taken
        </h2>

        {{ govukTable({
          firstCellIsHeader: true,
          rows: [
            [
              {
                text: 'Actions details'
              },
              {
                text: 'Required'
              },
              {
                format: 'numeric',
                html: '<a href="#">Edit</a><span class="govuk-visually-hidden"> hazard details</span>'
              }
            ],
            [
              {
                text: 'Your unique reference number (case number)'
              },
              {
                html: '<span class="govuk-caption-m"> Optional</span>'
              },
              {
                format: 'numeric',
                html: '<a href="#">Edit</a><span class="govuk-visually-hidden"> hazard details</span>'
              }
            ],
            [
              {
                text: 'Case files'
              },
              {
                html: '<span class="govuk-caption-m"> Optional</span>'
              },
              {
                format: 'numeric',
                html: '<a href="#">Edit</a><span class="govuk-visually-hidden"> hazard details</span>'
              }
            ],
            [
              {
                text: 'Corrective action website'
              },
              {
                html: '<span class="govuk-caption-m"> Optional</span>'
              },
              {
                format: 'numeric',
                html: '<a href="#">Edit</a><span class="govuk-visually-hidden"> hazard details</span>'
              }
            ]
          ]
        }) }}

      </div>
    </div>




    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% from "button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>

  </form>

{% endblock %}
