{% from "old/panels/business-address-panel.html"    import businessAddress %}
{% from "old/panels/contact-panel.html"             import contactPanel %}

<h2 class="govuk-heading-l">Addresses</h2>

<div class="govuk-grid-row">
  {{ businessAddress("Main site", "48 Bush Road", "London", "N1 1XQ") }}
  {{ businessAddress("Secondary site", "48 Bush Road", "London", "N1 1XQ") }}
  {{ businessAddress("", "48 Bush Road", "London", "N1 1XQ") }}
  {{ businessAddress("Registered address", "48 Bush Road", "London", "N1 1XQ") }}
</div>

<h2 class="govuk-heading-l govuk-!-margin-top-6">Contacts</h2>

<div class="govuk-grid-row">
  {{ contactPanel("Main contact", "Paul Jones", "020 7123 12345", "paul.jones@abc.np") }}
  {{ contactPanel("Head of Procurement", "Gemma Wilkinson", "", "gemma.wilkinson@abc.np") }}
</div>
