{% from "table/macro.njk"             import govukTable %}
{% from "includes/tab-title.html"     import tabTitle %}


{{ tabTitle({
        title:      'Full details',
        controls:   '<a href="/old/product/edit">Edit details</a>'
}) }}



<div class="govuk-grid-row govuk-!-margin-bottom-4">

  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m">Report</h3>

    {{ govukTable({
      firstCellIsHeader: true,      
      rows: [
        [
          { text: "Date" },
          { html: "10/12/2018" }
        ],
        [
          { text: "Reporter" },
          { html: "Consumer <br><a href='#'>View details</a>" }
        ],
        [
          { text: "Correspondence" },
          { html: "Original email attached  <br> <a href='#'>View details</a>" }
        ],
        [
          { text: "Previous steps taken" },
          { html: "Manufacturer contacted on 21 July 2018 by phone. <br> Local authority contacted on 21 uly 2018 by phone." }
        ],
        [
          {text: "Additional note" },
          {text: "Their Local authority aware." }
        ]
      ]
    }) }}

  </div>

</div>

<hr class="govuk-section-break govuk-section-break--m" />

<div class="govuk-grid-row govuk-!-margin-bottom-4">

  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m">Incidents</h3>

    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
          [
            { text: "Incident type" },
            { text: data['incident-type'] }
          ],
          [
            { text: "Description" },
            { text: data['incident-description'] }
          ],
          [
            { text: "Date" },
            { text: data['incident-date-day'] +"/"+ data['incident-date-month'] +"/"+ data['incident-date-year'] }
          ],
          [
            { text: "Affected party" },
            { text: data['incident-affected-party'] }
          ],
          [
            { text: "Location" },
            { text: data['incident-location'] }
          ]

        ]
    }) }}

    <a href="#" class="mspsds-block-link">Edit details</a>
    <a href="#" class="mspsds-block-link">Add another incident</a>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--m" />



{{ govukTable({
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "People affected"
      },
      {
        text: "Adult consumers using the Kettle."
      }
    ],
    [
      {
        text: "Applicable legislation"
      },
      {
        text: "Consumer Rights Act 2015"
      }
    ]
  ]
}) }}

<a href="/old/product/edit">Edit details</a>
