{% from "table/macro.njk"             import govukTable %}
{% from "includes/tab-title.html"     import tabTitle %}


{{ tabTitle({
        title:      'Full details',
        controls:   '<a href="/old/product/edit">Edit details</a>'
}) }}



{{ govukTable({
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Category"
      },
      {
        text: "Electrical"
      }
    ],
    [
      {
        text: "Type"
      },
      {
        text: "Travel Adaptor"
      }
    ],
    [
      {
        text: "Brand"
      },
      {
        text: "Charge Worx"
      }
    ],
    [
      {
        text: "Model name"
      },
      {
        text: "International Travel Adaptor"
      }
    ],
    [
      {
        text: "Model number"
      },
      {
        text: "931L"
      }
    ],
    [
      {
        text: "Serial / Product number"
      },
      {
        text: "123123131"
      }
    ],
    [
      {
        text: "Batch / Barcode"
      },
      {
        text: "12345678911234"
      }
    ],
    [
      {
        text: "Country of origin"
      },
      {
        text: "China"
      }
    ],
    [
      {
        text: "Description"
      },
      {
        text: "Universal travel USB plug adaptor with surge protector"
      }
    ],
    [
      {
        text: "Date on the market"
      },
      {
        text: "April 2016"
      }
    ]
  ]
}) }}
