{% from "table/macro.njk"             import govukTable %}
{% from "includes/tab-title.html"     import tabTitle %}


{{ tabTitle({
        title:      'Full details',
        controls:   '<a href="/old/product/edit">Edit details</a>'
}) }}



{{ govukTable({
  firstCellIsHeader: true,
  rows: [
    [
      { text: "Category" },
      { text: "Toys" }
    ],
    [
      { text: "Type" },
      { text: "Finger puppets" }
    ],
    [
      { text: "Brand" },
      { text: "Fun Toys" }
    ],
    [
      { text: "Name" },
      { text: "Finger Monkeys" }
    ],
    [
      { text: "Serial / Product number" },
      { text: "97439287498237" }
    ],
    [
      { text: "Country of origin" },
      { text: "China" }
    ],
    [
      { text: "Description" },
      { text: "Battery-operated? plastic and fabric toy camouflage monkey, available in various colours:" }
    ],
    [
      { text: "Date on the market" },
      { text: "April 2016" }
    ]
  ]
}) }}



