{% from "table/macro.njk"     import govukTable %}
{% from "button/macro.njk"    import govukButton %}

{% from "includes/components/shared/tabs/controls.html"           import controls %}


{% macro productPanel(productData) %}

  {% set prod             = productData.product %}

  {% set prodRows         = [] %}


  {% if productData.displayImage %}
    {% set classInfo = 'govuk-grid-column-two-thirds' %}
  {% else %}
    {% set classInfo = 'govuk-grid-column-full' %}
  {% endif %}



  {% if prod.name %}
      {% set prodRows = (prodRows.push([
            { text: "Product name" },
            { text: prod.name  }
      ]), prodRows) %}
  {% endif %}

  {# TODO Remove redundant stuff here, and fix in default data #}
  {% if prod.brand %}
      {% set prodRows = (prodRows.push([
            { text: "Brand" },
            { text: prod.brand  }
      ]), prodRows) %}
  {% endif %}

  {% if prod.modelName %}
      {% set prodRows = (prodRows.push([
                { text: "Model name" },
                { text: prod.modelName  }
      ]), prodRows) %}
  {% endif %}

  {% if prod.code %}
      {% set prodRows = (prodRows.push([
                { html: "Barcode /<br /> serial number" },
                { text: prod.code  }
      ]), prodRows) %}
  {% endif %}

  {% if prod.modelNumber %}
    {% set prodRows = (prodRows.push([
              { text: "Model number" },
              { text: prod.modelNumber  }
    ]), prodRows) %}
  {% endif %}

  {% if prod.type %}
    {% set prodRows = (prodRows.push([
              { text: "Type" },
              { text: prod.type  }
    ]), prodRows) %}
  {% endif %}

  {% if prod.category %}
    {% set prodRows = (prodRows.push([
              { text: "Category" },
              { text: prod.category  }
    ]), prodRows) %}
  {% endif %}

  {% if prod.description %}
    {% set prodRows = (prodRows.push([
              { text: "Description" },
              { text: prod.description  }
    ]), prodRows) %}
  {% endif %}

  {% if prod.manufacturer %}
    {% set prodRows = (prodRows.push([
              { text: "Manufacturer" },
              { text: prod.manufacturer  }
    ]), prodRows) %}
  {% endif %}





  {% if productData.displayDetails == 'full' %}


      {% if prod.barcode %}
        {% set prodRows = (prodRows.push([
                  { text: "Barcode" },
                  { text: prod.barcode  }
        ]), prodRows) %}
      {% endif %}

      {% if prod.productNumber %}
        {% set prodRows = (prodRows.push([
                  { text: "Product / Serial number" },
                  { text: prod.productNumber  }
        ]), prodRows) %}
      {% endif %}

      {% if prod.batchNumber %}
        {% set prodRows = (prodRows.push([
                  { text: "Batch number" },
                  { text: prod.batchNumber  }
        ]), prodRows) %}
      {% endif %}

      {% if prod.origin %}
        {% set prodRows = (prodRows.push([
                  { text: "Country of origin" },
                  { text: prod.origin  }
        ]), prodRows) %}
      {% endif %}

      {% if prod.dateOnMarket %}
        {% set prodRows = (prodRows.push([
                  { text: "Date on the market" },
                  { text: prod.dateOnMarket  }
        ]), prodRows) %}
      {% endif %}

      {% if true %}
        {% set prodRows = (prodRows.push([
                  { text: "Number of units affected" },
                  { html: '50000 units approximately'  }
        ]), prodRows) %}
      {% endif %}

      {% if true %}
        {% set prodRows = (prodRows.push([
                  { text: "Product authenticity" },
                  { html: 'Genuine'  }
        ]), prodRows) %}
      {% endif %}


  {% endif %}






<div class="govuk-grid-row mspsds-product-panel">

  {% if productData.displayImage %}
    <div class="govuk-grid-column-one-third">
      {% if prod.posterImage %}
      <img src="{{ prod.posterImage }}" title="Product identifying image" />
      {% else %}
      &nbsp;
      {% endif %}
    </div>
  {% endif %}

  <div class="{{classInfo}}">

    {{ govukTable({
      firstCellIsHeader: true,
      rows: prodRows
    }) }}


    {% if productData.controls %}

      {{ controls(productData.controls) }}

    {% endif %}


  </div>

</div>


{% endmacro %}
