{% from "back-link/macro.njk"     	import govukBackLink %}
{% from "breadcrumbs/macro.njk" 	import govukBreadcrumbs %}

{# <div class="govuk-grid-row mspsds-crumbs">

	<div class="govuk-grid-column-three-quarters">

		{% if data['caseid'] %}

			<span class="mspsds-crumbs__item">
			    {% set backLink      = '/root/case?caseid='+data['caseid']  %}
			    {% set backText      = 'Back to Case '+data['caseid']  %}

				{{ govukBackLink({
					text: backText,
					href: backLink
				}) }}
			</span>
		{% endif %}


		{%  if (not data['caseid']) or (data['alwaysDisplayCrumbs'] == 'Yes') %}

			<span class="mspsds-crumbs__item">
				{{ govukBreadcrumbs({
				  items: [
				    {
				      text: "Products",
				      href: "/root/product-list"
				    },
				    {
				      text: currentProduct.name
				    }
				  ]
				}) }}
			</span>

		{% endif %}

	</div>

</div> #}

{% set menus = [
   {
    items: [{
      text: 'Open case about this product',
      href: '/pages/flows/create-new?newType=Report',
      classes: ''
    }]

  ]}%}

{% set identityBarContentHTML %}
<span class="hmcts-badge hmcts-badge--grey">Product</span> {{currentProduct.name}}
{% endset %}

{{ identityBar({
    title: { html: identityBarContentHTML },
    menus: menus
    }) }}  