

{% set fullDetailHtml %}
  {% include "includes/components/product/tabs/product-tab-full-detail.html" %}
{% endset -%}


{% set attachmentsHtml %}
  {% include "includes/components/product/tabs/product-tab-attachments.html" %}
{% endset -%}


{% set casesHtml %}
  {% include "includes/components/product/tabs/product-tab-cases.html" %}
{% endset -%}




<hr class="govuk-section-break govuk-section-break--l" />



{{ govukTabs({
  items: [
    {
      label: "Full details",
      id: "full-details",
      panel: {
        html: fullDetailHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Cases",
      id: "cases",
      panel: {
        html: casesHtml
      }
    }
  ]
}) }}

















