{% extends "includes/templates/case-edit.html" %}
{% set pageHeading = 'Case risk level' %}
{% set contentType = 'risk level' %}

{% set pageContext = 'set' %}
{% set verbText = 'Update' %}

{% set currentCase = data.cases | withId(data['caseid']) %}
{% set currentCase = currentCase | attachCaseChildren(data) %}

{% set caseRiskLevel = currentCase.riskLevel %}

{% if not caseRiskLevel %}
  {% set pageHeading = 'Set case risk level' %}
  {% set verbText = 'Set' %}
{% endif %}

{% set submitButtonText = verbText %}

{% set formCancel = '../overview' %}
{% set formAction = './save' %}


{# Todo: make this actually update a case #}
{% block formContent %}



  {% include "includes/components/shared/risk-level.html" %}



{% endblock %}
