{% extends "includes/templates/case-validation.html" %}
{% set pageHeading = 'Have you validated the case risk level?' %}
{% set contentType = 'Continue' %}


{# Todo: make this actually update a case #}
{% block formContent %}


{% set otherRiskLevelHTML %}
  {{ govukInput({
    label: {
      text: "Have you validated the case risk level?",
      classes: "govuk-visually-hidden"
    },
    id: "other-risk-level",
    name: "riskLevelOther",
    value: currentCase.riskLevelOther,
    classes: "govuk-!-width-one-half"
  }) }}
{% endset %}


{% set whyFurtherInfoHTML %}

{{ govukTextarea({
  name: "more-detail",
id: "more-detail",
label: {
  text: "Further details",
  classes: "govuk-label--m",
  isPageHeading: true
},
hint: {
  text: "Tell us the reason in few words."
}
  }) }}


{% endset %}


{{ govukRadios({
    idPrefix: "risk-validation",
    name: "riskVal",
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        _classes: "govuk-visually-hidden"
      }
    },
    items: [
      {
        value: "validated, redirect(../../../pages/case/overview-serious-risk-validated)",
        text: "Yes",
        checked: checked([theRiskVal], "Yes")
      },
      {
        value: "no, redirect(../../../pages/case/overview-serious-risk)",
        text: "No",
        checked: checked([theRiskVal], "No"),
        conditional: {
          html: whyFurtherInfoHTML
        }
      }
    ]
  }) }}


{% endblock %}
