{% from "table/macro.njk"       import govukTable %}

{% from "includes/components/shared/tabs/controls.html"           import controls %}


{% macro businessPanel(businessData) %}

  {% set biz             = businessData.business %}

  {% set bizRows         = [] %}
  



  {% if businessData.displayDetails == 'contact' %}
    
      {% set bizRows = (bizRows.push([
            { text: 'Role'},
            { text: businessData.role }
      ]), bizRows) %}

      {% set bizRows = (bizRows.push([
            { text: 'Registered name' },
            { text: biz.name }
      ]), bizRows) %}

      {% if biz.address %}
          {% set bizRows = (bizRows.push([
                { text: 'Main address' },
                { text: biz.address }
          ]), bizRows) %}
      {% endif %}

      {% if biz.contact %}
          {% set bizRows = (bizRows.push([
                { text: 'Main contact'},
                { text: biz.contact }
          ]), bizRows) %}
      {% endif %}

      {% if biz.primaryAuthority %}
          {% set bizRows = (bizRows.push([
                { text: 'Primary authority' },
                { text: biz.primaryAuthority }
          ]), bizRows) %}
      {% endif %}



  {% else  %}



      {% set bizRows = (bizRows.push([
          { text: "Registered name" },
          { text: biz.name  }
      ]), bizRows) %}


      {% if biz.tradingName %}
          {% set bizRows = (bizRows.push([
              { text: "Trading name" },
              { text: biz.tradingName  }
          ]), bizRows) %}
      {% endif %}

      {% if biz.companyNumber %}
          {% set bizRows = (bizRows.push([
              { text: "Company number" },
              { text: biz.companyNumber }
          ]), bizRows) %}
      {% endif %}


      {% if businessData.displayDetails == 'summary' %}

            {% if biz.primaryAuthority %}
                {% set bizRows = (bizRows.push([
                      { text: 'Primary authority' },
                      { text: biz.primaryAuthority }
                ]), bizRows) %}
            {% endif %}

      {% endif %}



      {% if businessData.displayDetails == 'full' %}

            {% if biz.companyType %}
                {% set bizRows = (bizRows.push([
                      { text: 'Company type' },
                      { text: biz.companyType }
                ]), bizRows) %}
            {% endif %}

            {% if biz.address %}
                {% set bizRows = (bizRows.push([
                      { text: 'Registered office address' },
                      { text: biz.address }
                ]), bizRows) %}
            {% endif %}

            {% if biz.vatNumber %}
                {% set bizRows = (bizRows.push([
                      { text: 'VAT number' },
                      { text: biz.vatNumber }
                ]), bizRows) %}
            {% endif %}

            {% if biz.sicCode %}
                {% set bizRows = (bizRows.push([
                      { text: 'Nature of business (SIC)' },
                      { text: biz.sicCode }
                ]), bizRows) %}
            {% endif %}

            {% if biz.primaryAuthority %}
                {% set bizRows = (bizRows.push([
                      { text: 'Primary Authority' },
                      { text: biz.primaryAuthority }
                ]), bizRows) %}
            {% endif %}

            {% if biz.additionalInfo %}
                {% set bizRows = (bizRows.push([
                      { text: 'Additional information' },
                      { text: biz.additionalInfo }
                ]), bizRows) %}
            {% endif %}


      {% endif %}


  {% endif %}






  <div class="govuk-grid-row">



    <div class="govuk-grid-column-full ">

      {{ govukTable({
        firstCellIsHeader: true,
        classes: "govuk-!-margin-bottom-4",
        rows: bizRows
      }) }}


      {% if businessData.controls %}

        {{ controls(businessData.controls) }}

      {% endif %}

    </div>
  </div>

{% endmacro %}
