{% from "table/macro.njk"                                   import govukTable %}
{% from "includes/components/shared/page-title.html"        import pageTitle %}





<section class="mspsds-pagetitle">


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      {{ pageTitle({
        type:       'Business',
        title:      currentBusiness.name
      }) }}
    </div>

    <div class="govuk-grid-column-one-third">
      {{ govukTable({
        classes: "mspsds-case-status",
        firstCellIsHeader: true,
        rows: [
          [
            { html: '<span class="govuk-caption-m govuk-!-font-size-16">Cases</span> ' + currentBusiness.cases.length  }
          ]
        ]
      }) }}
    </div>

  </div>


</section>