{% extends "mspsds-layout.html" %}

{% block pageTitle %}
Record email
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/root/case"
}) }}
{% endblock %}

{% block content %}
{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Record email"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="./02e-add-email-content" method="post" class="form">

      {% call govukFieldset({
        legend: {
          text:           "Email details",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}
      {{ govukRadios({
        idPrefix:   "email-direction",
        name:       "email-direction",
        classes:    "govuk-radios--inline mspsds-email-direction-radios",
        items: [
          {
            value:  "To",
            text:   "To",
            checked: checked("email-direction", "To")
          },
          {
            value:  "From",
            text:   "From",
            checked: checked("email-direction", "From")
          }
        ]
      }) }}
      {% from "includes/components/correspondence/name-input.html" import nameInput %}
      {{ nameInput("Name") }}
      {% include "includes/components/correspondence/email-input.html" %}
      {% include "includes/components/correspondence/consumer-details-check-input.html" %}
      {% endcall %}

      {% from "includes/components/correspondence/date-input.html" import correspondenceDate %}
      {{ correspondenceDate("Date sent") }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
