{% extends "includes/templates/flow.html" %}

{% set currentCase = data.cases | withId(data['caseid']) %}

{% set displayTitle        = 'Assign case' %}

{% set formAction         = 'save' %}


{% block flow %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Current assignee</h2>
    <p class="govuk-body govuk-body-l">{{currentCase.assignee}}</p>
  </div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="{{formAction}}" method="post" class="form">


      
      {% set otherAssigneeHtml %}

        {{ govukInput({
          label: {
            text:     "Name / Email address",
            classes:  "govuk-!-width-two-thirds"
          },
          classes:    "govuk-!-width-two-thirds",
          id:         "other-assignee",
          name:       "other-assignee"
        }) }}

      {% endset %}



      {% call govukFieldset({
        legend: {
          text:           "New assignee",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {% set userRows         = [] %}

        {% for user in data['users'] %}

          {% if user != currentCase.assignee %}

            {% set userRows = (userRows.push({ 
                value: user,
                text: user  
              }), userRows) %}

          {% endif %}

        {% endfor %}


        {% if userRows.length > 0 %}

          {% set userRows = (userRows.push({ 
              divider: "or" 
          }), userRows) %}
          
          {% set userRows = (userRows.push({ 
              value: "Other",
              text: "Other",
              conditional: {
                html: otherAssigneeHtml
              }
          }), userRows) %}

        {% endif %}



        {{ govukRadios({
          idPrefix:   "assignee",
          name:       "assignee",
          fieldset: {
            legend: {
              text:     "Recent assignees",
              classes:  "govuk-fieldset__legend--s"
            }
          },
          items: userRows
        }) }}

      {% endcall %}



      {{ govukButton({
        text: "Assign"
      }) }}

    </form>


  </div>
</div>


{% endblock %}
