{% extends "includes/templates/flow--creation.html" %}


{% set displayTitle        = 'Create new' %}

{% set formAction         = './02' %}


{% block flow %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="{{formAction}}" method="post" class="form">

         <div class="govuk-grid-row">

          {% include "includes/components/shared/create/issue-type-select.html" %}
          
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                  {% from "button/macro.njk" import govukButton %}
                
                  {{ govukButton({
                    text: "Continue"
                  }) }}

              </div>
          </div>


      </form>

    </div>
  </div>


{% endblock %}
