{% extends "includes/templates/flow--creation.html" %}
{% set displayTitle        = 'New '+ (data['new']['report']['type'] | lower) %}
{% set formAction         = './04' %}

{% block flow %}
<form action="{{formAction}}" method="post" class="form">
  <div class="govuk-grid-row">
    {% include "includes/components/shared/create/reporter-details.html" %}
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>
{% endblock %}
