{% extends "includes/templates/flow--creation.html" %}


{% set displayTitle        = 'New '+ data['new']['report']['type']%}

{% set formAction         = './05' %}
{% set formAction         = '/pages/flows/process-incoming/save' %}


{% block flow %}
<form action="{{formAction}}" method="post" class="form">
  <div class="govuk-grid-row">
    {% if data['new']['report']['type'] == 'Allegation' %}
      {% include "includes/components/shared/create/allegation-info.html" %}
    {% elif data['new']['report']['type'] == 'Question' %}
      {% include "includes/components/shared/create/question-info.html" %}
    {% elif data['new']['report']['type'] == 'Recall' %}
      {% include "includes/components/shared/create/recall-info.html" %}
    {% elif data['new']['report']['type'] == 'Notification' %}
      {% include "includes/components/shared/create/notification-info.html" %}
    {% endif %}
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>
{% endblock %}
