{% extends "includes/templates/flow.html" %}


{% set displayTitle        = 'New '+ data['new']['report']['type']%}

{% set formAction         = './07' %}



{% block flow %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="{{formAction}}" method="post" class="form">

         <div class="govuk-grid-row">

          {% if data['new']['report']['correspondence']['type'] == 'email' %}

              {% include "includes/components/shared/create/email-content.html" %}

          {% else %}

              {% include "includes/components/shared/create/phone-content.html" %}

          {% endif %}

          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                  {% from "button/macro.njk" import govukButton %}
                
                  {{ govukButton({
                    text: "Continue"
                  }) }}

              </div>
          </div>


      </form>

    </div>
  </div>


{% endblock %}
