{% extends "includes/templates/flow.html" %}

{% set displayTitle = 'Remove location' %}


{% set formAction   = '/pages/flows/location/delete' %}


{% block flow %}

<form action="{{formAction}}" method="post" class="form">
    <div class="govuk-grid-row">

          {% include "includes/components/shared/location/details-display.html" %}
          
    </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% from "button/macro.njk" import govukButton %}
          
            {{ govukButton({
              text: "Update location" ,
              classes: "mspsds-button"
            }) }}

            {{ govukButton({
              text: "Delete location" ,
              classes: "mspsds-button mspsds-button--delete"
            }) }}

        </div>
      </div>
    
</form>

{% endblock %}
