{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'Enter business details' %}
{% set formAction         = './business-activities' %}
{% set returnLink = {href:'/pages/flows/create-new/business/index', text: 'Return to businesses'} %}

{% if currentItemIndex == 'new' %}
  {% set theBusiness = data.business %}
{% else %}
  {% set theBusiness = data.new.report.business.businesses[currentItemIndex] %}
{% endif %}

{% block flow %}
<form action="{{formAction}}" method="post" class="form">
  
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  {% call govukFieldset({
    legend: {
      text: "Business details",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}

  
  {{ govukInput({
    label: {
      text: "Trading name",
      classes: ""
    },
    hint: {
      text: "The name the business is known as"
    },
    id: "business[trading]",
    name: "business[trading]",
    classes: "govuk-!-width-one-half",
    value: theBusiness.trading
  }) }}

  {{ govukInput({
    label: {
      text: "Legal name",
      classes: ""
    },
    hint: {
      text: "The registered name of the company"
    },
    id: "business[legal]",
    name: "business[legal]",
    classes: "govuk-!-width-one-half",
    value: theBusiness.legal
  }) }}

  {# <p class="govuk-body"><a href="" class="govuk-link">Same as trading name</a></p> #}

  {{ govukInput({
    label: {
      text: "Company number",
      classes: "s"
    },
    id: "business[number]",
    name: "business[number]",
    classes: "govuk-!-width-one-third",
    value: theBusiness.legal
  }) }}

  {% endcall %}


  {# Address #}
   {#  {% call govukFieldset({
    legend: {
      text: "Address",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
      label: {
        text: "Location name",
        classes: ""
      },
      hint: {
        text: "For example, ‘Head office’, ‘Registered office’ or ‘Northern office’"
      },
      id: "input-name",
      name: "business[locationName]",
      classes: "govuk-!-width-two-thirds",
      value: data.new.report.business.businesses[currentItemIndex].locationName

    }) }}

    {{ govukInput({
      label: {
        html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
      },
      id: "address-line-1",
      name: "business[address][0]",
      classes: "govuk-!-width-two-thirds",
      value: data.new.report.business.businesses[currentItemIndex].address[0]
    }) }}

    {{ govukInput({
      label: {
        html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
      },
      id: "address-line-2",
      name: "business[address][1]",
      classes: "govuk-!-width-two-thirds",
      value: data.new.report.business.businesses[currentItemIndex].address[1]
    }) }}

    {{ govukInput({
      label: {
        text: "Town or city"
      },
      classes: "govuk-!-width-one-half",
      id: "business-town",
      name: "business[town]",
      value: data.new.report.business.businesses[currentItemIndex].town

    }) }}

    {{ govukInput({
      label: {
        text: "County"
      },
      classes: "govuk-!-width-one-third",
      id: "business-county",
      name: "business[county]",
      value: data.new.report.business.businesses[currentItemIndex].county
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode"
      },
      classes: "govuk-input--width-10",
      id: "business-postcode",
      name: "business[postcode]",
      value: data.new.report.business.businesses[currentItemIndex].postcode
    }) }}

    {{autocompleteCountry({
      label: 'Country', 
      labelClasses: 'govuk-label-s',
      width: "govuk-!-width-one-half",
      name: "business[country]",
      defaultValue: data.new.report.business.businesses[currentItemIndex].country
    })}}

  {% endcall %} #}

  <h2 class="govuk-heading-m">Locations</h2>
  {{ govukInsetText({
      text: "No locations added."
    }) }}

  <div class="govuk-form-group">
    {{ govukButton({
    text: "Add a location to this business",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div>


  <h2 class="govuk-heading-m">Contacts</h2>
  {{ govukInsetText({
      text: "No contacts added."
    }) }}

  <div class="govuk-form-group">
    {{ govukButton({
    text: "Add a contact to this business",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div>



  <div class="govuk-form-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

      

</form>
{% endblock %}
