{% extends "mspsds-layout.html" %}
{% set currentPage      = 'case' %}
{% set currentCase = data.cases | withId(data['caseid']) %}
{% set currentCase = currentCase | attachCaseChildren(data) %}
{% set currentTeam = data.currentTeam %}
{# {% set currentCase.restricted = true %} #}

{% if bodyClasses %}
    {% set bodyClasses = bodyClasses + " mspsds-width-container case" %}
{% else %}
    {% set bodyClasses = " mspsds-width-container case" %}
{% endif %}

{% set navActive = 'cases' %}

{% set caseNavActive = 'settings' %}
{% set hasEditRights = true if (currentCase.assignee == data['currentUser']) else false %}

{% set significantDateLabel = "Last updated" if currentCase.activities.length > 1 else "Created" %}




{% block pageTitle %}
{% endblock %}

{% block header %}
  {{ super() }}
  {% set includeCaseActions = false %}

  {% include "includes/components/case/case-bar.html" %}

{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
      text: 'Back',
      href: '../permissions'
  }) }}

{% endblock %}






{% block content %}

{% set permissionsTable %}

{{ govukTable({
  caption: "Access levels and rights",
  firstCellIsHeader: true,
  head: [
    {
      text: "Type of data or action"
    },
    {
      text: "Full editing rights"
    },
    {
      text: "Full viewing rights"
    },
    {
      text: "Standard viewing rights"
    },
    {
      text: "Restricted"
    }
  ],
  rows: [
  [
      {
        text: "Case title"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "view"
      },
      {
        text: "view ‘safe’ title"
      }
    ],
    [
      {
        text: "Case summary"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "view"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Case creator and assignee"
      },
      {
        text: "view"
      },
      {
        text: "view"
      },
      {
        text: "view"
      },
      {
        text: "view"
      }
    ],
    [
      {
        text: "Reporter"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "view*"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Comments"
      },
      {
        text: "edit"
      },
      {
        text: "add and view"
      },
      {
        text: "add and view"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Case notes"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "metadata only"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Products"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "view"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Businesses"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "view"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Corrective actions"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "view"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Incidents"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "summary only"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Activity log"
      },
      {
        text: "view"
      },
      {
        text: "view"
      },
      {
        text: "metadata only"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Product images, test result attachments"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "view"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Other attachments"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "metadata only"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Test results"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "view"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Correspondence"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "✗"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Items marked as 'safe'"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "view"
      },
      {
        text: "✗"
      }
    ],
    [
      {
        text: "Items marked as 'not-safe'"
      },
      {
        text: "edit"
      },
      {
        text: "view"
      },
      {
        text: "✗"
      },
      {
        text: "✗"
      }
    ]
  ]
}) }}

{% endset %}

{% set detailsHTML %}

{{permissionsTable | safe}}

<h3 class="govuk-heading-m">Definitions</h3>
<p class="govuk-body"><strong>Metadata only</strong> - only metadata about this item is available - such as date created and type - but not the contents of the item.</p>
<p class="govuk-body"><strong>Summary only</strong> - only the summary for this item is available, including dates - but not the contents of the item.</p>


{% endset %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ "Add a team to the case" if (data.team == 'new') else data.team}}</h1>

    

    {{ govukDetails({
      summaryText: "What can be seen at each permissions level",
      html: detailsHTML,
      open: false
    }) }}

    {% set adminCheckbox %}
      {{ govukCheckboxes({
        idPrefix: "admin",
        name: "admin",
        _fieldset: {
          legend: {
            text: "What is your nationality?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "true",
            text: "Can manage users and permissions",
            text: "Can edit all case details (reassign it, change its status, manage permission levels and restrict it).",
            _hint: {
              text: "Some hint text"
            }
          }
        ]
      }) }}
    {% endset %}


    <form action="../permissions/save" method="post" class="form">

      {% if data.team == 'new' %}
        {{ govukInput({
          id: "teamName",
          name: "teamName",
          type: "text",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Team name"
          },
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {% else %}

        {{ govukInput({
          id: "teamName",
          name: "teamName",
          type: "hidden",
          value: data.team
        }) }}

      {% endif %}

      {{ govukRadios({
        idPrefix: "where-do-you-live",
        name: "teamPermissionsLevel",
        
        fieldset: {
          legend: {
            text: "What permissions should the team have?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m",
            hint: permissionsHintHTML
          }
        },
        items: [
          {
            value: "admin",
            text: "Edit, view and manage",
            checked: true if data.teamPermissionsLevel == "admin",
            hint: {
              text: "Edit the full case as well as manage case permissions"
            }
          },
          {
            value: "edit",
            text: "Edit and view",
            checked: true if data.teamPermissionsLevel == "edit",
            hint: {
              text: "Edit the full case"            
            },
            _conditional: {
              html: adminCheckbox
            }
          },
          {
            value: "view-full",
            text: "View all",
            checked: true if data.teamPermissionsLevel == "view-full",
            hint: {
            text: "View the full case"
          }
          },
          {
            value: "view-limited",
            text: "View standard (non-sensitive items only)",
            checked: true if data.teamPermissionsLevel == "view-limited" or data.team == 'new',
            hint: {
              text: "Can view case details except sensitive information, correspondence, or attachments that aren't marked as safe."
            }
          }
        ]
      }) }}

      {# <p class="govuk-body">You can also <a href="">remove the team</a> from the case to return them to default permissions (standard).</p> #}

  
      {{ govukWarningText({
        html: "If you want to prevent case details from being seen, it must be <a href='../restriction'>restricted</a>.",
        iconFallbackText: "Warning"
      }) }}

      {# {{ govukWarningText({
        html: "You must <a href='../restriction'>restrict the case</a> to stop case details being seen.",
        iconFallbackText: "Warning"
      }) }} #}

      {{ govukButton({
        text: "Set permissions"
      }) }}
    </form>
    



    


  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>


{% endblock %}
