{% extends "mspsds-layout.html" %}
{% set currentPage      = 'case' %}
{% set currentCase = data.cases | withId(data['caseid']) %}
{% set currentCase = currentCase | attachCaseChildren(data) %}
{% set currentTeam = data.currentTeam %}
{# {% set currentCase.restricted = true %} #}

{% if bodyClasses %}
    {% set bodyClasses = bodyClasses + " mspsds-width-container case" %}
{% else %}
    {% set bodyClasses = " mspsds-width-container case" %}
{% endif %}

{% set navActive = 'cases' %}

{% set caseNavActive = 'settings' %}
{% set hasEditRights = true if (currentCase.assignee == data['currentUser']) else false %}

{% set significantDateLabel = "Last updated" if currentCase.activities.length > 1 else "Created" %}




{% block pageTitle %}
{% endblock %}

{% block header %}
  {{ super() }}
  {% set includeCaseActions = false %}

  {% include "includes/components/case/case-bar.html" %}

{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
      text: 'Back',
      href: '../permissions'
  }) }}

{% endblock %}


{% block content %}

{% set permissionsTable %}
{% include "includes/components/shared/permissions-table.html" %}

{% endset %}

{% set detailsHTML %}

{{permissionsTable | safe}}


{% endset %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ "Add a team to the case" if (data.team == 'new') else data.team}}</h1>

    {{ govukDetails({
      summaryText: "What can be seen at each permission level",
      html: detailsHTML,
      open: false
    }) }}

    <form action="../permissions/save" method="post" class="form">

      {% if data.team == 'new' %}

        {# Approximates a list of teams #}
        {{ localAuthorityAutocomplete({
          idPrefix:   'localAuthorityName',
          name:       'teamName',
          class:      "govuk-label--m govuk-!-margin-bottom-1",
          legend:     "Choose team"
        }) }}

      {% else %}

        {# Hidden input to pass data along #}
        {{ govukInput({
          id: "teamName",
          name: "teamName",
          type: "hidden",
          value: data.team
        }) }}

      {% endif %}

      {# View or edit options #}
      {% set permissionsItems = [
          {
            value: "view-full",
            text: "View full case",
            checked: true if (data.teamPermissionsLevel == "view-full") and not (data.team == "new"),
            hint: {
              text: "View full case details including correspondence"
            }
          },
          {
            value: "edit",
            text: "Edit full case",
            checked: true if data.teamPermissionsLevel == "edit" and not (data.team == "new"),
            hint: {
              text: "View and edit all case details. Cannot add or remove teams or close the case."
            }
          }
        ]
      %}
      {# Removed admin option #}
      {#
      {
          value: "admin",
          text: "View, edit and manage",
          checked: true if data.teamPermissionsLevel == "admin" and not (data.team == "new"),
          hint: {
            text: "Case managers can set case permissions, add teams to the case and change assignment"
          }
        }
         #}
      {# (a.push(3),a) #}

      {# Add remove option if it's an existing team #}
      {% if data.team != 'new' %}
        {% set permissionsItems = (permissionsItems.push(
            {
              divider: "or"
            },
            {
              value: "remove",
              text: "Remove " + data.team + " from the case",
              checked: true if data.teamPermissionsLevel == "view-limited" or data.team == 'new',
              hint: {
                text: "Will still be able to view case details except sensitive information, correspondence, or items that aren't marked as safe"
              },
              hint: {
                text: "Will have default view rights" if not currentCase.restricted else "Will not be able to view case details as it is restricted"
                  }
            }
            ), permissionsItems   )
        %}

      {% endif %}



      {# Choose permission level for team #}
      {{ govukRadios({
        idPrefix: "where-do-you-live",
        name: "teamPermissionsLevel",

        fieldset: {
          legend: {
            text: "What permissions should the team have?" if (data.team == 'new') else "Permission level",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m",
            hint: permissionsHintHTML
          }
        },
        items: permissionsItems
      }) }}


      <p class="govuk-body">
      {% if (data.team == 'new') %}
        We’ll email the team to let them know they’ve been added to the case.
      {% else %}
        We’ll email {{data.team}} to let them know that their permission level has been changed.
      {% endif %}
      </p>

      {% set teamMessageHTML %}
        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          label: {
            text: "Message to " + (data.team if (data.team != 'new') else "the team")
          }
        }) }}
      {% endset %}

      {{ govukRadios({
        idPrefix: "include-message",
        name: "include-message",
        fieldset: {
          legend: {
            text: "Do you want to include instructions or more information?",
            isPageHeading: true,
            _classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes, add a message",
            conditional: {
              html: teamMessageHTML
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {# {% if not currentCase.restricted %}

        {{ govukWarningText({
          html: "If you want to prevent case details from being seen you can <a href='../restriction'>restrict this case</a>.",
          iconFallbackText: "Warning"
        }) }}

      {% endif %} #}


      {{ govukButton({
        text: "Update permission level" if data.team != 'new' else "Add team to this case"
      }) }}
    </form>







  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>


{% endblock %}
