{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'What are their contact details?' %}
{% set formAction         = 'save' %}
{% set returnLink = {href:'/pages/flows/create-new/reporter/index', text: 'Return to reporter’s details'} %}

{% if currentItemIndex == 'new' %}
  {% set theReporter = data.reporter %}
{% else %}
  {% set theReporter = data.new.report.reporter.reports[currentItemIndex] %}
{% endif %}

{% block flow %}
<form action="{{formAction}}" method="post" class="form">
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>

    {% if currentItemIndex == 'new' %}
      {% set theReporter = data.reporter %}
    {% else %}
      {% set theReporter = data.new.report.reporter.reports[currentItemIndex] %}
    {% endif %}

    {{ govukInput({
      label: {
        text: "Contact name",
        _classes: "govuk-label--m"
      },
      id: "contact-name",
      name: "reporter[name]",
      classes: "govuk-!-width-one-half",
      value: theReporter.name
    }) }}

    {{ govukInput({
      label: {
        text: "Phone number",
        _classes: "govuk-label--m"
      },
      id: "phone-number",
      name: "reporter[phoneNumber]",
      classes: "govuk-!-width-one-third",
      value: theReporter.phoneNumber
    }) }}

    {{ govukInput({
      label: {
        text: "Email address",
        _classes: "govuk-label--s"
      },
      id: "email-address",
      name: "reporter[emailAddress]",
      classes: "govuk-!-width-two-thirds",
      value: theReporter.emailAddress
    }) }}

    {{ govukTextarea({
      name: "reporter[otherDetails]",
      value: theReporter.otherDetails,
      id: "otherDetails",
      label: {
        text: "Other details"
      },
      hint: {
        text: "Location, reference numbers etc"
      }
    }) }}

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>

      

</form>
{% endblock %}
