{% macro taskListItem(title, link, extra='', status=false) %}
<li class="app-task-list__item">
  <span class="app-task-list__task-name">
    <a href="{{link}}" {% if status %}aria-describedby="{{title | toKebabCase }}-{{status | toKebabCase }}"{% endif %}>
      {{title}}
    </a>
  </span>
  {% if extra %}
  <br><span class="govuk-body">{{extra}}</span>
  {% endif %}
  {% if status %}
    
    {% set badgeColour = 'hmcts-badge--grey' %}
    {% if status == 'Complete' %}
    {% set badgeColour = 'hmcts-badge--blue' %}
    {% endif %}
    <span class="app-task-list__task-completed hmcts-badge {{badgeColour}}" id="{{title | toKebabCase }}-{{status | toKebabCase }}">{{status}}</span>
    
  {# <strong class="govuk-tag app-task-list__task-completed" id="{{title | toKebabCase }}-{{status | toKebabCase }}">{{status}}</strong> #}
  {% endif %}
</li>
{% endmacro %}