{% macro taskListItem(title, link, extra='', status=false) %}

{% set badgeColour = 'hmcts-badge--grey' %}
{% set statusText = status.text or "" %}

{% if status.isComplete %}
  {% set badgeColour = 'hmcts-badge--blue' %}
  {% set statusText = statusText or "Completed"
  %}
{% endif %}
<li class="app-task-list__item" id="{{title | toKebabCase}}">
  <div class="govuk-form-group govuk-!-margin-bottom-2">
    <span class="app-task-list__task-name">
    <a href="{{link}}" {% if statusText %}aria-describedby="{{title | toKebabCase }}-{{statusText | toKebabCase }}"{% endif %}>
      {{title}}
    </a>
  </span>

  {% if statusText | length %}
    <span class="app-task-list__task-completed hmcts-badge {{badgeColour}}" id="{{title | toKebabCase }}-{{statusText | toKebabCase }}">{{statusText}}</span>
  {% endif %}
  </div>
  {% if extra %}
  <div class="govuk-form-group govuk-!-margin-bottom-2">
    <p class="govuk-body">{{extra}}</p>
  </div>
  {% endif %}
  
</li>
{% endmacro %}