{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'Record a corrective action' %}
{% set formAction         = 'results-file' %}
{% set returnLink = {href:'/pages/flows/create-new/case-history/index', text: 'Return to case history'} %}

{% if currentItemIndex == 'new' %}
  {% set theItem = data.historyItem %}
{% else %}
  {% set theItem = data.new.report.history.items[currentItemIndex] %}
{% endif %}

{% block flow %}
<form action="{{formAction}}" method="post" class="form">

  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

    {# Remove in place of type of action #}
    {# Summary of the action #}
    {# {{ govukInput({
      label: {
        text: "Summary of the action",
        classes: "govuk-label--m"
      },
      id: "summary",
      name: "historyItem[title]",
      value: theItem.title,
      classes: "govuk-!-width-two-thirds",
      hint: {
      text: "For example, ‘Retailer has been told to remove the item from the shelves’."
    }
    }) }} #}

    {# Type of action #}
    {% set typeOfActionList = [
      "Ban on the marketing of the product and any accompanying measures",
      "Destruction of the product",
      "Import rejected at border",
      "Making the marketing of the product subject to prior conditions",
      "Marking the product with appropriate warnings on the risks",
      "Recall of the product from end users",
      "Temporary ban on the supply, offer to supply and display of the product",
      "Warning consumers of the risks",
      "Withdrawal of the product from the market",
      "Other"
    ]%}

    {% set typeOfActionOther %}
      {{ govukInput({
        label: {
          text: "Other type of action",
          classes: "govuk-label--s"
        },
        id: "typeOfActionOther",
        name: "historyItem[typeOfActionOther]",
        value: theItem.typeOfActionOther,
        classes: "govuk-!-width-two-thirds",
        _hint: {
          text: "For example, ‘Retailer has been told to remove the item from the shelves’."
        }
      }) }}

    {% endset %}

    {{ autocompleteInput({
      idPrefix: "typeOfAction", 
      name:     "historyItem[title]", 
      legend:   "What type of action has been taken?", 
      _hint:     "If more than one type of action has been taken, choose other.", 
      values:   typeOfActionList,
      value: theItem['title'],
      class: 'govuk-heading-m',
      width: 'govuk-!-width-two-thirds',
      conditional: typeOfActionOther
    }) 
    }}

    {# Date of measure #}
    {{ govukDateInput({
      id: "action-date",
      namePrefix: "historyItem[date].",
      fieldset: {
        legend: {
          text: "What date did the action come in to effect?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: theItem['date'][0]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: theItem['date'][1]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: theItem['date'][2]
        }
      ],
      hint: {
        html: "This may be in the future. For example, 12 7 2019"
      }
    }) }}

    {# Legislation #}
    {% set legislationList = ['General Product Safety Regulations 2005',
    'Gas Appliances (Enforcement) and Miscellaneous Amendments Regulations 2018 / EU 2016/426 Appliances Burning Gaseous Fuels',
    'Personal Protective Equipment (Enforcement) Regulations 2018 / EU 2016/425 Personal Protective Equipment',
    'Radio Equipment Regulations 2017',
    'Recreational Craft Regulations 2017',
    'Electrical Equipment (Safety) Regulations 2016',
    'Electromagnetic Compatibility Regulations 2016',
    'Equipment and Protective Systems Intended for Use in Potentially Explosive Atmospheres Regulations 2016',
    'Lifts Regulations 2016',
    'Pressure Equipment Regulations 2016',
    'Simple Pressure Vessels (Safety) Regulations 2016',
    'Pyrotechnic Articles (Safety) Regulations 2015',
    'Cosmetic Products Enforcement Regulations 2013 / EC 1223/2009 Cosmetic Products',
    'Toys Safety Regulations 2011',
    'Aerosol Dispensers Regulations 2009',
    'Supply of Machinery (Safety) Regulations 2008',
    'Fireworks Act 2003 / Fireworks Regulations 2004',
    'Noise Emission in the Environment by Equipment for Use Outdoors Regulations 2001',
    'Plugs and Sockets (Safety) Regulations 1994',
    'Food Imitations (Safety) Regulations 1989',
    'Furniture and Furnishings (Fire) (Safety) Regulations 1988',
    'Consumer Protection Act 1987 (Part 1)',
    'Nightwear Safety Regulations 1985',
    'Oil Heaters (Safety) Regulations 1977',
    'Gun Barrel Proof Acts 1868 to 1978'] %}

    {{ autocompleteInput({
      idPrefix: "legislation", 
      name:     "historyItem[legislation]", 
      legend:   "Relevant legislation", 
      _hint:     "Select the relevant legislation or enter a different one.", 
      values:   legislationList,
      value: theItem['legislation'],
      class: 'govuk-heading-m',
      width: 'govuk-!-width-two-thirds'}) 
    }}

{% set currentActionBusinesses = [] %}
{% if report.business.businesses %}
  {% for business in report.business.businesses %}
    {% set businessName = business.legal %}
    {% set currentActionBusinesses = (currentActionBusinesses.push(businessName), currentActionBusinesses) %}
  {% endfor %}

{% endif %}

{% set businessesCount = report.business.businesses | length %}
    

{% if businessesCount > 1 %}

  {{ autocompleteInput({
    idPrefix:   currentNewActionIDVar  + 'business',
    name:       'historyItem[business]',
    class:      "govuk-fieldset__legend--m govuk-!-margin-bottom-1",
    legend:     "Which business is responsible? (optional)", 
    hint:       "Only businesses already added to the case are listed.", 
    values:     currentActionBusinesses 
  }) }}

{% elseif businessesCount == 1 %}

  {{ govukInput({
    idPrefix:   currentNewActionIDVar  + 'business',
    name:       currentNewActionVar    + '[business]',
    value:      currentActionBusinesses[0],
    type:       "hidden"
  }) }}

{% elseif businessesCount == 0 %}
  
  <div class="govuk-form-group">
    <h2 class="govuk-heading-m">Which business is responsible?</h2>
    <p class="govuk-body govuk-hint">There are no businesses associated with this case.</p>
  </div>


{% endif %}
    

    {# Mandatory or voluntary #}
    {{ govukRadios({
      idPrefix: "typeOfAction",
      name: "historyItem[typeOfAction]",
      fieldset: {
        legend: {
          text: "Is the corrective action mandatory?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "mandatory",
          text: "Yes",
          checked: checked([theItem['typeOfMeasure']], "mandatory")
        },
        {
          value: "voluntary",
          text: "No, it’s voluntary",
          checked: checked([theItem['typeOfMeasure']], "voluntary")
        }
      ]
    }) }}



    {# Type of measure #}
    {{ govukRadios({
      idPrefix: "durationOfMeasure",
      name: "historyItem[durationOfMeasure]",
      fieldset: {
        legend: {
          text: "How long will the corrective action be in place?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "permanent",
          text: "Permanently",
          checked: checked([theItem['durationOfMeasure']], "permanent")
        },
        {
          value: "temporary",
          text: "Temporarily",
          checked: checked([theItem['durationOfMeasure']], "temporary")
        },
        {
          value: "unknown",
          text: "Unknown",
          checked: checked([theItem['durationOfMeasure']], "unknown")
        }
      ]
    }) }}

    {% set scopeList = [
      "Local",
      "Regional",
      "National",
      "EEA wide",
      "EU wide",
      "Unknown"
    ]%}

    {{ autocompleteInput({
      idPrefix: "scope", 
      name:     "historyItem[scope]", 
      legend:   "What is the geographic scope of the action?",
      _hint:     "For example, local or national.", 
      values:   scopeList,
      value: theItem['scope'],
      class: 'govuk-heading-m',
      width: 'govuk-!-width-one-third'}) 
    }}

    {{ govukTextarea({
      name: "historyItem[otherDetails]",
      value: theItem.otherDetails,
      id: "otherDetails",
      label: {
        text: "Further details (optional)",
        classes: "govuk-label--m"
      },
      hint: {
        text: "If you have more information about a corrective action, add it here.
  "
      }
    }) }}

    {{ govukInput({
      id:   "history-type",
      name: "historyItem[type]",
      value: "Corrective action",
      type: "hidden"
    }) }}

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>

      

</form>
{% endblock %}
