{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'Case history' %}
{% set formAction         = './../overview' %}


{% block flow %}
<form action="{{formAction}}" method="post" class="form">
    
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>

    <p class="govuk-body">Record what’s happened in the case so far. Sharing this information will reduce confusion and the number of questions from people who become involved in the case later on.</p>

    {% if report.history.items | length == 0 %}
    {{ govukInsetText({
      text: "No case history"
    }) }}
    {% else %}

    {% for historyItem in report.history.items %}
    {# <h2 class="govuk-heading-s">testResult {{loop.index}}: {{testResult.class}} testResult</h2> #}
      {%- set itemDate -%}
        {%- if historyItem.date -%}
          {{- historyItem.date | arrayToDate | govukDate -}}
        {%- elseif historyItem.approximateDate -%}
          {{- historyItem.approximateDate[0] | prettyMonth }} {{historyItem.approximateDate[1]}} 
        {%- endif %}
      {%- endset %}
  
      {% if itemDate | length != 0 %}
      {% set itemDate = itemDate + '<br>' %}
      {% endif %}


      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: itemDate + historyItem.type
            },
            value: {


              text: historyItem.title
            },
            actions: {
              items: [
                {
                  href: "./" + (loop.index -1 ) + '/edit',
                  text: "Change",
                  visuallyHiddenText: "history item " + loop.index
                }
              ]
            }
          }
        ]
      }) }}
    
    {% endfor %}

    {% endif %}

    <div class="govuk-form-group">
      {{ hmctsMenu({
        classes: 'hmcts-menu--add-case-history',
        items: [
          {
            text: 'Add details of an incident',
            classes: 'hmcts-button--secondary',
            href: 'new/incident'
          },
          {
            text: 'Add a corrective action',
            classes: 'hmcts-button--secondary',
            href: 'new/corrective-action'
          },
          {
            text: 'Add a case note',
            classes: 'hmcts-button--secondary',
            href: '#'
          },
          {
            text: 'Add correspondence',
            classes: 'hmcts-button--secondary',
            href: '#'
          }
        ]
        }) 
      }} 
    </div>
      {{ govukInput({
        id:   "section-complete",
        name: "new[taskListSections][caseHistory][status][isComplete]",
        value: true,
        type: "hidden"
      }) }}

      <div class="govuk-form-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

   

      

</form>
{% endblock %}
