{% extends "includes/templates/flow--creation-ts.html" %}

{% set displayTitle        = 'What would you like to do?' %}
{% set formAction         = './02' %}

{% set backLink      = '/root/home' %}
{% set backText      = 'Home'  %}

{% set titleType     = 'false' %}


{% block flow %}
  <form action="{{formAction}}" method="post" class="form">

    <div class="govuk-grid-row">
       {% include "includes/components/shared/create/ts-setup-prototype-data.html" %}
       {% include "includes/components/shared/create/ts-issue-type-select.html" %}
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% from "button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>

  </form>
{% endblock %}
