{% extends "mspsds-layout.html" %}


{% block pageTitle %}
  Add image
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to case",
    href: "/case"
  }) }}

{% endblock %}


{% block content %}


  {{ pageTitle({
    type:   "Case: 1810-0001",
    title:  "Add image"
  }) }}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="./02-add-image-desc" method="post" class="form">


      {% call govukFieldset({
        legend: {
          text:       "Browse for file",
          classes:    "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukFileUpload({
          id: "image-upload",
          name: "image-upload"
        }) }}

      {% endcall %}


      {{ govukButton({
        text: "Upload"
      }) }}

    </form>


  </div>
</div>




{% endblock %}
