{% extends "layout.html" %}

{% block pageTitle %}
  New product safetly report – Case created
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h2 class="govuk-panel__title">Case created</h2>
        <div class="govuk-panel__body">
          Your reference number<br><strong>1810-0001</strong>
        </div>
      </div>

      <p>
        You have been sent a confirmation email.
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
  </div>


  <div class="govuk-grid-row mspsds-panel">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Do you have report correspondance?</h2>

      <p class="govuk-body">If the report came by email, or you've notes / transcript from a call, add them now.</p>

      <p class="govuk-body">
        <a class="govuk-link mspsds-block-link" href="/flows/add-correspondance/01-add-correspondance-context">Add reporter correspondance</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>

  </div>


  <div class="govuk-grid-row mspsds-panel">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">If you're on the phone right now</h2>

      <p class="govuk-body">or, if correspondance isn't available right now, don't forget to add it later.</p>

      <p class="govuk-body">
          <a class="govuk-link mspsds-block-link" href="/case__empty">View the case you've just created</a>
      </p>

    </div>


  </div>

{% endblock %}