{% extends "includes/templates/flow.html" %}

{% block pageTitle %}
Record corrective action
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to case",
  href: "/case"
}) }}
{% endblock %}

{% block content %}
{{ pageTitle({
  type:   "Case: 1810-0001",
  title:  "Record corrective action"
}) }}

{% set currentCase = data.cases | withId(data['caseid']) %}

{% set currentActionProducts = [] %}

{% if currentCase.products %}

  {% for product in currentCase.products %}
    {% set productData = data['products'] | withId(product) %}
    {% set productName = "" %}
    {% if productData.category %}
      {% set productName =  productName + productData.category %}
    {% endif %}

    {% if productData.name %}
      {% set productName =  productName + ' - ' + productData.name %}
    {% endif %}

    {% set currentActionProducts = (currentActionProducts.push(productName), currentActionProducts) %}
  {% endfor %}  
{% endif %}

{% set currentActionBusinesses = [] %}

{% if currentCase.businesses %}
  {% for business in currentCase.businesses %}
      {% set businessName = business.role %}
      {% set currentActionBusinesses = (currentActionBusinesses.push(businessName), currentActionBusinesses) %}
  {% endfor %}

{% endif %}

<form action="{{formAction}}" method="post" class="form">

  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    {% include "includes/components/shared/corrective-action/record-action.html" %}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
  
</form>

{% endblock %}
