
{% from "includes/components/shared/tab-title.html"           import tabTitle %}
{% from "includes/components/business/business-panel.html"    import businessPanel %}




{{ tabTitle({
  title:      'Businesses',
  controls:   '<a href="#" class="mspsds-block-link">Add business</a>'
}) }}




<div class="mspsds-business-list">


    {% for biz in data['businesses'] %}


      {% set matched = false %}

      {% for ciz in currentCase.businesses %}
          {% if biz.id === ciz.id %}
              {% set matched = ciz.role %}
          {% endif %}
      {% endfor %}


      {% if matched %}

        {{ businessPanel({
            business:       biz,
            role:           matched,
            controls:       true,
            fullDetails:    false
        }) }}

        <hr class="govuk-section-break govuk-section-break--m" />


      {% endif %}

    {% endfor %}

</div>

