
{% set addLink        = '/root/flows/attachment/add/01?currentPage=case&caseid='      + currentCase.id  %}
{% set viewLink       = 'APATH' %}
{% set editLink       = '/root/flows/attachment/edit/01?currentPage=case&caseid='     + currentCase.id + '&attachmentid=AID'  %}
{% set deleteLink     = '/root/flows/attachment/delete/01?currentPage=case&caseid='   + currentCase.id + '&attachmentid=AID' %}



{% set attachments         = currentCase.attachments %}


{% extends "includes/components/shared/tabs/tab-attachments.html" %}

