

{% set addLink        = '/root/flows/contact/add/01?currentPage=case&caseid='      + currentCase.id  %}
{% set viewLink       = '' %}
{% set editLink       = '/root/flows/contact/edit/01?currentPage=case&caseid='     + currentCase.id + '&contactid=CID'  %}
{% set deleteLink     = '/root/flows/contact/delete/01?currentPage=case&caseid='   + currentCase.id + '&contactid=CID' %}



{% set currentContacts  = currentCase.contacts %}

{% extends "includes/components/shared/tabs/tab-contacts.html" %}
