{% from "includes/components/shared/tab-title.html"           import tabTitle %}
{% from "includes/components/case/case-card-list.html"        import caseCardList %}


{% set filters = [{
    filterType: 'status',
    filterValues: ['Open']
},{
    filterType: 'product',
    filterValues: ['Charge Worx, Travel plug adaptor']
}] %}


{{ tabTitle({
        title:      'Related'
}) }}



<div class="mspsds-related-list">

    {{ caseCardList(filters, data['q1-assigned'], data['q2-assigned'], data['c1-assigned'], data['c2-assigned']) }}

</div>