
      <ul class="govuk-list govuk-list--bullet">
        
        <li>
          <h3>Home</h3>
          <ul>
            <li><a href="/root/home?signedIn=No">Signed out</a></li>
            <li><a href="/root/home?signedIn=Yes&currentTeam=OPSS">Signed in, OPSS</a></li>
            <li><a href="/root/home?signedIn=Yes&currentTeam=Trading%20Standards">Signed in, Trading Standards</a></li>
            <li><a href="/root/flows/ts-intro/01?signedIn=Yes&currentTeam=Trading%20Standards">Signed in, Trading Standards intro</a></li>
            <li><a href="/pages/declaration?signedIn=Yes&currentTeam=Trading%20Standards">Declaration</a></li>
          </ul>
        </li>

        <li>
          <h3>Product</h3>
          <ul>
            <li><a href="/root/product-list">Product-list Page</a></li>
            <li><a href="/root/product">Product Page</a></li>
          </ul>
        </li>


        <li>
          <h3>Business</h3>
          <ul>
            <li><a href="/root/business-list">Business-list Page</a></li>
            <li><a href="/root/business">Business Page</a></li>
          </ul>
        </li>

        <li>
          <h3>Case/Question</h3>
          <ul>
            <li><a href="/root/case-list">List page</a></li>
            <li><a href="/root/case">Case Page</a></li>
            <li><a href="/root/case?caseid=1810-0000">Case Page (empty)</a></li>
            <li><a href="/root/case?caseid=1811-0801">Question Page</a></li>
            <li><a href="root/case/overview?caseid=0132-1421&currentPage=case&productid=&businessid&signedIn=Yes&currentTeam=Trading%20Standards">Case overview page (new)</a></li>
            <li><a href="root/case/overview-restricted">Case overview page (restricted case)</a></li>
            <li><strong>Different permission levels</strong>
              <ul>
                <li><a href="root/case/overview?caseid=0132-1421&currentPage=case&productid=&businessid&signedIn=Yes&currentTeam=Trading%20Standards&currentUser=Tim%20Harwood&hasViewRights=true">As case owner</a></li>
                <li><a href="pages/case/settings/restriction/off">As case owner - unrestricted</a></li>
                <li><a href="pages/case/settings/restriction/on">As case owner - restricted</a></li>
                <li><a href="root/case/overview?caseid=0132-1421&currentPage=case&productid=&businessid&signedIn=Yes&currentTeam=Trading%20Standards&currentUser=James%20Green&hasViewRights=false">Default - not involved in case</a></li>
                <li><a href="pages/case/overview-restricted">Restricted - can't view case</a></li>

              </ul>
            </li>
          </ul>
        </li>


        <li>
          <h3>Flows</h3>
          <ul>
            <li><a href="/root/flows/assign/01">Assign</a></li>
            <li><a href="/root/flows/add-activity/01">Add activity</a></li>
            <li><a href="/root/flows/create/01">New</a></li>
            <li><a href="/root/flows/change-status/01">Set status</a></li>

            <li>
              Attachment:
              <ul>
                <li><a href="/root/flows/attachment/add/01">Add attachment</a></li>
                <li><a href="/root/flows/attachment/edit/01">Manage attachment</a></li>
              </ul>
            </li>
            
            <li>
              Contact:
              <ul>
                <li><a href="/root/flows/contact/add/01">Add contact</a></li>
                <li><a href="/root/flows/contact/edit/01">Manage contact</a></li>
              </ul>
            </li>


            <li>
              Location:
              <ul>
                <li><a href="/root/flows/location/add/01?currentPage=business">Add location</a></li>
                <li><a href="/root/flows/location/edit/01?currentPage=business">Manage location</a></li>
              </ul>
            </li>
            <li><a href="/pages/flows/create-new">Create new</a></li>

          </ul>
        </li>

      </ul>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>