{% extends "mspsds-layout.html" %}


{% block pageTitle %}
  Home Page
{% endblock %}


{% set currentTeam   = data['currentTeam'] %}
{% if currentTeam.includes("Trading") %}
  {% set createLink  = '/root/flows/ts-create/product-details' %}
{% else %}
  {% set createLink  = data['createUrl'] %}
{% endif %}

{% set navActive = 'teams' %}



{% block beforeContent %}

	{# {% include "includes/components/shared/page-banner.html" %} #}
  {% set teamLink = true %}

	{# {% from "includes/components/shared/site-nav.html"        import siteNav %}
  {{ siteNav([
    { 
      label: 'Home',
      link: '/root/home',
      classes: ''
    }, { 
      label: 'Cases',
      link: '/root/case-list'
    },

    { 
      label: 'Products',
      link: '/root/product-list'
    }, { 
      label: 'Businesses',
      link: '/root/business-list'
    },{ 
      label: 'Your teams',
      link: '/pages/your-teams',
      classes: 'active menu-right'
    }
    
    
    ]) }} #}

{% endblock %}
{# 

  { 
      label: 'Incidents',
      link: '/root/case-list'
    },
    {
        label: 'About',
        link: '/root/about'
      }
    , { 
      label: 'Products',
      link: '/root/product-list'
    }, { 
      label: 'Businesses',
      link: '/root/business-list'
    }, #}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Your teams</h1>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-heading-m" href="teams/b1dab0f5-4651-4af8-9f15-fa8143ff338d">OPSS Processing</a>
      </li>
      <li>
        <a class="govuk-link govuk-heading-m" href="teams/b1dab0f5-4651-4af8-9f15-fa8143ff338d">OPSS Enforcement</a>
      </li>
      <li>
        <a class="govuk-link govuk-heading-m" href="teams/b1dab0f5-4651-4af8-9f15-fa8143ff338d">OPSS Trading Standards Co-ordination</a>
      </li>
    </ul>

  </div>
</div>




{% endblock %}
