{% if activity.caseType != "Project" %}
<h4 class="govuk-heading-s">{{activity.caseType}} details</h4>
{% endif %}
<p class="govuk-body">
  {% if activity.caseType == "Allegation" %}
    Product type: <span class="govuk-!-font-weight-bold">{{activity.productType}}</span><br />
    Hazard type: <span class="govuk-!-font-weight-bold">{{activity.hazardType}}</span><br />
  {% endif %}
  {% if activity.attachments | length  > 0 %}
    {% for file in activity.attachments %}
      {{file.title}}: <span class="govuk-!-font-weight-bold">{{file.filename}}</span><br/>
    {% endfor %}
  {% endif %}
</p>
<p class="govuk-body">{{activity.caseSummary}}</p>

<p class="govuk-body">
  {% if activity.attachments | length  > 0 %}
    {% for file in activity.attachments %}
      <a href='#attachements' class="mspsds-block-link">View {{file.title}}</a>
    {% endfor %}
  {% endif %}
</p>
{% if activity.caseType != "Project" %}
  <h4 class="govuk-heading-s">Reporter</h4>
  {% if activity.reporterType == "Consumer" and not (currentCase | canBeSeenGDPR(currentTeam) )%}
    <p class="govuk-body">Consumer contact details hidden to comply with GDPR legislation.</p>
    <p class="govuk-body">Contact {{currentCase.creatorTeam}}, who created this case, to obtain these details if required.</p>
  {% else %}
    <p class="govuk-body">
      Name: <span class="govuk-!-font-weight-bold">{{activity.reporterName}}</span><br />
      Type: <span class="govuk-!-font-weight-bold">{{activity.reporterType}}</span><br />
      Phone number: <span class="govuk-!-font-weight-bold">{{activity.reporterPhoneNumber}}</span><br />
      Email address: <span class="govuk-!-font-weight-bold">{{activity.reporterEmailAddress}}</span><br />
    </p>
    <p class="govuk-body">{{activity.reporterOtherDetails}}</p>
  {% endif %}
{% endif %}
