

  <p class="govuk-body">
    
    {% if activity.productName %}
        Product: <span class="govuk-!-font-weight-bold">{{activity.productName}}</span><br />
    {% endif %}

    {% if activity.legislation %}
        Legislation: <span class="govuk-!-font-weight-bold">{{activity.legislation}}</span><br />
    {% endif %}

    {% if activity.businessName %}
        Business responsible: <span class="govuk-!-font-weight-bold">{{activity.businessName}}</span><br />
    {% endif %}

    {% if activity.decisionDate %}
        Date decided: <span class="govuk-!-font-weight-bold">{{activity.decisionDate}}</span><br />
    {% endif %}

    {% if activity.attachment.description %}
        Attached: <span class="govuk-!-font-weight-bold">{{activity.attachment.description}}</span>
    {% endif %}    
    
  </p>

  {% if activity.description %}
      <p class="govuk-body">{{activity.description}}</p>
  {% endif %}


  {% if activity.productName %}
      <a href="/root/product?productid={{activity.productid}}" class="mspsds-block-link">View product</a>
  {% endif %}

  {% if activity.businessName %}
      <a href="/root/business?businessid={{activity.businessid}}" class="mspsds-block-link">View business</a>
  {% endif %}

  {% if activity.attachment.upload %}
      <a href="#attachments" class="mspsds-block-link">View attachment</a>
  {% endif %}
  
  
  