{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Case visibility
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to case",
    href: "/root/case"
  }) }}
{% endblock %}


{% block content %}

  {{ pageTitle({
    type:   "Case: " + data.caseid,
    title:  "Visibility"
  }) }}

  {% set currentCase = data.cases | withId(data.caseid) %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="save" method="post" class="form">

        {{ govukRadios({
          idPrefix:   "restricted",
          name:       "restricted",
          items: [
            {
              value:  false,
              text:   "Visible to all",
              checked: not currentCase.restricted
            },
            {
              value:  true,
              text:   "My organisation only",
              checked: currentCase.restricted
            }
          ]
        }) }}

        {% call govukFieldset({
          legend: {
            text: "Comment / rationale",
            classes: "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukTextarea({
            hint: {
              text: "Visibility should only be restricted where there are legal privilege concerns that mean businesses under investigation should not be exposed. If that applies here, please outline the details."
            },
            classes: "govuk-!-width-two-thirds",
            id:   "status-description",
            name: "status-description"
          }) }}

        {% endcall %}

        {{ govukButton({text: "Continue"}) }}

      </form>

    </div>
  </div>

{% endblock %}
