
<div class="govuk-grid-column-two-thirds">
  {% call govukFieldset({
    legend: {
      text:           "What action has been taken?",
      isPageHeading:  false,
      classes:        "govuk-fieldset__legend--l"
    }
  }) %}

    {{ govukCheckboxes({
      classes: "govuk-!-margin-bottom-5",
      idPrefix: "actions",
      name: "new[report][actions]",
      items: [
        {
          value:  "testing",
          text:   "Testing"
        },
        {
          value:  "visit",
          text:   "Site visits",
          checked: checked("caseListSettings['status']", "Closed")
        },
        {
          value:  "recall",
          text:   "Product recall",
          checked: checked("caseListSettings['status']", "Closed")
        },
        {
          value:  "corrective",
          text:   "Other corrective action",
          checked: checked("caseListSettings['status']", "Closed")
        }
      ]
    }) }}


    {{ govukTextarea({
      name: "new[report][summary]",
      id:   "allegation-detail",
      hint : {
        text: "Please give as much detail as possible"
      }
    }) }}

  {% endcall %}


</div>
