{% from "includes/components/shared/attachment-input.html" import attachmentInput %}
{% from "includes/autocomplete-input.html" import autocompleteInput %}
<div class="govuk-grid-column-two-thirds">
  {% call govukFieldset({
    legend: {
      text:           "What is being alleged?",
      isPageHeading:  false,
      classes:        "govuk-fieldset__legend--l"
    }
  }) %}
    {{ govukTextarea({
      name: "new[report][summary]",
      id:   "allegation-detail",
      hint : {
        text: "Please give as much detail as possible"
      }
    }) }}
  {% endcall %}

  {{ autocompleteInput("product-type", "Product Type", "", {}) }}
  {{ autocompleteInput("hazard-type", "Hazard Type", "", {}) }}

  {% call govukFieldset({
    legend: {
      text:           "Please provide a report title",
      isPageHeading:  false,
      classes:        "govuk-fieldset__legend--l"
    }
  }) %}
    {{ govukInput({
      hint: {
        text: "This will help other users identify this report"
      },
      id: "report-title",
      name: "new[title]"
    }) }}
  {% endcall %}
  {{ attachmentInput("Are there any files or images related to the allegation?", "allegation", "false") }}
</div>
