{% from "includes/components/shared/attachment-input.html" import attachmentInput %}
{% from "includes/autocomplete-input.html" import autocompleteInput %}
<div class="govuk-grid-column-two-thirds">
  {% call govukFieldset({
    legend: {
      text:           "What is being alleged?",
      isPageHeading:  false,
      classes:        "govuk-fieldset__legend--l"
    }
  }) %}
    {{ govukTextarea({
      name: "new[report][summary]",
      id:   "allegation-detail",
      hint : {
        text: "Please give as much detail as possible"
      }
    }) }}
  {% endcall %}

  {{ autocompleteInput("product-type", "new[report][productType]", "Product Type", "", data.productTypes) }}
  {{ autocompleteInput("hazard-type", "new[report][hazardType]", "Hazard Type", "", data.hazardTypes) }}

  {{ attachmentInput("Are there any files or images related to the allegation?", "allegation", "false") }}
</div>
