 <div class="govuk-grid-column-two-thirds">

      {% call govukFieldset({
        legend: {
          text:           "Give the "+data['new']['report']['type']+" a title",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}
        {{ govukInput({
          hint : {
            text: "This will be used as the title on the "+ data['new']['report']['type'] +" page, and to display in lists etc."
          },
          classes: "govuk-!-width-two-thirds",
          id:   "title",
          name: "new[title]"
        }) }}
      {% endcall %}

  </div>