 <div class="govuk-grid-column-two-thirds">

      {% call govukFieldset({
        legend: {
          text:           "What's the question?",
          
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}
        {{ govukTextarea({
          name: "new[report][summary]",
          id:   "question-detail",
          hint : {
            text: "Please give much detail possible"
          }
        }) }}
      {% endcall %}


      {% from "includes/components/shared/attachment-input.html" import attachmentInput %}
      {{ attachmentInput("Are there any files or images related to the question?", "question", "false") }}

  </div>