<div class="govuk-grid-column-two-thirds">
  {% call govukFieldset({
    legend: {
      text:           "Give a summary of the enquiry",
      isPageHeading:  false,
      classes:        "govuk-fieldset__legend--l"
    }
  }) %}
    {{ govukTextarea({
      name: "new[report][summary]",
      id:   "question-detail",
      hint : {
        text: "Please give as much detail as possible"
      }
    }) }}
  {% endcall %}

  {% call govukFieldset({
    legend: {
      text:           "Give the enquiry a title",
      isPageHeading:  false,
      classes:        "govuk-fieldset__legend--l "
    }
  }) %}
    {{ govukInput({
      hint: {
        text: "Help other users quickly know what the enquiry is about"
      },
      id: "report-title",
      name: "new[title]",
      classes: "govuk-!-width-one-half"
    }) }}
  {% endcall %}

  {% from "includes/components/shared/attachment-input.html" import attachmentInput %}
  {{ attachmentInput({
    label:                  "Upload a file or an image", 
    idPrefix:               "question", 
    includeDescription:     "false",
    hint: {
      text: "You can add more attachments later"
    }
  }) }}
</div>
