
  <div class="govuk-grid-column-two-thirds">



    {% call govukFieldset({
      legend: {
        text:           reportLabel,
        isPageHeading:  false,
        classes:        "govuk-fieldset__legend--l"
      }
    }) %}

          {{ govukRadios({
            idPrefix:   "reporter-type",
            name:       "new[report][reporter][type]",
            items: [
              {
                value: "Consumer",
                text: "A consumer"
              },
              {
                value: "Business",
                text: "A business"
              },
              {
                value: "Local authority (Trading standards)",
                text: "Local authority (Trading standards)"
              },
              {
                value: "Other government department",
                text: "Other government department"
              },
              {
                value: "Emergency service",
                text: "Emergency service"
              },
              {
                value: "Internal",
                text: "Internal"
              }
            ]
          }) }}

    {% endcall %}

</div>
