 <div class="govuk-grid-column-two-thirds">

  {% set label = 'How was the '+data['new']['report']['type']+' reported?' %}

  {% if data['new']['report']['type'] == 'question' %}
    {% set label = 'How was the question asked?' %}
  {% endif %}

      {% call govukFieldset({
        legend: {
          text:           label,
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

          {{ govukRadios({
            idPrefix:   "origin-type",
            name:       "new[report][correspondence][type]",
            items: [
              {
                value: "phone",
                text: "On the phone"
              },
              {
                value: "email",
                text: "By email"
              }
            ]
          }) }}

      {% endcall %}

  </div>