
  <div class="govuk-grid-column-two-thirds">

    {% set businessNameHTML %}
      {{ govukInput({
        label: {
          text: "Business name"
        },
        id: "event-name",
        name: "new[report][reporter][orgName]",
        classes: "govuk-!-width-one-half"
      }) }}

    {% endset %}

    {% set tradingStandardsNameHTML %}
      {{ autocompleteInput({
        idPrefix:   'trading-standards-name',
        name:       'new[report][reporter][orgName]',
        class:      "govuk-label govuk-!-margin-bottom-1",
        legend:     "Select Trading Standards organisation", 
        _hint:       "",
        values:     ['Bristol Trading Standards', 'Birmingham Trading Standards'] 
      }) }}
    {% endset %}

    {% set localAuthorityNameHTML %}
      {{ localAuthorityAutocomplete({
        idPrefix:   'localAuthorityName',
        name:       'new[report][reporter][orgName]',
        class:      "govuk-label govuk-!-margin-bottom-1",
        legend:     "Select authority"
      }) }}
      {% endset %}

    {% set departmentOrAgencyNameHTML %}
      {{ departmentOrAgencyAutocomplete({
        idPrefix:   'departmentOrAgencyName',
        name:       'new[report][reporter][orgName]',
        class:      "govuk-label govuk-!-margin-bottom-1",
        legend:     "Select department or agency"
      }) }}

    {% endset %}

    {% set opssStakeholderNameHTML %}
      {{ autocompleteInput({
        idPrefix:   'stakeholder-name',
        name:       'new[report][reporter][orgName]',
        class:      "govuk-label govuk-!-margin-bottom-1",
        legend:     "Select stakeholder", 
        _hint:       "",
        values:     ['Electrical safety first', 'National Testing Laboratory','Which?','Whirlpool'] 
      }) }}



    {% endset %}

    {% set otherNameHTML %}
      {{ govukInput({
        label: {
          text: "Organisation name"
        },
        id: "event-name",
        name: "new[report][reporter][orgName]",
        classes: "govuk-!-width-one-half"
      }) }}

    {% endset %}

    {% call govukFieldset({
      legend: {
        text:           reportLabel,
        isPageHeading:  false,
        classes:        "govuk-fieldset__legend--l"
      }
    }) %}

          {{ govukRadios({
            idPrefix:   "reporter-type",
            name:       "new[report][reporter][type]",
            items: [
              {
                value: "Consumer",
                text: "A member of the public"
              },
              {
                value: "Business",
                text: "A business",
                conditional: {
                  html: businessNameHTML
                }
              },
              {
                value: "Trading standards",
                text: "Trading Standards",
                conditional: {
                  html: tradingStandardsNameHTML
                }
              },
              {
                value: "Local authority",
                text: "A local authority",
                conditional: {
                  html: localAuthorityNameHTML
                }
              },
              {
                value: "Other government department",
                text: "A government department or agency",
                conditional: {
                  html: departmentOrAgencyNameHTML
                }
              },
              {
                value: "stakeholder",
                text: "An OPSS stakeholder",
                conditional: {
                  html: opssStakeholderNameHTML
                }
              },
              {
                divider: "or"
              },
              {
                value: "Other",
                text: "Other",
                conditional: {
                  html: otherNameHTML
                }
              }
            ]
          }) }}

    {% endcall %}

</div>
