{{ govukInput({
  id:   "issue-id",
  name: "new[id]",
  value: "1800-"+length,
  type: "hidden"
}) }}

{{ govukInput({
  id:   "issue-status",
  name: "new[status]",
  value: "Open",
  type: "hidden"
}) }}

{{ govukInput({
  id:   "issue-assignee",
  name: "new[assignee]",
  value: data['currentUser'],
  type: "hidden"
}) }}

{{ govukInput({
  id:   "issue-type",
  name: "new[type]",
  value: data['new']['report']['type'],
  type: "hidden"
}) }}

{{ govukInput({
  id:   "issue-type",
  name: "new[report][reporter][type]",
  value: data['new']['reporter']['type'],
  type: "hidden"
}) }}
