
{% from "includes/components/shared/autocomplete-input.html" import autocompleteInput %}

<div class="govuk-grid-column-two-thirds">
  {% call govukFieldset({
    legend: {
      text:           "What are you reporting?",
      isPageHeading:  false,
      classes:        "govuk-fieldset__legend--m"
    }
  }) %}
    {{ govukTextarea({
      name: "new[report][summary]",
      id:   "allegation-detail",
      hint : {
        text: "Please give as much detail as possible about the issues or incidents which resulted in this report"
      }
    }) }}
  {% endcall %}

  {{ autocompleteInput({
    idPrefix: "hazard-type", 
    name:     "new[report][hazardType]", 
    legend:   "Hazard type",
    class:  "govuk-fieldset__legend--m",
    hint:     "What danger or potential problem does the product create?", 
    values:   data.hazardTypes}) 
  }}

</div>
