
{% from "includes/components/shared/autocomplete-input.html" import autocompleteInput %}

<div class="mspsds-input govuk-grid-column-two-thirds">

        {{ govukTextarea({
          name: "new[report][summary]",
          id:   "allegation-detail",
          hint : {
            text: "Please give details about the issues or incidents which resulted in this report"
          },
          value: data['new']['report']['summary']
        }) }}

</div>


<div class="mspsds-input govuk-grid-column-one-half">

    {{ autocompleteInput({
      idPrefix: "hazard-type", 
      name:     "new[report][hazardType]", 
      legend:   "Hazard type",
      class:    "govuk-fieldset__legend--m govuk-!-margin-bottom-1",
      hint:     "What danger does the product present?", 
      values:   data.hazardTypes}) 
    }}

</div>
