{% if not currentUploadVar %}
  {% set currentUploadVar  = 'attachment' %}
{% endif %}

{% if not currentUploadIDVar %}
  {% set currentUploadIDVar  = 'attachment-' %}
{% endif %}



<div class="govuk-grid-row govuk-!-margin-bottom-3">
	<div class="govuk-grid-column-two-thirds">

		{% call govukFieldset({
		    legend: {
		      text:       "Browse for file",
		      classes:    "govuk-fieldset__legend--l"
		    }
	  	}) %}

		    {{ govukFileUpload({
		      id:   currentUploadIDVar + "filename",
		      name: currentUploadVar + "[filename]"
		    }) }}

	  	{% endcall %}

  </div>

</div>

<div class="govuk-grid-row govuk-!-margin-bottom-3">

  <div id="{{currentUploadIDVar}}preview-container" class="govuk-grid-column-one-half" >
      <img id="{{currentUploadIDVar}}preview" class="govuk-visually-hidden" src="" alt="New attachment" />
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>

    <script type="text/javascript">


    var imageTypes          = ['jpg','png','gif','svg'],
        documentPlaceholder = '/public/images/document-thumbnail.png';


    function updatePreview(data) {
        data.image.setAttribute('src',  data.imgSrc);
        data.image.setAttribute('class', data.imageClass );
        data.container.setAttribute('class', data.containerClass );
    }
      
    function readURL(input, previewImage, previewContainer) {

        if (input.files && input.files[0] && previewImage && previewContainer) {

            var fileType = input.files[0].name.split('.')[1];

            if (imageTypes.includes( fileType )) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    updatePreview({
                      image:          previewImage, 
                      imgSrc:         e.target.result,
                      imageClass:     '',
                      container:      previewContainer,
                      containerClass: 'govuk-grid-column-one-half'
                    });
                };

                reader.readAsDataURL(input.files[0]);

            } else {

               updatePreview({
                      image:          previewImage, 
                      imgSrc:         documentPlaceholder,
                      imageClass:     '',
                      container:      previewContainer,
                      containerClass: 'govuk-grid-column-one-quarter'
                });

            }

            
        }
    }

      var fileBrowse              = document.getElementById('{{currentUploadIDVar}}filename'),
          filePreview             = document.getElementById('{{currentUploadIDVar}}preview'),
          filePreviewContainer    = document.getElementById('{{currentUploadIDVar}}preview-container');

      fileBrowse.addEventListener('change',function(evt) {
        console.log('this',this);
        readURL(fileBrowse, filePreview, filePreviewContainer);
      });

    </script>

</div>

<div class="govuk-grid-row govuk-!-margin-bottom-3">

	<div class="govuk-grid-column-two-thirds">
          

        {% call govukFieldset({
            legend: {
              text: formLabel,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: false
            }
        }) %}


            {{ govukInput({
              id:   currentUploadIDVar + "title",
              name: currentUploadVar + "[title]",
              value:    currentAttachment.title,
              label: {
                text: "Title"
              },
              classes: "govuk-!-width-two-thirds"
            }) }}


            {{ govukTextarea({
              id:   currentUploadIDVar + "description",
              name: currentUploadVar + "[description]",
              value:    currentAttachment.description,
              label: {
                text: "Description"
              }
            }) }}

        {% endcall %}

	</div>


</div>	