
<div class="govuk-grid-column-two-thirds">
  {% call govukFieldset({
    legend: {
      text:           "What actions have been taken so far?",
      isPageHeading:  false,
      classes:        "govuk-fieldset__legend--m"
    }
  }) %}

    {{ govukTextarea({
      name: "new[report][actions][summary]",
      id:   "actions-actions-summary",
      hint : {
        text: "Please give as much detail as possible about the actions already taken, including investigation activity, corrective actions etc"
      }
    }) }}
      
  {% endcall %}

</div>
