
{% from "includes/components/shared/autocomplete-input.html" import autocompleteInput %}

{% set unsafeHtml %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="hazard-wrapper" id=hazzardAutocomplete>
          {{ autocompleteInput({
            idPrefix: "hazard-type",
            name:     "new[report][hazardType]",
            legend:   "Hazard type",
            class:    "govuk-body govuk-!-margin-bottom-1 govuk-input--width-20",
            hint:     "The danger the product presents",
            values:   data.hazardTypes})
          }}
        </div>

      </div>
       <div class="govuk-grid-column-one-half">
           {# <a href="#" class="govuk-body govuk-link govuk-link--no-visited-state delete " id="hazzardAddAnother" data-target="hazzardAutocomplete" >Remove hazard</a> #}
        </div>
    </div>



    <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state" id="hazzardAddAnother" data-target="hazzardAutocomplete" >Add another hazard</a></p>

    <script>

    </script>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



    {{ govukTextarea({
      name: "new[report][hazardSummary]",
      id:   "allegation-hazard–detail",
      label: {
        text: "Hazard details"
      },
      hint : {
        text: "Including any incidents or events that brought it to your attention"
      },

      value: data['new']['report']['summary']
    }) }}



{% endset -%}



{% set complianceHtml %}

    {{ govukTextarea({
      name: "new[report][complianceSummary]",
      id:   "allegation-compliance-detail",
      label: {
        text: "Details of non-compliance"
      },
      value: data['new']['report']['summary']
    }) }}

{% endset -%}

{% set safeReasonHtml %}

    {{ govukTextarea({
      name: "new[report][safeSummary]",
      id:   "allegation-safe-detail",
      label: {
        text: "Summary of why you’re reporting it"
      },
      value: data['new']['report']['summary']
    }) }}

{% endset -%}




<div class="mspsds-input govuk-grid-column-two-thirds">

    {{ govukCheckboxes({
      idPrefix: "report-report-type",
      name: "new[report][reportType]",
      hint: {
        text: "Select all that apply"
      },
      items: [

        {
          value: "unsafe",
          text: "It’s unsafe (or suspected to be)",
          conditional: {
            html: unsafeHtml
          }
        },
        {
          value: "noncompliant",
          text: "It’s non-compliant (or suspected to be)",
          conditional: {
            html: complianceHtml
          }
        }
      ]
    }) }}

    <p class="govuk-body">or</p>

    {{ govukCheckboxes({
      idPrefix: "report-report-type",
      name: "new[report][reportType]",
      items: [
        {
          value: "safe-and-compliant",
          text: "It’s safe and compliant",
          hint: {
            text: "Help other market surveillance authorities avoid testing the same product again."
          },
          conditional: {
            html: safeReasonHtml
          }
        }

      ]
    }) }}

</div>





