{% if not currentNewBizVar %}
  {% set currentNewBizVar  = 'new[report][business]' %}
{% endif %}

{% if not currentNewBizIDVar %}
  {% set currentNewBizIDVar  = 'new-business-' %}
{% endif %}


  <div class="govuk-grid-column-one-half  govuk-!-margin-bottom-9">
    {% call govukFieldset({
      legend: {
        text:           "Which parts of the chain do you know about?",
        isPageHeading:  false,
        classes:        "govuk-fieldset__legend--m  govuk-!-margin-bottom-1"
      }
    }) %}

         {% set otherBusinessTypeHtml %}

          {{ govukInput({
            id:         currentNewBizIDVar  + 'type-other',
            name:       currentNewBizVar    + '[typeOther]',
            value: data['new']['report']['business']['typeOther']
          }) }}

        {% endset %}

        {% set types = [] %}
        {% for type in data.businessTypes | list %}
          {% set types = (types.push({
            value: type,
            text: type,
            checked: checked("new['report']['business']['type']", type)
            }), types) %}
        {% endfor %}
        {% set types = (types.push({
          value: "Other",
          text: "Other",
          conditional: {
            html: otherBusinessTypeHtml
          },
          checked: checked("new['report']['business']['type']", "Other")
        }), types) %}

        {{ govukCheckboxes({
          idPrefix:   currentNewBizIDVar  + 'type',
          name:       currentNewBizVar    + '[type]',
          items: types
        }) }}

        {{ govukCheckboxes({
          idPrefix:   currentNewBizIDVar  + 'type-none',
          name:       currentNewBizVar    + '[typeNone]',
          items: [
            {
              value: "None",
              text: "None",
              checked: checked("new['report']['business']['typeNone']", "None")
            }
          ]
        }) }}

        <script type="text/javascript">
          normalElements = [
            document.getElementById('new-business-type-1'),
            document.getElementById('new-business-type-2'),
            document.getElementById('new-business-type-3'),
            document.getElementById('new-business-type-4')
          ]
          elementOther = document.getElementById('new-business-type-5')
          elementNone = document.getElementById('new-business-type-none-1')

          deselectOthers = () => { 
            normalElements.forEach((element) => element.checked = false)
            if(elementOther.checked){ 
              elementOther.click() 
              elementNone.checked = true;
            }
          }
          deselectNone = () => { elementNone.checked = false }

          elementNone.addEventListener("input", deselectOthers);
          normalElements.forEach((element) => element.addEventListener("input", deselectNone))
          elementOther.addEventListener("input", deselectNone)
        </script>

    {% endcall %}

  </div>


