{% if not currentNewBizVar %}
  {% set currentNewBizVar  = 'new[report][business]' %}
{% endif %}

{% if not currentNewBizIDVar %}
  {% set currentNewBizIDVar  = 'new-business-' %}
{% endif %}



{% set businessID = 'b-' | getID("YYMM-HHmm-sss") %}



{{ govukInput({
  id:     currentNewBizIDVar  + 'type',
  name:   currentNewBizVar    + '[type]',
  value:  businessType,
  type:   "hidden"
}) }}

{{ govukInput({
  id:     currentNewBizIDVar  + 'id',
  name:   currentNewBizVar    + '[id]',
  value:  businessID,
  type:   "hidden"
}) }}


  <div class="mspsds-input govuk-grid-column-one-half">
      {% call govukFieldset({
        legend: {
          text:           "Trading name",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
        }
      }) %}

            {{ govukInput({
              hint: {
                text: "The name the business is known by"
              },
              id:         currentNewBizIDVar  + 'name-trading',
              name:       currentNewBizVar    + '[name][trading]',
              value:      data['new']['report']['businesses'][businessType]['name']['trading']
            }) }}

      {% endcall %}

      {% call govukFieldset({
        legend: {
          text:           "Legal name",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
        }
      }) %}

            {{ govukInput({
              hint: {
                text: "The registered name of the company (if you have it)"
              },
              id:         currentNewBizIDVar  + 'name-legal',
              name:       currentNewBizVar    + '[name][legal]',
              value:      data['new']['report']['businesses'][businessType]['name']['legal']
            }) }}

      {% endcall %}

  </div>





  <div class="mspsds-input govuk-grid-column-one-half govuk-!-margin-bottom-5">

      {% call govukFieldset({
        legend: {
          text:           "Company number",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
        }
      }) %}

            {{ govukInput({
              hint: {
                text: "If you have this information"
              },
              id:         currentNewBizIDVar  + 'number',
              name:       currentNewBizVar    + '[number]',
              value: data['new']['report']['businesses'][businessType]['number']
            }) }}

      {% endcall %}

  </div>

  <div class="mspsds-input govuk-grid-column-one-half govuk-!-margin-bottom-5">

      {% call govukFieldset({
        legend: {
          text:           "Address",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
        }
      }) %}

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id:         currentNewBizIDVar  + 'address-1',
            name:       currentNewBizVar    + '[address][1]',
            value: data['new']['report']['businesses'][businessType]['address'][0]
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id:         currentNewBizIDVar  + 'address-2',
            name:       currentNewBizVar    + '[address][2]',
            value: data['new']['report']['businesses'][businessType]['address'][1]
          }) }}


          {{ govukInput({
            label: {
              html: 'Town or city'
            },
            classes:    "govuk-!-margin-bottom-0",
            id:         currentNewBizIDVar  + 'town',
            name:       currentNewBizVar + '[town]',
            value: data['new']['report']['businesses'][businessType]['town']
          }) }}


          {{ govukInput({
            label: {
              html: 'County'
            },
            classes:    "govuk-!-margin-bottom-0",
            id:         currentNewBizIDVar  + 'county',
            name:       currentNewBizVar + '[county]',
            value: data['new']['report']['businesses'][businessType]['county']
          }) }}


          {{ govukInput({
            label: {
              html: 'Postcode'
            },
            classes:    "govuk-!-margin-bottom-0 govuk-input--width-10",
            id:         currentNewBizIDVar  + 'postcode',
            name:       currentNewBizVar + '[postcode]',
            value: data['new']['report']['businesses'][businessType]['postcode']
          }) }}


          {{ govukInput({
            label: {
              html: 'Country'
            },
            classes:    "govuk-!-margin-bottom-0",
            id:         currentNewBizIDVar  + 'country',
            name:       currentNewBizVar + '[country]',
            value: data['new']['report']['businesses'][businessType]['country']
          }) }}

      {% endcall %}

  </div>



  <div class="mspsds-input govuk-grid-column-one-half">

      {% call govukFieldset({
        legend: {
          text:           "Contact name",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
        }
      }) %}

              {{ govukInput({
                label: {
                  text: "Name"
                },
                classes: "govuk-!-margin-bottom-1",
                id:       currentNewBizIDVar  + 'contact-name',
                name:     currentNewBizVar + '[contact][name]',
                value:    data['new']['report']['businesses'][businessType]['contact']['name']
              }) }}


              {{ govukInput({
                label: {
                  text: "Email"
                },
                classes: "govuk-!-margin-bottom-1",
                id:       currentNewBizIDVar  + 'contact-email',
                name:     currentNewBizVar + '[contact][email]',
                value:    data['new']['report']['businesses'][businessType]['contact']['email']
              }) }}


              {{ govukInput({
                label: {
                  text: "Phone number"
                },
                classes: "govuk-!-margin-bottom-1",
                id:       currentNewBizIDVar  + 'contact-phone',
                name:     currentNewBizVar + '[contact][phone]',
                value:    data['new']['report']['businesses'][businessType]['contact']['phone']
              }) }}


              {{ govukInput({
                label: {
                  text: "Job title / description"
                },
                classes: "govuk-!-margin-bottom-1",
                id:       currentNewBizIDVar  + 'contact-title',
                name:     currentNewBizVar + '[contact][title]',
                value:    data['new']['report']['businesses'][businessType]['contact']['title']
              }) }}

      {% endcall %}

  </div>


