{% if not currentNewFileVar %}
  {% set currentNewFileVar  = 'new[report][file]' %}
{% endif %}

{% if not currentNewFileIDVar %}
  {% set currentNewFileIDVar  = 'new-file-' %}
{% endif %}


{{ govukInput({
  id:   "report-files",
  name: "new[report][files]",
  value: "",
  type: "hidden"
}) }}

{{ govukInput({
  id:   "more-files",
  name: "moreFiles",
  value: "",
  type: "hidden"
}) }}


<div class="govuk-grid-column-one-half  govuk-!-margin-bottom-9">

    {% call govukFieldset({
      legend: {
        text:           "What information do you have?",
        isPageHeading:  false,
        classes:        "govuk-fieldset__legend--m  govuk-!-margin-bottom-1"
      },
      hint: {
                  text:   type.hint
                }
    }) %}

        {% if data.fileTypes %}

            {% set types = [] %}

            {% for type in data.fileTypes | list %}
              {% set types = (types.push({
                value:    type.name,
                text:     type.name,
                hint: {
                  text:   type.hint
                },
                checked:  checked("new['report']['file']['types']", type.name)
                }), types) %}
            {% endfor %}

            {{ govukCheckboxes({
              idPrefix:   currentNewFileIDVar  + 'types',
              name:       currentNewFileVar    + '[types]',
              items: types
            }) }}

        {% endif %}
   
    {% endcall %}

</div>


