{% from "includes/components/shared/autocomplete-input.html" import autocompleteInput %}

<div class="mspsds-input govuk-grid-column-one-half">

    {{ autocompleteInput({
      idPrefix: "report-product-category", 
      name:     "new[report][product][category]", 
      legend:   "Product category",
      class:    "govuk-fieldset__legend--m govuk-!-margin-bottom-1",
      hint:     "The high-level category (for reporting purposes)",
      values:   data.productTypes}) 
    }}

</div>


<div class="mspsds-input govuk-grid-column-one-half">

    {% call govukFieldset({
      legend: {
        text:           "Product type ",
        isPageHeading:  false,
        classes:        "govuk-fieldset__legend--m  govuk-!-margin-bottom-1"
      }
    }) %}

        {{ govukInput({
          hint: {
            html: "In plain English, what is it?<br/>For example, ‘dishwasher, soft toy, chainsaw...’"
          },
          id: "report-product-type",
          name: "new[report][productType]",
          value: data['new']['report']['productType']
        }) }}


    {% endcall %}

</div>


<div class="mspsds-input govuk-grid-column-one-half">

    {% call govukFieldset({
      legend: {
        text:           "Product name",
        isPageHeading:  false,
        classes:        "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
      }
    }) %}

          {{ govukInput({
            hint: {
              html: "Brand, model name, model number, etc.<br/> For example, ‘Bosch Series 2 SMS25EI00G’"
            },
            classes:  "govuk-!-margin-bottom-5",
            id: "report-product-name",
            name: "new[report][product][name]",
            value: data['new']['report']['product']['name']
          }) }}


    {% endcall %}

</div>



<div class="mspsds-input govuk-grid-column-one-half">

    {% call govukFieldset({
      legend: {
        text:           "Barcode (or serial number)",
        isPageHeading:  false,
        classes:        "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
      }
    }) %}

          {{ govukInput({
            hint: {
              text: "If you have this data, it makes it easier to correctly identify the product"
            },
            id: "report-product-code",
            name: "new[report][product][code]",
            value: data['new']['report']['product']['code']
          }) }}


    {% endcall %}

</div>


<div class="mspsds-input govuk-grid-column-one-half">

    {% call govukFieldset({
      legend: {
        text:           "Webpage",
        isPageHeading:  false,
        classes:        "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
      }
    }) %}

          {{ govukInput({
            hint: {
              text: "A link to the manufacturer\’s page for this product, or webpage where it can be bought"
            },
            id: "report-product-code",
            name: "new[report][product][url]",
            value: data['new']['report']['product']['url']
          }) }}

    {% endcall %}

</div>



<div class="mspsds-input govuk-grid-column-two-thirds">

      {% call govukFieldset({
        legend: {
          text:           "Description",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--m govuk-!-margin-bottom-1"
        }
      }) %}

          {{ govukTextarea({
            name: "new[report][product][description]",
            id:   "allegation-product-description",
            classes:  "govuk-!-margin-bottom-5",
            hint: {
              text: "For example, ‘Orange, 4 socket extension lead’"
            },
            value: data['new']['report']['product']['description']
          }) }}

      {% endcall %}

</div>



