{% if not currentNewVar %}
  {% set currentNewVar  = 'new' %}
{% endif %}

{% if not currentNewIDVar %}
  {% set currentNewIDVar  = 'new' %}
{% endif %}


 {% set otherTypeHtml %}

    {{ govukInput({
      id:         currentNewIDVar  + 'question-type',
      name:       currentNewVar    + '[questionTypeOther]'
    }) }}

{% endset %}


<div class="govuk-grid-column-one-half  govuk-!-margin-bottom-9">


      {% if data.questionTypes %}

          {% set types = [] %}

          {% for type in data.questionTypes | list %}
            {% set types = (types.push({
              value:    type.name,
              text:     type.name
              }), types) %}
          {% endfor %}

          {% set types = (types.push({
            value: "Other",
            text: "Other",
            conditional: {
              html: otherTypeHtml
            }
          }), types) %}

          {{ govukCheckboxes({
            idPrefix:   currentNewIDVar  + 'question-type',
            name:       currentNewVar    + '[questionType]',
            items: types
          }) }}

      {% endif %}
   

</div>


