{% set length = data['cases'].length  %}


{{ govukInput({
  id:   "issue-status",
  name: "new[status]",
  value: "Open",
  type: "hidden"
}) }}

{{ govukInput({
  id:   "issue-assignee",
  name: "new[assignee]",
  value: "OPSS - Processing",
  type: "hidden"
}) }}

{{ govukInput({
  id:   "issue-assignee",
  name: "new[creator]",
  value: data['currentUser'],
  type: "hidden"
}) }}

{{ govukInput({
  id:   "issue-reporter-type",
  name: "new[report][reporter][type]",
  value: "Trading Standards",
  type: "hidden"
}) }}

{{ govukInput({
  id:   "issue-reporter-name",
  name: "new[report][reporter][name]",
  value: data['currentUser'],
  type: "hidden"
}) }}

{{ govukInput({
  id:   "issue-reporter-name",
  name: "new[report][reporter][phoneNumber]",
  value: "01234 567 8910",
  type: "hidden"
}) }}

{{ govukInput({
  id:   "issue-reporter-name",
  name: "new[report][reporter][emailAddress]",
  value: "someone@tradingstandards.xyz",
  type: "hidden"
}) }}


{{ govukInput({
  id:   "issue-reporter-name",
  name: "new[report][reporter][otherDetails]",
  value: "Some details about the TS / LA would potentially go here",
  type: "hidden"
}) }}

{{ govukInput({
  id:   "new-type",
  name: "new[report][type]",
  value: "Report",
  type: "hidden"
}) }}