{% if data['issue-type'] == 'Product safety allegation' %}
    {% extends "./allegation-info.html" %}

{% elif data['issue-type'] == 'Enquiry' %}
    {% extends "./question-info.html" %}

{% elif data['issue-type'] == 'Product recall notification' %}
    {% extends "./question-info.html" %}

{% elif data['issue-type'] == 'Notification from RAPEX' %}
    {% extends "./question-info.html" %}

{% endif %}

<!--
<script>
  var issueType = "{{data['issue-type']}}";
  var destination;
  if (issueType == "Enquiry") destination = "./question-info";
  window.location = destination;
</script>
-->