{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Process an incoming report
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back to list",
    href: "/case-list"
  }) }}
{% endblock %}

{% block content %}
{{ pageTitle({
  type:   "Process an incoming report",
  title:  "Reporter type"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="./report-reporter-details" method="post" class="form">
      {{ govukRadios({
        idPrefix:   "reporter-type",
        name:       "new[reporter][type]",
        items: [
          {
            value: "Consumer",
            text: "Consumer",
            checked: checked("reporter-type", "Consumer")
          },
          {
            value: "Business",
            text: "Business",
            checked: checked("reporter-type", "Business")
          },
          {
            value: "Local authority (Trading standards)",
            text: "Local authority (Trading standards)",
            checked: checked("reporter-type", "Local authority (Trading standards)")
          },
          {
            value: "Other government department",
            text: "Other government department",
            checked: checked("reporter-type", "Other government department")
          },
          {
            value: "Emergency service",
            text: "Emergency service",
            checked: checked("reporter-type", "Emergency service")
          },
          {
            value: "Internal",
            text: "Internal",
            checked: checked("reporter-type", "Internal")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>

  <div class="govuk-grid-column-one-third">
    {% from "./includes/step-flow-map.html" import stepFlowMap %}
    {% set isEmail = (data.new["origin-type"]=="Email") %}
    {{ stepFlowMap(data.new["issue-type"], isEmail, 1) }}
  </div>

</div>

{% endblock %}
