{% extends "includes/templates/ts-introduction.html" %}

{% block introContent %}
<h1 class="govuk-heading-l">Welcome to the Product Safety Register</h1>
<p class="govuk-body-l">This is a new service built to track product safety issues.</p>
<p class="govuk-body-l">It’s allows Trading Standards, The Office for Product Safety and Standards, and other Market Surveillance Authorities to share and collaborate on product safety issues.</p>

{{ govukButton({
  text: "Continue",
  href: './02'
}) }}

{% endblock %}
