{% extends "includes/templates/ts-introduction.html" %}

{% block introContent %}
<h1 class="govuk-heading-l">Report, track and share product safety information</h1>
<p class="govuk-body-l">The Product safety database has been developed alongside people from Trading Standards, The Office for Product Safety and Standards, and other market surveillance authorities (MSAs).</p>
<p class="govuk-body-l">It replaces the European Union’s RAPEX and ICSMS systems.</p>

{{ govukButton({
  text: "Continue",
  href: './02'
}) }}

{% endblock %}
