{% extends "includes/templates/minimal.html" %}
{% set displayTitle        = 'Create new' %}
{% set formAction         = './02' %}
{% set backLink         = 'false' %}


{% block content %}

<div class="flash-card">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
      
      <h1 class="govuk-heading-l">Welcome to the Product Safety Register</h1>
      <p class="govuk-body-l">This is a new service built to track product safety issues.</p>
      <p class="govuk-body-l">It’s allows Trading Standards, The Office for Product Safety and Standards, and other Market Surveillance Authorities to share and collaborate on product safety issues.</p>
      {% from "button/macro.njk" import govukButton %}
      <form action="{{formAction}}" method="post" class="form">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
    </div>
  </div>
</div>
  

{% endblock %}
