{% extends "includes/templates/ts-introduction.html" %}

{% block introContent %}
{# <h1 class="govuk-heading-l">Report unsafe and non-compliant products</h1> #}

<h1 class="govuk-heading-l">The Product safety database replaces the EU’s RAPEX and ICSMS systems</h1>
<p class="govuk-body-l">You must use the database to tell OPSS immediately about corrective actions that have been or will be taken because a product is:</p>

<ul class="govuk-list govuk-list--bullet govuk-body-l">
  <li>unsafe (according to the General Product Safety Regulations 2005)</li>
  <li>poses a serious risk (as determined by a risk assessment)</li>
</ul>

<p class="govuk-body-l">You should use the database to report products that do not comply with relevant product safety legislation as soon as possible.</p>

{{ govukButton({
  text: "Continue",
  href: './03'
}) }}

{% endblock %}