{% extends "includes/templates/ts-introduction.html" %}

{% block introContent %}
{# <h1 class="govuk-heading-l">Report unsafe and non-compliant products</h1> #}

<h1 class="govuk-heading-l">The Product safety database replaces the EU’s RAPEX and ICSMS systems</h1>
<p class="govuk-body-l">Trading Standards officers must use this service to report serious product safety issues to the Office for Product Safety and Standards (OPSS) immediately.</p>

<p class="govuk-body-l">Trading Standards and other MSAs must report all routine safety issues as soon as possible.</p>

<p class="govuk-body-l">Refer to the EU RAPEX risk assessment guidelines to assess the level of risk.</p>

{{ govukButton({
  text: "Continue",
  href: './03'
}) }}

{% endblock %}