{% extends "includes/templates/ts-introduction.html" %}

{% block introContent %}
<h1 class="govuk-heading-l">Manage and track investigations
</h1>
{# <p class="govuk-body-l">As well as reporting, Trading Standards and other market surveillance authorities (MSAs) can report and manage routine product safety cases and track their progress.</p> #}
<p class="govuk-body-l">You can manage investigations and pass them onto another market surveillance authority; track the progress of cases, and you will soon be able to export data.</p>

<p class="govuk-body-l">You will also receive alerts from the Office for Product Safety and Standards about serious product safety issues.</p>

{{ govukButton({
  text: "Continue",
  href: './04'
}) }}

{% endblock %}