{% extends "includes/templates/ts-introduction.html" %}

{% block introContent %}
<h1 class="govuk-heading-l">Track and manage investigations</h1>
{# <p class="govuk-body-l">As well as reporting, Trading Standards and other market surveillance authorities (MSAs) can report and manage routine product safety cases and track their progress.</p> #}
<p class="govuk-body-l">Trading Standards and other market surveillance authorities (MSAs) can report routine safety issues, manage investigations and track the progress of cases.</p>

{{ govukButton({
  text: "Continue",
  href: './04'
}) }}

{% endblock %}