{% extends "includes/templates/ts-introduction.html" %}

{% block introContent %}
<h1 class="govuk-heading-l">Track and manage investigations</h1>
{# <p class="govuk-body-l">As well as reporting, Trading Standards and other market surveillance authorities (MSAs) can report and manage routine product safety cases and track their progress.</p> #}
<p class="govuk-body-l">You can manage investigations and pass them onto another organisation; track the progress of cases, and export information. You will also receive alerts from OPSS about serious product safety issues.</p>

{{ govukButton({
  text: "Continue",
  href: './04'
}) }}

{% endblock %}