{% extends "includes/templates/ts-introduction.html" %}

{% block introContent %}
<h1 class="govuk-heading-l">Share national data on products, incidents and businesses</h1>
<p class="govuk-body-l">The information shared in the Product safety database can only be seen by other market surveillance authorities (MSAs).</p>

<p class="govuk-body-l govuk-!-margin-bottom-3">
  Collaborating and sharing data in this way means MSAs can see when other MSAs have:
</p>

<ul class="govuk-list govuk-list--bullet govuk-body-l">
  <li>raised concerns about the safety of a product</li>
  <li>tested a product and shared the results</li>
</ul>


{{ govukButton({
  text: "Get started",
  href: "/pages/home"
}) }}

<p class="button-inline govuk-body-l">
  or &nbsp;&nbsp;<a class="govuk-link govuk-link--no-visited-state" href="{{formCancel}}">read more guidance</a>
</p>

{% endblock %}