{% extends "includes/templates/minimal.html" %}
{% set displayTitle        = 'Create new' %}
{% set formAction         = './05' %}
{% set backLink         = 'false' %}


{% block content %}

<div class="flash-card">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Get started</h1>
      <p class="govuk-body-l">There's <a href="#" class="govuk-link govuk-link-d-no-visited-state">guidance</a> available on using this service and reporting product safety issues.</p>
      {# <p class="govuk-body-l">You can view cases that other Trading Standards teams and authorised government bodies are raising.</p> #}

      {% from "button/macro.njk" import govukButton %}
      <form action="{{formAction}}" method="post" class="form">
        {{ govukButton({
          text: "Go to dashboard",
          href: "/"
        }) }}

      </form>
      
    </div>
  </div>
</div>
  

{% endblock %}
