{% extends "mspsds-layout.html" %}


{% block pageTitle %}
Home Page
{% endblock %}


{% set currentTeam   = data['currentTeam'] %}
{% if currentTeam.includes("Trading") %}
{% set createLink  = '/root/flows/ts-create/product-details' %}
{% else %}
{% set createLink  = data['createUrl'] %}
{% endif %}

{% set navActive = 'teams' %}

{% block beforeContent %}

{# {% include "includes/components/shared/page-banner.html" %} #}
{% set teamLink = true %}

{# {% from "includes/components/shared/site-nav.html"        import siteNav %}
{{ siteNav([
  {
    label: 'Home',
    link: '/root/home',
    classes: ''
  }, {
  label: 'Cases',
  link: '/root/case-list'
},

{
  label: 'Products',
  link: '/root/product-list'
}, {
label: 'Businesses',
link: '/root/business-list'
},{
label: 'Your teams',
link: '/pages/your-teams',
classes: 'active menu-right'
}


]) }} #}

{% endblock %}
{#

  {
      label: 'Incidents',
      link: '/root/case-list'
    },
    {
        label: 'About',
        link: '/root/about'
      }
    , {
      label: 'Products',
      link: '/root/product-list'
    }, {
      label: 'Businesses',
      link: '/root/business-list'
    }, #}


    {% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">OPSS Processing</h1>
    {# <h2 class="govuk-heading-m">Team inbox</h2>
    <p class="govuk-body"><a href="" class="govuk-link">opss-processing@opss.beis.gov.uk</a></p> #}
    {{ govukButton({
      text: "Invite a team member",
      href: "./b1dab0f5-4651-4af8-9f15-fa8143ff338d/invite"
    }) }}


    <h2 class="govuk-heading-m">Team members</h2>


    <hr class="govuk-section-break govuk-section-break--visible">

    <ul class="govuk-list">
      {{ teamMember({email: "brice.kendrick@example.com", invited: true, inviteExpired: true})}}
      {{ teamMember({name: "Jack Sparrow", email: "jack.sparrow@example.com", isTeamAdmin: true})}}
      {{ teamMember({email: "patricia.demers@example.com", invited: true})}}
      {{ teamMember({name: "Sarah McCarthy", email: "sarah.mccarthy@example.com"})}}
    </ul>
    {# <p class="govuk-body">Contact OPSS to remove a team member.</p> #}
    {# {{ govukInsetText({
      text: ""
    }) }} #}
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-top-9">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Team information
      </h2>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Organisation</span>
        <br>The Office for Product Safety and Standards
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Team inbox</span>
        <br>
        <a href="" class="govuk-link">opss-processing@opss.beis.gov.uk</a>
      </p>
      {# <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Cases assigned to team:</span>
        <br>13
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Team member cases:</span>
        <br>32
      </p> #}

    </aside>
  </div>
</div>




{% endblock %}
