{% extends "includes/templates/admin-basic.html" %}

{% set navCategory = 'Summary' %}
{% set pageHeading = navCategory %}

{% block pageContent %}
<h1 class="govuk-heading-l">{{pageHeading}}</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {{ bigNumberDark(1343, 'Total cases')}}
    {{ bigNumberWithStatus('943 allegations - 70%')}}
    {{ bigNumberWithStatus('457 enquiries - 28%')}}
    {{ bigNumberWithStatus('22 projects - 2%')}}
  </div>
  <div class="govuk-grid-column-one-third">
    {{ bigNumberDark(218, 'Teams')}}
    {{ bigNumberWithStatus('Largest team: 18')}}
    {{ bigNumberWithStatus('Smallest team: 1')}}
    {{ bigNumberWithStatus('Average team: 3')}}
  </div>
  <div class="govuk-grid-column-one-third">
    {{ bigNumberDark(450, 'Users')}}
    {{ bigNumberWithStatus('750 invited users')}}

  </div>


</div>
{% endblock %}
