{% extends "includes/templates/admin-basic.html" %}
{% set navCategory = 'Organisations' %}
{% set pageHeading = navCategory %}

{% set teams = [
  "Office for Product Safety and Standards",
  "Health and Safety Executive"] %}
{% block pageContent %}
<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{{ govukButton({
  text: "Add a new organisation",
  href: "#",
  classes: "govuk-button--secondary govuk-!-margin-bottom-2"
}) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <ul class="govuk-list">
      {% for team in teams %}
      <li>
        <a class="govuk-link govuk-heading-m govuk-!-margin-bottom-1" href="organisations/b1dab0f5-4651-4af8-9f15-fa8143ff338d?team-name={{team}}">{{team}}</a>
        <p class="govuk-body govuk-hint">{{ [4,5,6,7,8,9] | random }} teams</p>
      </li>

      {% endfor %}
      {# <li>
        <a class="govuk-link govuk-heading-m" href="teams/b1dab0f5-4651-4af8-9f15-fa8143ff338d">OPSS Processing</a>
      </li>
      <li>
        <a class="govuk-link govuk-heading-m" href="teams/b1dab0f5-4651-4af8-9f15-fa8143ff338d">OPSS Enforcement</a>
      </li>
      <li>
        <a class="govuk-link govuk-heading-m" href="teams/b1dab0f5-4651-4af8-9f15-fa8143ff338d">OPSS Trading Standards Co-ordination</a>
      </li> #}
    </ul>
{% endblock %}
