{% extends "includes/templates/flow-create-new.html" %}

{% set formAction         = 'save' %}
{% set returnLink = {href:'/pages/flows/create-new/product/index', text: 'Return to products'} %}

{% if currentItemIndex == 'new' %}
  {% set theProduct = data.product %}
{% else %}
  {% set theProduct = data.new.report.product.items[currentItemIndex] %}
{% endif %}

{% set pageHeading        = 'Images for: ' + theProduct.name %}


{% block flow %}
<form action="{{formAction}}" method="post" class="form">

  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  {% set productName -%}
    {{- theProduct.name }}
  {%- endset %}

  {# {{ govukInsetText({
    text: ""
  }) }} #}

  

  <h2 class="govuk-heading-m">Product images</h2>
  {# <p class="govuk-body">Images and files relate to the product <strong>‘{{productName}}’</strong> and should be included in other cases - like promotional images / clear images of the product / specification fles.</p> #}
  <p class="govuk-body">Images of the product or packaging that can be used for identification. These will be reused if the product is involved in other cases.</p>
  {# <p class="govuk-body">Examples:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>‘official’ or non-evidence images of the product</li>
    <li>images of the packaging or other materials</li>
    <li>specification documents for the product</li>
  </ul> #}

  

  <div class="govuk-form-group">
    {# {{ govukButton({
    text: "Add product images",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }} #}
    <div class="moj-multi-file-upload__dropzone">
      <input class="govuk-file-upload" id="documents" name="documents" type="file" multiple="">
      <p class="govuk-body">Drag and drop files here or </p>
      <label for="documents" class="govuk-button govuk-button--secondary">Choose files</label>
      <div aria-live="polite" role="status" class="govuk-visually-hidden"></div>
    </div>
  </div>

  <h2 class="govuk-heading-m">Evidence images</h2>
  <p class="govuk-body">Images showing fault, damage or injury relevant to this specific case.</p>

  <div class="govuk-form-group">
    {# {{ govukButton({
    text: "Add evidence images",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }} #}
    <div class="moj-multi-file-upload__dropzone">
      <input class="govuk-file-upload" id="documents" name="documents" type="file" multiple="">
      <p class="govuk-body">Drag and drop files here or </p>
      <label for="documents" class="govuk-button govuk-button--secondary">Choose files</label>
      <div aria-live="polite" role="status" class="govuk-visually-hidden"></div>
    </div>
  </div>

  {# <p class="govuk-body">Upload images and files that relate to the product <strong>‘{{productName}}’</strong> - but that aren't specific to the case (like evidence images). These will be reused if the product is involved in other cases.</p>

  <p class="govuk-body">Suitable for upload:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Promotional or 'official' images of the product</li>
    <li>Non-evidence images of the product</li>
    <li>Images of the packaging or other materials</li>
  </ul>

  <p class="govuk-body">Evidence images should not be uploaded here - they should be uploaded in the 'files and settings' section.</p>

  <h2 class="govuk-heading-m">Product images</h2>

  <p class="govuk-body">These should be promotional images or clear images of the product. They will be reused if the product is involved in other cases.</p>

  <p class="govuk-body">Do not include evidence images - they should be uploaded in the 'files and settings' section.</p> #}
  {# {{ govukInsetText({
      text: "No evidence images added."
    }) }} #}

  {# <div class="govuk-form-group">
    {{ govukButton({
    text: "Add product images",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div> #}

 {#  <h2 class="govuk-heading-m">Packaging images</h2>
  <p class="govuk-body">Thes will be reused if the product is involved in other cases.</p> #}
  {# {{ govukInsetText({
      text: "No evidence images added."
    }) }} #}

  {# <div class="govuk-form-group">
    {{ govukButton({
    text: "Add packaging images",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div>

  <h2 class="govuk-heading-m">Other files related to the product</h2>
  <p class="govuk-body">Thes will be reused if the product is involved in other cases.</p> #}
  {# {{ govukInsetText({
      text: "No evidence images added."
    }) }} #}

  {# <div class="govuk-form-group">
    {{ govukButton({
    text: "Add packaging images",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div> #}

  {# <h2 class="govuk-heading-m">Evidence images</h2>
  {{ govukInsetText({
      text: "No evidence images added."
    }) }}
  <p class="govuk-body">Images of damaged products or damage caused by the product</p>

  <div class="govuk-form-group">
    {{ govukButton({
    text: "Add evidence images",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div> #}

  
  <div class="govuk-form-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

      

</form>
{% endblock %}
