{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'Product categorisation' %}
{% set formAction         = './save' if data.product.class == 'generic' else './general-details' %}
{% set returnLink = {href:'/pages/flows/create-new/product/index', text: 'Return to products'} %}

{% if currentItemIndex == 'new' %}
  {% set theProduct = data.product %}
{% else %}
  {% set theProduct = data.new.report.product.items[currentItemIndex] %}
{% endif %}


{% block flow %}
<form action="{{formAction}}" method="post" class="form">

    <h1 class="govuk-heading-l">{{pageHeading}}</h1>
    
    {{ autocompleteInput({
      idPrefix: "report-product-category", 
      name:     "product[category]", 
      legend:   "High level category",
      class:    "govuk-fieldset__legend--m govuk-!-margin-bottom-1",
      hint:     "For example, clothing or white goods",
      value:    theProduct.category,
      values:   data.productTypes}) 
    }}

    {{ govukInput({
      label: {
        text: "Product type",
        classes: "govuk-label--m"
      },
      hint: {
        html: "For example, dishwasher or plug adapter"
      },
      id: "report-product-type",
      name: "product[productType]",
      classes: "govuk-!-width-one-half",
      value: theProduct['productType']
    }) }}


    <div class="govuk-form-group">
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>

      

</form>
{% endblock %}
