{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'General product details' %}
{% set formAction         = './attachments' %}
{% set returnLink = {href:'/pages/flows/create-new/product/index', text: 'Return to products'} %}

{% if currentItemIndex == 'new' %}
  {% set theProduct = data.product %}
{% else %}
  {% set theProduct = data.new.report.product.items[currentItemIndex] %}
{% endif %}

{% block flow %}
<form action="{{formAction}}" method="post" class="form">
  
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  {{ govukInput({
    label: {
      text: "Product name",
      classes: "govuk-label--m"
    },
    hint: {
      html: "Brand, model name, model number, etc.<br/> For example, ‘Bosch Series 2 SMS25EI00G’"
    },
    id: "input-name",
    name: "product[name]",
    value: theProduct.name,
    classes: "govuk-!-width-two-thirds"
  }) }}

  {{ govukInput({
    label: {
      text: "Barcode (or serial number)",
      classes: "govuk-label--m"
    },
    hint: {
      text: "If you have this data it makes it easier to correctly identify the product"
    },
    id: "barcode-name",
    name: "product[code]",
    value: theProduct.code,
    classes: "govuk-!-width-two-thirds"
  }) }}

  {{ govukInput({
    label: {
      text: "Batch number",
      classes: "govuk-label--m"
    },
    hint: {
      text: "Particularly important if only a specific batch of a product is being reported"
    },
    id: "batch-name",
    name: "product[batch]",
    value: theProduct.batch,
    classes: "govuk-!-width-two-thirds"
  }) }}

  {{ govukInput({
    label: {
      text: "Webpage",
      classes: "govuk-label--m"
    },
    hint: {
      text: "A link to the manufacturer’s page for this product, or webpage where it can be bought"
    },
    id: "webpage-name",
    name: "product[url]",
    value: theProduct.url,
    classes: "govuk-!-width-two-thirds"
  }) }}

  <p class="govuk-body"><a href="#" class="govuk-link">Add another webpage</a></p>

  {{autocompleteCountry({
    label: 'Country of origin', 
    width: "govuk-!-width-two-thirds",
    name: "product[country]",
    value: theProduct.country
  })}}


  <div class="govuk-form-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

      

</form>
{% endblock %}
