{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'What level of information do you have about the product?' %}
{% set formAction         = '' %}
{% set returnLink = {href:'/pages/flows/create-new/product/index', text: 'Return to products'} %}

{% if currentItemIndex == 'new' %}
  {% set theProduct = data.product %}
{% else %}
  {% set theProduct = data.new.report.product.items[currentItemIndex] %}
{% endif %}


{% block flow %}
<form action="{{formAction}}" method="post" class="form">

  {{ govukRadios({
    idPrefix: "product-class",
    name: "product[class]",
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "generic",
        text: "A generic category",
        checked: checked([theProduct['class']], "generic"),
        hint: {
          text: "For example, it’s a type of hairdryer"
        }
      },{
        value: "specific",
        text: "Some specific details",
        checked: checked([theProduct['class']], "specific"),
        hint: {
          text: "For example, the model, a serial or batch number"
        }
      }
    ]
  }) }}

  <div class="govuk-form-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

      

</form>
{% endblock %}
