{% extends "includes/templates/flow-create-new.html" %}

{% set formAction         = 'save' %}
{% set returnLink = {href:'/pages/flows/create-new/product/index', text: 'Return to products'} %}

{% if currentItemIndex == 'new' %}
  {% set theProduct = data.product %}
{% else %}
  {% set theProduct = data.new.report.product.items[currentItemIndex] %}
{% endif %}

{% set pageHeading        = 'Images and files: ' + theProduct.name %}


{% block flow %}
<form action="{{formAction}}" method="post" class="form">

  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  {% set productName -%}
    {{- theProduct.name }}
  {%- endset %}

  {# {{ govukInsetText({
    text: ""
  }) }} #}

  <h2 class="govuk-heading-m">Evidence images</h2>
  {# <p class="govuk-body">Evidence images that relate to the product <strong>‘{{productName}}’</strong>.</p> #}

  <div class="govuk-form-group">
    {{ govukButton({
    text: "Add evidence images",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div>

  <h2 class="govuk-heading-m">Images and documents that are not specific to the case</h2>
  {# <p class="govuk-body">Images and files relate to the product <strong>‘{{productName}}’</strong> and should be included in other cases - like promotional images / clear images of the product / specification fles.</p> #}
  <p class="govuk-body">These files will be reused if the product is involved in other cases.</p>
  <p class="govuk-body">Examples:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>‘official’ or non-evidence images of the product</li>
    <li>images of the packaging or other materials</li>
    <li>specification documents for the product</li>
  </ul>



  <div class="govuk-form-group">
    {{ govukButton({
    text: "Add general images and files",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div>

  {# <p class="govuk-body">Upload images and files that relate to the product <strong>‘{{productName}}’</strong> - but that aren't specific to the case (like evidence images). These will be reused if the product is involved in other cases.</p>

  <p class="govuk-body">Suitable for upload:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Promotional or 'official' images of the product</li>
    <li>Non-evidence images of the product</li>
    <li>Images of the packaging or other materials</li>
  </ul>

  <p class="govuk-body">Evidence images should not be uploaded here - they should be uploaded in the 'files and settings' section.</p>

  <h2 class="govuk-heading-m">Product images</h2>

  <p class="govuk-body">These should be promotional images or clear images of the product. They will be reused if the product is involved in other cases.</p>

  <p class="govuk-body">Do not include evidence images - they should be uploaded in the 'files and settings' section.</p> #}
  {# {{ govukInsetText({
      text: "No evidence images added."
    }) }} #}

  {# <div class="govuk-form-group">
    {{ govukButton({
    text: "Add product images",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div> #}

 {#  <h2 class="govuk-heading-m">Packaging images</h2>
  <p class="govuk-body">Thes will be reused if the product is involved in other cases.</p> #}
  {# {{ govukInsetText({
      text: "No evidence images added."
    }) }} #}

  {# <div class="govuk-form-group">
    {{ govukButton({
    text: "Add packaging images",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div>

  <h2 class="govuk-heading-m">Other files related to the product</h2>
  <p class="govuk-body">Thes will be reused if the product is involved in other cases.</p> #}
  {# {{ govukInsetText({
      text: "No evidence images added."
    }) }} #}

  {# <div class="govuk-form-group">
    {{ govukButton({
    text: "Add packaging images",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div> #}

  {# <h2 class="govuk-heading-m">Evidence images</h2>
  {{ govukInsetText({
      text: "No evidence images added."
    }) }}
  <p class="govuk-body">Images of damaged products or damage caused by the product</p>

  <div class="govuk-form-group">
    {{ govukButton({
    text: "Add evidence images",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div> #}

  
  <div class="govuk-form-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

      

</form>
{% endblock %}
