{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'Products added to ' + data.new.report.type | lower %}
{% set formAction         = '' %}


{% block flow %}
<form action="{{formAction}}" method="post" class="form">
    
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>

    {% if report.product.items | length == 0 %}
    {{ govukInsetText({
      text: "No products added."
    }) }}
    {% else %}

    {% for product in report.product.items %}
    {# <h2 class="govuk-heading-s">Product {{loop.index}}: {{product.class}} product</h2> #}
    {% set productText %}
    {% if product.class == 'generic' -%}
      Generic product: {{product.category | lower}}, {{product.productType | lower}}
      {% else %}
      {{product.name}}, {{product.category | lower}}, {{product.productType | lower}}
    {%- endif %}
    {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Product " + loop.index
            },
            value: {


              text: productText
            },
            actions: {
              items: [
                {
                  href: "./" + (loop.index0 ) + '/generic-or-specific',
                  text: "Change",
                  visuallyHiddenText: "product " + loop.index
                }
              ]
            }
          }
        ]
      }) }}
    
    {% endfor %}

    {% endif %}

    {{ govukRadios({
      idPrefix: "where-do-you-live",
      name: "new[report][product][addMore]",
      fieldset: {
        legend: {
          text: "Do you have products to add to the case?" if (report.product.items | length == 0) else "Do you have more products to add to the case?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "true",
          text: "Yes, add a product",
          checked: true if data.new.report.product.addMore == "true"
        },
        {
          value: "false",
          text: "No, mark this section as complete",
          checked: true if data.new.report.product.addMore == "false"
        }
      ]
    }) }}
    

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>

      

</form>
{% endblock %}
