{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'Product details' %}
{% set formAction         = './images' %}
{% set returnLink = {href:'/pages/flows/create-new/product/index', text: 'Return to products'} %}

{% if currentItemIndex == 'new' %}
  {% set theProduct = data.product %}
{% else %}
  {% set theProduct = data.new.report.product.items[currentItemIndex] %}
{% endif %}

{% block flow %}
<form action="{{formAction}}" method="post" class="form">
  
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  {{ govukInput({
    label: {
      text: "Product name",
      classes: "govuk-label--m"
    },
    hint: {
      html: "Brand, model name, model number, etc.<br/> For example, ‘Bosch Series 2 SMS25EI00G’"
    },
    id: "input-name",
    name: "product[name]",
    value: theProduct.name,
    classes: "govuk-!-width-two-thirds"
  }) }}

  {{ govukInput({
    label: {
      text: "Barcode",
      classes: "govuk-label--m"
    },
    hint: {
      text: "If you have this data it makes it easier to correctly identify the product"
    },
    id: "barcode-name",
    name: "product[code]",
    value: theProduct.code,
    classes: "govuk-!-width-two-thirds"
  }) }}

  {# {{ govukInput({
    label: {
      text: "Serial number",
      classes: "govuk-label--m"
    },
    hint: {
      text: "If you have this data it makes it easier to correctly identify the product"
    },
    id: "barcode-name",
    name: "product[code]",
    value: theProduct.code,
    classes: "govuk-!-width-two-thirds"
  }) }} #}

 {#  {{ govukInput({
    label: {
      text: "Batch number",
      classes: "govuk-label--m"
    },
    hint: {
      text: "Particularly important if only a specific batch of a product is being reported"
    },
    id: "batch-name",
    name: "product[batch]",
    value: theProduct.batch,
    classes: "govuk-!-width-two-thirds"
  }) }} #}

  {{autocompleteCountry({
    label: 'Country of origin', 
    width: "govuk-!-width-two-thirds",
    name: "product[country]",
    value: theProduct.country
  })}}

  {{ govukInput({
    label: {
      text: "Webpage",
      classes: "govuk-label--m"
    },
    hint: {
      text: "A link to the manufacturer’s page for this product, or webpage where it can be bought"
    },
    id: "webpage-name",
    name: "product[url]",
    value: theProduct.url,
    classes: "govuk-!-width-two-thirds"
  }) }}

  <p class="govuk-body"><a href="#" class="govuk-link">Add another webpage</a></p>

  

  {{ govukTextarea({
    name: "product[description]",
    value: theProduct.description,
    id: "more-detail",
    label: {
      text: "Description of product",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For example, ‘Orange, 4 socket extension lead’"
    }
  }) }}

 {#  <h2 class="govuk-heading-m">Batches and units</h2>
  <p class="govuk-body">Details of individual units or batches you’ve inspected or had reported to you.</p>
  {{ govukInsetText({
      text: "No details added."
    }) }}

  <div class="govuk-form-group">
    {{ govukButton({
    text: "Add details of a unit or batch",
    classes: "govuk-button--secondary govuk-!-margin-bottom-0",
    href: "#"
    }) }}
  </div> #}


  <div class="govuk-form-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>

      

</form>
{% endblock %}
