{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'Check if the product has already been reported' %}
{% set formAction         = '' %}
{% set returnLink = {href:'/pages/flows/create-new/product/index', text: 'Return to products'} %}


{% block flow %}
<form action="{{formAction}}" method="post" class="form">
    
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>

    <p class="govuk-body">If the product has already been added to the Product safety database, you can link to it rather than reporting it again.</p>
    
    {% set searchHTML %}
    {{ govukInput({
      label: {
        text: "Search",
        classes: "govuk-label--s"
      },
      hint: {
        text: "Try searching by name, model, brand or serial number"
      },
      id: "product-name",
      name: "product[searchTerm]",
      classes: "govuk-!-width-one-half"
    }) }}
    {% endset %}

    {{ govukRadios({
      idPrefix: "where-do-you-live",
      name: "product[searchOrAdd]",
      fieldset: {
        legend: {
          text: "How do you want to link the product?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "search",
          text: "Search existing products in PSD",
          conditional: {
          html: searchHTML
        }
        },
        {
          value: "add",
          text: "Add as a new product"
        }
      ]
    }) }}

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>

      

</form>
{% endblock %}
