{% extends "includes/templates/flow-create-new.html" %}
{% set pageHeading        = 'Search existing products' %}
{% set formAction         = 'category' %}

{% block flow %}
<form action="{{formAction}}" method="post" class="form">
    
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>

    <p class="govuk-body">The product may already have been added to the Product safety database - if so, you can link to the existing product.</p>
    
    {{ govukInput({
      label: {
        text: "Search",
        classes: "govuk-label--m"
      },
      hint: {
        text: "Try searching by name, model, brand or serial number"
      },
      id: "product-name",
      name: "product[name]",
      classes: "govuk-!-width-one-half"
    }) }}

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Search"
      }) }}
    </div>

      

</form>
{% endblock %}
