{% extends "includes/templates/flow.html" %}
{% set currentCase = data.cases | withId(data['caseid']) %}
{% set displayTitle = 'Add product details' %}
{% set formAction = '.' %}

{% block flow %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{formAction}}" method="post" class="form">
      {{ govukTextarea({
        label: {
          text: "Product details"
        },
        name: "product-details"
      }) }}
      {{ govukButton({
        text: "Add to case"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
