{% extends "mspsds-layout.html" %}
{% set currentPage      = 'case' %}
{% set currentCase = data.cases | withId(data['caseid']) %}
{% set currentCase = currentCase | attachCaseChildren(data) %}
{% set currentTeam = data.currentTeam %}

{% if bodyClasses %}
    {% set bodyClasses = bodyClasses + " mspsds-width-container case" %}
{% else %}
    {% set bodyClasses = " mspsds-width-container case" %}
{% endif %}

{% set navActive = 'cases' %}

{% set caseNavActive = 'caseFile' %}



{% block pageTitle %}
{% endblock %}

{% block header %}
  {{ super() }}
  {% set includeCaseActions = true %}

  {% include "includes/components/case/case-bar.html" %}

{% endblock %}

{% block beforeContent %}

{% endblock %}




{% block content %}

{% include "includes/components/case/case-navigation.html" %}

{% set viewLinkHTML %}
<a href="#" class="govuk-link">View</a>
{% endset %}

{% set summaryMetadataHTML %}

{{ govukSummaryList({
      rows: [
    {
      key: {
        text: "Status"
      },
      value: {
        text: currentCase.status
      },
      actions: {
        items: [
          {
            href: "/root/flows/change-status/01",
            text: "Change",
            visuallyHiddenText: "case status",
            classes: "govuk-link--no-visited-state" 
          } if hasEditRights else []
        ]

      }
    },
    {
      key: {
        text: "Assigned to" if (currentCase.status=="Open") else "Owner"
      },
      value: {
        text: currentCase.assignee
      },
      actions: {
        items: [
          {
            href: "/root/flows/assign/01",
            text: "Change",
            visuallyHiddenText: "assignee",
            classes: "govuk-link--no-visited-state" 
          } if hasEditRights else []
        ]
      }
    },
    {
      key: {
        text: "Created by"
      },
      value: {
        text: "Ed Horsford"
      },
      actions: {
        items: []
      }
    },
    {
      key: {
        text: significantDateLabel
      },
      value: {
        text: currentCase.dateUpdated | prettifyDate,
        text: "Yesterday"
      },
      actions: {
        items: [
          {
            href: "/root/flows/add-activity/01?currentPage=case&caseid="+currentCase.id,
            text: "View timeline",
            classes: "govuk-link--no-visited-state" 
          }
        ]
      } if hasEditRights else {
        items: [
            {
              href: "/root/flows/add-comment/01-add-comment",
              text: "Add comment"
            }
          ]
        }
      },
    {
      key: {
        text: "Watchers"
      },
      value: {
        text: "2 teams and 3 people"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View / edit",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Edit rights"
      },
      value: {
        text: "1 team and 3 people"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View / edit",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
    }) }}

{% endset %}

{% set correspondenceHTML %}

<p class="govuk-body"><a href="#" class="govuk-link">Add new correspondence</a></p>


{{ govukTable({
    firstCellIsHeader: false,
    head: [

      {
        text: ""
      },
      {
        text: "Type"
      },
      {
        text: "Subject",
        classes: "no-wrap"
      },
      {
        text: "Date",
        format: "numeric"
      }
    ],
    rows: [
    [ 
      {
        html: viewLinkHTML
      },
      {
        text: "Email"
      },
      {
        text: "Product safety alert: alert"
      },
      {
        text: "1/2/2019",
        format: "numeric"
      }
    ],
    [
      {
        html: viewLinkHTML
      },
      {
        text: "Phone call"
      },
      {
        text: "Call with TS Southampton to discuss case"
      },
      {
        text: "22/1/2019",
        format: "numeric"
      }
    ],
    [
      {
        html: viewLinkHTML
      },
      {
        text: "Meeting"
      },
      {
        text: "Team discussion"
      },
      {
        text: "16/1/2019",
        format: "numeric"
      }
    ],
    [
      {
        html: viewLinkHTML
      },
      {
        text: "Other (sms)"
      },
      {
        text: "Arrange meeting"
      },
      {
        text: "16/1/2019",
        format: "numeric"
      }
    ]
  }
  }) }}

  <p class="govuk-body"><a href="#" class="govuk-link">View all (42 more items)</a></p>

{% endset %}

{% set reportsHTML %}
<p class="govuk-body"><a href="#" class="govuk-link">Add report</a></p>
{% endset %}

{% set testResultsHTML %}
<p class="govuk-body"><a href="#" class="govuk-link">Add test request or result</a></p>
{% endset %}

{% set correctiveActionsHTML %}
<p class="govuk-body"><a href="#" class="govuk-link">Add a corrective action</a></p>
{% endset %}

{% set notesHTML %}
<p class="govuk-body"><a href="#" class="govuk-link">Add a note</a></p>
{% endset %}

{% set linkedCasesHTML %}
<p class="govuk-body"><a href="#" class="govuk-link">Link to another case</a></p>
{% endset %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
  <h1 class="govuk-heading-l">Case</h1>

  {# <p class="govuk-body-l">ChargeWorx adaptor, Electric shock, fire hazard</p>

  <h2 class="govuk-heading-m">Summary</h2>

  <p class="govuk-body">The hood of the jacket has cords with free ends in the neck area.
  These cords can become trapped during various activities of the child, leading to strangulation.

  The product does not comply with the relevant European standard 14682.</p>

  <p class="govuk-body"><a href="" class="govuk-link govuk-link--no-visited-state">Edit title or summary</a></p> #}

{# {
        heading: {
          text: "About the case"
        },
        summary: {
          text: "Metadata about the case - dates, owners, watchers"
        },
        content: {
          html: summaryMetadataHTML
        }
      }, #}
  <h2 class="govuk-heading-m">Product</h2>

  {% set hazardDescription %}
    <p class="govuk-body">The internal wiring can become loose and make the main case live.</p>
  {% endset %}

  {% set hazardHTML %}
    <p class="govuk-body">Electrocution</p>

    {{hazardDescription | safe}}
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "General product category"
        },
        value: {
          text: "Low-voltage electrical"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "hazard type"
            }
          ]
        }
      },
      {
        key: {
          text: "Hazards"
        },
        value: {
          html: hazardHTML
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "hazard type"
            }
          ]
        }
      },
      {
        key: {
          text: "Compliance"
        },
        value: {
          text: "No known compliance issues"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "contact details"
            }
          ]
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m">Reporter</h2>

  {% set reporterContactHTML %}
  <p class="govuk-body">Ed Horsford</p>
  <p class="govuk-body">ed.horsford@suffolk.trading-standards.gov.uk</p>
  <p class="govuk-body">0798989898979</p>

  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Report source"
        },
        value: {
          text: "Trading Standards"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "hazard type"
            }
          ]
        }
      },
      {
        key: {
          text: "Internal reference number"
        },
        value: {
          text: "J58484739A"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "reference number"
            }
          ]
        }
      },
      {
        key: {
          text: "Contact details"
        },
        value: {
          html: reporterContactHTML
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "reference number"
            }
          ]
        }
      }
    ]
  }) }}

  </div>

  <div class="govuk-grid-column-one-third">


    <h2 class="govuk-heading-m">Product</h2>
    <h3 class="govuk-heading-s">ChargeWorx adaptor</h3>
    <div class="product-image__container">
      <img src="/public/images/slapwrap1.jpg" title="Product identifying image" />
    </div>
    <p class="govuk-body">
      <a href="#" class="govuk-link">View product</a>
    </p>

    <h2 class="govuk-heading-m">About this case</h2>

    <p class="govuk-body">
      Status: Open<br>
      Assigned to: Tim Harwood<br>
      Created by: Ed Horsford<br>
      Last updated: 3 hours ago<br>
      Watchers: 3 watchers<br>
      Edit rights: 4 with edit rights<br>
    </p>

    <p class="govuk-body psd--inline-link right-align"><a href="" class="govuk-link govuk-link--no-visited-state">Change settings</a></p>

    
  </div>
</div>


{% endblock %}
