{% extends "mspsds-layout.html" %}
{% set currentPage      = 'case' %}
{% set currentCase = data.cases | withId(data['caseid']) %}
{% set currentCase = currentCase | attachCaseChildren(data) %}
{% set currentTeam = data.currentTeam %}

{% if bodyClasses %}
    {% set bodyClasses = bodyClasses + " mspsds-width-container case" %}
{% else %}
    {% set bodyClasses = " mspsds-width-container case" %}
{% endif %}

{% set navActive = 'cases' %}

{% set caseNavActive = 'documents' %}
{# {% set hasEditRights = true if (currentCase.assignee == data['currentUser']) else false %} #}
{% set hasEditRights = false if (data.hasEditRights == "false") else true %}


{% set significantDateLabel = "Last updated" if currentCase.activities.length > 1 else "Created" %}




{% block pageTitle %}
{% endblock %}

{% block header %}
  {{ super() }}
  {% set includeCaseActions = true %}

  {% include "includes/components/case/case-bar.html" %}

{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

{% include "includes/components/case/case-navigation.html" %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Supporting information</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p class="govuk-body"><a href="#" class="govuk-link">Add supporting information</a>
        </p>
      </div>
      <div class="govuk-grid-column-one-half">
      <div class="govuk-grid-row  ">

        {% set groupByType = data.groupByType | falsify %}

        {% if groupByType %}
          {% set linkText = "Group all items together" %}
          {% set groupByTypeNext = false %}
        {% else %}
          {% set linkText = "Group items by type" %}
          {% set groupByTypeNext = true %}
        {% endif %}
        <p class="govuk-body align-right"><a href="./documents?sortOrder={{data.sortOrder}}&groupByType={{groupByTypeNext}}" class="govuk-link">{{linkText}}</a>

        </p>
      </div>
      <div>
        <span class="align-right">
        {{ govukSelect({
          id: "sort",
          name: "sort",
          formGroup: {
            classes: "govuk-!-margin-bottom-4"
          },
          label: {
            text: "Sort by"
          },
          items: [
            {
              value: "date-added",
              text: "Date added",
              selected: true if (data.sortOrder == 'date-added')
            },
            {
              value: "date-updated",
              text: "Last updated",
              selected: true if data.sortOrder == 'date-updated'
            },
            {
              value: "activity-date",
              text: "Date of the activity",
              selected: true if data.sortOrder == 'activity-date'
            },
            {
              value: "author",
              text: "Added by",
              selected: true if data.sortOrder == 'author'
            },
            {
              value: "title",
              text: "Item title",
              selected: true if data.sortOrder == 'title'
            }
          ]
        }) }}
      </span>
      {# Reload page with sort order applied #}
      <script>

        $("#sort").change(e => {
          var sortOrder = $("#sort").val()
          window.location.href = window.location.pathname+"?"+$.param({'sortOrder':sortOrder})
        })
      </script>
      </div>
       {#  <span class="align-right govuk-!-margin-right-3">
          {{ govukCheckboxes({
            idPrefix: "nationality",
            name: "nationality",
            items: [
              {
                value: "british",
                text: "Group by type",
                checked: true
              }
            ]
          }) }}
        </span> #}
      </div>
    </div>

    {# Corrective actions, correspondence, incidents #}
    {% set historyItems = currentCase.report.history.items %}

    {# Test results #}
    {# {% set testResultItems = currentCase.report.testResult.testResults %} #}

    {# Merge arrays #}
    {# {% set combinedItems = historyItems | combineArrays(testResultItems) %} #}

    {# Grab sort order from query string #}
    {% set sortOrder = data.sortOrder or 'added' %}
    {# Default sort order #}
    {% set sortOrderReversed = false %}

    {# Remap sort orders #}
    {% switch sortOrder %}
      {# Dates #}
      {% case 'date-added' %}
        {% set sortOrder = 'dateAdded' %}
        {% set sortOrderReversed = true %}
      {% case 'date-updated' %}
        {% set sortOrder = 'dateUpdated' %}
      {% case 'activity-date' %}
        {% set sortOrder = 'date' %}
        {% set sortOrderReversed = true %}
      {% case 'author' %}
      {% case 'title' %}
      {%  default %}
      {% set sortOrder = 'dateAdded' %}
      {% set sortOrderReversed = true %}
    {% endswitch %}

   {% set historyItemsWithExtra = [] %}

    {# Add extra fields #}
    {% for item in historyItems %}

      {% set titleExtra %}
        {% if (not groupByType) or (groupByType and item.correspondenceType) %}
          <br>
          <span class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">{{item.correspondenceType or item.type}}</span>
        {% endif %}
      {% endset %}

      {% set title -%}
        <a href="documents/{{loop.index0}}">{{item.title}}</a>
        {{titleExtra | safe}}
      {%- endset %}
      {% set author = ('' | faker).fullName %}
      {% set item = item | setAttribute('title', title) %}
      {% set item = item | setAttribute('author', author) %}
      {% set item = item | setAttribute('index', loop.index0 ) %}
      {% set item = item | setAttribute('dateGovuk', item.date | arrayToGovukDate ) %}
      {% set item = item | setAttribute('dateAddedGovuk', item.dateAdded | arrayToGovukDate ) %}
      {% set historyItemsWithExtra = historyItemsWithExtra | push(item) %}
    {% endfor %}

    {% set itemsSorted = historyItemsWithExtra | sortDateArrays(sortOrderReversed, sortOrder) %}
    {# Slim down to just fields we want #}

    {# {% set data.groupByType = true %} #}
    {% if groupByType %}
      {% for type, items in itemsSorted | sort(attribute='type') | groupby("type") %}
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{type | pluralise }}</h2>
          {{ itemTable(items) }}
          <hr class="govuk-section-break govuk-section-break--l">
      {% endfor %}
      {% else %}
      {{ itemTable(itemsSorted) }}


    {% endif %}

  </div>
</div>

{% endblock %}

{% macro itemTable(items) %}

  {# Slim down to data we need #}
  {% set theItems = items | keepAttributes('title', 'author', 'dateAddedGovuk', 'dateGovuk') %}
  {# Convert to nested array #}
  {% set tableData = theItems | objectArrayToArray %}
  {# Make table #}
  {{ govukTable({
    firstCellIsHeader: false,
    head: [

      {
        text: "",
        classes: "govuk-!-width-one-half"
      },
      {
        text: "Added by"
      },
      {
        text: "Date added"
      },
      {
        text: "Activity date"
      }
    ],
    rows: tableData | arrayToGovukTable
  }) }}

{% endmacro %}
