{% extends "mspsds-layout.html" %}
{% set currentPage      = 'case' %}
{% set currentCase = data.cases | withId(data['caseid']) %}
{% set currentCase = currentCase | attachCaseChildren(data) %}
{% set currentTeam = data.currentTeam %}

{% if bodyClasses %}
    {% set bodyClasses = bodyClasses + " mspsds-width-container case" %}
{% else %}
    {% set bodyClasses = " mspsds-width-container case" %}
{% endif %}

{% set navActive = 'cases' %}

{% set caseNavActive = 'overview' %}
{% set hasEditRights = true if (currentCase.assignee == data['currentUser']) else false %}

{% set significantDateLabel = "Last updated" if currentCase.activities.length > 1 else "Created" %}

{% set caseTitle -%}

  {%- if currentCase.type == "Question" -%}
     {{- currentCase.title | safe -}}
  {%- endif -%}

  {%- if currentCase.products | length > 0 -%}
    {{- " " + currentCase.products[0].name -}}
  {%- else -%}
    {{- " undefined product" -}}
  {%- endif -%}

  {%- if currentCase.type == 'case' -%}
    {%- if currentCase.report.hazardType -%}
      {{- " " + currentCase.report.hazardType -}}
    {%- else -%}
      {{- " undefined hazard" -}}
    {%- endif -%}
  {%- endif -%}
{%- endset %}


{% block pageTitle %}
{% endblock %}

{% block header %}
  {{ super() }}
  {% set includeCaseActions = true %}

  {% include "includes/components/case/case-bar.html" %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% set permissionsHTML %}

<p class="govuk-body">4 teams added</p>
{% if currentCase.restricted -%}
  <span class="hmcts-badge hmcts-badge--red">Restricted case</span>
  {% else %}
  <p class="govuk-body">All other users: view - limited</p>
{%- endif %}

{% endset %}

{% set summaryMetadataRows = [
    {
      key: {
        text: "Status"
      },
      value: {
        text: currentCase.status
      },
      actions: {
        items: [
          {
            href: "/root/flows/change-status/01",
            text: "Change",
            visuallyHiddenText: "case status",
            classes: "govuk-link--no-visited-state" 
          } if hasEditRights else []
        ]

      }
    },
    {
      key: {
        text: "Created by"
      },
      value: {
        text: "Ed Horsford"
      },
      actions: {
        items: []
      }
    },
    {
      key: {
        text: "Assigned to" if (currentCase.status=="Open") else "Owner"
      },
      value: {
        text: currentCase.assignee
      },
      actions: {
        items: [
          {
            href: "/root/flows/assign/01",
            text: "Change",
            visuallyHiddenText: "assignee",
            classes: "govuk-link--no-visited-state" 
          } if hasEditRights else []
        ]
      }
    },
    {
      key: {
        text: "Permissions"
      },
      value: {
        html: permissionsHTML
      },
      actions: {
        items: [
          {
            href: "settings/permissions",
            text: "View or change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },{
      key: {
        text: "Date created"
      },
      value: {
        text: "4 February 2019"
      },
      actions: {
        items: []
      }
    },
    {
      key: {
        text: significantDateLabel
      },
      value: {
        text: currentCase.dateUpdated | prettifyDate
      },
      actions: {
        items: [
          {
            href: "/root/flows/add-activity/01?currentPage=case&caseid="+currentCase.id,
            text: "Add activity",
            classes: "govuk-link--no-visited-state" 
          }
        ]
      } if hasEditRights else {
        items: [
            {
              href: "/root/flows/add-comment/01-add-comment",
              text: "Add comment"
            }
          ]
        }
      }
  ] %}

{# Not used

,
    {
      key: {
        text: "Watchers"
      },
      value: {
        text: "3 watchers"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View / edit",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Edit rights"
      },
      value: {
        text: "4 with edit rights"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View / edit",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
     #}



{% block content %}

{# {% if data['confirmation'] %}
    {% block confirmation %}
        {% from "includes/mspsds-confirmation.html" import confirmation %}
        {{ confirmation("confirmation", data['confirmation']) }}
    {% endblock %}
{% endif %} #}

{% include "includes/components/case/case-navigation.html" %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Overview</h1>

    <p class="govuk-body-l">{{caseTitle}}</p>

    <h2 class="govuk-heading-m">Summary</h2>

    <p class="govuk-body">{{currentCase.report.summary}}</p>

    <p class="govuk-body psd--inline-link right-align"><a href="" class="govuk-link govuk-link--no-visited-state">Change summary</a></p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m"><a href="" class="govuk-link">Products</a></h2>

    
      {% set hazardDescription %}
        <p class="govuk-body">{{currentCase.report.hazardSummary}}</p>
      {% endset %}

      {% set hazardHTML %}
        <p class="govuk-body">{{currentCase.report.hazardType}}</p>

        {{hazardDescription | safe}}
      {% endset %}

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: "Product category"
            },
            value: {
              text: currentCase.report.productType
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "hazard type"
                }
              ]
            }
          },
          {
            key: {
              text: "Hazards",
              classes: "govuk-summary-list--no-border"
            },
            classes: "govuk-summary-list--no-border",
            value: {
              html: hazardHTML
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "hazard type"
                }
              ]
            }
          },
          {
            key: {
              text: "Compliance"
            },
            value: {
              text: "No known compliance issues"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          },
          {
            key: {
              text: "Product details"
            },
            value: {
              text: currentCase.products | length + ' product added' if currentCase.products | length == 1 else currentCase.products | length + ' products added'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "View",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m"><a href="" class="govuk-link">Businesses</a></h2>
    
    {% if currentCase.businesses | length > 0 %}

    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
    {
      key: {
        text: "Importer"
      },
      value: {
        text: "Argos ltd"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
    }) }}
    {% else %}
    <p class="govuk-body">No businesses added</p>
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m"><a href="" class="govuk-link">Test results</a></h2>
    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
    {
      key: {
        text: "Screening check report"
      },
      value: {
        text: "Tested on 4/4/2019, test result: fail"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m"><a href="" class="govuk-link">Files and attachments</a></h2>

    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
    {
      key: {
        text: "Images"
      },
      value: {
        text: "3 product images, 5 other images"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View",
            visuallyHiddenText: "name"
          }
        ]
      }
    },{
      key: {
        text: "Other attachments"
      },
      value: {
        text: "3 attachments"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <h2 class="govuk-heading-m"><a href="" class="govuk-link">Actions and correspondence</a></h2>


    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
    {
      key: {
        text: "Corrective actions"
      },
      value: {
        text: "2 corrective actions"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View",
            visuallyHiddenText: "name"
          }
        ]
      }
    },{
      key: {
        text: "Correspondence"
      },
      value: {
        text: "12 items, last correspondence 14/04/2019"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View",
            visuallyHiddenText: "name"
          }
        ]
      }
    },{
      key: {
        text: "Comments"
      },
      value: {
        text: "10 comments, last comment 14/04/2019"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <h2 class="govuk-heading-m">About the case</h2>

    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: summaryMetadataRows
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <h2 class="govuk-heading-m">Reporter</h2>

    {% set reporterContactHTML %}
    <p class="govuk-body">Ed Horsford</p>
    <p class="govuk-body">ed.horsford@suffolk.trading-standards.gov.uk</p>
    <p class="govuk-body">0798989898979</p>

    {% endset %}

    {% set reportSourceHTML %}
      <p class="govuk-body">Trading Standards Suffolk</p>

      {# <p class="govuk-body">TS reference number: J58484739A</p> #}
    {% endset %}

  {# {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Report source"
        },
        value: {
          html: reportSourceHTML
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "hazard type"
            }
          ]
        }
      },{
        key: {
          text: "TS reference number"
        },
        value: {
          text: "J59398383838"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "hazard type"
            }
          ]
        }
      },
      {
        key: {
          text: "Contact details"
        },
        value: {
          html: reporterContactHTML
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "reference number"
            }
          ]
        }
      }
    ]
  }) }} #}


  {# Raw HTML as component doesn't support change links spanning sections #}
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row govuk-summary-list--no-border">
        <dt class="govuk-summary-list__key">
          Report source
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Trading Standards Suffolk</p>
        </dd>
        
        <div class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> report source</span>
          </a>
        </div>      
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          TS reference number
        </dt>
        <dd class="govuk-summary-list__value">
          J59398383838
        </dd>
        
        <div class="govuk-summary-list__actions">
        </div>     
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact details
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Ed Horsford</p>
          <p class="govuk-body">ed.horsford@suffolk.trading-standards.gov.uk</p>
          <p class="govuk-body">0798989898979</p>
        </dd>
        
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> reporter contact details</span>
          </a>
        </dd>     
      </div>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Product
      </h2>

      <h3 class="govuk-heading-s">ChargeWorx adaptor</h3>
      <div class="product-image__container">
        <img src="/public/images/slapwrap1.jpg" title="Product identifying image" />
      </div>
      

      <p class="govuk-body">
        <a href="#" class="govuk-link">View product</a>&nbsp;
      </p>

      <h2 class="govuk-heading-m">Recent timeline</h2>
      <div class="hmcts-timeline">
            
        <div class="hmcts-timeline__item">
          <div class="hmcts-timeline__header">
            <h3 class="hmcts-timeline__title"><a href="/app/cases/FR1231612322/timeline/81ec86ff-c4b9-40d5-953c-7a528b789118">Case reasssigned to you</a></h3>  
            <p class="hmcts-timeline__by">by Jane Doe, OPSS Processing</p>
            <p class="hmcts-timeline__date"><time datetime="2018-09-14T09:38:00.000Z">Fri 14 Sep 2018 at 9:38am</time></p>
          </div>
          <p class="govuk-body hmcts-timeline__paragraph">John, can you take a look at this please?</p> 
          
        </div>  
        <div class="hmcts-timeline__item">
          <div class="hmcts-timeline__header">
            <h3 class="hmcts-timeline__title"><a href="/app/cases/FR1231612322/timeline/b4b33a91-7b5d-4045-a3cb-2804f97a6637">Comment added</a></h3>       
            <p class="hmcts-timeline__by">by Simon Saint, OPSS Enforcement</p>
            <p class="hmcts-timeline__date"><time datetime="2018-09-12T09:38:00.000Z">Wed 12 Sep 2018 at 9:38am</time></p>
          </div>
          
          <p class="govuk-body hmcts-timeline__paragraph">Hey Chris, would you mind taking a...</p> 

        </div>  
        <div class="hmcts-timeline__item">
          <div class="hmcts-timeline__header">
            <h3 class="hmcts-timeline__title"><a href="/app/cases/FR1231612322/timeline/7e076c8e-3259-4fa4-aaaf-927a88c200f6">Email recorded</a></h3>     
            <p class="hmcts-timeline__by">by DJ Nightingale</p>
            <p class="hmcts-timeline__date"><time datetime="2018-09-11T16:15:00.000Z">Tue 11 Sep 2018 at 4:15pm</time></p>    
          </div>
          
        </div>
      </div>

      <p class="govuk-body"><a href="" class="govuk-link">View full timeline</a></p>

    </aside>

  </div>
</div>


{% endblock %}
