{% macro activityTimeline(eventList) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <ol class="mspsds-activity-timeline">

        {#TODO:Dev Can we use responsive mixins in the SCSS rather than specifying font-size classes? #}

        {% for activity in eventList %}

          <li class="mspsds-activity-timeline__entry">

            <h3 class="govuk-heading-s mspsds-activity-heading">{{activity.title}}</h3>
            <p class="mspsds-activity-timeline__entry-details govuk-body-s">
              {{activity.action}}
              {{ (" by " + (activity.author | default("Tim Harwood")) + ",") if not activity.hideName }}
              {{activity.date | default("16 August 2018")}}
            </p>

            {% if activity.type %}
              {% include "./activities/" + activity.type + ".html" %}
            {% endif %}

            {% if activity.html %}
              {{activity.html | safe}}
            {% endif %}

            {% if activity.text %}
              <p class="govuk-body">{{activity.text | safe}}</p>
            {% endif %}

          </li>

        {% endfor %}
      </ol>


    </div>
  </div>
{% endmacro %}







  {# TODO:Design Consider how to highlight different entries. Below code is one possibility.
  <li class="mspsds-activity-timeline__entry--action-needed">
    <h3 class="govuk-heading-s">Ask someone to confirm your identity</h3>
    <p class="time govuk-body-s">2 September 2017 at 1.01pm</p>
    <p>Your old passport is damaged. We can’t print your new passport until your identity is confirmed.</p>
    <p><a class="button" href="#0">Continue</a></p>
  </li>
  #}
