{% macro activityTimeline(eventList1, eventList2) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <ol class="mspsds-activity-timeline">

        {#TODO:Dev Can we use responsive mixins in the SCSS rather than specifying font-size classes? #}

        {# TODO something better than just listing all event lists? sadly concat doesn't work #}


        {% for list in [eventList1, eventList2] %}
          {% for entry in list %}

          <li class="mspsds-activity-timeline__entry">

            <h3 class="govuk-heading-s">{{entry.title}}</h3>
            <p class="mspsds-activity-timeline__entry-details govuk-body-s">
              {{entry.action}}
              {{ (" by " + (entry.author | default("Tim Harwood")) + ",") if not entry.hideName }}
              {{entry.date | default("16 August 2018")}}
            </p>

            {% if entry.html %}
              {{entry.html | safe}}
            {% endif %}

            {% if entry.text %}
              <p class="govuk-body">{{entry.text}}</p>
            {% endif %}
            
          </li>

          {% endfor %}
        {% endfor %}
      </ol>


    </div>
  </div>
{% endmacro %}







  {# TODO:Design Consider how to highlight different entries. Below code is one possibility.
  <li class="mspsds-activity-timeline__entry--action-needed">
    <h3 class="govuk-heading-s">Ask someone to confirm your identity</h3>
    <p class="time govuk-body-s">2 September 2017 at 1.01pm</p>
    <p>Your old passport is damaged. We can’t print your new passport until your identity is confirmed.</p>
    <p><a class="button" href="#0">Continue</a></p>
  </li>
  #}
