{% from "fieldset/macro.njk"      import govukFieldset %}
{% from "file-upload/macro.njk"   import govukFileUpload %}
{% from "textarea/macro.njk"      import govukTextarea %}

{% macro attachmentInput(options) %}

{# label, idPrefix, includeDescription #}

    {% call govukFieldset({
      legend: {
        text:       options.label,
        classes:    "govuk-fieldset__legend--l"
      }
    }) %}

        {{ govukFileUpload({
          id: options.idPrefix+"-upload",
          name: options.idPrefix+"-upload"
        }) }}

        {% if options.includeDescription == 'true' %}
            {{ govukTextarea({
              label: {
                text: "Attachment description"
              },
              name: options.idPrefix+"-upload-description",
              id:   options.idPrefix+"-upload-description"
            }) }}
        {% endif %}

    {% endcall %}

{% endmacro %}
