{% from "fieldset/macro.njk"      import govukFieldset %}
{% from "file-upload/macro.njk"   import govukFileUpload %}
{% from "textarea/macro.njk"      import govukTextarea %}

{% macro attachmentInput(options) %}

    {% if options.class %}
      {% set class = options.class %}
    {% else %}
      {% set class = 'govuk-fieldset__legend govuk-fieldset__legend--l' %}
    {% endif %}

    {% set idPrefix = "attachment" %}
    {% if options.idPrefix %}
      {% set idPrefix = options.idPrefix %}
    {% endif %}

    {% set namePrefix = idPrefix %}
    {% if options.namePrefix %}
      {% set namePrefix = options.namePrefix %}
    {% endif %}



{# label, idPrefix, includeDescription #}

    {% call govukFieldset({
      legend: {
        text:       options.label,
        classes:    class
      }
    }) %}

        {{ govukFileUpload({
          id:     idPrefix    + "-upload",
          name:   namePrefix  + "[upload]"
        }) }}

        {% if options.includeDescription == 'true' %}
            {{ govukTextarea({
              label: {
                text: "Attachment description"
              },
              name: namePrefix  + "[description]",
              id:   idPrefix    + "-description"
            }) }}
        {% endif %}

    {% endcall %}

{% endmacro %}
