{% from "button/macro.njk" import govukButton %}



{% macro attachmentList(numberOfAttachments) %}

  {% for attachmentNumber in range(0, numberOfAttachments) %}

    <div class="mspsds-tablist mspsds-tablist--attachment">
      
      {% if (loop.index % 2) == 1 %}
        {{ imageAttachment() }}
      {% else %}
        {{ documentAttachment() }}
      {% endif %}
      
      {% if attachmentNumber != numberOfAttachments-1 %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break govuk-section-break--visible" />
      {% endif %}
    </div>

  {% endfor %}

{% endmacro %}



{% macro imageAttachment() %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <a href="/public/images/placeholder.png" >
      <img src="/public/images/placeholder.png" />
    </a>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h3 class="mspsds-attachment-list__image-title govuk-heading-m">Image title</h3>
    <p class="mspsds-attachment-list__image-date govuk-body-s">Updated 12/08/2018</p>
    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    
    <div class="mspsds-controls">
        <a href="/public/images/placeholder.png" class="mspsds-block-link">View image</a>
        <a href="/pages/flows/attachment/manage/01?type=image" class="mspsds-block-link">Manage image</a>
    </div>


  </div>
</div>

{% endmacro %}

{% macro documentAttachment() %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p></p>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="mspsds-attachment-list__document-file-details">
          <img src="/public/images/document-thumbnail.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h3 class="mspsds-attachment-list__image-title govuk-heading-m">Document title</h3>
    <p class="mspsds-attachment-list__image-date govuk-body-s">Uploaded 12/08/2018</p>
    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

    <div class="mspsds-controls">
        <a href="#" class="mspsds-block-link">View document</a>
        <a href="/pages/flows/attachment/manage/01?type=document"  class="mspsds-block-link">Manage document</a>
    </div>

  </div>
</div>

{% endmacro %}
