{% macro autocompleteInput(data) %}

    {% if data.class %}
      {% set class = data.class %}
    {% else %}
      {% set class = 'govuk-fieldset__legend govuk-fieldset__legend--l' %}
    {% endif %}

    {% if data.legend %}
      <legend for="{{data.idPrefix}}-autocomplete" class="{{class}} ">
        {{data.legend}}
      </legend>
    {% endif %}

    {% if data.hint %}
      <span class="govuk-hint">{{data.hint | safe}}</span>
    {% endif %}
    
    {% if not data.width %}
      {% set width = 'govuk-!-width-one-half' %}
    {% else %}
      {% set width = data.width %}
    {% endif %}

    <div class="mspsds-autocomplete {{width}}" id="{{data.idPrefix}}-autocomplete-container"></div>

    <style>#{{data.idPrefix}}-autocomplete-container .autocomplete__dropdown-arrow-down{z-index: 0}</style>

    <script type="text/javascript">
      var values = [{% for value in data.values %}"{{value}}",{% endfor %}];

      element = document.querySelector('#{{data.idPrefix}}-autocomplete-container');
      id = '{{data.idPrefix}}-autocomplete';
      defaultValue = '{{data.value}}';

      accessibleAutocomplete({
        element: element,
        id: id,
        name: "{{data.name}}",
        showAllValues: true,
        source: values,
        defaultValue: defaultValue
      });
    </script>

{% endmacro %}
