{% from "back-link/macro.njk"     import govukBackLink %}


{% set backLink      = false %}
{% set backText      = '' %}

{% set currentPage      = data['currentPage'] %}


{% if currentPage   ==  'case' %}
    
    {% set backLink      = '/pages/case?caseid='+data['caseid']  %}
    {% set backText      = 'Back to Case '+data['caseid']  %}

{% elif currentPage ==  'product'  %}

    {% set backLink      = '/pages/product?productid='+data['productid']  %}
    {% set backText      = 'Back to Product' %}

{% elif currentPage ==  'business'  %}

    {% set backLink      = '/pages/business?businessid='+data['businessid']  %}
    {% set backText      = 'Back to Business' %}

{% endif %}



{% if backLink  %}

    {{ govukBackLink({
    	text: backText,
    	href: backLink
    }) }}

{% endif %}
