
{% set theRiskLevel = currentCase.riskLevel %}

{% set otherRiskLevelHTML %}
  {{ govukInput({
    label: {
      text: "Risk level",
      classes: "govuk-visually-hidden"
    },
    id: "other-risk-level",
    name: "riskLevelOther",
    value: currentCase.riskLevelOther,
    classes: "govuk-!-width-one-half"
  }) }}
{% endset %}

<p class="govuk-body">Risk levels should usually be supported by a risk assessment.</p>

{# With risk asssesment #}
{% set insetTextHTML %}
<p class="govuk-body">This case has <a href="../risk-assessment/">1 risk assessment</a> attached, assessing the risk as <strong>serious</strong>.</p>
{% endset %}

{# Without risk assessment #}
{% set insetTextHTML %}
<p class="govuk-body">This case does not have a risk assessment attached. You may want to <a href="../risk-assessment/edit">add a risk assesment</a> before setting the case risk level.</p>
{% endset %}

{{ govukInsetText({
  html: insetTextHTML
}) }}

<p class="govuk-body">The case risk level may differ from attached risk assements if necessary - such as when there are conflicting assesments, or where the assessment was provided by a third party.</p>




 {{ govukRadios({
    idPrefix: "risk-level",
    name: "riskLevel",
    fieldset: {
      legend: {
        text: "Risk level",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "Serious risk",
        text: "Serious risk",
        checked: checked([theRiskLevel], "Serious risk")
      },
      {
        value: "High risk",
        text: "High risk",
        checked: checked([theRiskLevel], "High risk")
      },
      {
        value: "Medium risk",
        text: "Medium risk",
        checked: checked([theRiskLevel], "Medium risk")
      },
      {
        value: "Low risk",
        text: "Low risk",
        checked: checked([theRiskLevel], "Low risk")
      },
      {
        value: "Other",
        text: "Other",
        checked: checked([theRiskLevel], "Other"),
        conditional: {
          html: otherRiskLevelHTML
        }
      },
      {
        divider: "or"
      },
      {
        value: "No risk",
        text: "No risk",
        checked: checked([theRiskLevel], "No risk")
      },
      {
        value: "Unknown",
        text: "Unknown",
        checked: checked([theRiskLevel], "Unknown")
      }
    ]
  }) }}
