

{% set theRiskLevel = currentCase.riskLevel %}

{% set otherRiskLevelHTML %}
  {{ govukInput({
    label: {
      text: "Risk level",
      classes: "govuk-visually-hidden"
    },
    id: "other-risk-level",
    name: "riskLevelOther",
    value: currentCase.riskLevelOther,
    classes: "govuk-!-width-one-half"
  }) }}
{% endset %}

<p class="govuk-body">The case risk level will usually match the risk assessment.</p>

<p class="govuk-body">It can differ from risk assesments if necessary - such as when there are conflicting assesments, or where the assessment was provided by a third party.</p>

{% set historyItems = currentCase.report.history.items %}
{% set historyItems = historyItems | removeAttr('hide', true) %}

{# Filter items for riskAssessments #}
{% set riskAssessments = historyItems | filterAttr("type", "Risk assessment") | sortDateArrays(false, 'dateAdded') %}
{% set riskAssessmentCount = riskAssessments | length %}
{% set riskAssessment = riskAssessments[0] if riskAssessmentCount else '' %}
{# With risk asssesment #}


{# Has risk assessments #}
{% if riskAssessmentCount %}

  {% set insetTextHTML %}
  <p class="govuk-body">This case has <a href="{{riskAssessmentLinkDestination}}">{{riskAssessmentCount}} risk {{'assessment' | pluralise(riskAssessmentCount)}} added</a>, assessing the risk as <strong>{{riskAssessment.riskLevel | lower}}</strong>.</p>
  {% endset %}

  {# Multiple risk assessments - link to documents tab #}
  {% set riskAssessmentLinkText = 'View' %}
  {% set riskAssessmentLinkDestination = '../documents#risk-assessments' %}

  {# Single risk assessment - link to document #}
  {% if riskAssessmentCount == 1 %}
    {% set riskAssessmentLinkDestination = '../documents/' + riskAssessment.index + '/view' %}
  {% endif %}

{# Without risk assessment #}
{% else %}

  {% set insetTextHTML %}
  <p class="govuk-body">This case does not have a risk assessment. You may want to <a href="../risk-assessment/new">add a risk assesment</a> before setting the case risk level.</p>
  {% endset %}

{% endif %}


{# Message about current risk assessments #}
{{ govukInsetText({
  html: insetTextHTML
}) }}






 {{ govukRadios({
    idPrefix: "risk-level",
    name: "riskLevel",
    fieldset: {
      legend: {
        text: "Case risk level",
        isPageHeading: false,
        _classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "Serious risk",
        text: "Serious risk",
        checked: checked([theRiskLevel], "Serious risk")
      },
      {
        value: "High risk",
        text: "High risk",
        checked: checked([theRiskLevel], "High risk")
      },
      {
        value: "Medium risk",
        text: "Medium risk",
        checked: checked([theRiskLevel], "Medium risk")
      },
      {
        value: "Low risk",
        text: "Low risk",
        checked: checked([theRiskLevel], "Low risk")
      },
      {
        value: "Other",
        text: "Other",
        checked: checked([theRiskLevel], "Other"),
        conditional: {
          html: otherRiskLevelHTML
        }
      },
      {
        divider: "or"
      },
      {
        value: "No risk",
        text: "No risk",
        checked: checked([theRiskLevel], "No risk")
      },
      {
        value: "Unknown",
        text: "Unknown",
        checked: checked([theRiskLevel], "Unknown")
      }
    ]
  }) }}
