
{% macro simpleDescriptionList(params) %}

<dl class="app-description-list {%- if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  {% for row in params.rows %}
    {% if row %}
      <div class="app-description-list__row {%- if row.classes %} {{ row.classes }}{% endif %}">
        <dt class="app-description-list__key {%- if row.key.classes %} {{ row.key.classes }}{% endif %}">
          {{ row.key.html | safe if row.key.html else row.key.text }}
        </dt>
        <dd class="app-description-list__value {%- if row.value.classes %} {{ row.value.classes }}{% endif %}">
          {{ row.value.html | indent(8) | trim | safe if row.value.html else row.value.text }}
        </dd>
      </div>
    {% endif %}
  {% endfor %}
</dl>

{% endmacro %}
