{% from "button/macro.njk"        import govukButton %}


{% macro siteNav(navList, createLink) %}

  <nav id="nav">

    <div class="navbar">

      <ul class="navbar__list-items">

        {% for entry in navList %}

          <li class="{{entry.classes}}">
              <a href="{{entry.link}}" class="govuk-link--no-visited-state">{{entry.label}}</a>
          </li>

        {% endfor %}
        
      </ul>

      {% if createLink %}
        <div class="creation" data-create="{{create}}">
          {{ govukButton({
            text: "Create new",
            href: createLink,
            classes: "govuk-button--start"
          }) }}
        </div>
      {% endif %}

      
        
    </div>

    

  </nav>

{% endmacro %}