{% from "table/macro.njk"             import govukTable %}
{% from "includes/tab-title.html"     import tabTitle %}


{{ tabTitle({
        title:      'Full details',
        controls:   '<a href="/product/edit">Edit details</a>'
}) }}


<div class="govuk-grid-row govuk-!-margin-bottom-4">

  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m">Report</h3>

    {{ govukTable({
      firstCellIsHeader: true,      rows: [
        [
          {
            text: "Date"
          },
          {
            html: "10/12/2018"
          }
        ],
        [
          {
            text: "Question asked by"
          },
          {
            html: "Business <br><a href='#'>View details</a>"
          }
        ],
        [
          {
            text: "Correspondence"
          },
          {
            html: "Original email attached  <br> <a href='#'>View details</a>"
          }
        ],
        [
          {
            text: "Question type"
          },
          {
            html: "Policy"
          }
        ],
        [
          {
            text: "Additional notes"
          },
          {
            text: "They have made their Local authority aware."
          }
        ]
      ]
    }) }}

  </div>

</div>





