{% from "table/macro.njk"         import govukTable %}

<h2 class="govuk-heading-l">Full detail</h2>

{{ govukTable({
  caption: "Business details",
  captionClasses: "govuk-heading-m",
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Company number"
      },
      {
        text: "00445790"
      }
    ],
    [
      {
        text: "Company type"
      },
      {
        text: "Public limited company"
      }
    ],
    [
      {
        text: "Registered office address"
      },
      {
        text: "Tesco House, Shire Park, Kestrel Way, Welwyn Garden City, United Kingdom, AL7 1GA"
      }
    ],
    [
      {
        text: "VAT number"
      },
      {
        text: "GB220430231"
      }
    ],
    [
      {
        text: "Nature of business (SIC)"
      },
      {
        text: "47110 - Retail sale in non-specialised stores with food, beverages or tobacco predominating"
      }
    ],
    [
      {
        text: "Primary Authority"
      },
      {
        text: "Hertfordshire County Council"
      }
    ],
    [
      {
        text: "Additional information"
      },
      {
        text: "Tesco plc, trading as Tesco, is a British multinational groceries and general merchandise retailer with headquarters in Welwyn Garden City, Hertfordshire, England, United Kingdom."
      }
    ]
  ]
}) }}

<a href="/product/edit">Edit details</a>

<hr class="govuk-section-break govuk-section-break--m" />

<h3 class="govuk-heading-m">Company history</h3>

{# TODO:Design Define what Company History looks like #}
<p class="govuk-body">TBD</p>
