{% from "table/macro.njk"         import govukTable %}

<h2 class="govuk-heading-l">Full Detail</h2>

{{ govukTable({
  firstCellIsHeader: true,
  rows: [
    [
      { text: "Category" },
      { text: "Toys" }
    ],
    [
      { text: "Type" },
      { text: "Finger puppets" }
    ],
    [
      { text: "Brand" },
      { text: "Bears Friend" }
    ],
    [
      { text: "Name" },
      { text: "Finger Monkeys" }
    ],
    [
      { text: "Serial / Product number" },
      { text: "97439287498237" }
    ],
    [
      { text: "Country of origin" },
      { text: "China" }
    ],
    [
      { text: "Description" },
      { text: "Battery-operated? plastic and fabric toy camouflage monkey, available in various colours:" }
    ],
    [
      { text: "Date on the market" },
      { text: "April 2016" }
    ]
  ]
}) }}

<a href="/product/edit">Edit details</a>


