{% extends "mspsds-layout.html" %}


{% block pageTitle %}
  Ask a question – Questioner details
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to list",
    href: "/case-list"
  }) }}

{% endblock %}


{% block content %}

  {{ pageTitle({
    type:   "Ask a question",
    title:   data['questioner-type'] + " asking"
  }) }}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="./03-question" method="post" class="form">
    
    {% call govukFieldset({
      legend: {
        text: "Questioner details",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: false
      }
    }) %}
    
      {{ govukInput({
        label: {
          text: "Name"
        },
        classes: "govuk-!-width-two-thirds",
        id:   "questioner-name",
        name: "questioner-name"
      }) }}


      {{ govukInput({
        label: {
          text: "Phone number"
        },
        classes: "govuk-!-width-two-thirds",
        id:   "questioner-phone-number",
        name: "questioner-phone-number"
      }) }}


      {{ govukInput({
        label: {
          text: "Email address"
        },
        classes: "govuk-!-width-two-thirds",
        id:   "questioner-email-address",
        name: "questioner-email-address"
      }) }}


      {{ govukTextarea({
        name: "questioner-other-detail",
        id:   "questioner-other-detail",
        label: {
          text: "Other details"
        },
        hint: {
          text: "Location, business/authority name, reference numbers etc"
        }
      }) }}

    {% endcall %}


    {{ govukButton({
      text: "Continue"
    }) }}

    </form>


  </div>
</div>




{% endblock %}
