{% extends "mspsds-layout.html" %}


{% block pageTitle %}
  Ask a question – Question
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to list",
    href: "/case-list"
  }) }}

{% endblock %}


{% block content %}
  
  {{ pageTitle({
    type:   "Ask a question",
    title:  "What do you want to know?"
  }) }}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="./04-question-created" method="post" class="form">


      {% set otherQuestionTypeHtml %}

        {{ govukInput({
          hint: {
            text:     "Please give details",
            classes:  "govuk-!-width-two-thirds"
          },
          classes:    "govuk-!-width-two-thirds",
          id:         "other-question-type",
          name:       "other-question-type"
        }) }}

      {% endset -%}



      {% call govukFieldset({
        legend: {
          text:           "What type of question is it?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukRadios({
          idPrefix:   "question-type",
          name:       "question-type",
          items: [
            {
              value: "Policy",
              text: "Policy",
              checked: checked("question-type", "Policy")
            },
            {
              value: "Legislation",
              text: "Legislation",
              checked: checked("question-type", "Legislation")
            },
            {
              value: "Testing",
              text: "Testing",
              checked: checked("question-type", "Testing")
            },
            {
              value: "Enforcement",
              text: "Enforcement",
              checked: checked("question-type", "Enforcement")
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherQuestionTypeHtml
              },
              checked: checked("question-type", "Other")
            }
          ]
        }) }}


        

      {% endcall %}
      

      {% call govukFieldset({
        legend: {
          text:     "What's the question?",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukInput({
          label: {
            text: "Question overview"
          },
          hint: {
            text:     "The short version of the question, for viewing in lists etc",
            classes:  "govuk-!-width-two-thirds"
          },
          classes:    "govuk-!-width-two-thirds",
          id:         "question-overview",
          name:       "question-overview"
        }) }}


        {{ govukTextarea({
          label: {
            text: "Full question"
          },
          hint: {
            text:     "Please give as much context / information as possible to aid finding the best answer",
            classes:  "govuk-!-width-two-thirds"
          },
          classes:    "govuk-!-width-two-thirds",
          id:         "question",
          name:       "question"
        }) }}

      {% endcall %}


      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


  </div>
</div>




{% endblock %}
