{% from "table/macro.njk" import govukTable %}

{% macro linkedBusiness(business) %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukTable({
      firstCellIsHeader: true,
      classes: "govuk-!-margin-bottom-4",
      rows: [
        [
          { text: business.role },
          { text: business.name }
        ],
        [
          { text: 'Main address' },
          { text: business.address }
        ],
        [
          { text: 'Main contact'},
          { text: business.contact }
        ],
        [
          { text: 'Primary authority' },
          { text: business.primaryAuthority }
        ],
        [
          { text: '' },
          { html: '<a href="' + business.link + '" >View full business page</a>' }
        ]
      ]
    }) }}

  </div>
</div>

{% endmacro %}
