{% from "table/macro.njk" import govukTable %}
{% from "button/macro.njk" import govukButton %}

<div class="govuk-grid-row mspsds-product-panel">

  <div class="govuk-grid-column-one-third">
    <img src="/public/images/Bears-Friend-image.png" title="Product identifying image" />
  </div>

  <div class="govuk-grid-column-two-thirds">
    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          { text: "Brand" },
          { text: "Bears Friend" }
        ],
        [
          { text: "Name" },
          { text: "Finger Monkeys" }
        ],
        [
          { text: "Description" },
          { text: "Battery-operated? plastic and fabric toy camouflage monkey, available in various colours" }
        ]
      ]
    }) }}
    
    <div class="mspsds-controls">
        <a href="./product-2-case-2" class="mspsds-block-link">View product</a>
        {{ govukButton({
            text: "Remove from this case",
            href: "#",
            attributes: { "onclick": "document.getElementById('confirmation--product-removed').style.display='block'" }
        }) }}
    </div>

  </div>
  
</div>
