{# {% extends "includes/templates/minimal.html" %} #}
{% extends "includes/templates/flow.html" %}

{% set currentCase = data.cases | withId(data['caseid']) %}
{% set backLink      = '/pages/case' %}
{% set backText      = 'Back to case: ' + currentCase.id  %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if not currentCase.restricted %}

      <h1 class="govuk-heading-xl">About alerts</h1>

      <p class="govuk-body">When you send an alert:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>all users of this service will be sent an email</li>
        <li>they’ll be given a link back to this case to view more details</li>
      </ul>

      <p class="govuk-body">Recipients will need an account on this service to view the case.</p>

      {{ govukWarningText({
        text: "Only send an alert if this is a serious product safety issue.",
        iconFallbackText: "Warning"
      }) }}

    
      {{ govukButton({
        text: "Compose new alert",
        href: 'compose-alert'
      }) }}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/pages/case">Cancel</a>
      </p>

      {% endif %}

      {% if currentCase.restricted %}

      <h1 class="govuk-heading-xl">You cannot send an alert about a restricted case</h1>

      <p class="govuk-body">Email alerts can only be sent for cases that are not restricted. To send an alert about this case you need to unrestrict it.</p>

      {{ govukButton({
        text: "Change case visibility",
        href: '/root/flows/change-visibility/01-change-visibility'
      }) }}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/pages/case">Cancel</a>
      </p>

      {% endif %}

    </div>
  </div>
</form>


{% endblock %}
