{# {% extends "includes/templates/minimal.html" %} #}
{% extends "includes/templates/flow.html" %}

{% set currentCase = data.cases | withId(data['caseid']) %}
{% set backLink      = 'about-alerts' %}
{% set backText      = 'Back'  %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Compose new alert</h1>

      <form action="preview-alert" method="post" novalidate>
        
        {{ govukInput({
          label: {
            text: "Alert subject",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This will be used in the email subject line."
          },
          value: 'Product safety alert: ',
          id: "event-name",
          name: "event-name"
        }) }}

        {# Bosch Series 2 SMS25EI00G, dishwasher – Blunt force #}

        {# <h2 class="govuk-heading-m">Alert content</h2>

        <p class="govuk-body">What to include in your alert:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>details of the product or incident</li>
          <li>what actions you’d like recipients to take</li>
        </ul> #}

        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          rows: "12",
          label: {
            text: "Alert summary",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Include a summary of the incident and what actions you’d like recipients to take. Recipients will need to view the case to see attachments and images."
          },
          value: "



More details can be found on the case page:
https://product-safety-register.service.gov.uk/case/1903-4392"
        }) }}
        {{ govukButton({
          text: "Preview alert"
        }) }}

        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="/pages/case">Cancel</a>
        </p>


      </form>

      
      


    </div>
  </div>
</form>


{% endblock %}
