\{% extends "mspsds-layout.html" %}

{% set businesses    = data.businesses | attachBusinessChildren(data) %}

{% set bodyClasses = "mspsds-width-container business-list-3" %}


{% set currentTeam   = data['currentTeam'] %}
{% if currentTeam.includes("Trading") %}
  {% set createLink  = '/root/flows/ts-create/01' %}
{% else %}
  {% set createLink  = data['createUrl'] %}
{% endif %}



{% block pageTitle %}
  Business-list Page
{% endblock %}

{% block beforeContent %}

  {% include "includes/components/shared/page-banner.html" %}
  
  {% from "includes/components/shared/site-nav.html"        import siteNav %}
  {{ siteNav([
    { 
      label: 'Home',
      link: '/root/home'
    }, { 
      label: 'Cases',
      link: '/root/case-list'
    }, { 
      label: 'Products',
      link: '/root/product-list'
    }, { 
      label: 'Businesses',
      link: '/root/business-list',
      classes: 'active'
    },{ 
      label: 'Your teams',
      link: '/pages/your-teams',
      classes: 'menu-right'
    }
    ] ) }}


{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageTitle({
        title: "Businesses"
      }) }}
    </div>

    <div class="govuk-grid-column-full mspsds-case-list-tab {{searchClasses}}">
      {% from "includes/components/business/business-card-list.html"          import businessCardList %}
      {{ businessCardList(businesses) }}
      {% if businesses | length == 0 %}
          <span class="govuk-heading-xl">No businesses</span>
      {% endif %}
    </div>


  </div>
  




{% endblock %}
