{% extends "mspsds-layout.html" %}

{% set currentBusiness = currentBusiness | attachBusinessChildren(data) %}
{% set bodyClasses = "mspsds-width-container business" %}

{% block pageTitle %}
  Business Page: {{ currentBusiness.title }}
{% endblock %}

{% set navActive = 'businesses' %}

{% block beforeContent %}

    {# {% include "includes/components/shared/page-banner.html" %} #}

    {% include "includes/components/business/business-navigation.html" %}

{% endblock %}



{% block content %}

    {% block confirmation %}
    {% endblock %}

    {% block casetitle %}
        {% include "includes/components/business/business-title.html" %}
    {% endblock %}

    {% block caseoverview %}
        {% include "includes/components/business/business-overview.html" %}
    {% endblock %}

    {% block casetabs %}
        {% include "includes/components/business/business-tabs.html" %}
    {% endblock %}
    

{% endblock %}