{# Template used for edit pages #}

{% extends "./case-basic.html" %}
{% set includeCaseActions = false %}

{# Ideally these should go to previous #}
{% set formCancel = './overview' %} 
{% set formAction = './overview' %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to " + (caseType | lower),
  href: formCancel
}) }}
{% endblock %}

{% set submitButtonText = 'Update' %}
{% set submitButtonText = submitButtonText + ((' ' + contentType) if contentType) %}

{% set metaArea %}
<div class="app-meta-area">
  <p class="govuk-body govuk-hint">{{metaContent | safe}}</p>
</div>
{% endset %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="{{formAction}}" method="post" class="form">
      <h1 class="govuk-heading-l">{{pageHeading}}</h1>
      {{metaArea | safe }}
      {% block formContent %}
      {% endblock %}
      <div class="govuk-form-group">
        {{ govukButton({
          text: submitButtonText
        }) }}
        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="{{formCancel}}">Cancel</a>
        </p>
      </div>

    </form>

  </div>
</div>
{% endblock %}


