{% extends "mspsds-layout.html" %}

{% from "select/macro.njk"                import govukSelect %}
{% from "includes/header-search.html"     import headerSearch %}



{% set currentTeam   = data['currentTeam'] %}

{% if currentTeam.includes("Trading") %}
  {% set createLink   = '/root/flows/ts-create/product-details' %}
  {% set settings     = data.caseListSettings  %}

{% else %}
  {% set createLink  = data['createUrl'] %}
  {% set settings     = data.caseListSettings  %}

{% endif %}

{# {% set createLink  = data['createUrl'] %} #}

{% set navActive = 'cases' %}


{% set filters  = settings | caseFilters(data) %}
{% set sortAttr = settings | caseSortAttr %}
{% set sortDir  = settings | caseSortDir %}
{% set cases    = data.cases | filterCollection(filters) | sort(sortDir, false, sortAttr) %}


{% set bodyClasses = "mspsds-width-container case-list" %}







{% block pageTitle %}
  Case-list Page
{% endblock %}


{% block beforeContent %}

{% endblock %}

{% block content %}


  {% block pageHeader %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageTitle({
        title: "Cases"
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="align-right" data-create="{{create}}">
        <form action="{{createLink}}" method="post" class="form">

        {% include "includes/components/shared/create/ts-setup-prototype-data.html" %}

          {{ govukButton({
            text: "Create new",
            classes: "govuk-button"
          }) }}

        </form>
      </div>
    </div>
  </div>
  {% endblock %}
<form id="case-filters"  method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter mspsds-case-filter-controls">
      <div class="mspsds-case-filter-controls__container">
        <h2 class="govuk-heading-m mspsds-case-filter-controls__heading">Filters</h2>

        <div class="mspsds-case-filter-controls__filters-container">
          <div class="">
          {{ headerSearch({
            action: "./case-search",
            label: "Keywords",
            value: settings.q
          }) }}
        </div>
        
        <div class="mspsds-case-control">
        
          {% set assigneeHtml %}
            <label for="case-assignee-autocomplete" class="label govuk-label">Name / Team
              <div id="case-assignee-autocomplete-container"></div>
            </label>
          {% endset -%}

          {% set creatorHtml %}
            <label for="case-creator-autocomplete" class="label govuk-label">Name / Team
              <div id="case-creator-autocomplete-container"></div>
            </label>
          {% endset -%}
          
          {{ govukCheckboxes({

              fieldset: {
                legend: {
                  text: "Assigned to",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              classes: "",
              idPrefix:   "Assignee",
              name:       "caseListSettings[assignee]",
              items: [
                {
                  value: "Me",
                  text: "Me",
                  checked: checked("caseListSettings['assignee']", "Me")
                },
                {
                  value: "my-team",
                  text: "My team"
                },
                {
                  value: "other",
                  text: "Other person or team",
                  checked: checked("caseListSettings['assignee']", "other"),
                  conditional: {
                    html: assigneeHtml
                  }
                }

              ]
            }) }}

            {{ govukCheckboxes({

              fieldset: {
                legend: {
                  text: "Created by",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              classes: "",
              idPrefix:   "Creator",
              name:       "caseListSettings[creator]",
              items: [
                {
                  value: "Me",
                  text: "Me",
                  checked: checked("caseListSettings['creator']", "Me")
                },
                {
                  value: "myTeam",
                  text: "My team",
                  checked: checked("caseListSettings['creator']", "MyTeam")
                },
                {
                  value: "other",
                  text: "Other person or team",
                  checked: checked("caseListSettings['creator']", "other"),
                  conditional: {
                    html: creatorHtml
                  }
                }

              ]
            }) }}
          
          {# {% else %} #}
          
            

          {# {% endif %} #}

          {{ govukCheckboxes({
            fieldset: {
              legend: {
                text: "Status",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            classes: "govuk-!-margin-bottom-5",
            idPrefix: "Status",
            name: "caseListSettings[status]",
            items: [
              {
                value: "Open",
                text: "Open",
                checked: checked("caseListSettings['status']", "Open")
              },
              {
                value: "Closed",
                text: "Closed",
                checked: checked("caseListSettings['status']", "Closed")
              }
            ]
          }) }}

          {# NB: filter by type doesn't work in prototype #}
          {{ govukCheckboxes({
            fieldset: {
              legend: {
                text: "Type",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            classes: "govuk-!-margin-bottom-5",
            idPrefix: "Type",
            name: "caseListSettings[type]",
            items: [
              {
                value: "Case",
                text: "Case",
                checked: checked("caseListSettings['type']", "Case")
              },
              {
                value: "Enquiry",
                text: "Enquiry",
                checked: checked("caseListSettings['type']", "Enquiry")
              },
              {
                value: "Project",
                text: "Project",
                checked: checked("caseListSettings['type']", "Project")
              }
            ]
          }) }}


          {{ govukButton({
            text: "Filter results"
          }) }}

        

          <script type="text/javascript">
            var users = {{ data.users | jsList | safe }}
            
            aElement = document.querySelector('#case-assignee-autocomplete-container');
            accessibleAutocomplete({
              element: aElement,
              id: 'case-assignee-autocomplete',
              name: "caseListSettings[assignee-other]",
              showNoOptionsFound: false,
              defaultValue: '{{data.caseListSettings["assignee-other"]}}',
              showAllValues: true,
              dropdownArrow: () => '',
              source: users.sort()
            });

            cElement = document.querySelector('#case-creator-autocomplete-container');
            accessibleAutocomplete({
              element: cElement,
              id: 'case-creator-autocomplete',
              name: "caseListSettings[creator-other]",
              showNoOptionsFound: false,
              defaultValue: '{{data.caseListSettings["creator-other"]}}',
              showAllValues: true,
              dropdownArrow: () => '',
              source: users.sort()
            });

          </script>
        
        </div>
        </div>
        
      </div>


    </div>

    {% set searchClasses = '' %}

    {% if search == true %}
      {% set searchClasses = searchClasses + ' mspsds-search__results' %}

      {% if cases.length < 1 %}
        {% set searchClasses = searchClasses + ' mspsds-search__results--empty' %}
      {% endif %}

    {% endif %}
    <div class="govuk-grid-column-three-quarters mspsds-case-list-tab {{searchClasses}}">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          {% if cases | length > 0 %}
            <span class="govuk-heading-m">{{cases | length}} cases</span>
          {% elseif cases | length == 0 %}
            <span class="govuk-heading-m">No cases found</span>
          {% endif %}

          <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state opss-filter--hide">- Hide case filters</a></p>
          
          {# {{ govukButton({
            text: "- Hide filters",
            classes: "govuk-link govuk-link--no-visited-state opss-filter--hide"
          }) }} #}
        </div>
        <div class="govuk-grid-column-one-half">
          {% if cases | length > 1 %}
            <span class="align-right">
              {{ govukSelect({
                id: "sort",
                name: "sort",
                formGroup: {
                  classes: "govuk-!-margin-bottom-4"
                },
                label: {
                  text: "Sort by"
                },
                items: [
                  {
                    value: "published",
                    text: "Recently created"
                  },
                  {
                    value: "updated",
                    text: "Recently updated",
                    selected: true
                  },
                  {
                    value: "creator",
                    text: "Creator"
                  },
                  {
                    value: "assignee",
                    text: "Assignee"
                  },
                  {
                    value: "title",
                    text: "Title"
                  }
                ]
              }) }}
            </span>
          {% endif %}
        </div>
      </div>

      {# <div class="facet-tags" data-module="track-click">
        <div class="facet-tags__group">
          <div class="facet-tags__wrapper">
            <p class="facet-tags__preposition">Assigned to</p>
            <div class="facet-tag">
              <p class="facet-tag__text">You</p>
              <button type="button" class="facet-tag__remove" aria-label="Remove filter CA98 and civil cartels" data-module="remove-filter-link" data-facet="case_type" data-value="ca98-and-civil-cartels" data-name="">✕</button>
            </div>
          </div>
        <div class="facet-tags__wrapper">
            <p class="facet-tags__preposition"> or </p>
            <div class="facet-tag">
              <p class="facet-tag__text">Competition disqualification</p>
              <button type="button" class="facet-tag__remove" aria-label="Remove filter Competition disqualification" data-module="remove-filter-link" data-facet="case_type" data-value="competition-disqualification" data-name="">✕</button>
            </div>
          </div>
      </div>
        <div class="facet-tags__group">
          <div class="facet-tags__wrapper">
            <p class="facet-tags__preposition">Status</p>
            <div class="facet-tag">
              <p class="facet-tag__text">Open</p>
              <button type="button" class="facet-tag__remove" aria-label="Remove filter CA98 - no grounds for action" data-module="remove-filter-link" data-facet="outcome_type" data-value="ca98-no-grounds-for-action-non-infringement" data-name="">✕</button>
            </div>
          </div>
        </div>
      </div> #}

      {% set caseListCases = cases | attachCaseChildren(data) %}

      {% if caseListCases | length > 0 %}
      
        {% from "includes/components/case/case-card-list.html"          import caseCardList %}
        {{ caseCardList(caseListCases, data.currentTeam, search)}}

      {% endif %}
    </div>
    
    
  </div>
  <div class="govuk-grid-row">


    

    

    <div class="govuk-grid-column-three-quarters mspsds-case-list-tab {{searchClasses}}">

      
    </div>

  </div>
</form>
{% endblock %}
