{% extends "mspsds-layout.html" %}

{% set currentCase = currentCase | attachCaseChildren(data) %}

{% block pageTitle %}
  Case Page: {{ currentCase.title }}
{% endblock %}



{% block beforeContent %}

	{% include "includes/components/shared/page-banner.html" %}

	{% include "includes/components/case/case-navigation.html" %}

{% endblock %}



{% block content %}

	{% block casetitle %}
		{% include "includes/components/case/case-title.html" %}
	{% endblock %}
	
	{# TODO: remove? 
		{% block caseoverview %}
			{% include "includes/components/case/case-overview.html" %}
		{% endblock %}
	#}

	{% block casetabs %}
		{% include "includes/components/case/case-tabs.html" %}
	{% endblock %}


{% endblock %}
