{% extends "mspsds-layout.html" %}

{% from "select/macro.njk"                import govukSelect %}
{% from "includes/header-search.html"     import headerSearch %}



{% set currentTeam   = data['currentTeam'] %}

{% if currentTeam.includes("Trading") %}
  {% set createLink   = '/root/flows/ts-create/01' %}
  {% set settings     = data.tsCaseListSettings  %}

{% else %}
  {% set createLink  = data['createUrl'] %}
  {% set settings     = data.caseListSettings  %}

{% endif %}


{% set filters  = settings | caseFilters(data) %}
{% set sortAttr = settings | caseSortAttr %}
{% set sortDir  = settings | caseSortDir %}
{% set cases    = data.cases | filterCollection(filters) | sort(sortDir, false, sortAttr) %}


{% set bodyClasses = "mspsds-width-container case-list-3" %}







{% block pageTitle %}
  Case-list Page
{% endblock %}


{% block beforeContent %}

    {% include "includes/components/shared/page-banner.html" %}

    {% from "includes/components/shared/site-nav.html"        import siteNav %}
    {{ siteNav([
      {
        label: 'Home',
        link: '/root/home'
      }, {
        label: 'Cases',
        link: '/root/case-list',
        classes: 'active'
      }, {
        label: 'Products',
        link: '/root/product-list'
      }, {
        label: 'Businesses',
        link: '/root/business-list'
      }
    ], createLink ) }}

{% endblock %}






{% block content %}

  {% block pageHeader %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageTitle({
        title: "Cases"
      }) }}
    </div>
  </div>
  {% endblock %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-2 mspsds-case-control mspsds-case-filter-controls">
      <div class="govuk-!-margin-bottom-0">
          {{ headerSearch({
            action: "./case-search",
            label: "Keywords"
          }) }}
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <form id="case-filters"  method="post">
        {% set assigneeHtml %}
          <label for="case-assignee-autocomplete" class="label govuk-label">Name / Team
            <div id="case-assignee-autocomplete-container"></div>
          </label>
        {% endset -%}

        {% set creatorHtml %}
          <label for="case-creator-autocomplete" class="label govuk-label">Name / Team
            <div id="case-creator-autocomplete-container"></div>
          </label>
        {% endset -%}
        

        {% if data['currentTeam'] == 'Trading Standards' %}
          {{ govukCheckboxes({

            fieldset: {
              legend: {
                text: "Created by",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            classes: "govuk-!-margin-bottom-5",
            idPrefix:   "Creator",
            name:       "tsCaseListSettings[creator]",
            items: [
              {
                value: "Me",
                text: "Me",
                checked: checked("tsCaseListSettings['creator']", "Me")
              },
              {
                value: "other",
                text: "Someone else",
                checked: checked("tsCaseListSettings['creator']", "other"),
                conditional: {
                  html: creatorHtml
                }
              }

            ]
          }) }}
        
        {% else %}
        
          {{ govukCheckboxes({

            fieldset: {
              legend: {
                text: "Assigned to",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            classes: "govuk-!-margin-bottom-5",
            idPrefix:   "Assignee",
            name:       "caseListSettings[assignee]",
            items: [
              {
                value: "Me",
                text: "Me",
                checked: checked("caseListSettings['assignee']", "Me")
              },
              {
                value: "other",
                text: "Someone else",
                checked: checked("caseListSettings['assignee']", "other"),
                conditional: {
                  html: assigneeHtml
                }
              }

            ]
          }) }}

        {% endif %}

        {{ govukCheckboxes({
          fieldset: {
            legend: {
              text: "Status",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          classes: "govuk-!-margin-bottom-5",
          idPrefix: "Status",
          name: "caseListSettings[status]",
          items: [
            {
              value: "Open",
              text: "Open",
              checked: checked("caseListSettings['status']", "Open")
            },
            {
              value: "Closed",
              text: "Closed",
              checked: checked("caseListSettings['status']", "Closed")
            }
          ]
        }) }}

        {{ govukRadios({
          fieldset: {
            legend: {
              text: "Sort by",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          classes: "govuk-!-margin-bottom-5",
          idPrefix:   "Sort",
          name:       "caseListSettings[sort]",
          items: [
            {
              value: "latest",
              text: "Updated: recent",
              checked: checked("caseListSettings['sort']", "latest")
            },
            {
              value: "oldest",
              text: "Updated: oldest",
              checked: checked("caseListSettings['sort']", "oldest")
            },
            {
              value: "newest",
              text: "Created: newest",
              checked: checked("caseListSettings['sort']", "newest")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Apply filters"
        }) }}

      </form>

      <script type="text/javascript">
        var users = {{ data.users | jsList | safe }}
        
        aElement = document.querySelector('#case-assignee-autocomplete-container');
        accessibleAutocomplete({
          element: aElement,
          id: 'case-assignee-autocomplete',
          name: "caseListSettings[assignee-other]",
          showNoOptionsFound: false,
          defaultValue: '{{data.caseListSettings["assignee-other"]}}',
          showAllValues: true,
          dropdownArrow: () => '',
          source: users.sort()
        });

        cElement = document.querySelector('#case-creator-autocomplete-container');
        accessibleAutocomplete({
          element: cElement,
          id: 'case-creator-autocomplete',
          name: "caseListSettings[creator-other]",
          showNoOptionsFound: false,
          defaultValue: '{{data.caseListSettings["creator-other"]}}',
          showAllValues: true,
          dropdownArrow: () => '',
          source: users.sort()
        });

      </script>
      
    </div>




    {% set searchClasses = '' %}

    {% if search == true %}
      {% set searchClasses = searchClasses + ' mspsds-search__results' %}

      {% if cases.length < 1 %}
        {% set searchClasses = searchClasses + ' mspsds-search__results--empty' %}
      {% endif %}

    {% endif %}



    <div class="govuk-grid-column-three-quarters mspsds-case-list-tab {{searchClasses}}">
      {% from "includes/components/case/case-card-list.html"          import caseCardList %}
      {{ caseCardList(cases | attachCaseChildren(data), search, data) }}
      {% if cases | length == 0 %}
          <span class="govuk-heading-xl">No results</span>
      {% endif %}
    </div>

  </div>

{% endblock %}
