{% extends "includes/templates/flow.html" %}

{% block beforeContent %}
    {% include "includes/components/shared/page-banner.html" %}
    {% if backLink  %}
        {{ govukBackLink({
            text: "Back to Cases",
            href: "/root/case-list"
        }) }}
    {% endif %}
{% endblock %}

{% block pageTitle %}
  {{ displayTitle }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageTitle({
        title:  displayTitle
      }) }}
    </div>
  </div>
  {% block flow %}{% endblock %}
{% endblock %}
