{% extends "mspsds-layout.html" %}


{% set currentPage   = data['currentPage'] %}


{% set backLink      = false %}
{% set backText      = '' %}



{% if not titleType %}
    {% set titleType = '' %}
{% endif %}

{% if not displayTitle %}
    {% set displayTitle = 'New' %}
{% endif %}





{% if currentPage   ==  'case' %}
    
    {% set backLink      = '/root/case?caseid='+data['caseid']  %}
    {% set backText      = 'Back to Case '+data['caseid']  %}

{% elif currentPage ==  'product'  %}

    {% set backLink      = '/root/product?productid='+data['productid']  %}
    {% set backText      = 'Back to Product' %}

{% elif currentPage ==  'business'  %}

    {% set backLink      = '/root/business?businessid='+data['businessid']  %}
    {% set backText      = 'Back to Business' %}

{% endif %}






{% if currentPage   ==  'case' %}
    {% set titleType     = 'Case: '+data['caseid']  %}

{% elif currentPage ==  'product'  %}
    {% set backLink      = 'Product: '+data['productid']  %}

{% elif currentPage ==  'business'  %}
    {% set backLink      = 'Business '+data['businessid']  %}

{% endif %}






{% block pageTitle %}
  {{ titleType }}: {{ displayTitle }}
{% endblock %}





{% block beforeContent %}

    {% include "includes/components/shared/page-banner.html" %}

    {% if backLink  %}
        {{ govukBackLink({
            text: backText,
            href: backLink
        }) }}
    {% endif %}

{% endblock %}





{% block content %}
    

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ pageTitle({
            type:   titleType,
            title:  displayTitle
          }) }}
        </div>
    </div>


    {% block flow %}
    {% endblock %}


{% endblock %}