{% extends "mspsds-layout.html" %}

{% set currentPage   = data['currentPage'] %}
{# {% set currentCase = currentCase | attachCaseChildren(data) %} #}
{% set currentCase = data.cases | withId(data['caseid']) %}

{% set caseType = data.new.report.type %}
{% set report = data.new.report %}
{% set navActive = 'cases' %}





{% if not backLink %}
    {# {% set backLink      = '/root/case?caseid='+data['caseid']  %} #}
    {% set backLink      = 'javascript:history.back();' %}
{% endif %}
{% if not backText %}
    {# {% set backText      = 'Back to Case '+data['caseid']  %} #}
    {% set backText      = 'Back'  %}
{% endif %}
    
{% if backLink == 'false' %}
    {% set backLink = false %}
{% endif %}

{% if backText == 'false' %}
    {% set backText = '' %}
{% endif %}


{% block pageTitle %}
  {{ pageHeading }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}

    {# {% include "includes/components/shared/page-banner.html" %} #}

    {% block navigation %}

        {% if backLink %}
            {{ govukBackLink({
                text: backText,
                href: backLink
            }) }}
        {% endif %}
    {% endblock %}

{% endblock %}





{% block content %}
    
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block flow %}
      {% endblock %}
      {% if not hideReturnLink %} 
      {% if returnLink %}
        <p class="govuk-body"><a href="{{returnLink.href}}" class="govuk-link">{{returnLink.text}}</a></p>
      {% else %}
        <p class="govuk-body"><a href="/pages/flows/create-new/overview" class="govuk-link">Return to {{data.reportNames[data.new.report.type | lower] | lower}} page</a></p>
      {% endif %}

        
      {% endif %}
    </div>
    {# <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Related</h2>
      <h2 class="govuk-heading-m">Prototype stuff</h2>
      <p class="govuk-body">Case id: {{data.caseId}}</p>
      <p class="govuk-body">New id: {{data.new.id}}</p>
      <p class="govuk-body">Status: {{data.new.status}}</p>
    </div> #}
  </div>
    

{% endblock %}


{% block header %}
  {{ super() }}

  {% set identityBarHTML %} 
    <span class="hmcts-badge hmcts-badge--grey">Draft {{caseType | lower or 'case'}}</span>
  {% endset %}

  {% if data.new.isDraft %}
    {{ identityBar({
      title: { html: identityBarHTML }
    }) }}  
  {% else %}
    {% include "includes/components/case/case-bar.html" %}
  {% endif %}
{% endblock %}



