{% extends "mspsds-layout.html" %}


{% block pageTitle %}
  Home Page
{% endblock %}


{% set currentTeam   = data['currentTeam'] %}
{% if currentTeam.includes("Trading") %}
  {% set createLink  = '/root/flows/ts-create/01' %}
{% else %}
  {% set createLink  = data['createUrl'] %}
{% endif %}


{% block beforeContent %}

  {# {% include "includes/components/shared/page-banner.html" %} #}

  {# {% from "includes/components/shared/site-nav.html"        import siteNav %}
  {{ siteNav([
    { 
      label: 'Home',
      link: '/root/home',
      classes: 'active'
    }, { 
      label: 'Cases',
      link: '/root/case-list'
    }, { 
      label: 'Products',
      link: '/root/product-list'
    }, { 
      label: 'Businesses',
      link: '/root/business-list'
    }
    ], createLink ) }} #}

{% endblock %}



{% block content %}

<p class="govuk-body">Home OPSS</p>

{% endblock %}
