{% extends "mspsds-layout.html" %}



{% block pageTitle %}
  Home Page
{% endblock %}


{% set currentTeam   = data['currentTeam'] %}
{% if currentTeam.includes("Trading") %}
  {% set createLink  = '/root/flows/ts-create/product-details' %}
{% else %}
  {% set createLink  = data['createUrl'] %}
{% endif %}

{% set navActive = 'cases' %}



{% block beforeContent %}

{{ subNavigation({
label: 'Sub navigation',
items: [{
text: 'Your cases',
href: '#1',
active: true
}, {
text: 'Team cases',
href: '#2'
}, {
text: 'All cases',
href: '#3'
}]
}) }} 

	{# {% include "includes/components/shared/page-banner.html" %} #}

  {# {{ hmctsPrimaryNavigation({
    label: 'Primary navigation',
    items: [{
    text: 'Nav item 1',
    href: '#1',
    active: true
    }, {
    text: 'Nav item 2',
    href: '#2'
    }, {
    text: 'Nav item 3',
    href: '#3'
    }]
    }) }}  #}

	{# {% from "includes/components/shared/site-nav.html"        import siteNav %}
  {{ siteNav([
    { 
      label: 'Home',
      link: '/root/home',
      classes: 'active'
    }, { 
      label: 'Cases',
      link: '/root/case-list'
    },

    { 
      label: 'Products',
      link: '/root/product-list'
    }, { 
      label: 'Businesses',
      link: '/root/business-list'
    },{ 
      label: 'Your teams',
      link: '/pages/your-teams',
      classes: 'menu-right'
    }
    
    
    ]) }} #}



{% endblock %}
{# 

  { 
      label: 'Incidents',
      link: '/root/case-list'
    },
    {
        label: 'About',
        link: '/root/about'
      }
    , { 
      label: 'Products',
      link: '/root/product-list'
    }, { 
      label: 'Businesses',
      link: '/root/business-list'
    }, #}


{% block content %}



<section class="mspsds-pagetitle">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "includes/components/shared/page-title.html"        import pageTitle %}
      {{ pageTitle({
        title: serviceName
      }) }}
    </div>
  </div>
</section>


<section class="mspsds-pagebody">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-l">
        Report, track and share product safety information.
      </p>

      

      <form action="{{createLink}}" method="post" class="form">
      {% include "includes/components/shared/create/ts-setup-prototype-data.html" %}

        {{ govukButton({
          text: "Open a new case",
          classes: "govuk-button--start"
        }) }}

      </form>

    </div>
  </div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0">


  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m"><a href="/pages/case-list" class="govuk-link govuk-link--no-visited-state">Your cases</a></h2>
      <p class="govuk-body">Cases you’ve opened or you’re assigned to.</p>
    </div>
    {# <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Incidents</a></h2>
      <p class="govuk-body">Serious product safety cases opened by Trading Standards and other market surveillance authorities.</p>
    </div> #}
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m"><a href="/pages/case-list" class="govuk-link govuk-link--no-visited-state">All cases</a></h2>
      <p class="govuk-body">All cases in the product safety database.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m"><a href="/pages/about" class="govuk-link govuk-link--no-visited-state">About this service</a></h2>
      <p class="govuk-body">How and when to use this service.</p>
    </div>
  </div>

  
  {# <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Report an unsafe product</h2>

      <p class="govuk-body">Trading standards are required to notify OPSS about any products which pose a serious danger to the public – in order to meet that requirement, there are a number of pieces of information we need:<p>
      

       <ul class="govuk-list govuk-!-margin-bottom-9">
        <li>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Product</h3>
          <p class="govuk-body">
            Information to identify the product. This may include any or all of: category and type, make and model, unique IDs such as barcodes or serial numbers, web-pages where it may be viewed or purchased, any other descriptive information useful to identify the specific product (especially where the other information is not available).
          </p>
        </li>
        <li>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Hazard</h3>
          <p class="govuk-body">
           Information that describes the danager posed to the public, including details of any incidents or events that may have occured.
          </p>
        </li>
        <li>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Supply chain</h3>
          <p class="govuk-body">
           Information that describes businesses involved, and their roles in the supply chain, including registered business names, company numbers, address an contact details as available. 
          </p>
        </li>
        <li>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Corrective action</h3>
          <p class="govuk-body">
           Information that describes corrective actions taken (by you or any business), including details of date, legistaltion and documentary evidence where applicable. 
          </p>
        </li>
        <li>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Suporting images and attachments</h3>
          <p class="govuk-body">
           Files that suppliment the report, including any or all of: test results, risk assessments, product images, images showing damage or injury caused, receipts of purchase, or any other relevant file
          </p>
        </li>
        <li>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Your system reference</h3>
          <p class="govuk-body">
           The case number or equivalent on your system, that will aid in cross-referencing, should the need arise.
          </p>
        </li>
      </ul>

    </div>
  </div>



  <hr class="govuk-section-break govuk-section-break--visible  govuk-!-margin-bottom-9">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Ask a question</h2>

      <p class="govuk-body">Use this service to ask a question about policy, legistation, testing or other technical aspect, and we'll ensure it’s passed to the correct person or department to answer it<p>
      

    </div>
  </div> #}





</section>


{% endblock %}
