{% extends "mspsds-layout.html" %}

{% set bodyClasses = "mspsds-width-container peoduct-list-3" %}

{% set products    = data.products | attachProductChildren(data) %}


{% set currentTeam   = data['currentTeam'] %}
{% if currentTeam.includes("Trading") %}
  {% set createLink  = '/root/flows/ts-create/01' %}
{% else %}
  {% set createLink  = data['createUrl'] %}
{% endif %}



{% block pageTitle %}
  Product-list Page
{% endblock %}

{% block beforeContent %}

  {% include "includes/components/shared/page-banner.html" %}
  
  {% from "includes/components/shared/site-nav.html"        import siteNav %}
  {{ siteNav([
    { 
      label: 'Home',
      link: '/root/home'
    }, { 
      label: 'Cases',
      link: '/root/case-list'
    }, { 
      label: 'Products',
      link: '/root/product-list',
      classes: 'active'
    }, { 
      label: 'Businesses',
      link: '/root/business-list'
    },{ 
      label: 'Your teams',
      link: '/pages/your-teams',
      classes: 'menu-right'
    }
    ] ) }}

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageTitle({
        title: "Products"
      }) }}
    </div>



    <div class="govuk-grid-column-full mspsds-case-list-tab {{searchClasses}}">
      {% from "includes/components/product/product-card-list.html"          import productCardList %}
      {{ productCardList(products) }}
      {% if products | length == 0 %}
          <span class="govuk-heading-xl">No products</span>
      {% endif %}
    </div>

  </div>


{% endblock %}
