{% extends "mspsds-layout.html" %}

{% set currentProduct = currentProduct | attachProductChildren(data) %}
{% set bodyClasses = "mspsds-width-container product" %}

{% set navActive = 'products' %}

{% block pageTitle %}
  Product Page: {{ currentProduct.name }}
{% endblock %}



{% block beforeContent %}

    {# {% include "includes/components/shared/page-banner.html" %} #}

    {% include "includes/components/product/product-navigation.html" %}

{% endblock %}



{% block content %}

    {% block casetitle %}
        {% include "includes/components/product/product-title.html" %}
    {% endblock %}

    {% block caseoverview %}
        {% include "includes/components/product/product-overview.html" %}
    {% endblock %}

    {% block casetabs %}
        {% include "includes/components/product/product-tabs.html" %}
    {% endblock %}
    

{% endblock %}