{% set currentPage      = 'home' %}

{% extends "mspsds-layout.html" %}


{% block header %}
{{ super() }}


<div class="app-masthead">
  <div class="govuk-width-container app-site-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
        {# {% include "includes/components/shared/page-banner.html" %} #}
        {% set bannerHTML %}
        This is a new service – your feedback will help us to improve it.
        {% endset %}
        {{ govukPhaseBanner({
          tag: {
            text: "Beta"
          },
          html: bannerHTML
        }) }}
      </div>

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl app-masthead__title">{{ serviceName }}</h1>

       {#  <p class="app-masthead__description govuk-!-margin-bottom-2">
          Use this service to:
        </p>

        <ul class="govuk-list govuk-list--bullet app-masthead__list govuk-!-margin-bottom-7">
          <li>
            Report unsafe products and related work
          </li>
          <li>
            Ask questions about testing, policy, legislation etc
          </li>
        </ul> #}

        <p class="app-masthead__description govuk-!-margin-bottom-2">Report, track and share product safety information with the product safety community.</p>

        <div class='masthead-account-links'>
          <a href="flows/account/create/01" role="button" draggable="false" class="govuk-button banner-button">
            Sign in to your account
          </a>
          <p> or <a href='flows/account/sign-in/01' class='banner-link'>email OPSS</a> if you think you should have access</p>
        </div>
      </div>
    </div>
  </div>
</div>




      {% endblock %}

      {% block content %}





      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          {# <h3 class="govuk-heading-m">Guidance and information on product safety and product recalls</h1> #}
            <p>
              You must use the database to tell OPSS immediately about corrective actions that have been or will be taken because a product is:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>unsafe (according to the General Product Safety Regulations 2005)</li>
              <li>poses a serious risk (as determined by a risk assessment)</li>
            </ul>
            <p>You should use the database to report products that do not comply with relevant product safety legislation as soon as possible.</p>
          </div>
        </div>
        {% endblock %}