{% extends "includes/templates/flow.html" %}

{% set displayTitle = 'Edit location' %}

{% set formCancel         = '/pages/'+ data['currentPage'] %}

{% set formAction         = '/pages/flows/location/update' %}


{% set currentLocation          = data.locations | withId(data['locationid']) %}
{% set currentBusiness          = data.businesses | withId(data['businessid']) | attachBusinessChildren(data) %}
{% set currentBizLocation       = currentBusiness.locations | withId(data['locationid']) %}



{% block flow %}

<form action="{{formAction}}" method="post" class="form">
    <div class="govuk-grid-row">

          {% include "includes/components/shared/location/details.html" %}
          
    </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% from "button/macro.njk" import govukButton %}
          
            {{ govukButton({
              text: "Update location" ,
              classes: "mspsds-button"
            }) }}

            <a class="govuk-link mspsds-block-link" href="{{formCancel}}">Cancel</a>

        </div>
      </div>
    
</form>

{% endblock %}
