

  {# Doesn't get displayed, but sets an id on the model #}
    {{ govukInput({
      id:   "contactid",
      name: "contactid",
      value: data['contactid'],
      type: "hidden"
    }) }}

    {{ govukInput({
      id:   "businessid",
      name: "businessid",
      value: data['businessid'],
      type: "hidden"
    }) }}


<div class="mspsds-input govuk-grid-column-one-half">

    {{ govukInput({
      label: {
        text: "Name"
      },
      classes: "govuk-!-margin-bottom-1",
      id:   "contact-name",
      name: "contact[name]",
      value:    currentBizContact.name
    }) }}

</div>

<div class="mspsds-input govuk-grid-column-one-half">

    {{ govukInput({
      label: {
        text: "Email"
      },
      classes: "govuk-!-margin-bottom-1",
      id:   "contact-email",
      name: "contact[email]",
      value:    currentBizContact.email
    }) }}

</div>

<div class="mspsds-input govuk-grid-column-one-half">

    {{ govukInput({
      label: {
        text: "Phone number"
      },
      classes: "govuk-!-margin-bottom-1",
      id:   "contact-phone",
      name: "contact[phone]",
      value:    currentBizContact.phone
    }) }}

</div>

<div class="mspsds-input govuk-grid-column-one-half">

    {{ govukInput({
      label: {
        text: "Job title / description"
      },
      classes: "govuk-!-margin-bottom-1",
      id:   "contact-title",
      name: "contact[title]",
      value:    currentBizContact.title
    }) }}

</div>

{#
    {{ govukInput({
      label: {
        text: "Role"
      },
      classes: "govuk-!-margin-bottom-1",
      id:   "contact-role",
      name: "contact[role]"
    }) }}
#}