{% extends "mspsds-layout.html" %}


{% block pageTitle %}
  Assign case
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to case",
    href: "/case"
  }) }}

{% endblock %}


{% block content %}


  {{ pageTitle({
    type:   "Case: 1810-0001",
    title:  "Assign case"
  }) }}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Current assignee</h2>
    <p class="govuk-body govuk-body-l">Tim Harwood – tim.harwood@softwire.com</p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="save" method="post" class="form">


      
      {% set otherAssigneeHtml %}

        {{ govukInput({
          label: {
            text:     "Name / Email address",
            classes:  "govuk-!-width-two-thirds"
          },
          classes:    "govuk-!-width-two-thirds",
          id:         "other-correspondent",
          name:       "other-correspondent"
        }) }}

      {% endset -%}



      {% call govukFieldset({
        legend: {
          text:           "New assignee",
          isPageHeading:  false,
          classes:        "govuk-fieldset__legend--l"
        }
      }) %}

        {{ govukRadios({
          idPrefix:   "assignee",
          name:       "assignee",
          fieldset: {
            legend: {
              text:     "Recent assignees",
              classes:  "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value:  "Nick Golding",
              text:   "Nick Golding – nick.golding@softwire.com"
            },
            {
              value:  "Ralph Hawkins",
              text:   "Ralph Hawkins – ralph.hawkins@digital.cabinet-office.gov.uk"
            },
            {
              divider: "or"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherAssigneeHtml
              }
            }
          ]
        }) }}

      {% endcall %}



      

      {{ govukButton({
        text: "Assign"
      }) }}

    </form>


  </div>
</div>




{% endblock %}
