{% extends "includes/templates/flow--creation-ts.html" %}


{% set displayTitle        = 'Account created' %}

{% set emailDisplay = data['account']['email'] %}
{% if emailDisplay == '' %}
    {% set emailDisplay = 'example@example.com' %}
    
{% endif %}



{% block flow %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Check your email​</h2>
            <p>
                An email has been sent to {{emailDisplay}}
            </p>

            <p>
                Click the link in the email to continue your registration.
            </p>

            <p>
                <a href="/pages/flows/account/sign-in/01">Go to the sign-in page.</a>
            </p>
        </div>
    </div>
{% endblock %}
