{% extends "includes/templates/case-view-item.html" %}

{% block beforeContent %}
  {# {{ govukBackLink({
    text: "Back to " + (caseType | lower),
    href: formCancel
  }) }} #}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Case overview",
        href: "../../overview"
      },
      {
        text: "Supporting information",
        href: "../../documents"
      },
      {
        text: "Document"
      }
    ]
  }) }}

{% endblock %}

{# Todo: make this actually update a case #}
{% block pageContent %}


{% set pageHeading = currentDocument.title %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{currentDocument.type}}</span>
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>

    {{metaArea | safe }}

    {% if currentDocument.type == 'Risk assessment' %}


      {{riskAssessmentSummaryList(currentDocument)}}
    {% else %}

      {% set summaryListData = [] %}

      {% for name, item in currentDocument %}
        {% if (item | length == 3) %}
          {% set item = item | arrayToGovukDate %}
        {% endif %}
        {% set row = [name | title, item | string] %}
        {% set summaryListData = summaryListData | push(row) %}
      {% endfor %}

      {# {{summaryListData | debug}} #}

      {{ govukSummaryList({
        rows: summaryListData | arrayToSummaryList
      }) }}

    {% endif %}




  </div>


  {% if currentDocument.hasFile == 'yes' %}

    {# Create a fake filename #}
    {% set fileExtension = 'pdf' if currentDocument.correspondenceType != 'Email' else 'msg' %}

    {% set fileName %}
      {{currentDocument.dateAdded | arrayToDateObject | formatDate("dashDate")}}_{{currentDocument.title | slugify}}.{{fileExtension}}
    {% endset %}

    {% set fileName = currentDocument.fileName or fileName %}

    {% set fileLink %}
      <a href="" class="govuk-link">{{fileName}}</a>
    {% endset %}

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Attachments</h2>
      <div class="app-document-preview">
        <p class="govuk-body">{{fileLink | safe}}</p>
        <div class="mspsds-attachment-panel__image">
          <a href="/public/images/document-thumbnail.png">
            <img src="/public/images/document-thumbnail.png" alt="document preview">
          </a>
        </div>
      </div>
    </div>

  {% endif %}


</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{editDeleteLinks | safe }}

    {# {{returnButton | safe }} #}
  </div>
</div>

{% endblock %}

{% macro riskAssessmentSummaryList(riskAssessment) %}

  {# Work out the author name #}
  {% set riskAssessor %}
    {% if riskAssessment.authorType == "self" %}
      {{currentTeam}}
    {% elseif riskAssessment.authorType == 'otherPSDTeam' %}
      {{riskAssessment.authorOtherPSDTeam}}
    {% else %}
      {{riskAssessment.authorOtherName}}
    {% endif %}
  {% endset %}

  {# Work out the risk level #}
  {% set riskLevel %}
    {% if riskAssessment.riskLevel != "Other" %}
      {{riskAssessment.riskLevel}}
    {% else %}
      {{riskAssessment.riskLevel}}: {{riskAssessment.riskLevelOther | lower}}
    {% endif %}
  {% endset %}

  {% set products %}
    {% for product in riskAssessment.productsAssessed %}
      <p class="govuk-body"><a href="#" class="govuk-link">{{product}}</a></p>
    {% endfor %}
  {% endset %}

  {% set arrayData = [
    ["Risk level", riskLevel],
    ["Date of assessment", riskAssessment.date | arrayToGovukDate],
    ["Products assessed", products],
    ["Risk assessor", riskAssessor],
    ["Futher details", riskAssessment.moreDetail or "Not provided"]

    ] %}

  {{ govukSummaryList({
      rows: arrayData | arrayToSummaryList
    }) }}

{% endmacro %}
