{% extends "mspsds-layout.html" %}


{% block pageTitle %}
  Visibility information
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to case",
    href: "/root/case"
  }) }}

{% endblock %}


{% block content %}

  {{ pageTitle({
    type:   "Case: " + data.caseid,
    title:  "Visibility information"
  }) }}

  {% set currentCase = data.cases | withId(data.caseid) %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="save" method="post" class="form">

        {% call govukFieldset({
          legend: {
            text:           "Visibility",
            isPageHeading:  false,
            classes:        "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukRadios({
            idPrefix:   "visible",
            name:       "visible",
            items: [
              {
                value:  true,
                text:   "Visible to all",
                checked: currentCase.visible
              },
              {
                value:  false,
                text:   "My organisation only",
                checked: not currentCase.visible
              }
            ]
          }) }}
        
        {{ govukButton({text: "Continue"}) }}

        {% endcall %}

      </form>

    </div>
  </div>

{% endblock %}
