{% from "includes/components/case/case-hazard.html" 		import caseHazard %}
{% from "includes/components/product/product-panel.html" 	import productPanel %}


<hr class="govuk-section-break govuk-section-break--l" />


<section class="mspsds-overview">

	{% if currentCase.hazard %}

		{{ caseHazard(currentCase.hazard) }}

	{% endif %}



	{% if currentCase.products.length > 0 %}

		{% for prod in data['products'] %}
			{% if prod.id == currentCase.products[0] %}
				
				{{ productPanel({
					product: 		prod,
					controls: 		false,
					displayImage: 	true,
					fullDetails: 	false
				}) }}

		  	{% endif %}
		{% endfor %}
			
	{% endif %}


</section>