
{% set activityHtml %}
  {% include "includes/components/case/tabs/case-tab-activity.html" %}
{% endset -%}

{% set productsHtml %}
  {% include "includes/components/case/tabs/case-tab-products.html" %}
{% endset -%}


{% set businessesHtml %}
  {% include "includes/components/case/tabs/case-tab-businesses.html" %}
{% endset -%}


{% set contactsHtml %}
  {% include "includes/components/case/tabs/case-tab-contacts.html" %}
{% endset -%}


{% set attachmentsHtml %}
  {% include "includes/components/case/tabs/case-tab-attachments.html" %}
{% endset -%}

{% set overviewHtml %}
  {% include "includes/components/case/tabs/case-tab-overview.html" %}
{% endset -%}

{% set productsCount = (" (" + currentCase.products.length + ")" if currentCase.products.length)%}

{% set businessCount = (" (" + currentCase.businesses.length + ")" if currentCase.businesses.length)%}

{% set attachmentsCount = (" (" + currentCase.attachments.length + ")" if currentCase.attachments.length)%}

{{ govukTabs({
  items: [
    {
      label: "Overview",
      id: "overview",
      panel: {
        html: overviewHtml
      }
    },
    {
      label: "Products" + productsCount,
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Businesses" + businessCount,
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },
    {
      label: "Attachments" + attachmentsCount,
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    }
  ]
}) }}
