{% from "table/macro.njk" import govukTable %}


{% set hazardLink   = '/flows/add-hazard/01-add-hazard' %}
{% set riskLink     = '/flows/add-risk/01-add-risk' %}



{% macro caseHazard(hazardData) %}

  {% if hazardData %}

    <div class="govuk-grid-row mspsds-case-why-panel">

      <div class="govuk-grid-column-two-thirds">


          {% if hazardData.group %}

              <h2 class="govuk-heading-l govuk-grid-column-one-half">
                <span class="govuk-caption-m">Hazard</span>
                {{ hazardData.type }}
              </h2>

              <h2 class="govuk-heading-l govuk-grid-column-one-half">
                <span class="govuk-caption-m">Vunerable group</span>
                {{ hazardData.group }}
              </h2>

          {% else %}

              <h2 class="govuk-heading-l govuk-grid-column-one-half">
                <span class="govuk-caption-m">Hazard</span>
                {{ hazardData.type }}
              </h2>

          {% endif %}


          <div class="govuk-grid-column-full">

            <p class="govuk-body govuk-!-margin-bottom-1">{{ hazardData.details}}</p>
            <p><a class="govuk-link mspsds-block-link" href="{{hazardLink}}">Edit hazard details</a></p>

          </div>

      </div>




      <div class="govuk-grid-column-one-third">

          <h2 class="govuk-heading-l govuk-!-margin-bottom-0">
            <span class="govuk-caption-m">Risk level</span>
          </h2>

          {% if hazardData.riskLevel %}

            <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ hazardData.riskLevel }}</p>
            <a class="govuk-link mspsds-block-link" href="{{ riskLink }}">Edit risk details</a>
            <a class="govuk-link mspsds-block-link" href="{{ hazardData.assessment }}">View assessment</a>

          {% else %}

            <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-margin-bottom-1">None set</p>
            <a class="govuk-link mspsds-block-link" href="{{ riskLink }}">Edit risk details</a>

          {% endif %}

      </div>


    </div>



  {% endif %}


{% endmacro %}
