
{{ subNavigation({
  label: 'Sub navigation',
  items: [
  {
    text: 'Overview',
    href: 'overview',
    active: true if caseNavActive == 'overview'
  }, {
    text: 'Products (1)',
    href: 'products',
    active: true if caseNavActive == 'products'
  }, {
    text: 'Businesses (2)',
    href: 'businesses',
    active: true if caseNavActive == 'businesses'
  }, {
    text: 'Attachments (56)',
    href: 'attachments',
    active: true if caseNavActive == 'attachments'
  }, {
    text: 'Timeline',
    href: 'timeline',
    active: true if caseNavActive == 'timeline'
  }, {
    text: 'Settings',
    href: 'settings',
    active: true if caseNavActive == 'settings'
  }
  ]
}) }} 


