{% from "table/macro.njk"     import govukTable %}



{% macro caseReport(reportData) %}


{% set reportRows         = [] %}

{% set prodRows = (reportRows.push([
    { text: "Date" },
    { text: reportData.date  }
]), reportRows) %}

{% set prodRows = (reportRows.push([
    { text: "Reporter" },
    { html: reportData.reporter.type + " <br><a href='#'>View details</a>"   }
]), reportRows) %}

{% set prodRows = (reportRows.push([
    { text: "Detail" },
    { text: reportData.summary }
]), reportRows) %}

{% set prodRows = (reportRows.push([
    { text: "Product type" },
    { text: reportData["productType"] }
]), reportRows) %}

{% set prodRows = (reportRows.push([
    { text: "Hazard type" },
    { text: reportData["hazardType"] }
]), reportRows) %}



<div class="govuk-grid-row govuk-!-margin-bottom-4">

    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Report</h3>

        {{ govukTable({
            firstCellIsHeader: true,
            rows: reportRows
        }) }}
    </div>

</div>

{% endmacro %}
