
{% set activityHtml %}
  {% include "includes/components/case/tabs/case-tab-activity.html" %}
{% endset -%}

{% set productsHtml %}
  {% include "includes/components/case/tabs/case-tab-products.html" %}
{% endset -%}


{% set businessesHtml %}
  {% include "includes/components/case/tabs/case-tab-businesses.html" %}
{% endset -%}


{% set contactsHtml %}
  {% include "includes/components/case/tabs/case-tab-contacts.html" %}
{% endset -%}


{% set attachmentsHtml %}
  {% include "includes/components/case/tabs/case-tab-attachments.html" %}
{% endset -%}

{% set fullDetailHtml %}
  {% include "includes/components/case/tabs/case-tab-full-detail.html" %}
{% endset -%}



<hr class="govuk-section-break govuk-section-break--l" />



{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Businesses",
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    }
  ]
}) }}
