{% from "includes/components/case/case-filter.html"         import caseFilter %}
{% from "includes/components/case/case-with-matches.html"         import caseWithMatches %}


{% macro caseCard(caseInfo, searchResult, currentTeam) %}

<div class="mspsds-case-card 
            govuk-body govuk-!-font-weight-regular">

    <span class="mspsds-case-card__indentifier">

        {% if caseInfo.type %}
            <span class="mspsds-case-card__type">{{caseInfo.type}}</span>
        {% endif %}

        {% if caseInfo.id %}
            <span class="mspsds-case-card__id">{{caseInfo.id}}</span>
        {% endif %}

    </span>


    <a class="mspsds-case-card__title" href="case?caseid={{caseInfo.id}}&currentPage=case&productid=&businessid" >

        {% if caseInfo.type == "Question" %}
            <span class="mspsds-case-card__product">{{caseInfo.title}}</span>
        {% endif %}

        {% if caseInfo.products | length > 0 %}
            <span class="mspsds-case-card__product">{{caseInfo.products[0].name}}</span>
        {% else %}
            <span class="mspsds-case-card__product mspsds-case-card__product--undefined">Undefined product</span>
        {% endif %}

        {% if caseInfo.type == 'Case' %}
            {% if caseInfo.report.hazardType %}
                <span class="mspsds-case-card__hazard">{{caseInfo.report.hazardType}}</span>
            {% else %}
                <span class="mspsds-case-card__hazard mspsds-case-card__hazard--undefined">Undefined hazard</span>
            {% endif %}
        {% endif %}

    </a>


    {% if searchResult %}
        {% set display = caseInfo.matches %}
        <span class="mspsds-case-card__match">
            {{ caseWithMatches(display, "", currentTeam, caseInfo)}}
        </span>

    {% else %}

        <span class="mspsds-case-card__state">

            {% if caseInfo.status %}
                {{ caseFilter("Status",caseInfo.status, "mspsds-case-card__status") }}
            {% endif %}

            {% if caseInfo.assignee %}
                {{ caseFilter("Assigned to",caseInfo.assignee, "mspsds-case-card__assignee") }}
            {% else %}
                <div class="mspsds-case-filter mspsds-case-card__assignee">&nbsp;</div>
            {% endif %}

            {% if caseInfo.dateUpdated %}
                {{ caseFilter("Updated", caseInfo.dateUpdated | prettifyDate, "mspsds-case-card__dateUpdated") }}
            {% endif %}

            {% if caseInfo.dateCreated %}
                {{ caseFilter("Created", caseInfo.dateCreated | prettifyDate, "mspsds-case-card__dateCreated") }}
            {% endif %}

        </span>

    {% endif %}

</div>

{% endmacro %}
