{% from "back-link/macro.njk"     	import govukBackLink %}
{% from "breadcrumbs/macro.njk" 	import govukBreadcrumbs %}


<div class="govuk-grid-row">

	{% if data['currentTeam'] == 'Trading Standards' %}

		<div class="govuk-grid-column-three-quarters">
			{{ govukBreadcrumbs({
			  items: [
			    {
			      text: "Home",
			      href: "/root/home"
			    },
			    {
			      text: currentCase.id
			    }
			  ]
			}) }}
		</div>


	{% else %}


		<div class="govuk-grid-column-three-quarters">
			{{ govukBreadcrumbs({
			  items: [
			    {
			      text: "Cases",
			      href: "/root/case-list"
			    },
			    {
			      text: "Case " + currentCase.id
			    }
			  ]
			}) }}
		</div>

	{% endif %}

</div>