
{{ subNavigation({
  label: 'Sub navigation',
  items: [
  {
    text: 'Overview',
    href: '/pages/case/overview',
    active: true if caseNavActive == 'overview'
  }, {
    text: 'Products (2)',
    href: '/pages/case/products',
    active: true if caseNavActive == 'products'
  }, {
    text: 'Businesses (0)',
    href: '#',
    active: true if caseNavActive == 'businesses'
  }, {
    text: 'Images (5)',
    href: '/pages/case/images',
    active: true if caseNavActive == 'images'
  }, {
    text: 'Supporting information (2)',
    href: '/pages/case/documents',
    active: true if caseNavActive == 'documents'
  }, {
    text: 'Timeline',
    href: '/pages/case/timeline',
    active: true if caseNavActive == 'timeline'
  }
  ]
}) }}

{# , {
    text: 'Settings',
    href: '/pages/case/settings',
    active: true if caseNavActive == 'settings'
  } #}

{# , {
    text: 'Businesses (2)',
    href: 'businesses',
    active: true if caseNavActive == 'businesses'
  } #}
