{% from "table/macro.njk"         import govukTable %}

{% macro caseWithMatches(matches, classes, currentTeam, case) %}

  <span class="mspsds-case-filter {{classes}}">
    {% for match in matches %}
      {% if loop.first %}
        <span class="govuk-caption-m govuk-!-font-size-16 mspsds-case-filter__key">{{match.label}}</span>
      {% else %}
        <span class="govuk-caption-m govuk-!-font-size-16 mspsds-case-filter__key govuk-!-margin-top-1">{{match.label}}</span>
      {% endif %}
      {% if match.gdprApplies and currentTeam != case.creatorTeam %}
        <span class="mspsds-case-filter__value mspsds-parenthesis-text">GDPR protected details hidden</span>
      {% else %}
        <span class="mspsds-case-filter__value">{{match.text | safe }}</span>
      {% endif %}
    {% endfor %}
  </span>

{% endmacro %}
