

{% set addLink        = '/root/pages/flows/location/add/01?currentPage=business&businessid='      + currentBusiness.id  %}
{% set viewLink       = '' %}
{% set editLink       = '/root/pages/flows/location/edit/01?currentPage=business&businessid='     + currentBusiness.id + '&locationid=LID'  %}
{% set deleteLink     = '/root/pages/flows/location/delete/01?currentPage=business&businessid='   + currentBusiness.id + '&locationid=LID' %}



{% set locations         = data['locations'] %}
{% set currentLocations  = currentBusiness.locations %}


{% extends "includes/components/shared/tabs/tab-locations.html" %}

