
{% from "includes/components/shared/tab-title.html"             import tabTitle %}
{% from "includes/components/business/business-panel.html"      import businessPanel %}




{{ tabTitle({
        title:      'Full details',
        controls:   '<a href="/old/product/edit">Edit details</a>'
}) }}


<div class="mspsds-full-detail">

    {{ businessPanel({
      business:         currentBusiness,
      controls:         false,
      displayImage:     false,
      displayDetails:   'full'
    }) }}

</div>







