{% extends "includes/templates/case-edit.html" %}
{% set pageHeading = 'Edit risk assessment' %}
{% set contentType = 'risk assessment' %}
{% set formCancel = './../../documents' %}

{% set riskAssessmentLink %}
<a href="" class="govuk-link">RAG Risk assessment - Foobar-Zipbuz.pdf</a>
{% endset %}


{% set currentCase = data.cases | withId(data['caseid']) %}

{% set currentCase = currentCase | attachCaseChildren(data) %}
{% set theRiskAssessment = currentCase.report.history.items[currentItemIndex] %}
{% set metaContent %}
Added {{theRiskAssessment.dateAdded | arrayToGovukDate}}
{% endset %}


{# Todo: make this actually update a case #}
{% block formContent %}
  {% include "includes/components/shared/risk-assessment/record-risk-assessment.html" %}

{% endblock %}

