{% extends "includes/templates/case-add.html" %}
{% set pageHeading = 'Add risk assessment' %}
{% set contentType = 'risk assessment' %}

{% set riskAssessmentLink %}
<a href="" class="govuk-link">RAG Risk assessment - Foobar-Zipbuz.pdf</a>
{% endset %}


{% set currentCase = data.cases | withId(data['caseid']) %}

{% set currentCase = currentCase | attachCaseChildren(data) %}

{% set currentItemIndex = 'new' %}
{% set pageContext = 'add' %}


{# Todo: make this actually update a case #}
{% block formContent %}
  {% include "includes/components/shared/risk-assessment/record-risk-assessment.html" %}

{% endblock %}

