
    <div class="govuk-grid-column-two-thirds">

        <img src="/public/images/placeholder.png" alt="" />

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            {% call govukFieldset({
              legend: {
                text: "Image details",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: false
              }
            }) %}


              {{ govukInput({
                label: {
                  text: "Title"
                },
                classes: "govuk-!-width-two-thirds",
                id:   "attachment-title",
                name: "attachment-title"
              }) }}


              {{ govukTextarea({
                name: "attachment-description",
                id:   "attachment-description",
                label: {
                  text: "Description"
                }
              }) }}

            {% endcall %}

    </div>