{% extends "layout.html" %}

{% block pageTitle %}
  Business Page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/businesses">Back to list</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Business</span>
      Tesco PLC
    </h1>
    <p class="govuk-body">Trading as: Tesco</p>
  </div>

  {% include "includes/stat-highlight.html" %}
</div>

{% include "panels/business-panel.html" %}

<hr class="govuk-section-break govuk-section-break--m" />

{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Contact details",
      id: "contacts",
      panel: {
        html: contactsHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Related",
      id: "related",
      panel: {
        html: relatedItemsHtml
      }
    },
    {
      label: "Full detail",
      id: "full-detail",
      panel: {
        html: fullDetailHtml
      }
    }
  ]
}) }}

{% endblock %}

{% set activityHtml %}
<h2 class="govuk-heading-l">Activity</h2>

{% from "includes/activity-timeline.html" import activityTimeline %}

{{ activityTimeline([
  {
    action: "Product added: Travel plug adaptor — Charge Worx 931L",
    html: '
      <p>Role: <span class="govuk-!-font-weight-bold">Distributor</span></p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Product details
          </span>
        </summary>
        <div class="govuk-details__text govuk-body-s">
          Brand: Charge Worx<br />
          Model Name: International Travel Adaptor<br />
          Model number: 931L<br />
          Description: Universal travel USB plug adaptor with surge protector
        </div>
      </details>'
  },
  {
    action: "Business created"
  }
]) }}

{% endset -%}

{% set contactsHtml %}
<h2 class="govuk-heading-l">Contacts</h2>

{% endset -%}

{% set attachmentsHtml %}
<h2 class="govuk-heading-l">Attachments</h2>
<a href="#">Add new image</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Add new document</a>

{% from "includes/attachment-list.html" import attachmentList %}

{{ attachmentList(5) }}

{% endset -%}

{% set productsHtml %}
{% include "tab-sections/products-list.html" %}

{% endset -%}

{% set relatedItemsHtml %}
<h2 class="govuk-heading-l">Linked to this business</h2>

{% include "includes/linked-items.html" %}

<h2 class="govuk-heading-l">Potentially related to this business</h2>

{% include "includes/potential-relationships.html" %}

{% endset -%}

{% set fullDetailHtml %}
{% include "tab-sections/full-detail-business.html" %}

{% endset -%}
