{% extends "layout.html" %}

{% block pageTitle %}
  Case Page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cases">Back to list</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Case ID: 2018-08-21-0001</span>
      Charge Worx, Travel plug adaptor –Electric shock, fire hazard
    </h1>
    <p class="govuk-body">Created: 6th May 2018</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Risk notes: Electric shock, fire</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">Travel adaptor available from high-street store Game has been reported to have caused a fire and severe electric shocks. Has been reported more than 10 times in the last 2 months.</p>
    <p><a href="/case/risk/edit">Edit risk details</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/case/risk/view">View assessment</a></p>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m govuk-!-font-weight-regular">Risk level</h2>
    <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">Serious</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m govuk-!-font-weight-regular">Sensitivity</h2>
    <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">Medium</p>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--m" />

{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Contacts",
      id: "contacts",
      panel: {
        html: contactsHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Businesses",
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },
    {
      label: "Related",
      id: "related",
      panel: {
        html: relatedEntitiesHtml
      }
    },
    {
      label: "Full detail",
      id: "full-detail",
      panel: {
        html: fullDetailHtml
      }
    }
  ]
}) }}

{% endblock %}

{% set activityHtml %}
<h2 class="govuk-heading-l">Activity</h2>

{% from "includes/activity-timeline.html" import activityTimeline %}

{{ activityTimeline([
  {
    action: "Comment added",
    text: "Have flagged as priority due to consumer injuries and potential risks of the product"
  },
  {
    action: "Business added: Tesco PLC",
    html: '
      <p>Role: <span class="govuk-!-font-weight-bold">Distributor</span></p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Business details
          </span>
        </summary>
        <div class="govuk-details__text govuk-body-s">
          <span class="govuk-!-font-weight-bold">Tesco PLC</span><br/>
          Trading as: Tesco<br/>
          Company number: 00445790
        </div>
      </details>'
  },
  {
    action: "Case created"
  }
]) }}

{% endset -%}

{% set contactsHtml %}
<h2 class="govuk-heading-l">Contacts</h2>

{% endset -%}

{% set attachmentsHtml %}
<h2 class="govuk-heading-l">Attachments</h2>
<a href="#">Add new image</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Add new document</a>

{% from "includes/attachment-list.html" import attachmentList %}

{{ attachmentList(5) }}

{% endset -%}

{% set productsHtml %}
<h2 class="govuk-heading-l">Products</h2>

{% endset -%}

{% set businessesHtml %}
<h2 class="govuk-heading-l">Businesses</h2>

{% endset -%}

{% set relatedEntitiesHtml %}
<h2 class="govuk-heading-l">Related material</h2>

{% endset -%}

{% set fullDetailHtml %}
{% include "tab-sections/full-detail-case.html" %}

{% endset -%}
