{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Case Page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/case-list">Back to list</a>
{% endblock %}

{% block content %}

{% from "includes/case-status.html" import caseStatus %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {{ pageTitle({
      type:       "Case: 1810-0001",
      title:      "Charge Worx, Travel plug adaptor –Electric shock, fire hazard",
      subTitle:   "Created by Tim Harwood, 10/10/2018"
    }) }}
  </div>

  <div class="govuk-grid-column-one-third">
    {{ caseStatus("Open","Nick Golding","High") }}
  </div>

</div>



  {% from "panels/case-why.html" import caseWhy %}
  {{ caseWhy({
      hazardType: "Electric shock, fire",
      hazardTo:   "Young children",
      hazardDescription: "Travel adaptor available from high-street store Game has been reported to have caused a fire and severe electric shocks. Has been reported more than 10 times in the last 2 months.",
      riskLevel: "Serious"
  }) }}


<hr class="govuk-section-break govuk-section-break--m" />

{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Contacts",
      id: "contacts",
      panel: {
        html: contactsHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Businesses",
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },
    {
      label: "Related",
      id: "related",
      panel: {
        html: relatedItemsHtml
      }
    },
    {
      label: "Full detail",
      id: "full-detail",
      panel: {
        html: fullDetailHtml
      }
    }
  ]
}) }}

{% endblock %}

{% set activityHtml %}
<h2 class="govuk-heading-l">Activity</h2>

{% from "includes/activity-timeline.html" import activityTimeline %}

{{ activityTimeline([
  {
    title: "Priority flag",
    action: "Comment added",
    text: "Have flagged as priority due to consumer injuries and potential risks of the product"
  },
  {
    title: "Deleted: Photo ID",
    action: "Image deleted",
    html: '
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <img src="public/images/placeholder.png" style="cursor:pointer" title="click to view full size" />
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">Image description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>'
  },
  {
    title: "Updated: Photo ID (was: picture of product in situ)",
    action: "Image details updated",
    html: '
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <img src="public/images/placeholder.png" style="cursor:pointer" title="click to view full size" />
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">Image description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>'
  },
  {
    title: "picture of product in situ",
    action: "Image added",
    html: '
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <img src="public/images/placeholder.png" style="cursor:pointer" title="click to view full size" />
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">Image description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>'
  },
  {
    title: "Deleted: Investigation report",
    action: "Document deleted",
    html: '
      <p class="govuk-body">New document description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      <a href="#">View PDF document</a>'
  },
  {
    title: "Updated: Investigation report (was: Investigation details)",
    action: "Document details updated",
    html: '
      <p class="govuk-body">New document description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      <a href="#">View PDF document</a>'
  },
  {
    title: "Investigation details",
    action: "Document added",
    html: '
      <p class="govuk-body">Document description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      <a href="#">View PDF document</a>'
  },
  {
    title: "Travel plug adaptor — Charge Worx 931L",
    action: "Product added",
    html: '
      <p class="govuk-body">Action comment lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="/product" class="mspsds-block-link">View product details</a>'
  },
  {
    title: "Tesco PLC",
    action: "Business added",
    html: '
      <p class="govuk-body">Role: <span class="govuk-!-font-weight-bold">Distributor</span></p>
      <p class="govuk-body">Action comment lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="/business" class="mspsds-block-link">View business details</a>'
  },
  {
    title: "Laceration injury",
    action: "Incident added",
    html: '
    <p class="govuk-body">Incident description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="govuk-body">
      Occurred: <span class="govuk-!-font-weight-bold">24/9/2018</span><br />
      Affected party: <span class="govuk-!-font-weight-bold">36-year old woman</span><br />
      Location: <span class="govuk-!-font-weight-bold">Rotherham</span>
    </p>
    <p class="govuk-body"><a href="#">View risk assessment document</a></p>'
  },
  {
    title: "Danger of electric shock",
    action: "Hazard added",
    text: "Hazard description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  },
  {
    title: "Danger of electric shock",
    action: "Hazard added",
    html: '
      <p class="govuk-body">Hazard description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="govuk-body">
        Risk level: <span class="govuk-!-font-weight-bold">Medium</span><br />
        Vulnerable group: <span class="govuk-!-font-weight-bold">Young children</span>
      </p>
      <p class="govuk-body"><a href="#">View risk assessment document</a></p>'
  },
  {
    title: "Consumer report",
    action: "Report details added"
  },
  {
    title: "Case created",
    action: "",
    text: "Case creation comment - probably only exists if created as an investigation rather than as an indident report."
  }
]) }}

{% endset -%}

{% set contactsHtml %}
<h2 class="govuk-heading-l">Contacts</h2>

{% from "panels/contact-panel.html" import contactPanel %}

<div class="govuk-grid-row">
  {{ contactPanel("Main contact", "Paul Jones", "020 7123 12345", "paul.jones@abc.np") }}
  {{ contactPanel("Head of Procurement", "Gemma Wilkinson", "", "gemma.wilkinson@abc.np") }}
  {{ contactPanel("Another contact", "Paul Jones", "020 7123 12345", "paul.jones@abc.np") }}
  {{ contactPanel("And another", "Gemma Wilkinson", "", "gemma.wilkinson@abc.np") }}
</div>

{% endset -%}

{% set attachmentsHtml %}
{% include "tab-sections/attachments.html" %}

{% endset -%}

{% set productsHtml %}
{% include "tab-sections/products-list.html" %}

{% endset -%}

{% set businessesHtml %}
{% include "tab-sections/businesses-list.html" %}

{% endset -%}

{% set relatedItemsHtml %}
<h2 class="govuk-heading-l">Linked to this case</h2>

{% include "includes/linked-items.html" %}

<h2 class="govuk-heading-l">Potentially related to this case</h2>

{% include "includes/potential-relationships.html" %}

{% endset -%}

{% set fullDetailHtml %}
{% include "tab-sections/full-detail-case.html" %}

{% endset -%}
