{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Case Page
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back to Case & Questions",
    href: "/case-list"
  }) }}

{% endblock %}



{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ pageTitle({
      type:       "Case: 1810-0001",
      title:      "Untitled case",
      subTitle:   "Created by Tim Harwood, 10/10/2018"
    }) }}
  </div>
  <div class="govuk-grid-column-one-third">
    {% from "includes/case-status.html" import caseStatus %}
    {{ caseStatus("Open", "Tim Harwood", "Not set") }}
  </div>
</div>




  {% from "panels/case-why.html" import caseWhy %}
  {{ caseWhy() }}


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  {% from "panels/product-panel__empty.html" import productPanel %}
  {{ productPanel() }}


<hr class="govuk-section-break govuk-section-break--m" />

{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Businesses",
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },
    {
      label: "Full detail",
      id: "full-detail",
      panel: {
        html: fullDetailHtml
      }
    }
  ]
}) }}

{% endblock %}



{% set activityHtml %}
  <h2 class="govuk-heading-l">Activity</h2>

  {% from "includes/activity-timeline.html" import activityTimeline %}

  {{ activityTimeline([
    {
      title: "Consumer report",
      action: "Report details added",
      html: '
        <p class="govuk-body">
          Name: <span class="govuk-!-font-weight-bold">Mina Harker</span><br />
          Phone number: <span class="govuk-!-font-weight-bold">07123 123123</span><br />
          Email address: <span class="govuk-!-font-weight-bold">mina@castledracula.ro</span>
        </p>
        <p class="govuk-body">Other details captured during the report entry</p>'
    },
    {
      title: "Case created",
      action: ""
    }
  ]) }}

{% endset -%}



{% set attachmentsHtml %}
  <h2 class="govuk-heading-l">Attachments</h2>
  <a href="#">Add new image</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Add new document</a>
  {% from "includes/attachment-list.html" import attachmentList %}
  {{ attachmentList(5) }}
{% endset -%}


{% set productsHtml %}
  {% include "tab-sections/products-list.html" %}
{% endset -%}


{% set businessesHtml %}
  {% include "tab-sections/businesses-list.html" %}
{% endset -%}



{% set fullDetailHtml %}
  {% include "tab-sections/full-detail-case.html" %}
{% endset -%}
