
{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Case-list Page
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  
  {{ siteNav('/case-list') }}

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ pageTitle({
        title:      "Cases & Questions"
      }) }}
    </div>

    <div class="govuk-grid-column-one-half">
      <p class="govuk-body-xs">
          <a class="govuk-link mspsds-block-link" href="/flows/report-product/01-reporter-type">Report an unsafe product</a>
          <a class="govuk-link mspsds-block-link" href="/flows/begin-investigation/01-begin-investigation">Begin an investigation</a>
          <a class="govuk-link mspsds-block-link" href="/flows/ask-question/01-questioner-type">Ask a question</a>
        </p>
    </div>
  </div>


  



  <div class="govuk-grid-row">
  
    <div class="govuk-grid-column-one-third">

      <form id="search" class="mspsds-search govuk-form-group" action="/search" method="get" role="search">
          <div class="mspsds-search__content">
            <label for="mspsds-search__input" class="mspsds-search__label govuk-label" >Search cases &amp; questions</label>
            <input type="search" name="q" id="mspsds-search__input" title="Search" class="js-search-focus mspsds-search__input govuk-input" value="">
            <input class="submit mspsds-search__submit" type="submit" value="Search">
          </div>
      </form>

    
      <div class="govuk-option-select ">
          
          <input type="checkbox" class="option-select-display" id="option-select-display-Status">
          <label for="option-select-display-Status" class="option-select-label">Status</label>

          <div class="options-container">
            <div>
              
                <label for="statusOpen" class="label checkbox-label">
                  <input name="statusOpen" value="Open" id="statusOpen" type="checkbox">Open
                </label>
              
                <label for="statusClosed" class="label checkbox-label">
                  <input name="statusClosed" value="Closed" id="statusClosed" type="checkbox">Closed
                </label>
              
            </div>
          </div>

      </div>


      <div class="govuk-option-select ">
          
          <input type="checkbox" class="option-select-display" id="option-select-display-Priority">
          <label for="option-select-display-Priority" class="option-select-label">Priority</label>

          <div class="options-container">
            <div>
              
                <label for="PriorityHigh" class="label checkbox-label">
                  <input name="PriorityHigh" value="High" id="PriorityHigh" type="checkbox">High
                </label>

                <label for="PriorityMedium" class="label checkbox-label">
                  <input name="PriorityMedium" value="Medium" id="PriorityMedium" type="checkbox">Medium
                </label>

                <label for="PriorityLow" class="label checkbox-label">
                  <input name="PriorityLow" value="High" id="PriorityLow" type="checkbox">Low
                </label>
              
            </div>
          </div>

      </div>


      <div class="govuk-option-select ">

          <input type="checkbox" class="option-select-display" id="option-select-display-Assignee">
          <label for="option-select-display-Assignee" class="option-select-label">Assignee</label>
          

          <div class="options-container">
            <div>
              
                <label for="assigneeTim" class="label checkbox-label">
                  <input name="assigneeTim" value="Tim" id="Tim" type="checkbox">Tim Harwood &mdash; tim.harwood@softwire.com
                </label>

                <label for="assigneeNick" class="label checkbox-label">
                  <input name="assigneeNick" value="Nick" id="assigneeNick" type="checkbox">Nick Golding &mdash; nick.golding@softwire.com
                </label>

                <label for="case-assignne-autocomplete" class="label ">Other
                  <div id="case-assignee-autocomplete-container"></div>
                </label>
                
              
            </div>

            
          </div>


          <script type="text/javascript">


            var assignees = [
              'Tim Harwood – tim.harwood@softwire.com',
              'Nick Golding – nick.golding@softwire.com',
              'Ed Smith-Muller – ed.smith-muller@softwire.com',
            ]
          

            element = document.querySelector('#case-assignee-autocomplete-container')
            id = 'case-assignne-autocomplete'
            accessibleAutocomplete({
              element: element,
              id: id,
              showNoOptionsFound: false,
              source: assignees
            })
          </script>


      </div>



    </div>



    <div class="govuk-grid-column-two-thirds">
     {% include "includes/case-list__list.html" %}
    </div>
  </div>





{% endblock %}
