{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Report ref. 1810-0001
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back to Case & Questions",
    href: "/case-list"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ pageTitle({
      type:       "Report ref. 1810-0001",
      title:      "What legislation applies to this travel adaptor?"
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "panels/report-close-or-assign.html" %}
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      <span class="govuk-caption-m">Asked by:</span>
      Diana Ross (diana@mo.town)
    </h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</p>
    <p class="govuk-body">Aliqua???</p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m" />

{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Businesses",
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },
    {
      label: "Full detail",
      id: "full-detail",
      panel: {
        html: fullDetailHtml
      }
    }
  ]
}) }}

{% endblock %}

{% set activityHtml %}
<h2 class="govuk-heading-l">Activity history</h2>

{% from "includes/activity-timeline.html" import activityTimeline %}

{{ activityTimeline([
  {
    title: "Question logged",
    action: "",
    html: '
      <p class="govuk-body">
        Source type: <span class="govuk-!-font-weight-bold">Trading Standards</span><br />
        Name: <span class="govuk-!-font-weight-bold">Diana Ross</span><br />
        Phone number: <span class="govuk-!-font-weight-bold">07123 123123</span><br />
        Email address: <span class="govuk-!-font-weight-bold">diana@mo.town</span>
      </p>
      <p class="govuk-body">Other reporter details captured during the report entry</p>'
  }
]) }}
{% endset -%}

{% set attachmentsHtml %}
{% include "tab-sections/attachments.html" %}

{% endset -%}

{% set productsHtml %}
{% include "tab-sections/products-list.html" %}

{% endset -%}

{% set businessesHtml %}
{% include "tab-sections/businesses-list.html" %}

{% endset -%}

{% set fullDetailHtml %}
{% include "tab-sections/full-detail-case.html" %}

{% endset -%}
