{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Case Page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/case-list">Back to list</a>
{% endblock %}

{% block content %}

{% from "includes/case-status.html" import caseStatus %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {{ pageTitle({
      type:       "Case: 1810-0001",
      title:      "Charge Worx, Travel plug adaptor –Electric shock, fire hazard",
      subTitle:   "Created by Tim Harwood, 10/10/2018"
    }) }}
  </div>

  <div class="govuk-grid-column-one-third">
    {{ caseStatus("Open","Nick Golding","High") }}
  </div>

</div>



  {% from "panels/case-why.html" import caseWhy %}
  {{ caseWhy({
      hazardType: "Electric shock, fire",
      hazardTo:   "Young children",
      hazardDescription: "Travel adaptor available from high-street store Game has been reported to have caused a fire and severe electric shocks. Has been reported more than 10 times in the last 2 months.",
      riskLevel: "Serious"
  }) }}


<hr class="govuk-section-break govuk-section-break--m" />

{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Contacts",
      id: "contacts",
      panel: {
        html: contactsHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Businesses",
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },
    {
      label: "Related",
      id: "related",
      panel: {
        html: relatedItemsHtml
      }
    },
    {
      label: "Full detail",
      id: "full-detail",
      panel: {
        html: fullDetailHtml
      }
    }
  ]
}) }}

{% endblock %}

{% set activityHtml %}
<h2 class="govuk-heading-l">Activity</h2>

{% from "includes/activity-timeline.html" import activityTimeline %}

{{ activityTimeline([
  {
    action: "Comment added",
    text: "Have flagged as priority due to consumer injuries and potential risks of the product"
  },
  {
    action: "Image added: /Image title/",
    html: '<img src="public/images/placeholder.png" class="govuk-!-width-one-third" />'
  },
  {
    action: "Document added: /Document Title/",
    html: '<a href="#">View document</a>'
  },
  {
    action: "Product added: Travel plug adaptor — Charge Worx 931L",
    html: '
      <p>Role: <span class="govuk-!-font-weight-bold">Distributor</span></p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Product details
          </span>
        </summary>
        <div class="govuk-details__text govuk-body-s">
          Brand: Charge Worx<br />
          Model Name: International Travel Adaptor<br />
          Model number: 931L<br />
          Description: Universal travel USB plug adaptor with surge protector
        </div>
      </details>'
  },
  {
    action: "Business added: Tesco PLC",
    html: '
      <p>Role: <span class="govuk-!-font-weight-bold">Distributor</span></p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Business details
          </span>
        </summary>
        <div class="govuk-details__text govuk-body-s">
          <span class="govuk-!-font-weight-bold">Tesco PLC</span><br/>
          Trading as: Tesco<br/>
          Company number: 00445790
        </div>
      </details>'
  },
  {
    action: "Incident added: Laceration injury",
    text: "Occurred 24/9/2018"
  },
  {
    action: "Hazard added: Danger of electric shock",
    text: "Hazard description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  },
  {
    action: "Hazard added: Danger of electric shock",
    html: '<p class="govuk-body">Hazard description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p class="govuk-body">Risk level: Medium</p><p class="govuk-body"><a href="#">View risk assessment document</a></p>'
  },
  {
    action: "Reporter added"
  },
  {
    action: "Case created"
  }
]) }}

{% endset -%}

{% set contactsHtml %}
<h2 class="govuk-heading-l">Contacts</h2>

{% from "panels/contact-panel.html" import contactPanel %}

<div class="govuk-grid-row">
  {{ contactPanel("Main contact", "Paul Jones", "020 7123 12345", "paul.jones@abc.np") }}
  {{ contactPanel("Head of Procurement", "Gemma Wilkinson", "", "gemma.wilkinson@abc.np") }}
  {{ contactPanel("Another contact", "Paul Jones", "020 7123 12345", "paul.jones@abc.np") }}
  {{ contactPanel("And another", "Gemma Wilkinson", "", "gemma.wilkinson@abc.np") }}
</div>

{% endset -%}

{% set attachmentsHtml %}
<h2 class="govuk-heading-l">Attachments</h2>
<a href="#">Add new image</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Add new document</a>

{% from "includes/attachment-list.html" import attachmentList %}

{{ attachmentList(5) }}

{% endset -%}

{% set productsHtml %}
{% include "tab-sections/products-list.html" %}

{% endset -%}

{% set businessesHtml %}
{% include "tab-sections/businesses-list.html" %}

{% endset -%}

{% set relatedItemsHtml %}
<h2 class="govuk-heading-l">Linked to this case</h2>

{% include "includes/linked-items.html" %}

<h2 class="govuk-heading-l">Potentially related to this case</h2>

{% include "includes/potential-relationships.html" %}

{% endset -%}

{% set fullDetailHtml %}
{% include "tab-sections/full-detail-case.html" %}

{% endset -%}
