
{% extends "mspsds-layout.html" %}

{% set hideSiteNav = true %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Prototype
          </h1>
          <p> GitHub Repo: https://github.com/UKGovernmentBEIS/beis-mspsds-design-prototype
          <br/> Heroku: https://opss-psd-prototype-uat1.herokuapp.com </p>

      <span class="govuk-caption-l">Nov 2020 onwards </span>
      <h2 class="govuk-heading-m">Features to be built</h2>
      <p>
        Risk Validation (IMT):



          <ul>
            <li><a class="govuk-body govuk-link" href="pages/case/overview-serious-risk.html">Case Overview Page showing 'Risk level validated - No' </a></li>
            <li><a class="govuk-body govuk-link" href="pages/case/risk-level/validate">Validate Risk </a></li>
            <li><a class="govuk-body govuk-link" href="pages/case/overview-serious-risk-validated.html">Case Overview Page showing 'Risk level validated - Validated' </a></li>
          </ul>

      </p>


      <hr /><br /><br /><br /><br /><hr />
      <span class="govuk-caption-l">Pre Nov 2020</span>
      <h2 class="govuk-heading-m">Prototype Pages</h2>

      <a class="govuk-body govuk-link" href="test-setup">Setup</a>


      {% include "pages/index.html" ignore missing %}
    </div>
</div>

{% endblock %}
