
{% extends "mspsds-layout.html" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        MSPSDS Design Prototype
        <span class="govuk-caption-xl">GOV.UK Prototype Kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This site contains the design prototypes for MSPSDS MVP 1.
        (Note this is distinct from the <em>working</em> prototype.)
      </p>

      <p>
        <strong>This page is not part of the prototype</strong>. This is a utility page for development and quick links to individual pages - see below.
      </p>

      <h2 class="govuk-heading-m">MSPSDS Prototype Links</h2>

      <a href="test-setup">Setup</a>


      {% include "pages/index.html" ignore missing %}
    </div>
</div>

{% endblock %}
