
{% extends "mspsds-layout.html" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        MSPSDS Design Prototype
        <span class="govuk-caption-xl">GOV.UK Prototype Kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This site contains the design prototypes for MSPSDS MVP 1.
        (Note this is distinct from the <em>working</em> prototype.)
      </p>

      <p>
        <strong>This page is not part of the prototype</strong>. This is a utility page for development and quick links to individual pages - see below.
      </p>

      <h2 class="govuk-heading-m">MSPSDS Prototype Links</h2>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          <h3>Product</h3>
          <ul>
            <li><a href="/product-list">Product-list Page</a></li>
            <li><a href="/product">Product Page</a></li>
          </ul>
        </li>


        <li>
          <h3>Business</h3>
          <ul>
            <li><a href="/business-list">Business-list Page</a></li>
            <li><a href="/business">Business Page</a></li>
          </ul>
        </li>

        <li>
          <h3>Case/Question</h3>
          <ul>
            <li><a href="/case-list">List Page v1</a></li>
            <li><a href="/case-list-v2">List Page v2</a></li>
            <li><a href="/case-list-v3">List Page v3</a></li>
            <li><a href="/case">Case Page</a></li>
            <li><a href="/case__empty">Case Page (empty)</a></li>
            <li><a href="/question">Question Page</a></li>
            <!-- <li><a href="/issue">Issue Page</a></li> -->
          </ul>
        </li>


        <li>
          <h3>Flows</h3>
          <ul>
            <li><a href="/flows/report-product/01-reporter-type">Report an unsafe product</a></li>
            <li><a href="/flows/begin-investigation/01-begin-investigation">Begin an investigation</a></li>
            <li><a href="/flows/ask-question/01-questioner-type">Ask a question</a></li>


            <li><a href="/flows/add-document/">Add document</a></li>
            <li><a href="/flows/add-image/">Add image</a></li>
            <li><a href="/flows/add-correspondance/01-add-correspondance-context">Record correspondance</a></li>
            <li><a href="/flows/add-incident/01-add-incident">Record incident</a></li>
            <li><a href="/flows/add-hazard/01-add-hazard">Add hazard</a></li>
            <li><a href="/flows/add-risk/01-add-risk">Add risk</a></li>
            <li><a href="/flows/add-priority/01-add-priority">Set priority</a></li>
            <li><a href="/flows/add-status/01-add-status">Set status</a></li>
            <li><a href="/flows/assign/01-assign">Assign</a></li>

          </ul>
        </li>




      </ul>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
