{% extends "template.njk" %}

{% from "back-link/macro.njk"     import govukBackLink %}
{% from "breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "button/macro.njk"        import govukButton %}
{% from "checkboxes/macro.njk"    import govukCheckboxes %}
{% from "date-input/macro.njk"    import govukDateInput %}
{% from "details/macro.njk"       import govukDetails %}
{% from "error-message/macro.njk" import govukErrorMessage %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk"      import govukFieldset %}
{% from "file-upload/macro.njk"   import govukFileUpload %}
{% from "input/macro.njk"         import govukInput %}
{% from "inset-text/macro.njk"    import govukInsetText %}
{% from "panel/macro.njk"         import govukPanel %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "radios/macro.njk"        import govukRadios %}
{% from "select/macro.njk"        import govukSelect %}
{% from "skip-link/macro.njk"     import govukSkipLink %}
{% from "table/macro.njk"         import govukTable %}
{% from "tabs/macro.njk"          import govukTabs %}
{% from "tag/macro.njk"           import govukTag %}
{% from "textarea/macro.njk"      import govukTextarea %}
{% from "warning-text/macro.njk"  import govukWarningText %}
{% from "warning-text/macro.njk"  import govukWarningText %}
{% from "includes/components/shared/hmcts-primary-navigation.html" import hmctsPrimaryNavigation %}
{% from "includes/components/shared/hmctsMenu.html" import hmctsMenu %}
{% from "includes/components/shared/hmcts-identity-bar.html" import identityBar %}
{% from "includes/components/shared/hmcts-sub-navigation.html" import subNavigation %}




{% if data['signedIn'] == 'Yes' %} 
  {% set headerNav = [
    {
      href: "/",
      text: "Account"
    },
    {
      href: "/pages/home?signedIn=No",
      text: "Sign out"
    }
  ] %}
{% else %}
  {% set headerNav = [] %}
{% endif %}





{% block head %}
  {% include "includes/head.html" %}
{% endblock %}


{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% set bodyClasses = bodyClasses + ' siteNavActive' if hideSiteNav != true and data['signedIn'] == 'Yes' %}


{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    productName: serviceName,
    _xserviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: headerNav
  }) }}

{#   {% set navHomeActive = navHomeActive else false %}
  {% set navCasesActive = navCasesActive else false %} #}

  {% if hideSiteNav != true %}
    {% if data['signedIn'] == 'Yes' %} 

      {{ hmctsPrimaryNavigation({
        label: 'Primary navigation',
        items: [{
            text: 'Home',
            href: '/root/home',
            active: true if navActive == 'home'
          }, {
            text: 'Cases',
            href: '/root/case-list',
            active: true if navActive == 'cases'
          }, {
            text: 'Products',
            href: '/root/product-list',
            active: true if navActive == 'products'
          },
          {
            text: 'Businesses',
            href: '/root/business-list',
            active: true if navActive == 'businesses'
          },
          {
            text: 'Your teams',
            href: '/pages/your-teams',
            active: true if navActive == 'teams',
            classes: 'align-right'
          }]
        }) }}

      {% endif %}
    {% endif %}

{% endblock %}

{% set footerMetaHTML %}
  <p class="opss-footer__body">This is a new service – your <a class="govuk-footer__link" href="#">feedback</a> will help us to improve it.</p>

  <p class="opss-footer__body">Email <a class="govuk-footer__link" href="mailto:example-email@beis.gov.uk">example-email@beis.gov.uk</a> for help using this service.</p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-visually-hidden">Support links</h2>
  <ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="https://govuk-prototype-kit.herokuapp.com/">
        GOV.UK Prototype Kit {{releaseVersion}}
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/prototype-admin/clear-data">
        Clear data
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/prototype-admin/change-team">
        Switch team
      </a>
    </li>
  </ul>
{% endset %}

{% set emailHTML %}
Email <a class="govuk-footer__link" href="mailto:psd-support@beis.gov.uk">psd-support@beis.gov.uk</a> for help using this service.
{% endset %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        html: footerMetaHTML
      }
    }) }}
  {% endblock %}
{% endif %}


{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
