{% extends "template.njk" %}

{% from "back-link/macro.njk"     import govukBackLink %}
{% from "breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "button/macro.njk"        import govukButton %}
{% from "checkboxes/macro.njk"    import govukCheckboxes %}
{% from "date-input/macro.njk"    import govukDateInput %}
{% from "details/macro.njk"       import govukDetails %}
{% from "error-message/macro.njk" import govukErrorMessage %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk"      import govukFieldset %}
{% from "file-upload/macro.njk"   import govukFileUpload %}
{% from "input/macro.njk"         import govukInput %}
{% from "inset-text/macro.njk"    import govukInsetText %}
{% from "panel/macro.njk"         import govukPanel %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "radios/macro.njk"        import govukRadios %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "select/macro.njk"        import govukSelect %}
{% from "skip-link/macro.njk"     import govukSkipLink %}
{% from "table/macro.njk"         import govukTable %}
{% from "tabs/macro.njk"          import govukTabs %}
{% from "tag/macro.njk"           import govukTag %}
{% from "textarea/macro.njk"      import govukTextarea %}
{% from "warning-text/macro.njk"  import govukWarningText %}
{% from "warning-text/macro.njk"  import govukWarningText %}
{% from "accordion/macro.njk" import govukAccordion %}
{% from "includes/components/shared/hmcts-primary-navigation.html" import hmctsPrimaryNavigation %}
{% from "includes/components/shared/hmctsMenu.html" import hmctsMenu %}
{% from "includes/components/shared/hmcts-identity-bar.html" import identityBar %}
{% from "includes/components/shared/hmcts-sub-navigation.html" import subNavigation %}
{% from "includes/components/shared/hmcts-banner.html" import hmctsBanner %}
{% from "includes/components/shared/autocomplete-input.html" import autocompleteInput %}
{% from "includes/components/shared/autocomplete-dept-or-agency.html" import departmentOrAgencyAutocomplete %}
{% from "includes/components/shared/autocomplete-local-authority.html" import localAuthorityAutocomplete %}
{% from "includes/components/shared/autocompleteCountry.html" import autocompleteCountry %}
{# Task list #}
{% from "includes/components/shared/task-list/task-list-item.html" import taskListItem with context %}
{% from "includes/legislation-input.html" import legislationInput %}
{% from "includes/components/teams/team-member.html" import teamMember %}
{% from "includes/components/shared/simple-description-list.html" import simpleDescriptionList %}
{% from "includes/components/shared/big-number.html" import bigNumberDark %}
{% from "includes/components/shared/big-number.html" import bigNumberWithStatus %}

{% if data['signedIn'] == 'Yes' %}
  {% set headerNav = [
    {
      href: "/pages/your-account",
      text: "Your account"
    },{
      href: "/pages/platform-admin",
      text: "Platform admin"
    },{
      href: "/pages/home?signedIn=No",
      text: "Sign out"
    }
  ] %}
{% else %}
  {% set headerNav = [] %}
{% endif %}





{% block head %}
  {% include "includes/head.html" %}
{% endblock %}


{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% set bodyClasses = bodyClasses + ' siteNavActive' if hideSiteNav != true and data['signedIn'] == 'Yes' %}


{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    productName: serviceName,
    _xserviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: headerNav
  }) }}

{#   {% set navHomeActive = navHomeActive else false %}
  {% set navCasesActive = navCasesActive else false %} #}

  {% if hideSiteNav != true %}
    {% if data['signedIn'] == 'Yes' %}

      {{ hmctsPrimaryNavigation({
        label: 'Primary navigation',
        items: [{
            text: 'Home',
            href: '/root/home',
            active: true if navActive == 'home'
          }, {
            text: 'Products',
            href: '/root/product-list',
            active: true if navActive == 'products'
          }, {
            text: 'Cases',
            href: '/root/case-list',
            active: true if navActive == 'cases'
          },
          {
            text: 'Businesses',
            href: '/root/business-list',
            active: true if navActive == 'businesses'
          },
          {
            text: 'Your team',
            href: '/pages/teams/b1dab0f5-4651-4af8-9f15-fa8143ff338d',
            active: true if navActive == 'teams',
            classes: 'align-right'
          }]
        }) }}

      {% endif %}
    {% endif %}

{% endblock %}

{% block footer %}
{# Not using govukFooter as we don't want an OGL licence #}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <p class="opss-footer__body">Email <a class="govuk-footer__link" href="mailto:example-email@beis.gov.uk">example-email@beis.gov.uk</a> for help using this service.</p>
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="https://govuk-prototype-kit.herokuapp.com/">
              {# About this service #}
              GOV.UK Prototype Kit v8.0.0
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/prototype-admin/clear-data">
              {# Privacy policy #}
              Clear data
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/prototype-admin/change-team">
              {# Terms and conditions #}
              Switch team
            </a>
          </li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="opss-footer__body">Built by the <a href="https://www.gov.uk/government/organisations/office-for-product-safety-and-standards" class="govuk-footer__link">Office for Product Safety and Standards</a></p>
        <p class="opss-footer__body">This is a new service – your <a class="govuk-footer__link" href="#">feedback</a> will help us to improve it.</p>

      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}



{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
