{% extends "layout.html" %}

{% from "includes/activity-timeline.html"   import activityTimeline %}
{% from "includes/page-title.html"          import pageTitle %}
{% from "includes/site-nav.html"            import siteNav %}
{% from "includes/site-nav-v2.html"         import siteNavV2 %}
{% from "includes/site-nav-v3.html"         import siteNavV3 %}

{% from "includes/header-search.html"      import headerSearch %}


{% from "includes/case-sort.html"         	    import caseSort %}
{% from "includes/case-filter.html"       		import caseFilter %}
{% from "includes/case-card.html"         		import caseCard %}
{% from "includes/case-card-list.html"    	    import caseCardList %}




{% block pageTitle %}
  MSPSDS Design Prototype
{% endblock %}


{% block head %}
	{% include "includes/head.html" %}
  	{% include "includes/head__mspsds.html" %}
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
{% endblock %}
