{% extends "layout.html" %}

{% from "includes/page-title.html"          import pageTitle %}


{% from "includes/case-sort.html"         	    import caseSort %}
{% from "includes/case-filter.html"       		import caseFilter %}
{% from "includes/case-card.html"         		import caseCard %}
{% from "includes/case-card-list.html"    	    import caseCardList %}




{% block pageTitle %}
  MSPSDS Design Prototype
{% endblock %}


{% block head %}
	{{ super() }}
    
  	{% include "includes/head__mspsds.html" %}

{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
{% endblock %}





{% block footer %}
    {{ super() }}

    {% block debugging %}
    {% if data['debugging'] == 'Yes'  %}
        <pre>{{ data | dump(4)  }}</pre>
    {% endif %}
    {% endblock %}

{% endblock %}
