{% extends "layout.html" %}

{% block pageTitle %}
  Question Page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cases">Back to list</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Question ID: q–2018-08-21-0001</span>
      What legislation applies to this travel adaptor?
    </h1>
    <p class="govuk-body">Created: 6th May 2018</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      <span class="govuk-caption-m">Asked by:</span>
      Jenny Patterson
    </h2>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</p>
    <p class="govuk-body">Aliqua???</p>
  </div>
</div>

<div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" title="Could also be a business, or...?">Product</h2>
    </div>
  </div>
  {% include "panels/product-panel.html" %}
</div>

<hr class="govuk-section-break govuk-section-break--m" />

{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Contacts",
      id: "contacts",
      panel: {
        html: contactsHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Businesses",
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },
    {
      label: "Related",
      id: "related",
      panel: {
        html: relatedItemsHtml
      }
    },
    {
      label: "Full detail",
      id: "full-detail",
      panel: {
        html: fullDetailHtml
      }
    }
  ]
}) }}

{% endblock %}

{% set activityHtml %}
<h2 class="govuk-heading-l">Activity</h2>

{% from "includes/activity-timeline.html" import activityTimeline %}

{{ activityTimeline([
  {
    action: "Comment added",
    html: "I've done some research into <a href='#'>this legislation</a> but it doesn't seem to apply here."
  },
  {
    action: "Product added: Travel plug adaptor — Charge Worx 931L",
    html: '
      <p>Role: <span class="govuk-!-font-weight-bold">Distributor</span></p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Product details
          </span>
        </summary>
        <div class="govuk-details__text govuk-body-s">
          Brand: Charge Worx<br />
          Model Name: International Travel Adaptor<br />
          Model number: 931L<br />
          Description: Universal travel USB plug adaptor with surge protector
        </div>
      </details>'
  },
  {
    action: "Question created"
  }
]) }}

{% endset -%}

{% set contactsHtml %}
<h2 class="govuk-heading-l">Contacts</h2>

{% endset -%}

{% set attachmentsHtml %}
<h2 class="govuk-heading-l">Attachments</h2>
<a href="#">Add new image</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Add new document</a>

{% from "includes/attachment-list.html" import attachmentList %}

{{ attachmentList(5) }}

{% endset -%}

{% set productsHtml %}
{% include "tab-sections/products-list.html" %}

{% endset -%}

{% set businessesHtml %}
{% include "tab-sections/businesses-list.html" %}

{% endset -%}

{% set relatedItemsHtml %}
<h2 class="govuk-heading-l">Linked to this question</h2>

{% include "includes/linked-items.html" %}

<h2 class="govuk-heading-l">Potentially related to this question</h2>

{% include "includes/potential-relationships.html" %}

{% endset -%}

{% set fullDetailHtml %}
{% include "tab-sections/full-detail-question.html" %}

{% endset -%}
