{% extends "mspsds-layout.html" %}
{% from "table/macro.njk"             import govukTable %}


{% block pageTitle %}
  Report ref. {{ question.id }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back to Case & Questions",
    href: "/test-18-11-07/case-list"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ pageTitle({
      type:       "Report ref. " + question.id,
      title:      question.title
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "panels/report-close-or-assign.html" %}
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      <span class="govuk-caption-m">{% if question["issue-type"]=="Enquiry" %} Asked {% else %} Reported {%endif%} by:</span>
      {{ question.reporter.name }} {% if question.reporter.emailAddress %}({{ question.reporter.emailAddress}}){% endif %}
    </h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">{{question.description}}
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m" />

{{ govukTabs({
  items: [
    {
      label: "Activity",
      id: "activity",
      panel: {
        html: activityHtml
      }
    },
    {
      label: "Full details",
      id: "full-details",
      panel: {
        html: fullDetailHtml
      }
    },
    {
      label: "Products",
      id: "products",
      panel: {
        html: productsHtml
      }
    },
    {
      label: "Businesses",
      id: "businesses",
      panel: {
        html: businessesHtml
      }
    },
    {
      label: "Attachments",
      id: "attachments",
      panel: {
        html: attachmentsHtml
      }
    }
  ]
}) }}

{% endblock %}




{% set activityHtml %}
  {% from "includes/activity-timeline.html"       import activityTimeline %}
  {% from "includes/tab-title.html"               import tabTitle %}


  {{ tabTitle({
        title:      'Activity'
  }) }}

  {{ activityTimeline([
    {
      title: question["issue-type"] + " logged",
      action: "",
      html: '
        <p class="govuk-body">
          Origin: <span class="govuk-!-font-weight-bold">' + question["origin-type"] + '</span><br />
          Source type: <span class="govuk-!-font-weight-bold">' + question.reporter.type + '</span><br />
          Name: <span class="govuk-!-font-weight-bold">' + question.reporter.name + '</span><br />
          Phone number: <span class="govuk-!-font-weight-bold">' + question.reporter.phoneNumber + '</span><br />
          Email address: <span class="govuk-!-font-weight-bold">' + question.reporter.emailAddress + '</span>
        </p>
        <p class="govuk-body">' + question.reporter.otherDetails + '</p>'
    }
  ]) }}
{% endset -%}




{% set attachmentsHtml %}
  {% include "tab-sections/attachments.html" %}
{% endset -%}




{% set productsHtml %}
  {% include "tab-sections/products-list.html" %}
{% endset -%}




{% set businessesHtml %}
  {% include "tab-sections/businesses-list.html" %}
{% endset -%}




{% set fullDetailHtml %}
  <div class="mspsds-tab__title govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Full details</h2>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m">Reporter</h3>
      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            { text: "Type" },
            { text: data.new["origin-type"] }
          ],
          [
            { text: "Reporter type" },
            { text: data.new["reporter"]["type"] }
          ],
          [
            { text: "Name" },
            { text: data.new["reporter"]["name"] }
          ],
          [
            { text: "Phone number" },
            { text: data.new["reporter"]["phoneNumber"] }
          ],
          [
            { text: "Email address" },
            { text: data.new["reporter"]["emailAddress"] }
          ],
          [
            { text: "Other contact information" },
            { text: data.new["reporter"]["otherDetails"] }
          ]
        ]
      }) }}
    </div>
  </div>


  {% if question["issue-type"]=="Product safety allegation" %}
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m">Incident</h3>
      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            { text: "Details" },
            { text: data['allegation-incident-detail'] }
          ],
          [
            { text: "Evidence" },
            { text: data['allegation-incident-photo'] }
          ]
        ]
      }) }}
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m" />
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m">Product details</h3>
      {{ govukTable({
        firstCellIsHeader: true,
        rows: [
          [
            { text: "Barcode" },
            { text: data['allegation-product-barcode'] }
          ],
          [
            { text: "Link" },
            { text: data['allegation-product-url'] }
          ],
          [
            { text: "Type" },
            { text: data['allegation-product-type'] }
          ],
          [
            { text: "Name" },
            { text: data['allegation-product-name'] }
          ],
          [
            { text: "Description" },
            { text: data['allegation-product-description'] }
          ],
          [
            { text: "Image" },
            { text: data["allegation-product-photo"] }
          ]
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m">Business details</h3>
      {{ govukTable({
        firstCellIsHeader: true,
        classes:  "govuk-!-margin-bottom-5",
        rows: [
          [
            { text: "Details" },
            { text: data['allegation-business-detail'] }
          ],
          [
            { text: "Evidence" },
            { text: data['allegation-business-photo'] }
          ]
        ]
      }) }}
    </div>
  </div>
  {% endif %}
  {% if data["allegation-extra-detail"] %}
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m">Other information</h3>
      {{ govukTable({
        firstCellIsHeader: true,
        classes:  "govuk-!-margin-bottom-5",
        rows: [
          [
            { text: "Details" },
            { text: data["allegation-extra-detail"] }
          ]
        ]
      }) }}
    </div>
  </div>
  {% endif %}
{% endset -%}
