{% extends "includes/templates/flow.html" %}

{% set displayTitle        = 'Confirm hazard details' %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{backLink}}" method="post" class="form">

        {{ govukTable({
          firstCellIsHeader: true,
          rows: [
            [
              { text: "Hazard type" },
              { text: data['hazard-type'] }
            ],
            [
              { text: "Description" },
              { text: data['hazard-description'] }
            ],
            [
              { text: "Affected parties" },
              { text: data['hazard-to'] }
            ]
          ]
        }) }}


        {% if data['set-risk-level'] == 'Yes' %}

          {{ govukTable({
            firstCellIsHeader: true,
            rows: [
              [
                { text: "Risk level" },
                { text: data['risk-level'] }
              ],
              [
                { text: "Risk assessment" },
                { text: data['risk-assessment-upload'] }
              ]
            ]
          }) }}

        {% endif %}



        {{ govukButton({
          text: "Continue"
        }) }}

        <a class="govuk-link mspsds-block-link" href="/flows/add-correspondence/01-add-hazard">Edit details</a>

      </form>


    </div>
  </div>


{% endblock %}
