{% extends "includes/templates/flow.html" %}


{% set displayTitle        = 'Add attachment' %}

{% set formAction         = '/pages/flows/attachment/save' %}



{% set imageTypes = ['jpg','png','gif','svg'] %}

{% set currentAttachment = {
  type:       'document',
  url:        '/public/images/document-thumbnail.png',
  thumbnail: '/public/images/document-thumbnail.png'
} %}

{% set formLabel      = 'Document details' %}

 

{% if data['attachment']['upload'] %}

  {% set type = data['attachment']['upload'].split('.')[1] %}
  
  {% if imageTypes.indexOf(type) > -1 %}

    {% set currentAttachment = {
      type:       'image',
      url:        '/public/images/placeholder.png',
      thumbnail:  '/public/images/placeholder.png'
    } %}

    {% set formLabel      = 'Image details' %}

  {% endif %}

{% endif %}




{% block flow %}

  <form action="{{formAction}}" method="post" class="form">
      
      {% include "includes/components/shared/attachment/details.html" %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% from "button/macro.njk" import govukButton %}
          
            {{ govukButton({
              text: "Save"
            }) }}

        </div>
      </div>

  </form>

{% endblock %}
