{% extends "includes/templates/flow.html" %}

{% set displayTitle        = 'New Activity' %}



{% block flow %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="./02-activity" method="post" class="form">

        {{ govukRadios({
          idPrefix:   "new-activity",
          name:       "new-activity",

          items: [
            {
              value: "comment",
              text: "Add a comment"
            },
            {
              value: "correspondance",
              text: "Record correspondance"
            },
            {
              value: "contact",
              text: "Add a contact"
            },
            {
              value: "product",
              text: "Add a product to the " + currentPage
            },
            {
              value: "incident",
              text: "Record an incident"
            },
            {
              value: "hazard",
              text: "Add a potential hazard"
            },
            {
              value: "risk",
              text: "Add a risk assessment"
            },
            {
              value: "testing",
              text: "Record testing activity"
            },
            {
              value: "corrective-action",
              text: "Record corrective action"
            },
            {
              value: "business",
              text: "Add a business to the " + currentPage
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
