{% extends "includes/templates/flow.html" %}

{% set displayTitle        = 'New Activity' %}



{% block flow %}

<form action="./choose" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">



        {{ govukRadios({
          idPrefix:   "new-activity-1",
          name:       "new-activity",

          fieldset: {
            legend: {
              text: "Actions",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },

          items: [
            {
              value: "comment",
              text: "Add a comment"
            },
            {
              value: "correspondance",
              text: "Record correspondance / meeting"
            },
            {
              value: "incident",
              text: "Record an incident"
            },
            {
              value: "hazard",
              text: "Add a potential hazard"
            },
            {
              value: "risk",
              text: "Add a risk assessment"
            },
            {
              value: "testing",
              text: "Record testing activity"
            },
            {
              value: "corrective-action",
              text: "Record corrective action"
            }
          ]
        }) }}

    </div>


    <div class="govuk-grid-column-one-half">



        {{ govukRadios({
          idPrefix:   "new-activity-2",
          name:       "new-activity",

          fieldset: {
            legend: {
              text: "Connections",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },

          items: [
            {
              value: "product",
              text: "A product, or product type"
            },
            {
              value: "business",
              text: "A business" 
            },
            {
              value: "contact",
              text: "A contact"
            }
            
          ]
        }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        {{ govukButton({
          text: "Continue"
        }) }}
    </div>
  </div>

</form>

{% endblock %}
