{% extends "includes/templates/flow.html" %}

{% set displayTitle        = 'New Activity' %}



{% block flow %}

<form action="./choose" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

        {{ govukRadios({
          idPrefix:   "new-activity-1",
          name:       "new-activity",

          fieldset: {
            legend: {
              text: "Add something",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },

          items: [
            {
              value: "comment",
              text: "A comment"
            },
            {
              value: "hazard",
              text: "A potential hazard"
            },
            {
              value: "risk",
              text: "A risk assessment"
            }
          ]
        }) }}

    </div>


    <div class="govuk-grid-column-one-third">



        {{ govukRadios({
          idPrefix:   "new-activity-2",
          name:       "new-activity",

          fieldset: {
            legend: {
              text: "Record something",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },

          items: [
            {
              value: "correspondance",
              text: "Correspondance or meeting"
            },
            {
              value: "incident",
              text: "An incident"
            },
            {
              value: "testing",
              text: "Testing activity"
            },
            {
              value: "corrective-action",
              text: "Corrective action"
            }
          ]
        }) }}

    </div>


    <div class="govuk-grid-column-one-third">



        {{ govukRadios({
          idPrefix:   "new-activity-3",
          name:       "new-activity",

          fieldset: {
            legend: {
              text: "Connect something",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },

          items: [
            {
              value: "product",
              text: "A product, or product type"
            },
            {
              value: "business",
              text: "A business" 
            },
            {
              value: "contact",
              text: "A contact"
            }
            
          ]
        }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        {{ govukButton({
          text: "Continue"
        }) }}
    </div>
  </div>

</form>

{% endblock %}
