
{% extends "mspsds-layout.html" %}

{% block pageTitle %}
  Case-list Page
{% endblock %}

{% block beforeContent %}

    {{ govukPhaseBanner({
        tag: {
          text: "beta"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  
    {{ siteNavV2('/case-list') }}

{% endblock %}


{% block content %}



    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageTitle({
        title:      "Cases / Questions"
      }) }}
    </div>
  </div>



  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full govuk-!-margin-bottom-2 mspsds-case-control">

            <div class="govuk-grid-column-one-third">
                <form id="search" class="mspsds-search govuk-form-group" action="../search-results__cases" method="get" role="search">
                    <div class="mspsds-search__content">
                      <label for="mspsds-search__input" class="mspsds-search__label govuk-label" >Keywords</label>
                      <input type="search" name="q" id="mspsds-search__input" title="Search" class="js-search-focus mspsds-search__input govuk-input">
                      <input class="submit mspsds-search__submit" type="submit" value="Search">
                    </div>
                </form>
            </div>


            
      
    </div>


    <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-two-thirds mspsds-case-filters">
            
              <span class="govuk-label">Filters</span>

              {{ caseFilter("Status","Open") }}

              {{ caseFilter("Assigned to","Tim Harwood") }}

              <a class="govuk-link mspsds-block-link govuk-body-s" href="case-list-v4-filters">Edit filters</a>

          </div>

        <div class="mspsds-case-sort">
          {{ govukSelect({
              id: "sort",
              name: "sort",
              classes: " govuk-!-margin-bottom-0 ",
              label: {
                text: "Sort by"
              },
              items: [
                {
                  value: "updated",
                  text: "Last updated",
                  selected: true
                },
                {
                  value: "created",
                  text: "Date created"
                },
                {
                  value: "priority",
                  text: "Priority"
                }
              ]
            }) }}
        </div>

    </div>

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% from "includes/case-card.html"         import caseCard %}

      {{ caseCard({
          type:   'Case',
          status: 'Open',
          id:     '2018-0781',

          product:  'Charge Worx, Travel plug adaptor',
          hazard:   'Electric shock, fire hazard',

          assignee:     'Tim Harwood',
          priority:     'High',
          dateUpdated:  '21/10/2018',
          dateCreated:  '18/10/2018'
      }) }}


      {{ caseCard({
          type:   'Case',
          status: 'Draft',
          id:     '2018-0781',

          product:  'Charge Worx, Travel plug adaptor',
          hazard:   'Electric shock, fire hazard',

          assignee:     'Tim Harwood',
          priority:     'High',
          dateUpdated:  '21/10/2018',
          dateCreated:  '18/10/2018'
      }) }}
      
      {{ caseCard({
          type:   'Case',
          status: 'Open',
          id:     '2018-0781',

          product:  'Charge Worx, Travel plug adaptor',
          hazard:   'Electric shock, fire hazard',

          assignee:     'Tim Harwood',
          priority:     'High',
          dateUpdated:  '21/10/2018',
          dateCreated:  '18/10/2018'
      }) }}

      {{ caseCard({
          type:   'Case',
          status: 'Open',
          id:     '2018-0781',

          product:  'Charge Worx, Travel plug adaptor',
          hazard:   'Electric shock, fire hazard',

          assignee:     'Tim Harwood',
          priority:     'High',
          dateUpdated:  '21/10/2018',
          dateCreated:  '18/10/2018'
      }) }}

      {{ caseCard({
          type:   'Case',
          status: 'Open',
          id:     '2018-0781',

          product:  'Charge Worx, Travel plug adaptor',
          hazard:   'Electric shock, fire hazard',

          assignee:     'Tim Harwood',
          priority:     'High',
          dateUpdated:  '21/10/2018',
          dateCreated:  '18/10/2018'
      }) }}

      {{ caseCard({
          type:   'Case',
          status: 'Open',
          id:     '2018-0781',

          product:  'Charge Worx, Travel plug adaptor',
          hazard:   'Electric shock, fire hazard',

          assignee:     'Tim Harwood',
          priority:     'High',
          dateUpdated:  '21/10/2018',
          dateCreated:  '18/10/2018'
      }) }}

      {{ caseCard({
          type:   'Case',
          status: 'Open',
          id:     '2018-0781',

          product:  'Charge Worx, Travel plug adaptor',
          hazard:   'Electric shock, fire hazard',

          assignee:     'Tim Harwood',
          priority:     'High',
          dateUpdated:  '21/10/2018',
          dateCreated:  '18/10/2018'
      }) }}

      {{ caseCard({
          type:   'Case',
          status: 'Open',
          id:     '2018-0781',

          product:  'Charge Worx, Travel plug adaptor',
          hazard:   'Electric shock, fire hazard',

          assignee:     'Tim Harwood',
          priority:     'High',
          dateUpdated:  '21/10/2018',
          dateCreated:  '18/10/2018'
      }) }}



    </div>
  </div>





{% endblock %}
