{% from "includes/components/shared/tab-title.html"         import tabTitle %}
{% from "includes/components/product/product-panel.html"    import productPanel %}


{% if not addProductLink  %}
    {% set addProductLink = '#' %}
{% endif %}

{% if not currentProducts  %}
    {% set currentProducts = [] %}
{% endif %}


{{ tabTitle({
        title:      'Products',
        controls:   '<a href="'+addProductLink+'" class="mspsds-block-link">Add product</a>'
}) }}


<div class="mspsds-tablist mspsds-tablist--product">
  
    {% for prod in currentProducts %}

        {% if loop.index > 1 %}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
        {% endif %}

        {{ productPanel({
            product:        prod,
            controls:       true,
            displayImage:   true,
            displayDetails: 'summary'
        }) }}

    {% endfor %}

</div>
