{% from "includes/components/shared/tab-title.html"                 import tabTitle %}
{% from "details/macro.njk"                                         import govukDetails %}

{% set hasEditRights = true if (currentCase.assignee == data['currentUser']) else false %}

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {{ tabTitle({
      title:      'Summary'
    }) }}

    <p class="govuk-body">{{currentCase.report.summary}}</p>
    {% if hasEditRights %}
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="/pages/flows/summary/edit/01">
        Edit summary
      </a>
    </p>
    {% endif %}
  </div>
</div>

{% set significantDateLabel = "Last updated" if currentCase.activities.length > 1 else "Created" %}

<div class="govuk-grid-row">

{# {% if currentCase.assignee == data['currentUser'] %} #}

{# {% if data['currentTeam'] == 'Trading Standards' %} #}

  <div class="govuk-grid-column-two-thirds-from-desktop">

    {{ tabTitle({
      title:      'Current status'
    }) }}

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-6",
      rows: [
      {
          key: {
            text: "Status"
          },
          value: {
            text: currentCase.status
          },
          actions: {
            items: [
              {
                href: "/root/flows/change-status/01",
                text: "Change",
                visuallyHiddenText: "case status",
                classes: "govuk-link--no-visited-state" 
              } if hasEditRights else []
            ]

          }
        },
        {
          key: {
            text: "Assigned to" if (currentCase.status=="Open") else "Owner"
          },
          value: {
            text: currentCase.assignee
          },
          actions: {
            items: [
              {
                href: "/root/flows/assign/01",
                text: "Change",
                visuallyHiddenText: "assignee",
                classes: "govuk-link--no-visited-state" 
              } if hasEditRights else []
            ]
          }
        },
        {
          key: {
            text: significantDateLabel
          },
          value: {
            text: currentCase.dateUpdated | prettifyDate
          },
          actions: {
            items: [
              {
                href: "/root/flows/add-activity/01?currentPage=case&caseid="+currentCase.id,
                text: "Add activity",
                classes: "govuk-link--no-visited-state" 
              }
            ]
          } if hasEditRights else {
          items: [
              {
                href: "/root/flows/add-comment/01-add-comment",
                text: "Add comment"
              }
            ]
        }
        }
      ]
    }) }}
  </div>

</div>
<hr class="govuk-section-break govuk-section-break--m" />

{{ tabTitle({
  title:      'Report details'
}) }}

<h3 class="govuk-heading-m">{{"Allegation" if currentCase.type == "Case" else currentCase.type }}</h3>
  {% if currentCase.type == "Case" %}
  {{ govukTable({
    firstCellIsHeader: true,
    rows: [
      [
        { text: "Date recorded" },
        { text: currentCase.dateCreated | prettifyDate }
      ],
      [
        { text: "Product type" },
        { text: currentCase.report.productType | safe }
      ],
      [
        { text: "Hazard type" },
        { text: currentCase.report.hazardType }
      ]
    ]
  }) }}
  {% else %}
  {{ govukTable({
    firstCellIsHeader: true,
    rows: [
      [
        { text: "Date recorded" },
        { text: currentCase.dateCreated }
      ]
    ]
  }) }}
  {% endif %}

<hr class="govuk-section-break govuk-section-break--m" />

<h3 class="govuk-heading-m">Reporter</h3>
{{ govukTable({
  firstCellIsHeader: true,
  rows: [
    [
      { text: "Name" },
      { text: currentCase.report.reporter.name }
    ],
    [
      { text: "Type" },
      { text: currentCase.report.reporter.type }
    ],
    [
      { text: "Phone" },
      { text: currentCase.report.reporter.phoneNumber }
    ],
    [
      { text: "Email" },
      { text: currentCase.report.reporter.emailAddress }
    ],
    [
      { text: "Other details" },
      { text: currentCase.report.reporter.otherDetails }
    ]
  ]
}) }}
