{% from "includes/components/shared/tab-title.html"           import tabTitle %}
{% from "table/macro.njk"                                     import govukTable %}

{% from "includes/components/shared/tabs/controls.html"       import controls %}


{% if not locations  %}
    {% set locations = [] %}
{% endif %}

{% if not currentLocations  %}
    {% set currentLocations = [] %}
{% endif %}



{% if addLink  %}

    {% set tt = {
        title:      'Locations',
        controls:   '<a href="'+addLink+'" class="mspsds-block-link">Add location</a>'
    } %}

{% else %}

    {% set tt = {
        title: 'Locations'
    } %}

{% endif %}




{{ tabTitle(tt) }}


<div class="mspsds-tablist mspsds-tablist--location">


    {% for location in locations %}
      
      {% set links  = {} %}
      {% set matched = false %}


      {% for liz in currentLocations %}
          {% if location.id === liz.id %}
              {% set matched = liz.role %}
          {% endif %}
      {% endfor %}



      {% if matched %}


        {% set locViewLink     = viewLink.replace('LID', location.id) %}
        {% set locEditLink     = editLink.replace('LID', location.id) %}
        {% set locDeleteLink   = deleteLink.replace('LID', location.id) %}
        
        {% set links  = {
            label:       'location',
            view:        locViewLink,
            edit:        locEditLink,
            delete:      locDeleteLink
        } %}



        {% set locationRows = [] %}

        {% set locationRows = ( locationRows.push([
          {text: matched},
          {html: location.address + ', ' + location.city + ', ' + location.country + ', ' + location.postcode},
          {html: location.phone}
        ]), locationRows ) %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          {{ govukTable({
            firstCellIsHeader: true,
            rows: locationRows
          }) }}

         {{ controls(links) }}

        </div>

      </div>

      {% endif %}


    {% endfor %}



    


</div>









