{% from "includes/components/shared/tab-title.html"           import tabTitle %}
{% from "table/macro.njk"                                     import govukTable %}

{% from "includes/components/shared/tabs/controls.html"       import controls %}


{% if not addLink  %}
    {% set addLink = '#' %}
{% endif %}

{% if not currentContacts  %}
    {% set currentContacts = [] %}
{% endif %}


{{ tabTitle({
        title:      'Contacts',
        controls:   '<a href="'+addLink+'" class="mspsds-block-link">Add contact</a>'
}) }}


<div class="mspsds-tablist mspsds-tablist--contact">
    
  {% for contact in currentContacts %}

    {% set cviewLink     = viewLink.replace('CID', contact.id) %}
    {% set ceditLink     = editLink.replace('CID', contact.id) %}
    {% set cdeleteLink   = deleteLink.replace('CID', contact.id) %}
    
    {% set links  = {
        label:       'contact',
        view:        cviewLink,
        edit:        ceditLink,
        delete:      cdeleteLink
    } %}



    {% set contactRows = [] %}

    {% set contactRows = ( contactRows.push([
      {text: contact.role},
      {html: contact.name + '<br/>' + contact.title},
      {html: contact.phone + '<br/>' + contact.email}
    ]), contactRows ) %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {{ govukTable({
          firstCellIsHeader: true,
          rows: contactRows
        }) }}

        {{ controls(links) }}

      </div>
    </div>

  {% endfor %}

</div>









