{% from "includes/components/shared/tab-title.html"                 import tabTitle %}
{% from "includes/components/shared/activity-timeline.html"         import activityTimeline %}



{% if not addLink  %}
    {% set addLink = '#' %}
{% endif %}

{% if not activities  %}
    {% set activities = [] %}
{% endif %}



  {{ tabTitle({
        title:      'Activity',
        controls:   '<a href="'+addLink+'" class="mspsds-block-link">Add activity</a>'
  }) }}



  {{ activityTimeline( activities ) }}