{% from "includes/components/shared/tab-title.html"           import tabTitle %}

{% from "includes/components/shared/attachment/attachment-panel.html"     import attachmentPanel %}




{% if not attachments  %}
    {% set attachments = [] %}
{% endif %}


{% if addLink  %}

    {% set tt = {
        title:      'Attachments',
        controls:   '<a href="'+addLink+'" class="mspsds-block-link">Add attachment</a>'
    } %}

{% else %}

    {% set tt = {
        title: 'Attachments'
    } %}

{% endif %}




{{ tabTitle(tt) }}




<div class="mspsds-tablist mspsds-tablist--business">

    {% for atmnt in attachments %}

        {% if loop.index > 1 %}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
        {% endif %}
        

        {% set viewALink     = viewLink.replace('APATH', atmnt.url) %}
        {% set editALink     = editLink.replace('AID', atmnt.id) %}
        {% set deleteALink   = deleteLink.replace('AID', atmnt.id) %}
    

        {% set controls  = {
            label:       atmnt.type,
            view:        viewALink,
            edit:        editALink,
            delete:      deleteALink
        } %}


        {{ attachmentPanel({
            attachment:     atmnt,
            controls:       controls
        }) }}


    {% endfor %}


</div>

