{% from "includes/components/shared/tab-title.html"           import tabTitle %}
{% from "includes/components/business/business-panel.html"    import businessPanel %}


{% if addLink  %}

    {% set tt = {
        title:      'Businesses',
        controls:   '<a href="'+addLink+'" class="mspsds-block-link">Add business</a>'
    } %}

{% else %}

    {% set tt = {
        title: 'Businesses'
    } %}

{% endif %}



{% if not currentBusinesses  %}
    {% set currentBusinesses = [] %}
{% endif %}



{{ tabTitle(tt) }}


<div class="mspsds-tablist mspsds-tablist--business">

    {% for biz in currentBusinesses %}

        {% set viewLink     = viewLink.replace('BIZID', biz.id) %}
        {% set editLink     = editLink.replace('BIZID', biz.id) %}
        {% set deleteLink   = deleteLink.replace('BIZID', biz.id) %}
    
        {% set controls  = {
            label:       'business',
            view:        viewLink,
            edit:        editLink,
            delete:      deleteLink
        } %}


        {{ businessPanel({
            business:         biz,
            role:             biz.role,
            controls:         controls,
            displayImage:     true,
            displayDetails:   'contact'
        }) }}

        <hr class="govuk-section-break govuk-section-break--m" />

    {% endfor %}

</div>