{% from "includes/components/shared/tab-title.html"           import tabTitle %}
{% from "includes/components/case/case-card-list.html"        import caseCardList %}


{% set filters = [{
    filterType: 'status',
    filterValues: ['Open']
},{
    filterType: 'product',
    filterValues: ['Charge Worx, Travel plug adaptor']
}] %}


{{ tabTitle({
        title:      'Related'
}) }}



<div class="mspsds-tablist mspsds-tablist--related">
    {% set cases = data.cases | attachCaseChildren(data)%}
    {{ caseCardList(cases) }}
</div>