{% from "includes/components/shared/tab-title.html"         import tabTitle %}
{% from "includes/components/product/product-panel.html"    import productPanel %}


{% if not addProductLink  %}
    {% set addProductLink = '#' %}
{% endif %}

{% if not products  %}
    {% set products = [] %}
{% endif %}

{% if not currentProducts  %}
    {% set currentProducts = [] %}
{% endif %}





{{ tabTitle({
        title:      'Products',
        controls:   '<a href="'+addProductLink+'" class="mspsds-block-link">Add product</a>'
}) }}


<div class="mspsds-product-list">
  
    {% for prod in products %}

        {% if currentProducts.indexOf( prod.id ) > -1 %}
            
            {% if loop.index > 1 %}
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
            {% endif %}

            {{ productPanel({
                product:        prod,
                controls:       true,
                displayImage:   true,
                fullDetails:    false
            }) }}

        {% endif %}

    {% endfor %}

</div>
