{% from "includes/components/shared/tab-title.html"           import tabTitle %}
{% from "includes/components/business/business-panel.html"    import businessPanel %}


{% if not addBusinessLink  %}
    {% set addBusinessLink = '#' %}
{% endif %}

{% if not currentBusinesses  %}
    {% set currentBusinesses = [] %}
{% endif %}



{{ tabTitle({
title:      'Businesses',
controls:   '<a href="'+addBusinessLink+'" class="mspsds-block-link">Add business</a>'
}) }}


<div class="mspsds-tablist mspsds-tablist--business">

    {% for biz in currentBusinesses %}

    {{ businessPanel({
        business:         biz,
        role:             biz.role,
        controls:         true,
        displayImage:     true,
        displayDetails:   'contact'
    }) }}

    <hr class="govuk-section-break govuk-section-break--m" />

    {% endfor %}

</div>